[2020-10-30 21:53] deepthi opened #6979 "Flaky test: TestCellAliasVreplicationWorkflow"
--- FAIL: TestCellAliasVreplicationWorkflow (79.16s)
Error:     vreplication_test.go:304: SwitchWrites error: E1030 20:36:44.312954    4441 main.go:64] E1030 20:36:44.312520 traffic_switcher.go:270] waitForCatchup failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded
        E1030 20:36:44.332702    4441 main.go:67] remote error: rpc error: code = DeadlineExceeded desc = cont

[2020-11-01 07:21] shlomi-noach opened #6980 "With new schema_migrations table, user experiencing "Specified key was too long""
While "this works on my computer", the issue is likely due to the compound index
[code]
where the columns are:
[code]
and with `utf8` this will exceed `756` bytes. The lengths of `keyspace` and `shard` can be reduced, I'll do that,

[2020-11-01 07:26] shlomi-noach commented on #6962
Thank you for the report - meanwhile, and until you upgrade, you can use `vtctl` instead of `vtctlclient`: `vtctlclient` has a similar interface to `vtctl` but works as a HTTP client to `vtctld`, which is why it requires `curl`.

[2020-11-02 04:50] sougou opened #6982 "RFC: Fast and reliable vttablet state transitions"
Tagging @mattlord, @systay, @harshit-gangal

This issue is in response to #6645. When vttablet transitions from master to non-master, the following problems can occur under different circumstances:
* When a query is killed, it may take a long time for mysql to return the error if it has to do a lot of cleanup. This can delay a vttablet transition. Just closing the pools is not enough because the t

[2020-11-02 05:24] shlomi-noach commented on #6924
Partially solved by #6928

[2020-11-02 06:28] #6972 closed

[2020-11-02 06:30] #6915 closed

[2020-11-02 06:44] systay commented on #4236
Is there anything to do for this issue, or did the connector solve it?

[2020-11-02 10:08] #6651 closed

[2020-11-02 11:22] #6894 closed

[2020-11-02 15:39] harshit-gangal commented on #5813
when you start the vitess cluster it starts its own mysql server. the one which starts on installation is not needed.

[2020-11-02 15:39] #5813 closed

[2020-11-02 15:39] harshit-gangal commented on #5835
@systay I believe this can be closed now.

[2020-11-02 15:40] #5835 closed

[2020-11-02 15:42] harshit-gangal commented on #5830
@ResearchRogerPan were you able to move forward?

[2020-11-02 16:38] systay commented on #6982
I like it a lot. This is an area of the code that is a little unclear. Refactoring should help.

[2020-11-02 17:52] mattlord commented on #6982
It sounds good to me. Thank you, @sougou! I really appreciate the time and effort you and the team have put into this.

[2020-11-02 18:33] harshit-gangal commented on #6982
This looks good overall. I think to remember is the kill_reserved should not kill reserved connection used for transactional workload. rather than calling it kill_reserved, we can call it kill_nontransactional.

[2020-11-02 18:36] harshit-gangal commented on #6334
this is fixed via https://github.com/vitessio/vitess/pull/6638/commits/427ea7891cd4e472e637bafb23879ea8b5132ee1

[2020-11-02 18:36] #6334 closed

[2020-11-02 18:46] harshit-gangal commented on #5903
This works on 8.0.

[code]

[2020-11-02 18:46] #5903 closed

[2020-11-02 19:06] indera-shsp opened #6984 "show vitess_tablets -> show seconds behind master"
#### Feature Description
Right now the only way to access `seconds behind the master` seems to be through the `vtctlclient`
[code]

From the discussion with Deepthi:

[code]

#### Use Case(s)

It would be nice if we had access to `seconds_behind_master` via the VTGate to decide if we need to throttle writes or not.
Having the information at the VTGate is a big convenience since you can execute a q

[2020-11-02 19:26] deepthi commented on #6984
@systay do you see any issues with adding more columns to the output of `show vitess_tablets`? I'm thinking replication_lag(in seconds) and replication_position.

[2020-11-02 22:18] mcronce opened #6986 "`errCode = 2027, errState = "HY000", errMsg = "decoding parameter value failed: 6167"` with mysql-haskell"
#### Overview of the Issue
So, I will preface this by saying I have absolutely no idea where "6167" is coming from.  I've scoured the test code, checked vtgate logs, checked vttablet logs, taken a packet capture, converted to hex, reversed the bytes in case of an endianness difference, etc.  Still completely clueless.  I'll attach a pcap showing the failure.

Using good ol' printf debugging, I was

[2020-11-02 22:21] mcronce commented on #6986
pcap:  https://drive.google.com/file/d/1MpVgxRhszcsrT11dxFc5Ua1EkS3SJ5so/view?usp=sharing

[2020-11-02 22:48] ajm188 opened #6987 "Better support for pulling schema sizes from across a keyspace"
#### Feature Description

If you are attempting to get aggregate table sizes across a keyspace, this requires one call to GetSchema per shard, which result in the caller to vtctl needing to json2.Unmarshal the same info (create table statement, column info) N times, when we know it's not going to change.

A better workflow would be to be able to request _just_ the row counts and data lengths from

[2020-11-02 23:21] dweitzman opened #6988 "Regression: statsTabletType not initialized in 7.0.3"
Looks like probably something in the refactoring in https://github.com/vitessio/vitess/pull/6461 may have changed things so that "TabletType" on a tablet's /debug/vars starts out empty instead of the correct initial value

7-beta doesn't have the issues, which contributes to my guess that it's the PR that refactored the relevant code and got included in 7.0.3

[2020-11-02 23:30] deepthi commented on #6822
Documenting offline discussions so far. A decision is still pending, requires a bit more investigation.

--
Let us start with what `/healthz` and `/debug/health` report today.
The description for `healthz` simply says "Health Check". whereas for `debug/health` we have "Query service healthcheck".
The current implementation of `healthz` requires the tablet to be serving (with the exception of `SPAR

[2020-11-02 23:51] sougou commented on #6822
StateManager has `wantState` and `state`. I think healthy could be:
* If `wantState` is `StateServing`, then `state` must be `StateServing`.
* If `wantState` is not `StateServing`, then we always declare ourselves healthy?

[2020-11-03 00:22] dweitzman commented on #6988
Adding `statsTabletType.Set(topoproto.TabletTypeLString(tablet.Type))` as the first line of `TabletManager.Start` seems to fix it

[2020-11-04 07:08] #6644 closed

[2020-11-04 10:54] systay commented on #6986
ok, so we’ve made some progress on this, but we have questions…

according to the mysql spec, YEAR values should be encoded using 2 bytes (https://dev.mysql.com/doc/internals/en/binary-protocol-value.html, search for MYSQL_TYPE_YEAR)

but in the wireshark dump we have, it’s easy to see that the year is being encoded as a string:

[code]

someone is doing something wrong, that is clear. the questio

[2020-11-04 15:07] mcronce commented on #6986
https://drive.google.com/file/d/19HiMsepxOHhT5DD6PtBpDzHpvwg9gdjv/view - this was against MySQL 5.7

[2020-11-04 18:38] harshit-gangal commented on #6471
Supported via #6964

[2020-11-04 18:38] #6471 closed

[2020-11-04 18:43] harshit-gangal commented on #6464
Supported via https://github.com/vitessio/vitess/pull/6825

[2020-11-04 18:43] #6464 closed

[2020-11-04 18:47] harshit-gangal commented on #6369
Support added via #6371

[2020-11-04 18:47] #6369 closed

[2020-11-04 18:54] harshit-gangal commented on #6330
@shlomi-noach I was able to make this run on unsharded cluster. It this still an open issue?

[2020-11-04 19:01] harshit-gangal commented on #6315
Closed via #6750

[2020-11-04 19:01] #6315 closed

[2020-11-04 19:47] harshit-gangal commented on #6171
[code]

Support is added looks like need to fix select @@workload when it is not set.
cc: @systay

[2020-11-04 20:01] harshit-gangal commented on #6213
Supported via #6430

[2020-11-04 20:01] #6213 closed

[2020-11-04 20:02] harshit-gangal commented on #6218
Support added.

[2020-11-04 20:02] #6218 closed

[2020-11-04 20:13] harshit-gangal commented on #6895
Fixed via #6932

[2020-11-04 20:13] #6895 closed

[2020-11-04 20:16] harshit-gangal commented on #6777
Support added.

[2020-11-04 20:16] #6777 closed

[2020-11-05 06:34] shlomi-noach commented on #6330
@harshit-gangal this still happens on my local install, fresh from `master`:
[code]

[2020-11-05 08:22] harshit-gangal opened #6994 "Add support for Show Status"
Vitess on latest master branch
[code]

Mysql
[code]

[2020-11-05 08:24] harshit-gangal opened #6995 "Add support for Show Global Status"
Vitess on latest master branch
[code]

Mysql
[code]

[2020-11-05 08:26] harshit-gangal opened #6996 "Add Support for SHOW PRIVILEGES"
Vitess:

[code]

MySQL:

[code]

[2020-11-05 08:28] harshit-gangal opened #6997 "Add Support for Show procedure status"
Vitess:
[code]

MySQL:
[code]

[2020-11-05 13:57] harshit-gangal commented on #6330
I think I tried it on mysql directly. my bad.

[2020-11-05 16:12] harshit-gangal commented on #3701
This is a deprecated feature as of MySQL 5.7.11
Therefore marking as won't fix.

https://dev.mysql.com/doc/internals/en/com-field-list.html

[2020-11-05 16:37] #5076 closed

[2020-11-05 19:16] olyazavr opened #7000 "Planned reparent fails when a tablet in RESTORE is present"
#### Overview of the Issue

We’ve noticed that when we have a planned reparent and there’s a tablet in RESTORE, the planned reparent fails because the restore tablet doesn’t accept the reparent, which fails the whole reparent operation. As a result, when a master tablet is spinning down and continuously trying to reparent, we see it retry the reparent over and over, with some tablets accepting the

[2020-11-05 20:49] enisoc commented on #6939
How does a real mysql replica tell the server that it's going away? Or does it not, and this orphan problem exists for real replicas too when no transactions are flowing?

[2020-11-05 21:51] deepthi commented on #6877
A couple of questions:
Why a 72 char limit on description?
If there is an issue associated with the PR, the reproduction steps can be omitted, right? In general there should be an issue or RFC for bug fixes and features.

We should require an explanation of the code change for bug fixes.

[2020-11-05 22:09] aquarapid commented on #6939
It re-uses the server_id.  Things in AWS Aurora seem to work differently;  because I suspect under the covers they're using a completely different binlog "server" implementation.

[2020-11-06 05:40] #6988 closed

[2020-11-07 05:41] kyoujuro opened #7003 "Postgres compatibility"
Hello to whom it May concern

If I create a postgres compatibility
May I send a pull request etc.?
I'm sorry for being a beginner,
Please check.

Sorry if I have missed any prior discussions on this front.

[2020-11-08 10:57] shlomi-noach commented on #6980
Fixed by #6901

[2020-11-08 10:57] #6980 closed

[2020-11-08 14:18] shlomi-noach commented on #6782
Another idea: how about this gets sorted out by a session variable? That is, a special session variable intercepted by Vitess (and does not get forwarded to MySQL). Consider:

[code]

[code]

[2020-11-08 23:22] deepthi commented on #7003
Hi @kyoujuro! Contributions are always welcome.
Since this is a non-trivial task, the process is for you to write up a proposal and request comments from the maintainers and community. An example proposal / RFC can be seen here: #5791.

[2020-11-09 03:08] harshit-gangal commented on #6782
I like this approach.

[2020-11-09 07:31] #6862 closed

[2020-11-09 08:01] shlomi-noach opened #7005 "OnlineDDL: migration should fail if parent vttablet dies"
Tracking: #6926
Followup to #6901

An internal discussion concluded that if a migration runs (`gh-ost` or `pt-online-schema-change`) and the owning `vttablet` goes down, we must ensure that the migration terminates.

While the migration runs today as a child process of `vttablet`'s process, we can't guarantee that the OS will terminate it upon failure of `vttablet`, and the process may be orphaned

[2020-11-09 11:18] kyoujuro commented on #7003
Thank you for your reply.
Also, thank you for your teaching.
I will try to compare Postgres with MySQL and show you the benefits of creating Postgres compatibility and more.

I will do my best to power up Vitess together.
Please wait for a while to prepare my comment.
Thank you for your continued support.

Best Regards,

[2020-11-09 21:51] indera-shsp commented on #6177
This would be a nice addition.

Could someone post what would be an implementation sketch (where to start)?

[2020-11-09 23:46] aquarapid opened #7010 "VDiff timeout / failure can lead to workflow in a stopped state"
No repro here, but should not be hard to reproduce.

Several users have seen cases where:
  * a VDiff timeout (e.g. the 60 minute timeout when running VDiff via `vtctlclient` (and thus `vtctld`);  OR
  * a VDiff failure (due to another problem, like a code panic or some types of comparison failures)
has led to a situation where the workflow we are running VDiff on is in a stopped state.  It is not

[2020-11-10 03:50] usmanm commented on #5729
Hi @aquarapid! Stumbled across this issue while trying to understand reference tables a bit better. I have a question around:

How would we insert on a per-shard level to a reference table? My use-case is such that I want "sparsely" populated reference tables, so would ideally like to write on-demand to a shard if the reference data is missing there. But from the docs, I can't really figure out if

[2020-11-10 16:27] vikaskeskar11 opened #7013 "Vitess: reported replication lag is higher than threshold"
Error log:
Disabling query service because of health-check failure: reported replication lag: 7201.261347594 higher than unhealthy threshold: 7200

#### Overview of the Issue

The issue is affecting production environment.

#### Reproduction Steps

1. Start backup with built in backup engine
2. It will shutdown mysqld
3. At the same time, continuously delete some of the records on master
4. When b

[2020-11-10 16:33] sougou commented on #7013
For some reason, your replica seems to have diverged from the master. That's what I inferred by googling for HA_ERR_KEY_NOT_FOUND. You may have to throw away that replica and rebuild a new one from an existing backup.

[2020-11-10 16:38] vikaskeskar11 commented on #7013
This thing happens whenever there is backup going on and some delete operation gets performed on master.
![image](https://user-images.githubusercontent.com/24711514/98703239-4d636b00-23a1-11eb-9ccf-363f8af96adc.png)
These are some more details

[2020-11-10 16:55] aquarapid commented on #5729
@usmanm in the above example, inserting into the specific shard would mean `USE`-ing the specific shard, and then inserting.  Assuming the keyspace name in the example above is `keyspace1`, it would look like this:

[code]

Note that populating reference tables like this manually isn't recommended.  The original idea is to use a separate keyspace where the "source" of your reference tables lives.

[2020-11-10 17:40] sougou commented on #5729
Generally, reference tables shouldn't be directly updated. What you should instead do is create the source in an unsharded keyspace and vreplicate from that into the sharded one. Then you just update the source table.

[2020-11-10 21:30] sougou commented on #7013
I asked a few people. No one has seen this before. The only thing I can think of is that something is misconfigured in mysql that's causing statements to be applied inconsistently.

[2020-11-10 21:34] sougou commented on #5729
I just remembered this demo shows how reference tables should be configured. It's a little outdated, but the general idea is still the same. https://youtu.be/E6H4bgJ3Z6c?t=1451

[2020-11-10 22:05] usmanm commented on #5729
The thing I'm not sure about VReplication is that does it require us to remove referential integrity? Suppose if I want something like:
[code]

There's some propagation delay between writing to the unsharded table and then replicating it to all shards of a keyspace? In that case wouldn't it be possible that I try to write something to `events` and it fails because the referenced user data has not

[2020-11-10 23:12] sougou commented on #5729
VReplication typically applies changes to the target within milliseconds. Essentially, it should be no worse than the application trying to write the change to all shards. But it guarantees eventual consistency even if there are failures, which is a complex problem to solve at the app level.

The way I would recommend implementing the feature is to have a function write to the source, and wait for

[2020-11-10 23:24] usmanm commented on #5729
That makes sense! And "waiting" for row to appear would is running just a `SELECT` query or does Vitess provide some out-of-the-box thing here?

Another question that I had (tangentially related) is around availability. When using reference tables, is the availability == the unsharded keyspace MySQL instance to be up? In the sense that for the `event` table, I can achieve better availability by ju

[2020-11-11 00:21] sougou commented on #5729
There are a couple of convoluted ways:
* Join with a row in the shard you're looking for.
* Find out the target shard and send a shard-targeted query.
* An easier solution could be to optimistically try the insert after a short delay, and back-off until a deadline is reached.

We can also build a custom construct to avoid the above convolution. Or, we can prioritize the wait functionality in vites

[2020-11-11 04:44] dweitzman commented on #6727
This issue is not entirely fixed. There's yet another way the tx limiter can leak quota: if transactions are killed because queries running within them were killed by something like a query timeout.

It's not as immediately clear to me how quota leaks with killed queries as it was with killed transactions. It seems like refactoring the whole thing so that the connections can execute callbacks when

[2020-11-11 04:49] dweitzman commented on #6727
"unlocked closed connection" gets logged, so it seems like somehow the StatefulConnection becomes Close()d and aware that it's closed even though the transaction pool was never informed of that and given a chance to restore the limiter quota.

[2020-11-11 05:13] dweitzman commented on #6727
Looks like dbconnpool recognizes connection errors and marks the underlying connection as closed. Later on when `Unlock` is called on the stateful connection it observes that the connection is closed and removes if from the set of "active" connections, but the tx pool that owns the stateful connection pool is never informed and given the opportunity to log the transaction close or clear the tx lim

[2020-11-11 07:44] systay opened #7015 "Support UNION between routes"
Today, a UNION query between to SELECT queries that are routed separately can't be executed on Vitess.

From [unsupported.txt](https://github.com/vitessio/vitess/blob/5a5ea5a75e03636101f9dadb9e39d0cc1655af56/go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt#L1-L3):

[code]

It would be great if we could support this construct.

[2020-11-12 00:08] #6982 closed

[2020-11-12 03:37] sougou opened #7019 "Deprecation: transaction_shutdown_grace_period"
Calling out a detail from #6982: `transaction_shutdown_grace_period` has been renamed to `shutdown_grace_period`. The old name will continue to work, but will be removed in a future release.

The meaning of the flag has been expanded to signify the overall shutdown grace period, which will also include long running queries. The previous implementation only enforced this for transactions.

[2020-11-12 06:32] aquarapid opened #7021 "vtexplain does not support fulltext indexes"
vtexplain will print an error when it encounters a table in a schema with a `FULLTEXT` index.  It will then ignore the table and continue, leading to secondary errors when trying to run queries against that table.

Example:

Vitess master (c134e3812)

vschema.json:

[code]

schema.sql:

[code]

Run:

[code]

Note the (first) error pointing to the `FULLTEXT` index definition;  and then the secondar

[2020-11-12 06:46] aquarapid opened #7022 "vtexplain reporting error on schema with MySQL partitions"
Superficially similar to #7021 , but not as serious, since it does not lead to secondary errors.

vtexplain will print an error when it encounters a table in a schema using MySQL partitions.  It will still recognize the table in vtexplain queries, however.

Example:

Vitess master (c134e3812)

vschema.json:

[code]

schema.sql:

[code]

Run:

[code]

We should just add `PARTITION` support to the c

[2020-11-12 10:15] shlomi-noach opened #7025 "experimental/internal: tracking issue for failed job runs"
This issue is for development purposes only. Please ignore.

[2020-11-12 10:31] shlomi-noach commented on #7025
woot

[2020-11-12 10:44] shlomi-noach commented on #7025
2020-11-12T10:22:20Z [unit_race](https://github.com/vitessio/vitess/actions/runs/359451365)

2020-11-12T10:22:20Z [cluster_endtoend](https://github.com/vitessio/vitess/actions/runs/359451355)

2020-11-12T10:22:20Z [unit](https://github.com/vitessio/vitess/actions/runs/359451358)

2020-11-12T05:49:51Z [unit_race](https://github.com/vitessio/vitess/actions/runs/359088061)

2020-11-12T05:49:51Z [clus

[2020-11-12 10:46] shlomi-noach commented on #7025
2020-11-06T05:40:16Z [cluster_endtoend](https://github.com/vitessio/vitess/actions/runs/348893403)

2020-11-05T17:51:58Z [unit](https://github.com/vitessio/vitess/actions/runs/348007216)

2020-11-05T17:43:27Z [unit_race](https://github.com/vitessio/vitess/actions/runs/347996129)

2020-11-05T16:37:25Z [unit_race](https://github.com/vitessio/vitess/actions/runs/347884525)

2020-11-05T16:37:25Z [clus

[2020-11-12 10:47] shlomi-noach commented on #7025
2020-11-11T13:16:18Z [unit_race](https://github.com/vitessio/vitess/actions/runs/357799221)

2020-11-11T11:44:03Z [unit](https://github.com/vitessio/vitess/actions/runs/357665722)

2020-11-11T11:44:03Z [cluster_endtoend](https://github.com/vitessio/vitess/actions/runs/357665725)

2020-11-11T09:57:34Z [cluster_endtoend](https://github.com/vitessio/vitess/actions/runs/357518236)

2020-11-11T06:21:11

[2020-11-12 11:16] askdba commented on #6877
72 Char is an arbitrary limitation we can remove or maybe we say a minimum of 72 Chars so it's a clear description.

[2020-11-12 12:51] harshit-gangal commented on #6986
This looks like haskell is not following the protocol as per the specs and even the mysql-server is not following it.

MySQL [Spec Link](https://dev.mysql.com/doc/internals/en/binary-protocol-value.html): For Binary Protocol of MYSQL_TYPE_YEAR uint16 is expected
[code]

Haskell [Code Link](https://hackage.haskell.org/package/mysql-haskell-0.8.3.0/docs/src/Database-MySQL-Protocol-MySQLValue.html):

[2020-11-12 13:34] harshit-gangal commented on #6986
I have made changes to the decoding for `year` in binary protocol to be `varbinary`.
Need to decide if this is safe to be merged.

[2020-11-12 17:31] deepthi commented on #6877
I think you mean for the `Title`, right? Description is what I think of as the body of the issue/PR.

[2020-11-12 22:23] deepthi opened #7030 "Issue Triage"
Issue labels have been cleaned up so that we now have the following:
- Type: Bug/Feature Request etc.
- Component: There are only 4 components - Query Serving, VReplication, Cluster Management and Build
- Priority: Every new issue will be assigned P3 on initial evaluation. It might then be upgraded (or down) as needed.
- Status: Every issue is a "New" issue until it is assigned a Status label.

@a

[2020-11-12 23:15] aquarapid opened #7031 "Comment-driven query timeouts do not work when shard-targeting"
Tested on a current master release (c134e3812).

  * Connect to a Vitess instance.  Using the `101_initial_cluster.sh` local examples in my case.
  * Run a `select sleep(1)` query with a small timeout (1 ms).  See that it gets timed out.
  * Target a specific shard, and run the same query again.  Observe that it does *not* get timed out.

[code]

[2020-11-13 02:34] usmanm commented on #5729
How would one go about doing this? I tried looking at the docs, but couldn't find a way to find the target shard given a keyspace ID or a value for a column which the Primary Vindex is on.

[2020-11-13 03:52] sougou commented on #5729
You can issue this query, which will return the list of shards:

[code]

Cache this info in the app. And then you can target a shard with:
[code]

To find a shard from a keyspace id, you can mimic this function: https://github.com/vitessio/vitess/blob/1310711d44c1c48b1cc17c088659ad9eaf872aa9/go/vt/key/destination.go#L327-L338

This is obviously clumsy. For now, I hope you can hack this to make sur

[2020-11-13 06:27] #7021 closed

[2020-11-13 07:17] usmanm commented on #5729
Thanks so much @sougou, this has been extremely helpful 🙏

[2020-11-13 07:52] #6986 closed

[2020-11-13 08:43] #6946 closed

[2020-11-13 14:49] harshit-gangal commented on #6754
Closing this due to inactivity. Kindly re-open the issue as needed.

[2020-11-13 15:09] harshit-gangal opened #7035 "Ignore create database query if keyspace exists"
We can ignore create database query is keyspace exists and similarly ignore drop database ifexists query when keyspace does not exists.

[2020-11-13 21:39] Santiclause opened #7036 "Ordering by VARCHAR column with an aliased name inserts invalid weight_string()"
#### Overview of the Issue

When selecting a VARCHAR column with an alias, e.g. `select foo as bar`, and ordering by that column, the generated query inserts `weight_string(foo as bar)`. (Note that this requires that the VARCHAR column be specified within the vschema)

#### Reproduction Steps

1. Deploy the following `vschema`:

[code]

1. Deploy the following `schema`:

[code]

1. Run `select foo

[2020-11-14 00:56] sougou commented on #6701
Via #6814

[2020-11-14 00:56] #6701 closed

[2020-11-14 04:15] sougou opened #7038 "vttablet should not shutdown on "Too many connections" error"
If too many queries get killed, mysql can temporarily return a "Too many connections" error until it has accounted for all the killed connections.

In vttablet, this gets treated as a connection error, which causes the tablet server to go into a non-serving state. In this situation, it's better if vttablet continues serving with the outstanding connections instead of shutting down.

[2020-11-14 11:23] kyoujuro commented on #7003
# introduction

As Vitess adoption expands, a number of feature requests have been popping up that will benefit from compatibility　with PostgreSQL.

If you often use PostgreSQL, it is as follows:

・prioritize robustness
・prioritize high performance
・use GIS features
・Parallel execution performance

will make the vitess architecture more flexible.

# Features
This section describes the use cases an

[2020-11-14 16:44] artemvovk opened #7040 "Error adding metric: vttablet_v_replication_errors"
#### Overview of the Issue

After manually recreating `MoveTables` workflow from an externally-managed keyspace (external) to a Vitess-managed keyspace: I am seeing excess of error logs in `vttablet` containers that manage external MySQL during VReplication:

[code]

The flow was to use one table from an external MySQL (5.6) and `Materialize` it into Vitess, then `SwitchReads` and `SwitchWrites` s

[2020-11-15 07:28] shlomi-noach commented on #7030
Please assign me to Build.

[2020-11-16 00:18] sougou commented on #6609
There are three options, two of which are complex and hyper-efficient, and one that is simple but good enough. The initial implementation will be the simpler option, but I'll explain all three options here.

## How IN clause works today
If the LHS of an IN clause has a vindex, the analyzer pulls all values of the in clause int the `Values` member. It also replaces the original values with a list v

[2020-11-16 12:50] #7038 closed

[2020-11-17 00:48] #5613 closed

[2020-11-17 04:47] inolddays opened #7046 "vtgate crashes during multiple shards executing DDL"
we execute an alter table DDL statment(add two columns) throught vtgate on one keyspace which has 16 shards.
And found the vtgate clusters are becoming crashes.
After crashes for some minutes (almost near 30 minutes)
All vtgates are available again
Here is the call stack:
![image](https://user-images.githubusercontent.com/2297199/99347442-1e358800-28d2-11eb-8035-15ceb345abab.png)

have been discus

[2020-11-17 06:13] aquarapid commented on #7046
The better solution may be to use vschema, that includes the table column lists with authoritative set to true;  then perform the DDL to add the column against the shards.  When the DDL on all the shards are complete, update the vschema to add the new column.  In this way, a `select *` will not expand to additional columns until after the vschema update is done.

[2020-11-17 06:19] Johnny-Three commented on #7046
this may can solve the problem. but one thing should care about , will this kind of realization cause too many changes compare with the former code structure ?

[2020-11-17 13:28] Johnny-Three commented on #7046
reproduce it on my labtop @sougou
![image](https://user-images.githubusercontent.com/2297199/99393978-19e08d80-2919-11eb-85b8-805bd69fcf41.png)
when i add new column directly to first shard's master mysql.
then i exeute "select * from sbtest limit 1\G"
![image](https://user-images.githubusercontent.com/2297199/99394676-3cbf7180-291a-11eb-8c4c-94be12cc34bf.png)
debug the vttablet:
![image](https://

[2020-11-17 16:39] sougou commented on #7046
Chiming in. We should still fix the panic. If the field length is longer than the number of columns returned, maybe we can pad with nulls, or return an error. Maybe returning an error is better.

[2020-11-17 21:21] sougou opened #7048 "vtgate engine route: StreamExecute is missing SelectNone"
I noitced that `StreamExecute` https://github.com/vitessio/vitess/blob/4f7714f853b13913f4f32ff0ca17cd0e00a22ad1/go/vt/vtgate/engine/route.go#L300-L313 does not have `SelectNone`, while `Execute` does. I think we should add it?

[2020-11-18 09:15] #6609 closed

[2020-11-18 16:19] FreGalle opened #7053 "Go driver: cannot pass WithTransportCredentials grpc.DialOption"
#### Overview of the Issue

When using the Go vitess driver I wanted to configure TLS to connect to vtgate. Turns out that providing a `WithTransportCredentials` `grpc.DialOption` as part of the `vitessdriver.Configuration.GRPCDialOptions` results in the following error when trying to execute a query.

```grpc: transport credentials are set for an insecure connection (grpc.WithTransportCredentials

[2020-11-18 16:23] FreGalle commented on #7053
Would it be better to expect a user of the driver to provide ALL grpc dial options he wants to use, including `WithInsecure` and/or `WithTransportCredentials`?

[2020-11-19 11:16] #7048 closed

[2020-11-19 14:22] #7035 closed

[2020-11-19 20:21] ajm188 opened #7058 "RFC: Vtctld Service"
(I'm working on a sharable google doc form, for folks that would prefer to comment inline)

# Background

The [current vtctl API](https://github.com/vitessio/vitess/blob/c02c53ab6b3edb177a5772a091e274941c383f5a/proto/vtctlservice.proto#L27-L30) is a gRPC interface defining a single method:

[code]

_Note: this is a modified example to fit in one snippet._

This interface gave us the flexibility to

[2020-11-19 23:32] derekperkins commented on #7058
I'm very excited for this. We've avoided some automation simply because the old "api" was so fickle to deal with. It has also held back innovation on the Vitess dashboard & UI.

[2020-11-20 03:14] eseokoh opened #7059 "while doing cutover for resharding, an exception is thrown to app"
#### Overview of the Issue

Two issues of cutover for reshard:
`One` is an exception is thrown to App and `the other` is VTGate does not detect the end of cutover.
To drain the buffered requested is only done by the time out of buffering duration.

You can find the second issue as #7061 .

#### Reproduction Steps

Version: vitess/lite:v8.0.0 images and percona 8.0 image.

[code]

I don't think per

[2020-11-20 03:24] eseokoh opened #7061 "while doing cutover for resharding, the end of cutover is not automatically detected"
#### Overview of the issue

This is another part of #7059.

VTGate does not detect the end of cutover.
To drain the buffered requested is only done by the time out of buffering duration.

#### Reproduction Steps

please find #7059 for repro steps. Repro is same as #7059.

#### View error
Once you cutover, you will see VTGate logs like this:
[code]

Please notice the log:
[code]

However, switch us

[2020-11-20 16:08] indera-shsp opened #7063 "select CAST('123' as INT) - syntax error at position 25 near 'INT'"
#### Overview of the Issue
Unable to cast a string as an integer.

#### Reproduction Steps

1. Run
[code]

1. View error
[code]

#### Binary version
Example:

[code]

#### Operating system and Environment details

OS, Architecture, and any other information you can provide
about the environment.

- Operating system (output of `cat /etc/os-release`):
[code]
- Kernel version (output of `uname -sr`):

[2020-11-20 16:09] harshit-gangal commented on #7063
Related to https://github.com/vitessio/vitess/issues/6223

[2020-11-20 17:08] indera-shsp commented on #7063
Related to https://github.com/vitessio/vitess/pull/6304/files maybe

[2020-11-20 19:08] crowu opened #7064 "Add support for statsd metrics"
#### Feature Description
Currently Vitess can emit metrics to opentsdb and prometheus. I think neither of these two work with stastd and we should add supports for statsd as well.

If it makes sense to add statsd support as a plugin for Vitess, I think we might also need to better support [timing](https://github.com/statsd/statsd/blob/master/docs/metric_types.md#timing) metrics in statsd. It's ver

[2020-11-20 19:23] dweitzman opened #7065 "Dead connections in tablet pools can cause errors in some cases"
This is not the most helpful bug report, but my naive attempt to reproduce this by just setting `wait_timeout` and `interactive_timeout` to low numbers in mysql and sending some queries didn't work.

We observed on the 7.0.3 that if mysql connections in in the connection pool have be killed by some mysterious outside force, some vindex lookup `insert` statements can be made from vtgate in such a w

[2020-11-20 22:27] #7030 closed

[2020-11-22 04:57] sougou opened #7066 "RFC: TLS support for select URLs"
## Problem Statement
There are users who would like to secure the http port exported by the vitess servers with TLS. However, some of the health check and monitoring URLs (like `/debug/vars`) still need to be accessed without TLS. For example, Kubernetes prefers the health check URLs to not require TLS.

We require the ability to specify a separate (optional) TLS http port, and the ability to sele

[2020-11-22 05:20] sougou commented on #7066
Looks like there is an issue reported for this already #6725.

[2020-11-23 01:07] xhh1989 commented on #7046
vtgate is a gateway cluster that supports multi-tenancy. Some of our gateways are used by hundreds of applications. If an application has a similar problem causing the gateway cluster to crash, hundreds of applications will be unavailable， This will be a very serious accident， I think The priority should be P0

[2020-11-23 01:57] sougou commented on #7046
This should only be an internal panic. I don't think vtgate actually crashes at this point.

[2020-11-23 05:45] vikaskeskar11 commented on #7013
I have checked for all configurations of mysql, but nothing is wrong with them. This issue occurs when one tablet is used for backup(Tablet is out from replication as backup is going on it). But when that tablet is again joined for synchronization, and delete operation is performed on master, then it is not able to find that record on master, so it throws error ```Error_code: 1032, HA_ERR_KEY_NOT_

[2020-11-23 11:19] Preisschild opened #7067 "Using a dot to specify database names in sql statements fails with unknown database"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

A paragraph or two about the issue you're experiencing.

#### Reproduction Steps

Steps to reproduce this issue, example:

1. Create keyspace with name 'test'

1. Deploy the following `schema`:

[code]

mysql-client returns:
`vttablet: rpc error: code

[2020-11-23 11:36] harshit-gangal commented on #7067
This is work in progress. As of now, DDL are not fully parsed and passed as-is to mysql.
cc: @GuptaManan100

[2020-11-23 12:51] Preisschild commented on #7067
i just noticed that this is an duplicate of #6664, closing this

[2020-11-23 12:51] #7067 closed

[2020-11-23 16:00] askdba commented on #6727
@systay , @harshit-gangal could you please review this issue?

[2020-11-23 17:05] shlomi-noach commented on #6782
#7042 added:

- new `@@ddl_strategy` session variable
- new `-ddl-strategy` command line flag for `vtgate` (implies the default value for `@@ddl_strategy`)
- new `-ddl_strategy` command line flag for `vtctl`

[2020-11-23 17:05] shlomi-noach commented on #6782
#7069 removed `WITH ...` syntax from queries.

[2020-11-23 17:53] mcronce opened #7070 "Trying to write to a locked table hangs"
#### Overview of the Issue
Specifically, when I try to `INSERT` to a table that I just `LOCK`ed for writing causes all access to that table to hang.  Even more exciting is that killing the query or even the client doesn't work; I have to bounce the vtgate _and_ the vttablet to restore access to that table.  I found this while writing a test to import backups created by `mysqldump` with various per

[2020-11-23 17:56] harshit-gangal commented on #7070
Lock tables is not supported yet. So, it will not work with upstream as well.

[2020-11-23 17:57] harshit-gangal commented on #7070
This issue should be related: https://github.com/vitessio/vitess/issues/5402

[2020-11-23 19:33] mcronce commented on #7070
@harshit-gangal that makes sense - really, a different failure mechanism would make this a whole lot better.  Returning an error to the client or just doing a NOOP would likely be better than hanging.  What do you think?

[2020-11-23 23:46] dweitzman commented on #6727
For a bit of context, I believe the tx limiter is not widely used. It's off by default, and probably there's no universal way it could be turned on by default. It seems like the tx limiter may not be as well tested either by unit tests or by people out in the wild as some other codepaths because of that.

We find the tx limiter quite useful. We turned it on originally after some real-world inciden

[2020-11-24 03:40] sougou commented on #6123
Adding clarification on the upcoming fix:

There are three places in the vschema where entries refer to tables:
* lookup vindexes: The table name parameter here is not interpreted during parsing of the vschema and is sent as is to the queries that access the tables. Any valid representation as understood by mysql should already work correctly.
* sequence table name in the AutoIncrement section: Th

[2020-11-24 04:07] Johnny-Three commented on #7046
vtgate will crashes. it depends on how long time vttablet will reload schema itself. Default value is 30 minutes. In other words, if all applications use the same vtgate cluster , vtgate wil not be available until 30 minutes later. During this time, when there is query like "select *", gates cluster will alway crashes

[2020-11-24 04:13] harshit-gangal commented on #4501
Support added via #7044

[2020-11-24 04:13] #4501 closed

[2020-11-24 08:00] harshit-gangal commented on #7070
First thing we should do is to block this statement to be sent down to mysql.
Second, may be we can add NOOP with a warn message or we add support for it upfront.

[2020-11-24 09:54] #6123 closed

[2020-11-24 13:11] shlomi-noach commented on #6782
Documentation PR: https://github.com/vitessio/website/pull/598

[2020-11-24 16:04] derekperkins commented on #4501
Thanks for pushing that through!

[2020-11-24 17:29] enisoc opened #7075 "Clean-up of verbose workflow logging was incomplete"
In #6744 we tried to clean up debug-level logs from workflow commands. It looks like we missed some, as seen in logs from Vitess v8.0.0:

[code]

cc @PrismaPhonic

[2020-11-24 22:54] jakon89 commented on #4127
Hi,

I just hit similar issue that can be reproduced by running below SQL:
[code]

The issue is that it doesn't work when running against MySQL 5.7 (because `set session transaction read only;` + `insert`) however it works fine when run on Vites.

This wouldn't be an issue under normal circumstances but I am using JdbcTemplate from Spring and it doesn't like the fact that `select @@session.tx_read

[2020-11-25 07:33] #7005 closed

[2020-11-25 09:35] shlomi-noach commented on #6782
We've made a decision with online DDL, and will use similar approach to safe `DROP TABLE`. In terms of the discussion I think we're done and I'm closing this issue.

[2020-11-25 09:35] #6782 closed

[2020-11-25 12:26] marctorresa opened #7077 "regex in xtrabackupengine.go"
#### Overview of the Issue

In this file https://github.com/vitessio/vitess/blob/master/go/vt/mysqlctl/xtrabackupengine.go in line 619 there is a regex that works with MySQL 8 but might not work in 5.7 due to the GTID spawning multiple lines.
#### Reproduction Steps

Steps to reproduce this issue, example:

Paste the regex as you have it and ingest an XtraBackup logfile and it catches MySQL8 GTIDs

[2020-11-25 12:57] shlomi-noach commented on #7077
permalink for said regexp: https://github.com/vitessio/vitess/blob/3b94d7a08473b60ac1d0974de88f022260dc0897/go/vt/mysqlctl/xtrabackupengine.go#L619

Can you please clarify why this regexp would break on 5.7 and why the problem doesn't show up on 8.0?

[2020-11-25 12:58] shlomi-noach commented on #7075
@enisoc I've assigned this issue to you

[2020-11-25 13:41] marctorresa commented on #7077
XtraBackup 8 outputs the GTID at the end of the backup in one line. It might be a long line but just one.

XtraBackup 2.4 outputs the GTID in multiple lines unless it is really short. I suggest you use XtraBackup 2.4 (e.g. 2.4.15) and compare the variable **xtrabackupReplicationPositionRegexp** with the GTID as shown in the XtraBackup logfile. You might see a difference ...

[2020-11-25 13:45] shlomi-noach commented on #7077
Thank you for providing details!

[2020-11-25 15:50] enisoc commented on #7077
I did experience the multi-line GTID causing problems with xtrabackup 2.4 in the past, but this fix from over a year ago has been working for us ever since: https://github.com/vitessio/vitess/commit/b56856b301045714c0f77579dfa62636ee3a44c9

In essence, the regex you linked is being matched against a multi-line string, not one line at a time. If you're testing the regex with something like grep, it

[2020-11-25 16:04] keweishang opened #7078 "VStream server-side error during gh-ost online schema migration"
#### Overview of the Issue

Our Debezium Vitess Connector (CDC) uses VStream gRPC to stream change events from a sharded (2 shards: `-80` and `80-`) keyspace called `test_sharded_keyspace`.

When running the following `gh-ost` online schema migration:
[code]

VStream gRPC throws a server-side error:
[code]

#### Reproduction Steps

Steps to reproduce this issue:

1. Deploy the following `vschema`:

[2020-11-26 11:25] bolt-leandro opened #7079 "Add applicable Vitess version to manual pages / documentation"
#### Feature Description

Vitess is currently changing at a fast pace so some parts of the written documentation are not backwards compatible or only apply to specific versions of Vitess.
It would be good if when writing/updating documentation, author could attach the Vitess version it applies to. A simple example is the MySQL docs where there is version selector ([https://dev.mysql.com/doc/refman

[2020-11-26 11:28] marctorresa commented on #7077
This can be closed then as a non-bug. If the input variable will always contain the whole XtraBackup logfile, then it should always work.

I raised this because I encountered this same problem of split of GTID in 2.4 vs 8 a few weeks ago in my own code. So mea culpa!

[2020-11-26 11:28] #7077 closed

[2020-11-26 13:58] keweishang commented on #7078
Maybe @rohit-nayak-ps has some idea of the error?

[2020-11-26 16:49] shlomi-noach commented on #7077
Thank you

[2020-11-27 04:02] jawabuu commented on #6896
Hey @sougou
I believe this has been addressed by https://github.com/vitessio/vitess/pull/7018. You may close.
Thank you @rohit-nayak-ps

[2020-11-27 07:45] rohit-nayak-ps commented on #6896
Closed via https://github.com/vitessio/vitess/pull/7018

[2020-11-27 07:45] #6896 closed

[2020-11-27 17:08] keweishang commented on #7078
Also during a long-running `gh-ost` job, if I create a new vstream gRPC client that subscribes to the current vgtid (`gtid` set to `current`), the vstream gRPC client receives an error:
[code]

[2020-11-28 16:11] #7064 closed

[2020-11-29 19:51] #6987 closed

[2020-11-29 21:06] deepthi commented on #7003
This is interesting. Until now I always thought that people would have already chosen PostgreSQL as their DB and are looking to Vitess to provide scaling / management on top of that. What you are suggesting is that people might look at Vitess first and then want to decide between MySQL and PostgreSQL.

[2020-11-29 21:29] deepthi opened #7084 "[WIP] RFC: Postgres support"
Before anyone gets too excited, this work is not yet planned by anyone we know. The intent behind writing this up is to document the size and scope of the work and a possible blueprint for when someone is ready to take this up. This RFC is intentionally at a very high-level. Each of the sections will probably need a more detailed RFC of their own.

## Feature Description
Vitess runs with MySQL as

[2020-11-30 00:42] deepthi commented on #7061
Thank you for filing this issue. It turns out that buffering does not work correctly for the resharding cutover case.
At the code level, in the gateway (both DiscoveryGateway and TabletGateway), failover detection is done per keyspace/shard. When we are doing a resharding cutover, there is no "FailoverEnd" for the original shard, so there is no way for vtgate to stop buffering and start routing th

[2020-11-30 00:44] deepthi commented on #7061
@sougou we may not need to refactor the blacklist table/shard implementation to fix this. WDYT?
(When we refactor blacklist we _will_ rename it to denylist)

[2020-11-30 01:16] jfg956 opened #7085 "Running 101_initial_cluster.sh does not work on GCP vm."
I followed the steps in {1} to do a Local Install of Vitess 6 (vitess-6.0.20-20200818-90741b8.tar.gz - I am not using Vitess 8 because of issue vitessio/website#603), and after `101_initial_cluster.sh` completes, I get below when running `show tables`.  Analysis to come.

{1}: https://vitess.io/docs/get-started/local/

[code]

[2020-11-30 01:16] deepthi commented on #7085
Transferred to main repo because this is not really a website issue, it looks like a real problem with the example/code.

[2020-11-30 04:39] harshit-gangal commented on #7084
I think there can be Phase 4 which can be re-sharding for which we require VReplication. In Phase 3 it can be without VReplication support but supporting sharded postgres.

[2020-11-30 06:46] aquarapid commented on #7085
This is a MySQL limitation in various places, amongst others in the `MASTER_HOST` parameter for `CHANGE MASTER TO`, which Vitess uses. See: https://bugs.mysql.com/bug.php?id=63814  (specifically the last comment).  Fixed in newer 8.0 versions;  not sure if there is any reasonable way for us to work around this.  Best case, we could/should fail or print a warning when this happens and we know the M

[2020-11-30 10:48] GuptaManan100 commented on #6631
If this issue is resolved, can we close this issue?

[2020-11-30 14:30] rohit-nayak-ps commented on #7078
I tried reproducing this with both sharded and unsharded keyspaces with the table being continuously populated with data so that the gh-ost alter table is long-running. No luck.

I also notice that there are some changes in the gh-ost based functionality. Not sure if it impacts the bug you are encountering but was wondering if it is possible for you to check if the same problem happens on master.

[2020-11-30 15:04] keweishang commented on #7078
@rohit-nayak-ps thanks for replying. Did your vstream client subscribed to `MASTER` or `REPLICA` as table type?

I managed to reproduce the following case everytime.

[code]

Interestingly, this error only happens if my vstream client subscribes to the `REPLICA` tablet type, if I switch to subscribing to the `MASTER` tablet type, there is no problem so far.

[2020-11-30 15:08] keweishang commented on #7078
Add @rgibaiev to follow this issue as well.

[2020-11-30 20:42] #6631 closed

[2020-11-30 21:23] jfg956 commented on #7085
Thanks aquarapid for your answer.  I understand this is a MySQL limitation, but I do not fully understand where this full hostname is coming from in the context of Vitess.  When I run the hostname command on this GCP vm, I only get jfg-vitess-test-2, and this is what I would expect to be used to set-up replication.  But maybe you are running a DNS resolution on the IP address of the host, which le

[2020-11-30 22:04] keweishang commented on #7078
I also managed to reproduce the following error (columns and values mismatch error):
[code]

The steps are:

1. Have the same vschema and schema definition in a sharded keyspace. Have VStream client subscribe to the current position of the `REPLICA` tablet type of the sharded keyspace.
2. Insert 500k rows. VStream client receives 500k rows.
3. Start gh-ost by running `vtctlclient -server localhost

[2020-11-30 22:09] kyoujuro commented on #7003
Thank you for your interest in this.
Please wait for a while to create for Postgres compatibility and send a pull request.

[2020-11-30 22:33] rohit-nayak-ps commented on #7078
@keweishang,  I was able to repro on master branch as well, so no need to test on it! For me too I was able to get it only while pointing to replica and not to master, but it might be a race. As you suspected, the schema is not getting reloaded correctly by vstreamer after the gh-ost operation completes. Sugu suggested gh-ost might be explicitly reloading schema on master (where gh-ost runs), so w

[2020-11-30 22:46] keweishang commented on #7078
@rohit-nayak-ps, it's great that you can reproduce the errors on your side now. For me, both the "unknown table" and the "column mismatch" errors also happened when pointing vstream to master as well.

Sure. Keep me updated here and let me know if you need any further information.

[2020-11-30 23:28] hmenghouzz opened #7089 "vstreamer cannot handle mysql comment"
#### Overview of the Issue

I’m trying to migrate one table from vanilla mysql (stgmain) to vitess (main) by using the migration command:
`vtctlclient MoveTables -workflow=stgmain2main_images stgmain main '{"images":{}}';
`
It’s been running for a while and had copied a bunch of data to vitess. Somehow ~50 minutes later I saw this error from `vtctlclient VReplicationExec $TabletAlias "select * fro

[2020-12-01 01:13] aquarapid commented on #7085
The logic is probably coming from `netutils.FullyQualifiedHostname`, which is used by vttablet to detect the local hostname.   It does (amongst other things) a reverse lookup on the local IP to get a full(er) hostname.  You should be able to use the vttablet `-tablet_hostname` option to override this automatic detection and set it to whatever you need.  For the local examples, you can set this in

[2020-12-01 04:53] deepthi commented on #6822
This looks like a clean and elegant solution. Thanks @sougou!

[2020-12-01 04:55] deepthi commented on #6822
@rohit-nayak-ps I'm not making #7090 close this issue, assuming that you still want to fix the race condition.
We can close it once that is also addressed.

[2020-12-01 05:34] GuptaManan100 commented on #6366
Closing this issue. Reopen if the error persists

[2020-12-01 05:34] #6366 closed

[2020-12-01 06:07] GuptaManan100 commented on #6124
Closing this issue. Reopen if further updates.

[2020-12-01 06:07] #6124 closed

[2020-12-01 06:10] GuptaManan100 commented on #6071
Closing this issue. Reopen if further updates.

[2020-12-01 06:10] #6071 closed

[2020-12-01 06:12] GuptaManan100 commented on #6019
Closing this issue. Reopen if there are further updates.

[2020-12-01 06:12] #6019 closed

[2020-12-01 06:18] GuptaManan100 commented on #5985
Duplicate of #5997

[2020-12-01 06:19] #5985 closed

[2020-12-01 06:36] shlomi-noach commented on #7078
@rohit-nayak-ps happy to look into reloading schema after `gh-ost` (or `pt-osc`) complete.

[2020-12-01 08:31] shlomi-noach opened #7091 "VExec usage and issues; summary of online discussion"
vexec:
- no vexec, grpc
- catchall column in backend table that is proto/json
- a golang-grade view
- improve VExec, decorate columns, must-have, optional, ignore-additionals, strictly-reject, etc.

To summarize from yesterday's Vitess Office Hours:

## Vexec background

The idea behind VExec is that `vtctl` can present virtual tables to the user; the user can run a SQL query on those tables, and

[2020-12-01 15:41] GuptaManan100 commented on #5830
Closing this issue. Reopen in case of further updates.

[2020-12-01 15:41] #5830 closed

[2020-12-01 15:44] #7089 closed

[2020-12-01 15:47] GuptaManan100 commented on #5802
Closing this issue. Reopen in case of new updates.

[2020-12-01 15:53] GuptaManan100 commented on #5997
These errors no longer seem to be an issue in the master branch. Reopen in case the problem recurrs.

[2020-12-01 15:53] #5997 closed

[2020-12-01 16:04] systay commented on #4937
@rohit-nayak-ps can you take a look?

[2020-12-01 18:07] GuptaManan100 commented on #4908
Closing this issue. Reopen in case of new updates.

[2020-12-01 18:07] #4908 closed

[2020-12-01 18:14] GuptaManan100 commented on #4382
Closing this issue. Reopen in case of any new updates.

[2020-12-01 18:14] #4382 closed

[2020-12-01 18:15] aquarapid opened #7094 "Enable query consolidation only by opt-in"
Since Vitess query consolidation can break normal MySQL read committed guarantees outside of transactions, it can be difficult to strongly verify if an application can handle this before switching query consolidation on.  We can already switch on query consolidation on the replica, but not the master (via `-enable-consolidator-replicas` and `-enable-consolidator=false`).

However, some application

[2020-12-01 18:19] GuptaManan100 commented on #4543
Closing this issue since these constructs are no longer part of the codebase.

[2020-12-01 18:19] #4543 closed

[2020-12-01 18:21] GuptaManan100 commented on #4551
Closing the issue. Reopen in case of new developments.

[2020-12-01 18:21] #4551 closed

[2020-12-01 18:22] techwolf359 commented on #7094
+1, I can see this being beneficial for cases where you have slow changing data but high rates of reads. Typical caching works well until the cache fails, then you have a thundering herd of traffic to the database. Enabling consolidation on those specific queries would allow you one more layer of defense preventing the saturation on MySQL.

[2020-12-01 21:40] dweitzman commented on #7094
I think this is a dupe of https://github.com/vitessio/vitess/issues/4058

[2020-12-02 02:52] deepthi commented on #6269
I believe this has already been fixed as of 64c2075. `DemoteMaster` calls `SetServingType` before `SetReadOnly` and that eventually gets to https://github.com/vitessio/vitess/blob/30bf247d1db5019be9bb964bcb73d72b543fb819/go/vt/vttablet/tabletserver/repltracker/repltracker.go#L107

@pH14 do you want to verify this before we close it?

[2020-12-02 10:15] shlomi-noach commented on #6926
https://github.com/vitessio/vitess/pull/7083 supports `CREATE` and `DROP` statements in `ApplySchema` to run as online DDL.

- [ ] need to add a column `ddl_type` (`CREATE`, `ALTER`, `DROP`) and which should show up on `vtctl OnlineDDL show`
- [ ] need context (see #7082)

[2020-12-02 14:50] pH14 commented on #6269
Heh, we're unfortunately pretty far off from verifying this one in our environment right now. On the surface, this looks good to me. Since we have a co-master recovery test in our test suite, we can reopen it if we run into trouble as part of our next upgrade 😛

[2020-12-02 19:04] deepthi commented on #6269
Sounds good. We'll close for now.

[2020-12-02 19:04] #6269 closed

[2020-12-03 03:05] deepthi commented on #5791
I believe this work is now complete.

[2020-12-03 03:05] #5791 closed

[2020-12-03 03:41] aquarapid opened #7100 "SHOW SCHEMAS support broken"
https://github.com/vitessio/vitess/pull/4785 added support for `SHOW SCHEMAS`;  but then it subsequently got removed in a merge commit https://github.com/vitessio/vitess/commit/81cd378a85e1ca4bb2955a3af2ac0fbe91ac7718

We should re-add as an equivalent/alias to `SHOW DATABASES`.

As a result, `SHOW SCHEMAS` today is passed through to the backend MySQL database, while `SHOW DATABASES` is intercepte

[2020-12-03 06:51] aquarapid opened #7101 "SHOW DATABASES return column header is plural instead of singular"
In real MySQL (8.0.22 Community MySQL), `show databases` gives a result like:

[code]

Note the column header:  singular `Database`.  However in recent Vitess master (3b94d7a08473b60ac1d0974de88f022260dc0897), we return via vtgate:

[code]

Note the column header:  plural `Databases`

[2020-12-03 09:18] GuptaManan100 commented on #7063
`select CAST('123' as INT);` is not syntactically correct and does not run even on vanilla mysql. use `select CAST('123' as SIGNED INTEGER);` instead. Refer to https://dev.mysql.com/doc/refman/5.7/en/cast-functions.html for other options.

[2020-12-03 09:18] #7063 closed

[2020-12-03 12:12] shlomi-noach commented on #7078
Quick update from discussing with @rohit-nayak-ps , we will seek a way to trigger `ReloadSchemaShard` (or equivalent) from the TabletServer that runs the migration. Issue is that we need to invoke the reload not only on the `master` (almost trivial) but on all shard tablets; the TabletServer doesn't have the gRPC mechanism to communicate directly to other tablets.

[2020-12-03 14:38] keweishang commented on #7078
Thanks for the update. @shlomi-noach So you meant `ReloadSchemaShard` needs to be triggered in all 3 TabletServers (in case of a shard having 1 MASTER Tablet, 1 REPLICA Tablet, and 1 RDONLY Tablet) in the shard? Do you have some potential solutions in mind? For example, if there's no gRPC between TabletServers, can they communicate via etcd?

[2020-12-03 15:46] shlomi-noach commented on #7078
Yes, assuming I understand correctly; specifically, we need to reload on the replica where vstream runs on.

@rohit-nayak-ps has a workaround meanwhile, I'll update soon.

[2020-12-03 20:55] deepthi commented on #7058
This is very detailed and thorough.
What happens to the existing `vtctlclient` binary? Do we deprecate that along with `VtctlServer`?

[2020-12-03 22:21] ajm188 commented on #7058
Yeah, we definitely want to deprecate that. Correct me if I'm wrong, but I think to maintain compatibility guarantees the ordering would have to be:
- Release 1: deprecate client
- Release 2: remove client, deprecate server
- Release 3: remove server

[2020-12-03 22:45] sougou opened #7108 "RFC: Query based shard targeting"
## Problem Statement
A few people have asked for shard targeting. There are applications that know of their target shards during their session, and would like to avoid the cost of lookups that could potentially be expensive.

### Requirement 1
There was one feature request by @chitreshd: When a user hits a web page, all their data is in a single shard, and that shard can be selected upfront thereb

[2020-12-04 00:04] deepthi commented on #7058
[VEP-3](https://github.com/vitessio/enhancements/blob/master/veps/vep-3.md) specifically deals with components of a running vitess system. `vtctlclient` is not exactly part of a running cluster. We would be ok to think of it as being part of `vtctld` and deprecating it along with the server. If anyone objects we can re-consider.

[2020-12-04 00:36] deepthi opened #7109 "Task: Remove deprecated RPCs and vtctl commands"
In 7.0, we deprecated the following RPCs and vtctl commands. They should now be deleted.

vtctl commands:
StopSlave
StartSlave
ChangeSlaveType

vttablet RPCs:
InitSlave
SlaveStatus
StopSlave
StopSlaveMinimum
StartSlave
StartSlaveUntilAfter
GetSlaves
SlaveWasPromoted
SlaveWasRestarted

Also delete the Request and Response protobufs associated with these RPCs.

[2020-12-04 00:40] deepthi opened #7110 "Task: Cleanup references to master and slave in vt/orchestrator"
There are several references in the code under `vt/orchestrator`. Some of them can probably be deleted outright because we don't have to worry about backwards-compatibility yet.

For example:
[code]
Variables, functions and parameters should be renamed.
Every occurrence should be evaluated to determine whether it can be removed. There might be exceptions like the exact text of MySQL error messages

[2020-12-04 00:50] deepthi opened #7111 "Task: Remove references to "slave" in vtctld UI"
The exact scope of this task needs to be determined.
The UI allows calls to vtctl commands. Those can be replaced with the equivalent new commands.
The rest has to be evaluated.

[2020-12-04 00:52] deepthi opened #7112 "Task: Replace use of "blacklist" with "denylist" or "excluded""
We have references to `blacklistedTables`, `blacklistRules` etc.
They should all be replaced with appropriate names.

This needs to be done in a backwards-compatible way so it might take more than one release cycle.
The first round of changes/deprecations should happen in 9.0.
The website docs should be updated at the same time.

[2020-12-04 00:55] deepthi opened #7113 "Task: Change TabletType MASTER to PRIMARY"
There has been discussion in the past on exactly which term to replace `master` with. Since vitess is a consensus-based system, `primary` seems like the most appropriate choice (even though `source` is popular for replication use cases).

TabletType is everywhere in the code base, so we will need to first determine the scope of this change and how to do it in a backwards compatible way.

Website d

[2020-12-04 00:59] deepthi opened #7114 "Task: Replace master with primary (except TabletType)"
All usages of master in variable names / function parameters can be replaced.
vtctl commands will need to be deprecated and equivalent new ones provided. e.g. `SetShardIsMasterServing`
vtctl command arguments will need to go through a deprecation cycle. For one release, we accept both old and new arguments and then remove the old ones. e.g. `-include_master`
RPCs will need to be deprecated and new

[2020-12-04 01:27] ajm188 commented on #7113
I _think_ that if we just rename the field in the enum, then anyone dependent on that should not notice, since it'll still be `int(1)` on the wire. Then, the code change becomes atomic; we do a global find/replace to `topodatapb.TabletType_PRIMARY`, and code compiled on the old version still works with the old field name, and code compiled on the new version works with the new field name.

[2020-12-04 01:29] derekperkins commented on #7113
There are a few edge cases where the string representation is used, specifically when json marshaling, so we'd have to check for those types of usage.

[2020-12-04 01:33] derekperkins commented on #7113
While I personally prefer `primary`, I'd vote to match MySQL and call it `source`
https://mysqlhighavailability.com/mysql-terminology-updates/
https://dev.mysql.com/doc/refman/8.0/en/replication.html

[2020-12-04 01:36] ajm188 commented on #7113
Ah, nice catch! I think we can use an alias in that case https://developers.google.com/protocol-buffers/docs/proto3#enum (I can't link precisely enough)

[2020-12-04 01:39] derekperkins commented on #7114
Cross posting from #7113 https://github.com/vitessio/vitess/issues/7113#issuecomment-738495107

While I personally prefer primary, I'd vote to match MySQL and call it source
https://mysqlhighavailability.com/mysql-terminology-updates/
https://dev.mysql.com/doc/refman/8.0/en/replication.html

[2020-12-04 01:41] derekperkins commented on #7112
Upstream MySQL is going with `blocklist`, so I'd vote to keep it consistent.

![image](https://user-images.githubusercontent.com/3588778/101110794-03803600-3597-11eb-9efa-7a0a6944916f.png)

https://mysqlhighavailability.com/mysql-terminology-updates/

[2020-12-04 01:43] derekperkins commented on #7109
Not sure if the timelines line up, but we could potentially save some work by prioritizing the new `vtctld` interface and just removing these commands altogether rather than changing them. #7058

[2020-12-04 03:19] deepthi commented on #7109
These RPCs and commands have already been deprecated so we will delete them.
But we might be able to change how we accomplish #7114. If the vtctl commands anyways call the new vtctld RPCs we might be able to do what you are suggesting and delete some of the RPCs right away instead of deprecating them.

[2020-12-04 03:19] deepthi commented on #7114
x-post: https://github.com/vitessio/vitess/issues/7109#issuecomment-738498969

[2020-12-04 13:09] shlomi-noach commented on #7110
I have long since removed all and any `slave` reference in `orchestrator`, with the exception of:

- API calls (anything that supports `slave` also supports `replica`
- API responses (any JSON output that has "slave" also has "replica" or other compatible name)
- CLI commands (anything that supports `slave` also supports `replica`)

All the above were kept for backwards compatibility, with the adv

[2020-12-04 14:32] doeg opened #7117 "RFC: VTAdmin Architecture"
# 🪐 VTAdmin Architecture RFC

**Authors**

- Sara Bee ([@doeg](https://github.com/doeg))
- Andrew Mason ([@ajm188](https://github.com/ajm188))

This RFC introduces VTAdmin, a new web interface for managing multi-cluster Vitess deployments in a single browser tab. Long-term, we intend VTAdmin as a replacement for the current Vitess Admin interface.

Readers should be familiar with [Vitess’s current

[2020-12-04 16:10] rohit-nayak-ps commented on #7058
Design and implementation plan look great. I also really like the fact that this uses cobra: allows us to use bash completion, auto-suggest and sub-commands etc etc. I had tried to retrofit cobra but we decided it wasn't worth the effort at that time. Also a useful effect is that a lot of deprecated and obsolete commands will get dropped.

[2020-12-04 17:32] jordw opened #7119 "Rails migrations fail with error "vtgate: two predicates for table_name not supported""
#### Overview of the Issue

Running a simple rails migration to create a table fails with the following error:

`ActiveRecord::StatementInvalid: Mysql2::Error: vtgate: two predicates for table_name not supported`

Rails is apparently issuing the following query, which is not yet supported by Vitess:

[code]

#### Reproduction Steps

1.) Create a standard Rails app using `rails new`, using Rails 6.

[2020-12-04 17:37] enisoc commented on #7119
The error appears to come from this code path:

https://github.com/vitessio/vitess/blob/8b4261423cec79c6a6e1f9760ca7d4e8aada26db/go/vt/vtgate/planbuilder/system_tables.go#L44-L47

I'm not familiar with this part of the code, but I wonder if we could allow multiple predicates if they happen to refer to the same value/bindvar anyway like they do in this query?

[2020-12-04 17:53] harshit-gangal commented on #7119
@jordw can you provide the commit hash or release version on which you are seeing this error?

[2020-12-04 18:15] hmenghouzz opened #7120 "The queries generated by MoveTables are incorrect (slow) when the target Tables don't have PRIMARY KEYS"
#### Overview of the Issue

For example, there is a table with NO Primary Key (but has one UNIQUE key):

[code]
Then vitess MoveTable will generate this query to fetch the data:
[code]
From mysql doc
**If a table contains no primary key, InnoDB automatically promotes the first UNIQUE NOT NULL index to the primary key. This is not supported for UNIQUE NOT NULL indexes that have functional key parts

[2020-12-04 20:18] #7109 closed

[2020-12-04 21:46] deepthi commented on #7117
Beautifully written! I can't wait to see the "hello world" demo :popcorn:

[2020-12-04 22:31] enisoc commented on #7119
This happened on a build made at https://github.com/vitessio/vitess/commit/bb32eaba6.

[2020-12-05 00:22] ajm188 commented on #7058
Yeah, revisiting flags more holistically is uhhhh another thing I would be interested in doing at some point 😅

[2020-12-05 15:08] #7101 closed

[2020-12-05 15:09] #7100 closed

[2020-12-06 12:58] xhh1989 opened #7123 "delete TabletHealth from `healthy` during deleteTablet"
I have a question why not delete TabletHealth from healthy druing deleteTablet.
https://github.com/vitessio/vitess/blob/master/go/vt/discovery/healthcheck.go#L376
for example, an app can read from any replica, we call `GetHealthyTabletStats(ks, shard, replica)` read from replica, we did some changes in vitess, if `GetHealthyTabletStats(ks, shard, replica)` returned an empty list, we  will  call `G

[2020-12-06 17:06] rohit-nayak-ps commented on #7078
The workarounds I had discussed (while we wait for an automatic schema load post-migration) are:

1. ```vtctl ReloadSchemaKeyspace <keyspace>``` to be manually run on the command line which forces all tablets in that keyspace to do a schema reload.

2. Run a tracker which runs a vstream for schema tracking (which as a side-effect reloads the keyspace when it encounters a DDL). Since you are alread

[2020-12-07 08:29] GuptaManan100 commented on #7119
There are two things that need to be handled to support this query. 1. `Join` using `using` which is currently unsupported on vtgate. 2. FIxing the two table names issue as @enisoc pointed out. Unfortunately, there is no quick fix for it. We will have to fix it once the refactor of planning is complete.

[2020-12-07 14:07] Frank591 commented on #7084
@deepthi, thanks for the inititative. It's really cool that you have started it. As I know Postgres support is very actual for some companies.  Do you have any time estimation for works which required to achieve each phase? And are there any known blockers that can prevent the implementation of Postgres support?

[2020-12-07 19:22] noggi opened #7129 "Transaction is not always rolled back on client disconnect"
### Overview of the Issue

We have an application that inserts a row into a table and allows 5 seconds for the transaction to complete. If the transaction is not completed after 5 seconds, the application closes and reopens the connection, and tries to insert the row again. If the application hits a duplicate key error, or a success, it moves on to the next record.
​
Occasionally, there is a situa

[2020-12-07 20:06] aquarapid opened #7130 "Duplicate insert with consistent_lookup vindex does not immediately throw duplicate key error if there is a pending transactional duplicate insert"
Scenario:

* Setup local examples using `101_initial_cluster.sh`
* Apply the following schema and vschema to the `commerce` keyspace:
[code]

[code]

* Open 3 `mysql` cli sessions to the database using:
[code]

* In session 1, insert a new row in table `t1` (no transaction, autocommit):
[code]

* In session 2, try to insert the same row in a transaction. Timestamps added to show the transaction er

[2020-12-07 22:30] gordonyoon commented on #5019
Ran into this issue. For anyone else who's looking, note that you can get packages by commit hash:

`go get -u vitess.io/vitess@7e09d0c` (for v8.0.0)

[2020-12-07 23:18] deepthi opened #7131 "Flaky tests in shard 14"
Shard 14 fails intermittently with the following log.
[code]

[2020-12-07 23:39] ajm188 opened #7133 "Add vtctld client/server foundational code"
This should cover everything required to start bulk-porting commands from the vtctl gRPC interface to the vtctld gRPC interface. This should cover:

- [ ] basic proto definition
- [ ] basic gRPC server registration, opt-in only
- [ ] basic CLI framework for the vtctldclient
- [ ] basic testing and establishing of testing patterns for these packages

[2020-12-07 23:58] ajm188 opened #7134 "Migrate simple read-only schema commands to vtctld gRPC API"
Migrate the following server commands, with testing, and vtctldclient CLI commands:

- [ ] GetSchema
- [x] GetSrvVSchema
- [x] GetVSchema

[2020-12-08 00:01] sougou commented on #5019
The golang modules approach will not work for the vitess versioning scheme. The work around I tried works fine, which is to stay under v1.0. I tagged the v7 release as https://github.com/vitessio/vitess/releases/tag/v0.7.0 and that worked. So, we should do the same for v8 and tag it as v0.8.0. Tagging @askdba.

[2020-12-08 00:17] ajm188 opened #7135 "Migrate read-only tablet/shard/keyspace commands to vtctld gRPC API"
Provide server implementations, testing, and vtctldclient interface for the following commands:

### Tablets

- [x] GetTablet
- [x] Ping
- [x] RefreshState
- [x] RefreshStateByShard
- [ ] RunHealthCheck
- [x] Sleep
- ~~[ ] Validate~~ (Covered by #8847)
- [x] ListAllTablets
- [x] ListTablets

### Shards
- [x] GetShard
- ~~[ ] ValidateShard~~ (Covered by #8810 )
- ~~[ ] ShardReplicationPositions~~ (

[2020-12-08 01:31] deepthi commented on #7061
@rohit-nayak-ps can you document here how we would detect a "resharding cutover in progress"?
@harshit-gangal you had mentioned that there might be one place where we can call the "cutover detection" so that we can fail queries immediately and not buffer them. Can you document that here?

[2020-12-08 08:08] buraksezer commented on #6290
@harshit-gangal I would like to take this issue.

[2020-12-08 10:13] harshit-gangal commented on #6290
@buraksezer Go ahead :)

[2020-12-08 18:19] derekperkins opened #7141 "RFC: integrate buf.build for proto linting and breaking change detection"
As we're rethinking the vtctld service (#7058), I think it would be nice if we integrated https://buf.build/ as a CI check. It allows you to set linting rules and prevents breaking changes from accidentally being applied. We would need to exclude all existing protos from whatever lint rules we agree on, since we're not trying to break compatibility, but would be a good way to standardize future wo

[2020-12-08 20:30] rohit-nayak-ps opened #7142 "VReplication SwitchWrites: potential race issue or logic bug that results in creating duplicate rows in source while going reverse and then forward again"
#### Overview of the Issue

While researching flakiness in the CellAlias and MultiCell e2e tests it looks like there is a race condition that results in a duplicate entry error when we reverse reads and writes in the p2c reshard workflow.

#### Reproduction Steps

1. Comment the time.Sleep()s in shardCustomer() and run the CellAlias and MultiCell tests. These sleeps were added after rows are inser

[2020-12-09 11:26] shlomi-noach commented on #6926
Once https://github.com/vitessio/vitess/pull/7083 and https://github.com/vitessio/vitess/pull/7097 are merged:

when `ddl_strategy` is an only strategy, analyze a `DROP TABLE` statement to:
  - [ ] Explode into single-table statements (a single `DROP TABLE` statement can indicate multiple tables)
  - [ ] Turn each one into a `RENAME TABLE` statement, renaming into a `HOLD` gc state with 48 hour ET

[2020-12-09 11:27] shlomi-noach commented on #6926
TODO: support `vtctl OnlineDDL <keyspace> show <context>`, to fetch status of migrations wit ha specific context, as added in #7082

[2020-12-09 11:57] shlomi-noach commented on #6926
- [ ] support `CREATE INDEX` statements as online DDL, and convert them to `ALTER TABLE` syntax -- required by `gh-ost`.

[2020-12-09 17:00] #7070 closed

[2020-12-09 17:04] mavenraven opened #7146 "Unknown database 'information_schema'"
#### Reproduction Steps

When trying to run `skeema init` against vtgate, I get the following error:

[code]

This is because vtgate is looking for a keyspace in the vschema named `information_schema`:
[code]

and the fact the skeema wants to connect directly to `information_schema`:
[code]

The minimal way to reproduce this is:
[code]
where `10000` is the port vtgate is listening on.

[2020-12-09 18:27] deepthi opened #7147 "Fix vtctlclient help"
Right now `vtctlclient --help` will list a bunch of flags.
Snippet:
[code]
What we would like it to do is to return the list of valid commands after the list of flags similar to how `vtctl --help` works.
[code]
While we are at it, we should also:
* Send output to stdout instead of stderr
* Remove any flags that are not actually used by vtctlclient

[2020-12-09 18:28] deepthi commented on #7147
Since we are planning to deprecate `vtctlclient` once #7058 is available, we could make sure to capture this in `vtctldclient` instead.
cc @ajm188

[2020-12-09 20:12] ajm188 commented on #7147
Yeah, because the new client uses cobra we actually get this for free, e.g.

[code]

I'll have to think about how to best filter out the default servenv flags from the help, but we're already halfway there 😄

[2020-12-09 20:25] deepthi opened #7149 ""select @@query_cache_size as query_cache_size from dual" fails with MySQL 8.0"
`query_cache_size` has been removed in MySQL 8.0.

When running vitess in front of MySQL 8.0 databases, some frameworks (flyway) will send this query because vtgate advertises it's server version as 5.7.
We can't simply bump that to 8.0 using the vtgate flag `mysql_server_version` because then frameworks might start sending 8.0 specific queries that we don't yet support.

@morgo had suggested deal

[2020-12-09 20:26] deepthi commented on #7149
Context from previous discussion:
https://github.com/vitessio/vitess/issues/5205#issuecomment-542396903

[2020-12-10 07:57] harshit-gangal commented on #7149
I think we should ask users to advertise the correct version of mysql and we fix forward for any query that framework sends that does not work.

[2020-12-10 12:30] rohit-nayak-ps commented on #7061
The SwitchWrites flow related to the shard cutover is as follows:

1. Writes are stopped on the source shards by disabling query service and gtid positions are recorded

This is achieved by setting QueryServiceDisabled to true on the ShardTabletControl record in SrvKeyspace for the source shards. Primary tablets of those shards are refreshed so that they transition state into Not Serving.

2. Wait

[2020-12-10 14:57] askdba opened #7154 "Add CI check that fails the build if go mod tidy isn't clean."
#### Overview of the Issue

We use go modules in Vitess, and now and then they need to be cleaned, a little like git gc
Builds still work if they are outdated, but everyone that builds gets ugly warnings.

#### Reproduction Steps

See Issue go mod tidy #7137

#### Log Fragments

[code]

[2020-12-10 15:48] deepthi commented on #7149
@mavenraven can you try doing this and let us know if it doesn't work?

[2020-12-10 15:51] #7146 closed

[2020-12-10 16:34] harshit-gangal commented on #6973
I do not think this is something we can support in sharded system. What does this would mean to a user?

cc: @deepthi @systay

[2020-12-10 16:55] indera-shsp commented on #7036
@systay I can try a fix if you point me to where in code too look :)

[2020-12-10 18:14] mavenraven commented on #7149
@deepthi I'm sure it will work, as it's what @sverch mentioned in the beginning of the other issue. I took this issue more of as UX thing for new users than anything else.

[2020-12-10 18:18] mavenraven opened #7158 "`show databases` should show `infromation_schema`."
#### Feature Description

Somewhat related to https://github.com/vitessio/vitess/issues/7146, it would nice if `information_schema` showed up when you ran `show databases;`. As fair as I know, this would be strictly a UX improvement. No functionality depends on it.

[2020-12-10 21:31] #7133 closed

[2020-12-11 02:34] eseokoh opened #7160 "'show tables' to system schema does not work"
#### Overview of the Issue

#7150 allows us to use system schemas, however, "show tables" does not work.

#### Reproduction Steps

execute mysql via vtgate:

[code]

Please notice the error.

[code]

Querying to a table of schema works.

#### Binary version

The latest vitess/lite image: (cb7d74ca53e293f91ebfe6eb06acd452afc1d60e)

[2020-12-11 10:22] harshit-gangal commented on #7160
Show planner is legacy, once we move to new planner it will work.

[2020-12-11 18:34] deepthi commented on #7084
I think in the past we have estimated this work at around 1 year for a team of 3-4 people. I don't know of any fundamental limitations on the vitess side that prevent this work.

[2020-12-11 18:42] csquared commented on #6919
Found a diff that worked ~3months ago and needed a little massaging to get working with current HEAD but here you go for an implementation:

[code]

[2020-12-13 18:17] rohit-nayak-ps commented on #7078
Sorry, but I am not able to repro this anymore. I have been testing for a while now using this setup:

* Ran the local example to the end except the 401 teardown script, so that the resharded customer keyspace is live

* Populated the customer table with ~15 million rows, using the `populate.go` script in the gist
https://gist.github.com/rohit-nayak-ps/f8356ea2b9862b1d8cb1c3f2266265ec

* Ran multi

[2020-12-13 21:22] #7142 closed

[2020-12-13 22:52] sougou opened #7171 "RFC: Allow Real-time change of parameters"
## Problem Statement

Vitess Components currently disallow changing of configuration parameters while a process is running. There are a few reasons why this was not allowed:

* The command line used to launch the process will cease to be an authoritative source.
* It is difficult to audit any values that were changed real-time, or keep track of history if changes were made multiple times.
* If a p

[2020-12-14 09:39] guidoiaquinti commented on #7171
Related to #2983

[2020-12-14 11:21] FreGalle commented on #7053
Not sure why I missed this at the time of reporting this, but the workaround I mentioned (specifying the command-line flags) will still result in the `grpcclient.SecureDialOption` `grpc.WithTransportCredentials` option to be applied AFTER any similar option passed in to the driver configuration by the user, effectively limiting the applicability of the workaround to the most basic TLS configuratio

[2020-12-14 21:26] rafael commented on #7171
This approach makes sense to me.

[2020-12-15 00:18] deepthi opened #7177 "GetHealthyTabletStats is not updated when healthcheck times out"
This is similar to #7123

When healthcheck times out, the tablet should no longer be considered healthy for serving purposes. Today, the code does not update the healthy list when a timeout occurs.

Reported by @xhh1989

[2020-12-15 03:22] #7123 closed

[2020-12-15 04:09] csquared commented on #6919
Here's a way simpler implementation that doesn't require a new flag. However, it's kind of suboptimal as it depends on comment detection. Ideally, we'd be reading the `type` from the vschema but that gets parsed later on.

[code]

[2020-12-15 04:12] csquared commented on #6919
cc @deepthi / @sougou -- what do y'all think? is it reasonable to rely on having ` comment 'vitess_sequence'` after the table? I imagine it's a hacky but serviceable workaround but would prefer to figure out how to just parse the VSchema and detect `type: "sequence"`...

[2020-12-15 04:56] #7036 closed

[2020-12-15 07:59] DeathBorn opened #7180 "Shard safeguard from performing multiple backups at the same time"
It is possible to perform multiple `BackupShard` or `Backup` on the same shard. This can be quite dangerous when we have low number of replicas in shards.

_Example:_ Performing 2x times the `BackupShard` (builtin method) on shard from 3 tablets will stop 2 tablets leaving  just 1 tablet serving.

Certainly, there is a question regarding backing up multi cell shard.

**Proposal:**

Backup commands

[2020-12-15 14:00] aberfeldy opened #7181 "error with "show full columns" after keyspace split"
#### Overview of the Issue

Using the operator I created a cluster on my kubernetes with 3 replicas based on vitess/lite:v8.0.0 to host a wordpress multisite installation. Following the instructions for "MoveTables" I was able to move all the wp_*_posts table in a different unsharded keyspace (posts). Wordpress still functions and can show all the data, which was previous in the main keyspace (blo

[2020-12-15 14:49] keweishang commented on #7078
Hi @rohit-nayak-ps, sure, I'll try and use your setup to reproduce the error. Will keep you updated this week.

[2020-12-15 18:00] deepthi commented on #7149
Actually we don't know for sure that it will work without errors. What if after detecting the version as MySQL 8.0, the client sends something that is new in 8.0 and not yet supported by vitess?

[2020-12-15 18:55] mavenraven commented on #7149
@deepthi That's definitely possible, but I think that's unrelated to this particular issue.

[2020-12-15 19:04] harshit-gangal commented on #7149
That will be easier to fix than supporting deprecated system variable query.

[2020-12-15 20:12] aquarapid opened #7184 "UBI docker build broken"
The reference to the strace package has been updated, from the current `strace-4.24-4.el7.x86_64.rpm` to `strace-4.24-6.el7.x86_64.rpm`

[2020-12-15 20:13] aquarapid commented on #7184
#7183 fixes this.

[2020-12-15 20:45] csquared commented on #6919
Ok from the docs it appears you need the comment. Will put together a PR for this

[2020-12-15 21:17] csquared commented on #6919
Added!

[2020-12-16 06:33] shlomi-noach commented on #7025
- [ ] one
- [ ] two
  - [ ] three
- [ ] four

[2020-12-16 08:33] serhatcetinkaya opened #7191 "Vitess returns error when Consul topology service is unavailable"
#### Overview of the Issue

We are using consul as topology service in our setup. Last week we observed an issue that looks like the opposite of what is documented.

Our consul leader node died during an internal maintenance and it forced consul cluster to re-elect the leader. During this period consul was unavailable in our environment and we noticed vitess returned errors to queries coming from

[2020-12-16 09:53] guidoiaquinti commented on #7191
Is the log that you posted coming from a "fresh new" `vtgate` node or from one that was already provisioned before the incident?

Also, I see you are not using `-srv_topo_cache_ttl` and `-srv_topo_cache_refresh` that [might be useful](https://github.com/vitessio/vitess/blob/88671b0a72a85d9071fdfc25a68aef685b8822e0/go/vt/srvtopo/resilient_server.go#L38-L51) in case of downstream issues with the top

[2020-12-16 11:16] #6997 closed

[2020-12-16 13:12] serhatcetinkaya commented on #7191
Hello @guidoiaquinti , the vtgate was up and running for a very long time.

I guess with the suggested settings we can tolerate `t` seconds of topology service downtime. In case we set the cache ttl and cache refresh to something like 30 seconds, and trigger `TabletExternallyReparented` command to do failover, should we expect a split brain scenario like vitess will route queries to previous maste

[2020-12-16 17:59] #6996 closed

[2020-12-16 19:24] patform9 opened #7195 "table creation through synchronous onlineDDL not idempotent?"
#### Overview of the Issue

When creating new tables for unsharded keyspaces with the `IF NOT EXISTS` clause in a SQL statement, it's not determined up front whether the table already exists before attempting to create it, causing an AlreadyExists error regardless.

#### Reproduction Steps

1. Deploy the following `vschema`:

[code]

2. Run the following commands via a MySQL client:

[code]

3. Ob

[2020-12-16 22:59] narcsfz opened #7197 "Better password redact for DB users"
Please search the existing issues for relevant feature requests, and use the [reaction feature](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing requests.

#### Feature Description

Currently vitess will only redact master password when we execute a query: https://github.com/vitessio/vitess/blob/f0bf54c76ab1b21e66cf49ca5675a4b7a

[2020-12-16 23:12] #7184 closed

[2020-12-17 09:46] bernardhalas opened #7200 "Share Keyspace context among VTTablets across all the Cells in the cluster"
#### Feature Description

Make Keyspaces visible for VTGates across Cells.

#### Use Case(s)

We have an environment where we'd like to run Vitess for serving several Keyspaces. The environment is composed of 3 availability domains and there are 3 cells mapped to these domains. We'd like to run each of the Keyspaces in a 2-replica mode. However this means that there's always one (out of 3) VTTable

[2020-12-17 18:14] aquarapid commented on #3997
RE large key values, should we consider allowing the vschema to be stored compressed?  I had a large-ish vschema (few hundred kB) lying around that compresses comfortably by 93%...

[2020-12-17 18:35] derekperkins commented on #3997
The k8s topo already compresses data

[2020-12-17 19:39] hallaroo commented on #4765
Add this to the FAQ now hosted in Freshdesk: https://planetscale.freshdesk.com/a/solutions/articles/64000257950

[2020-12-17 19:39] #4765 closed

[2020-12-18 07:21] maZahaca commented on #6755
I've just created one in vitess-operator: https://github.com/planetscale/vitess-operator/issues/164

[2020-12-18 07:27] harshit-gangal commented on #7129
This is similar to mysql behaviour

Session 1:
[code]
Session 2:
[code]
Session 1:
[code]

Session 1 is hung up for lock_wait_timeout.

[2020-12-18 08:03] noggi commented on #7129
It is not. In your example you need to close your mysql client (Ctrl+D). Then the query in session 2 is immediately aborted and query in session 1 proceeds immediately.

Session 1:
[code]

Session 2:

[code]

Ctrl+C in MySQL CLI does not close connection, it only aborts current query (sends [KILL QUERY](https://dev.mysql.com/doc/refman/5.7/en/kill.html) as opposed to KILL CONNECTION).

[2020-12-18 08:10] harshit-gangal commented on #7129
I see that now. Ignore my earlier message.

[2020-12-18 19:15] aquarapid commented on #6919
#7186 fixed this.

[2020-12-18 19:15] #6919 closed

[2020-12-18 23:04] deepthi opened #7203 "docker image for vttestserver"
#### Feature Description
It will be nice to have a super lightweight docker image that contains vttestserver and mysqlctl

#### Use Case(s)
CI / ease of local testing

[2020-12-21 15:16] shlomi-noach opened #7207 "Tracking issue: collect failed GitHub job runs for Vitess"
We wish to understand which jobs fail more than others; we want to visualize those on a graph. I initially created #7026 , but then, after contacting CNCF, turns out there's a CNCF hosted graphana dashboard:

- https://devstats.cncf.io
- (vitess specific: https://vitess.devstats.cncf.io/)

and the following documentation: https://github.com/cncf/devstats

Self assigning. cc @askdba @deepthi

[2020-12-21 16:32] jfg956 opened #7208 "Local and operator example not in sync."
I am going through the Vitess Tutorial.  I did a Local install {1} and I am now doing the MoveTable steps {2}.  I would like to contribute improvements to the tutorial (new issue or PR to be created), but while preparing this, I realized that the `select_commerce_data.sql` files are not in sync for the Local {3} and the Operator {4} tutorials.  The Local file had `commerce/0` in it and the Operato

[2020-12-21 17:08] jfg956 commented on #7208
Somehow related pull request {5}.

{5}: https://github.com/vitessio/website/pull/645

[2020-12-21 17:35] keweishang commented on #7078
Hi @rohit-nayak-ps, sorry for the delay. Based on GA 8.0.0 docker image, I can repetitively reproduce the errors. I've created a public repo with README that has the steps to reproduce the errors: https://github.com/keweishang/schema_reload_error_test

Let me know if you manage to reproduce the error with the above repo setup. Thanks.

[2020-12-21 19:15] jfg956 opened #7209 ""vtctlclient help GetRoutingRules" does not show help."
When I run "vtctlclient help ApplyRoutingRules", I get informations on how to use this option.  But when I run "vtctlclient help GetRoutingRules", I do not get such informations, and it looks like the routing rules are displayed.  Output below.

[code]

I cannot provide you with the exact version of vtctlclient because of {1}, but I know I have installed `vitess-8.0.0-7e09d0c.tar.gz`.

{1}: https:

[2020-12-21 23:32] adsr opened #7211 "Ship `./test/bin/rippled` as static binary or remove it entirely"
Shipping a dynamically-linked binary hurts portability. For example we're unable to run it on CentOS 7 as it relies on a newer version of libstdc++ than available. Ideally we can figure out a way to remove the binary entirely. If not, can we a ship a static binary in the mean time? (I tried a quick static build of mysql-ripple[0] but the build fails on my machine.)

[0] https://github.com/google/m

[2020-12-22 17:40] shlomi-noach commented on #7211
To the best of my understanding `rippled` is strictly experimental and is not being used at this time. Did you happen to just notice this or is anything failing for you somewhere?

[2020-12-22 18:21] adsr commented on #7211
Hi @shlomi-noach. We encountered this as a failed rpm dep check while upgrading our internal rpm. (We ship a "fat rpm" that contains deps pulled in by bootstrap.sh, build artifacts, and the original source tree.) Fix for us was to remove rippled at rpm build time.

[2020-12-22 20:48] jfg956 opened #7217 "VSchema not updated after MoveTable."
I am doing the Vitess tutorial and I am at the MoveTable part.  I am surprised to see that the VSchema is not updated after the completion of the MoveTable, and this makes the query `select count(*) from customer` ambiguous.  I would expect all queries working before the MoveTable to also work after the MoveTable, which is the case, until I clear the routing rules.  For that, I would expect the `D

[2020-12-22 21:51] ajm188 opened #7219 "Migrate local examples to vtctldclient"
#### Feature Description

Migrate all vtctl commands required in the local example scripts. Including:

- [ ] InitShardMaster
- [ ] ApplySchema
- [ ] ApplyVSchema

#### Use Case(s)

Any relevant use-cases that you see.

[2020-12-23 10:50] shlomi-noach commented on #6689
https://github.com/vitessio/vitess/pull/7221 finalizes the `DROP TABLE` flow by converting the `DROP TABLE` statement into `RENAME TABLE`.

[2020-12-23 12:16] askdba commented on #7208
@hallaroo when you get a chance can you verify this?

[2020-12-23 17:42] dweitzman opened #7222 "Fail COM_PING requests after vtgate enters lame duck mode (for connection pool idle connection health checks)"
The mysql binary protocol doesn't have a graceful way for a server to proactively inform a client that it intends to shut down.

When vtgate enters lame duck mode, it could start failing COM_PING which might help inactive connections in connection pools start to be marked as unhealthy while still allowing any real COM_QUERY traffic from non-idle connections to complete without errors.

[2020-12-23 18:25] hallaroo commented on #7208
@askdba - I can confirm what is stated above.

The more recent edit was done to the operator example (May 2020 as opposed to Dec 2018), so if it won't cause any issues I would offer to update the Local {3} file and the MoveTables user guide {4} and have you review.

[2020-12-24 09:45] askdba commented on #7208
@hallaroo sounds like a plan. Thanks! We can have @jfg956 verify as well :)

[2020-12-24 15:42] jfg956 commented on #7208
Personally, I prefer the file in common, as it does not introduce Vitess weirdness (/0) in an early tutorial.  But if I check in {2}, there is a reference in there for `commerce/0`, so I guess it is ok to use the file in the operator example.

However, I would encourage you to converge on a single file to avoid duplication and new divergence in the example.  I would remove the file in the operator

[2020-12-26 14:32] rohit-nayak-ps opened #7225 "New MoveTables and Resharding Workflows (v2)"
# **New MoveTables and Resharding Workflows (V2)**

#### _Experimental_
At this time, the v2 workflow changes are in the process of being reviewed and tested. Some commands/options maybe be modified.  Feedback, suggestions, improvements are very welcome!

## TL;DR

Over the last year and a half, VReplication has been used by a lot of users in several different environments, ranging from huge produ

[2020-12-28 07:56] kirantpatil commented on #5166
Any updates on "Ruby on Rails / Active Record" support ?

Is it available for testing ?

[2020-12-28 15:55] harshit-gangal commented on #5166
@kirantpatil you should be able to use it without any issues. Also, if you find any then log an issue.

[2020-12-28 16:12] kirantpatil commented on #5166
@harshit-gangal, Great. Thanks a lot.

[2020-12-28 16:25] parthibd commented on #5166
Will we get support for Laravel ?

[2020-12-28 16:30] harshit-gangal commented on #5166
@parthibd If you are able to log issues on using Laravel we can take a look and fix them.

[2020-12-28 16:55] guidoiaquinti commented on #7191
I think at that point, TER will fail as the topology is down.

[2020-12-29 01:52] #7171 closed

[2020-12-29 01:52] #2983 closed

[2020-12-29 10:25] harshit-gangal commented on #7149
Closing this.

[2020-12-29 10:25] #7149 closed

[2020-12-29 15:13] serhatcetinkaya commented on #7191
I see, so in this case this is not a feasible solution for us. Still, as described with details above, we don't want our application to go down when there is a couple of minutes of downtime on the topology service. Also according to docs topology service being unavailable shouldn't have any effects on query serving.

Do you have any other recommendation for us @guidoiaquinti ?

[2020-12-29 16:35] hallaroo commented on #7208
Agreed. The common file is the less recently updated one with the /0 and will need to be changed no matter what.

I'm checking to see if there is a good reason that we have the two files. Depending on that answer we can do one of two options:

* Update the common file and the guides to remove any reference to /0 before the resharding guide
* Remove the operator file, update the common file, update

[2020-12-30 17:03] hallaroo commented on #7208
Ok I heard back and there isn't a good reason we have the two files.

I'll take a look at your PR linked above and make another PR for anything else that needs to be done to complete everything in the second option:

* Remove the operator file, update the common file, update the guides to reference only to the file in common, and remove any reference to /0 before the resharding guide

[2021-01-01 01:47] aquarapid opened #7232 "Vault support"
Add support for storing MySQL credentials in HashiCorp Vault.

There are two sets of credentials here:
  * vtgate (i.e. application -> vtgate)
  * vttablet (i.e. vttablet -> MySQL)

[2021-01-01 07:30] askdba commented on #7208
Thank you @hallaroo, I am assigning this issue to you. Let me know if you need any help.

[2021-01-03 12:01] rohit-nayak-ps commented on #7078
@keweishang , thanks for the great test repo. I was able to reproduce the "cannot determine table columns" issue, even with the latest code. The issue with the internal tables created by gh-ost has been resolved in #7159, so it doesn't appear now.

The cause is:
- when Online DDL completes migration and it renames the intermediate table, the vttablet's schema is still the old one
- schema is curre

[2021-01-03 12:01] rohit-nayak-ps commented on #7078
Also, the reason I was unable to consistently repro earlier was that the tablets always had vstreams running on them which were reloading the schema.So a fresh VStream API client always found the updated schema.

[2021-01-03 13:12] ajm188 opened #7237 "[vtctldclient] Add code generator for vtctldclient boilerplate"
#### Feature Description

Adding a method to the vtctldclient grpc implementation requires the same boilerplate every single time. Since there are over 100 to migrate, we should add code generation to reduce the cost of this boilerplate.

#### Use Case(s)

Anyone migrating commands from grpcvtctlclient to grpcvtctldclient.

[2021-01-04 05:42] GuptaManan100 opened #7241 "Incorrect plan for left join query"
#### Overview of the Issue

The plan for the query ```select user.id from user_extra left join user on user_extra.user_id = user.id where user.id = 5``` is incorrect and has the opcode selectEqualUnique. In this case the output is not going to include all the rows with NULL values.

The output of the planner is as follows :-
[code]

[2021-01-04 10:22] harshit-gangal commented on #6664
@GuptaManan100 this is support now?

[2021-01-04 10:43] GuptaManan100 commented on #6664
Yes it is! Closing the issue now

[2021-01-04 10:43] #6664 closed

[2021-01-04 21:03] hallaroo commented on #7208
Second PR to compliment the work done in vitessio/website#646 : https://github.com/vitessio/website/pull/656

[2021-01-04 21:06] makmanalp commented on #5844
We (HubSpot) also vote to either nuke it or have an option to disable it in vitess. Right now it either prints out an error message we don't care about, or we have to do some hackery to shut it up.

[2021-01-05 07:46] GuptaManan100 commented on #7241
The plan is actually correct since we have a where clause on the user table which would prevent the NULL values to come from them. It is essentially the same as an inner join and it is rewritten in mysql which can be checked by running ```explain select user.id from user_extra left join user on user_extra.user_id = user.id where user.id = 5``` followed by ```show warnings```

[2021-01-05 07:46] #7241 closed

[2021-01-05 09:21] #7217 closed

[2021-01-05 11:29] daboabou8 commented on #5067
Ouais derekperkins ça bien fonctionné pour moi aussi. @derekperkins.
God Job for the repport.

[2021-01-05 17:22] harshit-gangal commented on #7181
This looks to be issue with plan cache. Now we only cache plan for dml and select queries after [this change](https://github.com/vitessio/vitess/pull/7196). Can you try now?

[2021-01-05 18:08] aberfeldy commented on #7181
Tried with latest, works like a charm. Thanks a lot

[2021-01-05 20:16] systay opened #7253 "Column names for show tables are wrong"
#### Overview of the Issue

When doing `show tables` on a database named `foobar`, the column in the result set has `vt_` prepended:

[code]

[2021-01-05 20:31] deepthi commented on #7253
database -> keyspace?
It seems that the column name is coming from the underlying database name which defaults to `vt_foobar`. If it were overridden using `-init_db_name_override` flag to `xyz` then the column name would be `Tables_in_xyz`. Are we saying that it should always be `Tables_in_foobar` regardless of underlying database name?

[2021-01-05 21:10] bezmax opened #7254 "Lookup vindex with lookup key type 'unicode_loose_md5' seems to be broken in 8.0.0"
#### Overview of the Issue

While trying to upgrade to v8.0.0 we have noticed that case-insensitive vindexes seem to not be working anymore.

#### Reproduction Steps

From the directory with sources of v8.0.0 of Vitess:

[code]

In docker shell:
[code]

After connecting to DB with mysql client:
[code]

*Expected result*: 1 row
*Actual result*: 0 rows

Files required to reproduce the issue:

`looku

[2021-01-05 23:03] bezmax commented on #7254
I believe the problem is in this piece of code being case-sensitive:

https://github.com/vitessio/vitess/blob/88671b0a72a85d9071fdfc25a68aef685b8822e0/go/vt/vtgate/vindexes/lookup_internal.go#L120-L128

[2021-01-06 00:48] ajm188 commented on #7237
Added in #7238

[2021-01-06 00:48] #7237 closed

[2021-01-06 01:19] deepthi commented on #7203
It turns out that we already have a [Dockerfile](https://github.com/vitessio/vitess/blob/master/docker/lite/Dockerfile.testing) that does this, thanks to @kalfonso.
I have modified the configuration on dockerhub to generate a docker image tagged as `vitess/lite:vttestserver`. Once the next build succeeds we can close this issue.

[2021-01-06 11:35] systay commented on #7253
Yeah, this is all about imitating MySQL behaviour. The issue is not critical per se, but the behaviour is surprising, wouldn't you agree?

[2021-01-06 18:10] aquarapid opened #7259 "Issuing a USE statement while in OLAP / streaming mode with shard targeting causes non-fatal vttablet panic"
Scenario:

 * Current master 9b5a2a5c904cc3b0c2234c1b31e0ce66013cff1b
 * Setup local `101_initial_cluster.sh` environment:
[code]
  * Connect to MySQL, target a shard via `USE`, switch to OLAP / streaming mode,  then issue a `USE` statement:
[code]
  * Inspect the vttablet logs for the instance, the following panic will be found:
[code]

[2021-01-06 18:13] aquarapid commented on #7259
Note that when not using shard targeting, this works OK:

[code]

[2021-01-07 01:34] xhh1989 opened #7261 "delete master Tablet lead to Tablet crash"
![image](https://user-images.githubusercontent.com/5679603/103839915-68b1d480-50cb-11eb-8feb-d7358b5bf0c9.png)

[code]

[2021-01-07 01:37] deepthi commented on #7261
Out of curiosity, why are you deleting master tablet from topo?

[2021-01-07 02:18] deepthi commented on #7203
The existing Dockerfile is for mysql57. We'd like to build both mysql57 and mysql80.
Tags will be vitess/vttestserver:mysql57 and vitess/vttestserver:mysql80

[2021-01-07 05:46] xhh1989 commented on #7261
yes, delete master Tablet while it is serving

[2021-01-07 07:06] shlomi-noach commented on #7232
I'm merely curious, can you please give more context to this?

[2021-01-07 20:22] #7203 closed

[2021-01-07 20:47] biostone commented on #7261
To simulate a software/hardware failure maybe?

[2021-01-07 20:51] deepthi commented on #7203
auto-builds have been setup on dockerhub to produce two new images.

[2021-01-08 03:17] sougou commented on #7261
Slack thread for context: https://vitess.slack.com/archives/C0PQY0PTK/p1609748160463200

I think the TL:DR; is that we should just gracefully exit if we discover that the tablet record is gone. And also extending this rule, we should exit if we detect that a different vttablet has taken over the record.

[2021-01-08 10:16] pedroalb commented on #5362
Hi team! Do you have any plans for when to fully support MariaDB 10.4?
Thanks

[2021-01-08 14:02] llhhbc opened #7272 "Should TabletManagerClient interface add listBackup and removeBackup method"
#### Feature Description

[code]
`TabletManagerClient ` only has two method of backup. Backup is create by vttablet, I think listBackup should call vttablet also.
Because backup is existed on node that vttablet is running, but not the node that vtctld is running.

#### Use Case(s)

[2021-01-08 14:03] #7254 closed

[2021-01-08 14:10] llhhbc commented on #7272
Type: Feature Request

[2021-01-08 14:11] llhhbc commented on #7272
/Type: Feature Request

[2021-01-08 14:12] llhhbc commented on #7272
Feature Request

[2021-01-08 18:20] hallaroo commented on #7208
Status update:
* **Completed: Both website PR's have been merged.**
* WIP: I'm awaiting approval on the PR to remove the operator file and will also be working on completing the hosted FAQ.

[2021-01-08 22:53] aquarapid opened #7273 "EXPLAIN for a sharded keyspace does not resolve destination based on query"
For `EXPLAIN` queries, Vitess uses `DestinationAnyShard` (i.e. selects a random shard) to send the query to.

For some EXPLAIN queries, this is fine;  but often the user wants to get the MySQL query plan for the actual underlying shard that vtgate would target the query to if it gets executed "for real".

It does not seem unreasonable to add support for this.

As an example, with the local sharded

[2021-01-08 22:53] aquarapid commented on #7273
cc:  @tomkrouper

[2021-01-08 23:06] deepthi commented on #5362
@askdba can you post the latest status here?

[2021-01-09 17:49] keweishang commented on #7078
@rohit-nayak-ps thanks for the update.

First of all, I really appreciate your explanation. Also good work in finding and fixing the issue with the internal tables (#7159).

Thanks for letting me know that having vstream running on the tablets is essential in reloading the schema of the tablet. In my case, all VStream API had failed due to #7159. No tracker was enabled by `-track_schema_versions=t

[2021-01-10 14:28] rohit-nayak-ps commented on #7078
There is an overhead of an additional vstreamer which will download the binlogs and do the minimal parsing required. Since it only deals with DDLs it is less than a regular vstream.

Whether it is perceptible depends on the server configuration and write QPS. This is precisely why we disable it by default. Originally it was enabled by default, but we had a few customers in production who were affe

[2021-01-11 08:02] systay opened #7280 "Gen4 Tracking"
This issue is meant to track the work going on on the Gen4 planner.

The Gen4 planner is a new planner in Vitess that explores many different join alternatives and uses a little bit of cost analysis to pick the cheapest plan. In contrast, the V3 planner merges and join tables from left to right, and this made it important for the user to list tables in a good order so that the planner could produc

[2021-01-11 13:57] #7195 closed

[2021-01-11 14:01] #7259 closed

[2021-01-11 15:01] keweishang opened #7282 "VStream ROW Event adds extra whitespaces to value when Decimal column's precision is over 13 (inclusive)"
#### Overview of the Issue

Hi team, VStream adds extra whitespace to Decimal values when the Decimal precision is greater or equal to 13.

#### Reproduction Steps

Steps to reproduce this issue:

1. Having the following table definition in sharded or unsharded keyspace:

[code]

2. VStream emits ROW events:

[code]
#### Binary version

V8.0 GA

[2021-01-11 20:05] nusairat commented on #479
Curious if any work has gone on this route?

[2021-01-12 19:44] adsr opened #7290 "vttablet should closet socket when mysqld sends FIN"
#### Overview of the Issue

Currently vttablet ignores FIN packets from mysqld (e.g., when mysqld hangs up due to wait_timeout) leading to EPIPE if vttablet tries to use the socket later on.

We did not get a chance to test against latest Vitess or go. (Might be a bug in go stdlib?) Apologies if already fixed.

#### Reproduction Steps

1. Configure mysqld with wait_timeout=N
1. Configure vttablet

[2021-01-12 23:40] hallaroo commented on #7208
Status update:

* **Completed: Hosted FAQ added [here](https://planetscale.freshdesk.com/support/solutions/articles/64000259591-what-does-%E2%80%9C-0%E2%80%9D-or-%E2%80%9C-%E2%80%9Dmean-)**
* WIP: awaiting approval on the PR to remove the operator file

[2021-01-13 00:18] #7208 closed

[2021-01-13 00:19] deepthi commented on #479
Not so far. See #7084

[2021-01-13 14:54] askdba commented on #5362
Currently, we're evaluating and testing MariaDB 10.4 compatibility and engaging with MariaDB to resolve this issue. We plan to make progress in the coming weeks on this.

[2021-01-14 11:38] #3112 closed

[2021-01-14 16:28] DeathBorn opened #7296 "VDiff false positive MismatchedRows when WEIGHT_STRING result is greater than max_allowed_packet"
#### Overview of the Issue

VDiff false positive MismatchedRows
When WEIGHT_STRING result is greater than max_allowed_packet, result is NULL.
If max_allowed_packet is high enough on  source or target, VDiff will compare NULL with BLOB - will report MismatchedRows.

#### Reproduction Steps

Steps to reproduce this issue, example:
Using local example with vitess version
[code]

[code]
#### Binary ve

[2021-01-14 16:41] pedroalb commented on #5362
Thanks @askdba !

[2021-01-14 17:22] tomas-didziokas commented on #7296
Also, `VDiff` won't work as expected even when source and destination mysql instances has the same `max_allowed_packet`. For large enough values `WEIGHT_STRING` will return `NULL` from source and destination targets and `VDiff` will compare `NULL` vs `NULL` instead of comparing binary value representation.

[2021-01-14 19:11] #7197 closed

[2021-01-14 20:25] narcsfz opened #7298 "Add a hook func to stats.Timings"
#### Feature Description
The problem with stats.Timmings is it relies on a histogram to collect percentile information. If the stats backend does not support the interface that takes histogram bucket and do the aggregation for us, we need to do compute difference between two sample time to get the percentile metrics, and report them as gauges.

This could be annoy if we choose to integrate with ba

[2021-01-14 20:31] derekperkins commented on #7298
I'm hesitant to do too much work here when the long-term plan should be to replace our stats/trace functionality with OpenTelemetry.

[2021-01-14 21:32] narcsfz commented on #7298
Thanks for the feedback @derekperkins, it makes sense. What's the expected timeline for OpenTelemetry?

If we are moving towards OpenTelemetry would it be an argument to take step and unblock the application that wants to integrate with statsd / opentsdb right now (versus defining a future-proof API)?

[2021-01-15 14:12] rohit-nayak-ps commented on #6492
V2 commands have more descriptive outputs and also documents ways to monitor progress

[2021-01-15 14:12] #6492 closed

[2021-01-15 14:14] rohit-nayak-ps commented on #6507
This warning is needed for the user to know that they need to possibly reload schemas. However V2 will also give a better descriptive output which will let the user know that the workflow has been started successfully.

[2021-01-15 14:14] #6507 closed

[2021-01-15 15:10] #7158 closed

[2021-01-15 15:47] frouioui opened #7301 "VitessAware system variables of type boolean return NULL when the query is not passed to MySQL"
#### Overview of the Issue

When a query selects VitessAware system variables, without passing the query down to MySQL. A value of type NULL is returned.

This issue applies to boolean-typed variables.

Whenever the query implies being sent down to MySQL, the variable's value is correctly returned.

#### Reproduction Steps

Steps to reproduce this issue:

1. Set the value of the, for instance, aut

[2021-01-15 17:23] ajm188 opened #7303 "Migrate cell getters to vtctld service"
- [x] GetCellInfoNames
- [x] GetCellInfo
- [x] GetCellsAliases

[2021-01-15 17:51] derekperkins commented on #7298
I'm not opposing changes, just adding context that I think our whole stats layer should be removed, including whatever hooks or changes you make now. I'd mark them as experimental so that we aren't bound by our deprecation policy.

I'm not the only or the strongest stakeholder around stats, so happy to get feedback from others.

[2021-01-15 18:37] systay opened #7305 "Support INSERT INTO ... SELECT on tables with autoincrement"
It would be great if Vitess would support `INSERT INTO T1 SELECT...` when T1 has a sequence defined on it.

https://github.com/vitessio/vitess/blob/master/go/vt/vtgate/planbuilder/insert.go#L77
https://github.com/vitessio/vitess/blob/530ea87a538c4435f30b4cc443b2a318c77e2584/go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt#L269

[2021-01-15 18:43] aquarapid commented on #7065
Related:  #7290

[2021-01-15 20:08] #7303 closed

[2021-01-16 00:07] dharju opened #7307 "Vitess docker from vitess repo for running vitess locally is incompatible with CircleCI"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

When I try running the local vitess docker (https://vitess.io/docs/get-started/local-docker/) on CircleCI, it fails to start because it reports that the docker uses user or global IDs that are too large.

#### Reproduction Steps
Configure circleCI to

[2021-01-16 11:30] systay opened #7308 "Use @@version instead of @@vitess_version"
Today, the system variable `@@vitess_version` shows a little information on how the binaries where built. Example:

[code]

I suggest we remove this variable, and instead change the value of the `@@version` and `@@version_comment` variables that are already used by MySQL.

In the return value for these system variables, it should say something about Vitess and the release version we are running.

[2021-01-16 18:53] mattlord commented on #7290
From here: https://stackoverflow.com/questions/23879000/net-tcpconn-allowing-write-after-fin-packet

And here: https://stackoverflow.com/questions/42073413/golang-tcp-connection-close-doesnt-give-an-eof

I’m guessing our only real option is to do a health check on a RW connection — performing a read on the socket to look for io.EOF — before handing it out from the tx-pool. This should be a config

[2021-01-19 01:01] aquarapid opened #7317 "SwitchWrites after MoveTables where source keyspace is using FilePos will fail unless MoveTables VReplication streams are from source keyspace primary tablet"
This has probably been an issue all along, but tested against 9.0 RC1.

I used `dbdeployer` to setup:

  * A local set of 3 database instances, one master, 2 replicas.  Using FilePos replication (i.e. `gtid_mode=OFF`).
  * I then stood up an unsharded Vitess 9.0 RC1 keyspace using MySQL 8.0 called `keyspace1`  (the target for the `MoveTables`)
  * I stood up Vitess 9.0 RC1 tablets in front of the

[2021-01-19 06:19] grooverdan commented on #3520
Note `/*M! ... ` is a [mariadb comment](https://mariadb.com/kb/en/comment-syntax/)

[2021-01-19 12:10] GuptaManan100 opened #7320 "Database name in the meta information of Show Tables query"
#### Overview of the Issue

On running show tables in a keyspace named ks, the name of the database in the result should be information_schema and not ks.

#### Reproduction Steps

Found via an e2e test added in the testing mode found at https://github.com/planetscale/vitess/tree/testing-vtgate
Run the tests in the package and look at the logs.

#### Log Fragments
[code]

[2021-01-19 21:16] hihihuhu commented on #7317
We are seeing significant write performance drop when there are many binlog consumers connecting to Aurora, so in order to walk around this limit of Aurora, we create a standalone Aurora cluster replicates from the production Aurora cluster, use the new Aurora as read only tablet in Vitess and connect VReplications to it. Thus it could be important to have MoveTables works from replica without GTi

[2021-01-20 00:21] deepthi commented on #7308
This sounds like a good idea. We will need to add a step to the release process to update the version before release.

[2021-01-20 02:33] artemvovk commented on #7225
One note is that `MoveTables` doesn't support a customized `source_expression` (e.g. in case where some historical data in the table does not fully comply with new schema - MySQL allows invalid data to be stored in ENUM colums), so, actually, I've been using `Materialize` and combinations of `SwitchReads` and `SwitchWrites` to simulate a `MoveTables` workflow.

If new version of `MoveTables` is ab

[2021-01-20 03:36] david-sail opened #7322 "why do not define < and > in sql.go"
define variables:
const LE = 57455
const GE = 57456
const NE = 57457

   why do not define GT and LT? return ascii code for < and >

here is scan code:

		case '<':
			switch tkn.lastChar {
			case '>':
				tkn.next()
				return NE, nil
			case '<':
				tkn.next()
				return SHIFT_LEFT, nil
			case '=':
				tkn.next()
				switch tkn.lastChar {
				case '>':
					tkn.next()
					return NULL_SAFE_EQ

[2021-01-20 05:23] rohit-nayak-ps commented on #7225
Valid point. Thanks for the input. We will plan to support this in the near future. Can you also provide examples of the kind of source expressions you use, so we can use those as test cases?

[2021-01-20 13:50] #6860 closed

[2021-01-20 16:03] mcronce commented on #6329
I _think_ this is the same issue we're seeing with a PHP Laravel test.  The following `CREATE TABLE` (output of `SHOW CREATE TABLE` from vanilla MySQL, but same result from the actual `CREATE TABLE`) fails:
[code]

The error is:
[code]

[2021-01-20 17:11] aquarapid commented on #3592
I should note that a reading of the code (and some experimentation) reveals that simply having the vttablet idle timeouts < MySQL wait_timeout is **not** sufficient.  The issue is that the current implementation scans the connection pools for idle connections to evict every idle_timeout/10 seconds.  As a result, if the vttablet idle timeouts are near or above 90% of the MySQL wait_timeout timeout,

[2021-01-20 21:54] jmoldow opened #7328 "Misleading results from EXPLAIN for a write_only lookup vindex prior to running ExternalizeVindex"
#### Overview of the Issue

I created a secondary lookup vindex via `CreateLookupVindex`.

As expected, the vindex was created with `write_only: true`, and was not used to resolve queries. Any query that would've used that vindex, and did not have any other vindex to fall back to, would become a scatter query to all shards.

However, this wasn't reflected in the output of `EXPLAIN FORMAT=vitess`.

[2021-01-20 23:11] narcsfz opened #7329 "Allow clients to pass in a GUID in VTGate requests"
#### Feature Description
We want to audit requests made to Vitess so that we know who access / modify what data.

In order to do that, we want to thread through a GUID to VTGate request. VTGate will extract and parse the GUID and then log information like `{GUID, user / certificate, query}`. Then we can do auditing driven by this log data for auditing.

#### Use Case(s)
We want to audit data usage

[2021-01-20 23:28] narcsfz opened #7330 "Zero downtime shard split"
#### Feature Description
Right now the shard split involves a traffic cutoff process, which can cause downtime during a reshard process.

We would like to figure out what is missing and how feasible it is to achieve a zero downtime shard split process.

[2021-01-20 23:37] sonne5 opened #7331 "Support group replication in Vitess"
#### Feature Description
Vitess currently only support semi-sync replication, but there is nothing fundamentally stop Vitess supporting MySQL group replication, especially if we run GR in single primary mode.

Vitess has one primary tablet, which aligned with single primary GR setup: we just need to make sure MySQL primary and Vitess primary are running on the same node.

This way we can take adva

[2021-01-20 23:41] csquared opened #7332 "Feature Request: VSchema for “Subsharding” VIndex"
## Goal

Specify a Multicolumn VIndex that contains (at least) two parts: a “primary” sharding key and a “secondary” sharding key. This allows a sharding strategy that constrains scatter queries that include the primary or “main” sharding key to a subset of shards.

For example, given two columns `A` and `B`, with values `a`  and `b` we can construct a keyspace id like:

`hash(a)[0..N] | hash(b)[0

[2021-01-21 00:24] jmoldow opened #7333 "Integrate VTExplain into vtctld/vtctl/vtctlclient, vtgate/vtclient"
#### Feature Description

VTExplain is useful as a standalone tool (#3062, #3082), especially in pre-planning a Vitess cluster, or for anyone who is restricted from seeing Vitess metrics/logs.

But successfully running VTExplain requires dumping the entire schema and vschema into two files, and specifying the shard map. For pre-planning there is no way around this. But if a Vitess cluster already

[2021-01-21 00:32] jmoldow commented on #7332
Related Slack thread: https://vitess.slack.com/archives/C0PQY0PTK/p1608169868300000

Jordan Moldow  1 month ago
I'm wondering what is on your near- and medium-term roadmap with regards to MultiColumn vindexes. https://vitess.slack.com/archives/C0PQY0PTK/p1606778040011600?thread_ts=1606771944.004500 My understanding is that right now, the only MultiColumn vindexes are region_json (and certain looku

[2021-01-21 00:49] jmoldow commented on #7332
Most relevant quote there:

https://vitess.io/docs/user-guides/vschema-guide/advanced-vschema/#alternate-approach :

[2021-01-21 03:07] jmoldow opened #7335 "Feature Request: Incorporate more VTExplain-style information into EXPLAIN FORMAT=vitess"
#### Feature Description

VTExplain, particularly with `-output-mode json`, provides a rich set of information that isn't available via `EXPLAIN FORMAT=vitess`. Placing more of that information into the `EXPLAIN FORMAT=vitess` (or into a new `EXPLAIN` format; or optionally enabled with an additional parameter to `EXPLAIN FORMAT=vitess`) would increase the utility of `EXPLAIN FORMAT=vitess`, and de

[2021-01-21 04:50] narcsfz commented on #7332
Comparing with the pre-combined column, I feel "SubSharding" VIndex provides limited fanout functionality as well.

In the geo example, given a country, pre-combined VIndex cannot route the request to N shard - it might need fanout to all shards without a look up tablet; whereas sub-sharding can just hit N specific shards for a country.

[2021-01-21 05:20] jmoldow opened #7336 "Feature Request: Ignore all write_only vindexes when query planning"
#### Feature Description

Right now, the Vitess query planner / `EXPLAIN` information has no way to distinguish between a vindex that, for a given parametrized query:

- Happens to be hitting all shards for the requested parameter values and for the current data in the lookup tables; vs.
- Is always guaranteed to scatter to all shards, no matter the parameter values and the data in the lookup tabl

[2021-01-21 16:59] jmoldow commented on #7336
One other interesting thing here.

Suppose there is a query with `WHERE a=? AND b=?`. Suppose this query currently utilizes a `Lookup NonUnique` vindex on column `a`.

If one runs `CreateLookupVindex` to create a `Lookup Unique` on column `b`, then the new vindex will have a lower cost https://vitess.io/zh/docs/schema-management/vschema/#cost , and will therefore be chosen.

But because the new vi

[2021-01-21 18:17] csquared commented on #7332
This is something we were looking to get going over at Stripe, but wanted to start out with a good description of the problem for review -- thanks for your feedback, @narcsfz and @jmoldow !

It seems y'all are bullish on this idea/direction?

[2021-01-21 19:47] jmoldow opened #7341 "Bug Report: uncaught vtctl/backup.go:124 panic during vtctlclient BackupShard (v8.0.0)"
#### Overview of the Issue

[code]

#### Reproduction Steps

Running a cluster with vitess-operator.

[code]

I noticed that one of my tablets in that shard is in a weird state (it's supposed to be shutting down; but isn't being killed by the operator because its replication is broken and it isn't reporting as ready), so that might have something to do with it.

Everything is fine now after deleti

[2021-01-21 19:48] jmoldow commented on #7341
This is the only time this has happened, backups have been really easy and error-free to perform in general.

And as noted, the problem was resolved after I deleted the broken tablet in that shard.

[2021-01-21 19:53] jmoldow commented on #7332
I'm undecided. Also, I'm early in the evaluation phase, I don't have any live Vitess clusters at the moment.

It seems there's a tradeoff here between:

- Having an architecture similar to our old one (where we sharded by tenant) but that can still support tenants that are too large to fit on one Vitess shard. And where it is easy to determine if a tenant is affected by an incident on a particular

[2021-01-21 23:55] deepthi opened #7344 "Migration testing in CI"
#### Feature Description
In #7294, we automated upgrading and downgrading the build version by 1 major version. There are some additional scenarios that should be tested to ensure that we are complying with [VEP-3](https://github.com/vitessio/enhancements/blob/master/veps/vep-3.md)
* Ability to restore backups taken with the previous version after upgrade/downgrade
* Ability for a cluster to opera

[2021-01-22 07:13] serhatcetinkaya commented on #7191
Hello again, I tested this using the PoC repo with latest vitess docker image `v8.0.0` and it still failed. You can see the sysbench error below:

[code]

[2021-01-22 07:28] aquarapid commented on #6935
This was fixed by #7008 ;  verified against 9.0 RC1

[2021-01-22 07:28] #6935 closed

[2021-01-22 07:35] aquarapid commented on #6936
Fixed by #7008

[2021-01-22 07:56] aquarapid commented on #7010
Should be fixed by #7012

[2021-01-22 07:56] #7010 closed

[2021-01-22 08:14] aquarapid commented on #6755
This is supported now; https://github.com/planetscale/vitess-operator/issues/164 closed;  closing this issue as well.

[2021-01-22 08:14] #6755 closed

[2021-01-22 08:26] aquarapid commented on #6231
I tried to reproduce this ;  but could not;  against current master (e259a08f0)

[2021-01-22 10:36] shlomi-noach commented on #7344
I will work on the 2nd bullet, ie halfway-upgrade.

What's a complete list (`order by importance desc`) for half-upgrade setups I should be investigating?

[2021-01-22 17:36] aquarapid commented on #4687
I can't reproduce this panic against master anymore?  @acharis ?

[2021-01-22 19:17] sougou commented on #4687
I'm pretty sure I fixed this.

[2021-01-22 19:17] #4687 closed

[2021-01-22 19:49] aquarapid commented on #7329
@narcsfz the usual approach here is to add the request ID as a SQL comment to the SQL statements;  and then extract that in your logging layer.  Is there a reason this approach will not work for you?

[2021-01-22 20:10] tristans-stripe commented on #7329
If the sql comments will show up in logs at the vtgate (or beyond!) that would satisfy our requirements.
Could you confirm where sql comments are expected to show up in logs?

[2021-01-22 20:20] deepthi commented on #7344
1. Upgrade vtgate only
1. Upgrade vtctld only
1. Upgrade all vttablets
1. Upgrade a subset of vttablets
1. Combination of 1 or 2 with 3 or 4

[2021-01-22 21:01] #7134 closed

[2021-01-22 21:34] aquarapid commented on #7329
correct.  As an example, if you send:

[code]

to vtgate, you will get the following in your query logs (showing the text format query logs here, fields are tab-delimited):

vtgate query log:
[code]

and vttablet query logs:

[code]

As usual, the trick to testing this is to provide the `-c` option to the mysql CLI, otherwise it strips the comments before sending to vtgate...

[2021-01-23 01:08] avaidyanatha opened #7351 "mysqldump: fails with recommended settings on mysql > 5.7"
When trying to run mysqldump against my Vitess cluster using [this guide](https://vitess.io/docs/user-guides/configuration-basic/exporting-data/), I run into this error:

[code]

### Reproduction
Simply run a mysqldump binary version greater than 5.7.

[2021-01-23 03:36] sougou commented on #7329
Some caveats before you move forward. This log does not guarantee delivery. It's good for performing spot checks about one off actions. If a VTGate is not able to send the log for any reason, it will drop the send but still execute the query.

If you want an audit log that doesn't miss any events, then we have to explore writing things to the database and source information from the binlogs.

[2021-01-23 21:13] sougou opened #7355 "Fix examples/operator"
Examples operator has been pointing at specific version tags, and this has caused staleness problems. We have to change the tags to point to the latest on the main branch. When we cut releases, we should hard code the tags to point at the versions that work for that release.

Also, a vtorc example is needed for people to try.

[2021-01-23 21:21] deepthi opened #7356 "xbstream should use `xtrabackup_root_path`"
Reported by @aquarapid:

Even when you specify the vttablet option `-xtrabackup_root_path` we don't seem to use that to find `xbstream`;  which needs to be in the $PATH.

[2021-01-24 06:40] shlomi-noach commented on #7344
Cool, thank you! The approach I will take is to always take the cluster down, then to start on top of the existing data with mixed binaries. Thus, the approach will **not** test e.g. just taking down `vtgate` and bringing up a newer `vtgate`. We can strive to do that, too, at some point in the future. For now the approach I'm suggesting is easiest.

I _think_ we may be able to squeeze in all of th

[2021-01-24 07:12] shlomi-noach opened #7362 "Tracking issue: VReplication throttling"
We wish to introduce throttling in VReplication to avoid overwhelming the databases with reads/writes.

VReplication's current behavior is greedy: if it can read table data, it will read it and push downstream. If it can read binary logs, it will, and push downstream. If it can pull wither table data or binary logs from upstream, it will, and write them onto the database.

In the current design, t

[2021-01-24 07:13] shlomi-noach commented on #7362
#7319 introduces a `/throttler/check-self` test, where each tablet (primary, replica, any) runs its own throttler mechanism to self check its own lag. This is true also for primaries as illustrated in the PR comment.

[2021-01-24 07:14] shlomi-noach commented on #7362
#7324 extends #7319 and adds source-side throttling based on `/throttler/check-self`.

[2021-01-25 04:16] deepthi commented on #7344
That approach should be fine.

[2021-01-25 04:18] #7356 closed

[2021-01-25 07:16] shlomi-noach commented on #7344
See https://github.com/vitessio/vitess/pull/7368 for partial upgrade tests

[2021-01-25 09:00] frouioui commented on #6995
Hello! 👋🏻 The result is supposed to be an aggregation of all VTTablets, or taken from a pseudo-random VTTablet?

[2021-01-25 12:58] aberfeldy opened #7371 "vtgate throws invalid table name while table can be queried through mysql"
#### Overview of the Issue

Migrated some dbs to a vitess cluster (mysql 5.7). When I query through the vtgate I get
`ERROR: vtgate: http://db-zone1-vtgate-xxxxxxxxxxx: invalid table name: db.Language`

When connecting to the mysql client with user vt_dba directly I get the proper response.
[code]
Is it due to Language actually being a reserved keyword in mysql that vtgate fails calling the query?

[2021-01-25 18:06] jordw opened #7372 "Exposing rows accessed / rows written as metrics in VTGate"
#### Feature Description

We would like to have a metric exposed from VTGate that is an in memory counter of the aggregate rows accessed and rows written across all queries for the process lifetime.  It is ok for this value to reset to 0 when the process restarts, no persistent state is required.

#### Use Case(s)

The primary use case for this feature is to be able to periodically gather metrics

[2021-01-25 18:46] mcronce opened #7373 "With sql_mode=NO_ZERO_DATE, nullable TIMESTAMP columns with DEFAULT NULL are rejected"
#### Overview of the Issue
Discovered while testing Laravel, but isn't Laravel-specific

When we have `sql_mode` set to include `NO_ZERO_DATE` and attempt to create a table with a nullable `TIMESTAMP` column with `DEFAULT NULL` (implicit or explicit), the DDL is rejected with error 1067 "vttablet: rpc error: code = InvalidArgument desc = Invalid default value for 'timestamp' (errno 1067) (sqlstate

[2021-01-25 18:49] sougou commented on #7371
It's likely that the table is not in the vschema. Take a look at https://vitess.io/docs/user-guides/vschema-guide/unsharded/.

We should keep the issue open. I think vitess should also create the vschema entry automatically when a `create table` is issued. That will be a better user experience.

[2021-01-25 18:54] aberfeldy commented on #7371
well I applied a vscheme with `vtctlclient ApplyVSchema -vschema="$(cat vscheme_init.json)" db` which contained something like the following, so I'd expecting the table to be in the scheme. ` vtctlclient GetVSchema db` also shows the correct vscheme containing "Language".

vscheme_init.json:
[code]

[2021-01-25 19:00] sougou commented on #7371
I think it's a problem with escaping. Vitess escaping requirements are not identical to mysql. Can you try back-quoting the table:

[code]

[2021-01-25 19:03] aberfeldy commented on #7371
same result:
[code]

[2021-01-25 19:07] deepthi commented on #7372
We have an existing metric for rows accessed (from vtgate's `/metrics` endpoint)
[code]
Does this look like the right granularity? It can then be aggregated per-keyspace or over a known set of keyspaces.
We can add a similar one for writes. Something like `vtgate_api_rows_updated`.

[2021-01-25 19:09] deepthi commented on #7372
With joins or aggregate queries, rows_returned from vtgate won't match the total rows_accessed on vttablets. I'll look into adding `rows_accessed` in addition to `rows_updated`.

[2021-01-25 19:12] deepthi commented on #7351
What is your vitess version and mysql version?

[2021-01-25 19:13] deepthi commented on #7355
Fixed by #7357

[2021-01-25 19:13] #7355 closed

[2021-01-25 19:20] dweitzman commented on #7372
Minor nit: tablet rows returned feels like a more accurate name than rows accessed. Rows accessed could be misinterpreted as innodb rows accessed (which at least percona's mysql distribution has a stat for. It can be helpful for tracking down high frequency queries with bad indexes or that do expensive COUNTs)

[2021-01-25 19:53] sougou commented on #7371
In that case, I'll invoke the experts for a drill down.

[2021-01-25 19:57] mcronce opened #7374 "Error 1264 "Out of range value for column" in mysql-haskell client test"
#### Overview of the Issue
Discovered at https://github.com/planetscale/vitess-framework-testing/blob/master/frameworks/haskell/mysql-haskell/src/BinaryRow.hs#L204 - executing a prepared statement with a `MySQLInt8U` (a type created by `mysql-haskell`) set to 255, Vitess seems to be interpreting it as an int64 set to -1.

The error:
[code]

In particular, these three bits seem most relevant: `Out

[2021-01-25 19:57] mcronce commented on #7374
Packet capture for the test (with test steps prior to this one disabled): https://drive.google.com/file/d/1l75MpG8iyovF8ZS-28cfHr7HykJxR7-J/view

I'm fairly sure that the packet that prepares the offending statement is #110; the packet that executes it is #166.  I hope that helps!

[2021-01-25 20:02] mcronce opened #7375 "Error 1064 "InvalidArgument" importing a mysqldump made with default options"
#### Overview of the Issue
As part of the framework test for `mysqldump`, we import backups taken with various permutations of `mysqldump` options.  Currently, a backup of an empty database taken with default options (e.g. `mysqldump -h172.17.0.2 -uroot -ptesting test`) fails with the following error:
[code]

This is the particular query it's bombing out on:
[code]

Tested with `vitess/vttestserve

[2021-01-25 20:03] mcronce opened #7376 "Unable to query information_schema.referential_constraints for DELETE_RULE column without qualifying column name"
#### Overview of the Issue
The `haskell/persistent-mysql` test fails trying to execute the following query (formatted for readability):
[code]

What's interesting is that if I `DESCRIBE information_schema.referential_constraints`, it reports that the column is there.  Additionally, if I add table qualifiers to those two columns, it works:
[code]

#### Reproduction Steps
Pasting the following query

[2021-01-25 20:05] mcronce opened #7377 "Error 1105 "unsupported: cross-shard left join and where clause" querying information_schema on single-shard cluster"
#### Overview of the Issue
In `vitess-framework-testing` this was discovered by the `javascript/typeorm` test, but running a minimal setup (vttestserver running a single keyspace with a single shard and zero replicas) and executing the query with no tables created will throw the error as well

#### Reproduction Steps
[code]

Steps to reproduce this issue, example:
Executing the following query wil

[2021-01-25 20:15] aquarapid commented on #7351
This happens with MySQL 8.0.21 (community) and Vitess 9.0 RC1.  From the MySQL source, mysqldump tries to set that variable unconditionally in newer versions, and there isn't a mysqldump flag to prevent it from doing so.

[2021-01-25 21:10] jordw commented on #7372
I am actually looking for rows accessed instead of rows returned. Rows returned doesn't map to how much work was done by the system to get the result.

[2021-01-25 21:25] jordw commented on #7372
I talked with @deepthi offline, so my last comment can be disregarded and we are aligned.

I have another ask, which is to also be able to collect the storage used by the system as well in a similar manner. Is this possible?

[2021-01-25 21:28] deepthi commented on #7372
Both vtgate and vttablet use very little storage (just log files and such). Are you interested in stats for that, or is it the mysql instance size on disk that is of interest?

[2021-01-25 21:35] jordw commented on #7372
Sorry, I should have been more clear. mysql data size is what I am after.

[2021-01-25 21:37] mcronce opened #7378 "Parsing error/warning caused by AUTO_INCREMENT after PRIMARY KEY on a column"
#### Overview of the Issue
`vttestserver` logs a warning ("ignored error") when issuing a `CREATE TABLE` statement when `PRIMARY KEY` precedes `AUTO_INCREMENT`:

[code]

This was found while testing the Diesel ORM in Rust

#### Reproduction Steps
[code]

#### Binary version
Using `vttestserver`, which doesn't support `-version`, but here's output from `vtcombo` in the same container:
[code]

####

[2021-01-25 21:55] dweitzman commented on #7372
vttablet used read table statistics and upload them as metrics. Sugu refactored schema tracking at some point to make it faster and lighter weight, and one side effect was that it no longer reads that information

Seems like there's an interesting question of philosophy about metrics here: should vttablet poll and upload mysql's statistics, or should vttablet trust that you can or do separately tr

[2021-01-25 22:08] deepthi commented on #7372
for reference, the changes @dweitzman is referring to were made in #5951

[2021-01-25 22:17] mcronce opened #7379 "vtgate: query arguments missing for __vtdbname"
#### Overview of the Issue
When testing `diesel migration run` with [one of Diesel's examples](https://github.com/diesel-rs/diesel/tree/master/examples/mysql/getting_started_step_1), I'm hitting the error from the title:
[code]

The query that aggravated it was `SELECT database()` but when I execute that from the `mysql` CLI, it returns as normal.  I tried setting all the variables that Diesel set

[2021-01-25 22:31] mcronce commented on #7379
https://drive.google.com/file/d/1DHgCTgTWuPPoyOBPJjnr9b6vkaImpoG1/view has the pcap - packet 79 is the request that causes the error

[2021-01-25 22:55] jordw commented on #7372
It seems like such a feature could make Vitess easier to operate.

[2021-01-25 23:00] notfelineit commented on #7372
Is it possible to associate a query with # of rows accessed?

[2021-01-25 23:31] dweitzman commented on #7372
I'm not sure, but one place you can get queries and rows read from disk logged together is the slow query logs. It's only helpful for slow queries and it's a log (not dynamic information available to a client), but it can be useful for identifies queries which can many rows and return few rows

[2021-01-25 23:33] notfelineit commented on #7372
Slow queries are a good start for our use case, that would work.

[2021-01-25 23:36] deepthi commented on #7372
Another way to get this information is from the performance_schema. `events_statements_history` contains N recent completed events (aka queries I presume), and the columns include `sql_text` and `rows_examined`.

[2021-01-26 08:29] shlomi-noach opened #7382 "CI job 'analyze_check_runs` fails on checkout@v2"
Sample failure: https://github.com/planetscale/vitess/actions/runs/510107429
[code]

since `checkout@v2` is used everywhere at all times, I suspect the issue is with the `metrics` branch.

Assigning myself.

reported by @aquarapid
cc @deepthi

[2021-01-26 15:03] shlomi-noach commented on #7382
Another error we see is:
[code]

which is due to the fact we're sending the file content as an argument; we should move it to attached file.

[2021-01-26 21:08] eslocombe opened #7388 "mixed version mysql topology - results in broken replication 5.7-->5.6 schema_migrations table"
#### Overview of the Issue

I am in the middle of upgrading from percona server 5.6 to 5.7.  Upon going live with the 5.7 side, a table is created for schema_migrations, which breaks replication due to ROW_FORMAT not being included in the statement. This is weird because, this table did not exist prior to toggling to 5.7.  I see this table created within https://github.com/vitessio/vitess/blob/mas

[2021-01-26 21:24] eslocombe commented on #7388
Noting: the replication error is of course: `Index column size too large. The maximum column size is 767 bytes.` due to row format defaults

[2021-01-27 02:45] deepthi opened #7389 "Regression: TabletTypeCount is not incremented during tablet startup"
#### Overview of the Issue
We need to add 1 to `statsTabletTypeCount` in `exportStats`
https://github.com/vitessio/vitess/blob/72b75d276932796e8b14b385d2570f1cade90496/go/vt/vttablet/tabletmanager/tm_init.go#L635

#### Reproduction Steps
Look at `/debug/vars` on any vttablet after bringing up a vitess cluster. TabletTypeCount will be 0, it should be 1.

[2021-01-27 02:45] deepthi commented on #7389
This is only an off by 1 error, so no need to backport.

[2021-01-27 05:30] shlomi-noach commented on #7382
#7386 seems to have fixed the issue.

[2021-01-27 05:30] #7382 closed

[2021-01-27 05:48] shlomi-noach commented on #7388
@eslocombe thank you for the report and for the suggested fix! The fix is already in `master` branch:

https://github.com/vitessio/vitess/blob/f8c0583edd3abd7d231de36e09b7e1c38bf92096/go/vt/vttablet/onlineddl/schema.go#L49

per https://github.com/vitessio/vitess/commit/129c88ed25dbdbd5d741146f11d5033f62492e6d

in the form of a partial index. The fix was made after `v8.0.0` and is included in `v9.0

[2021-01-27 05:52] shlomi-noach commented on #7388
On a related note, this is a reminder that our `WithDDL` mechanism is flawed. Schema changes made in code are only caught by `WithDDL` when a query that accesses a table gets a schema-related error (like "missing column" etc.); but `WithDDL` does not catch changes like adding/removing/modifying an index, or changing a datatype from `int` to `bigint`. I've been meaning to address that, I'll take a

[2021-01-27 07:40] shlomi-noach opened #7392 "Fix & Improve WithDDL by introducing a schema version backend table"
Some of vitess's own features use backend tables for persisting state. Right now these are multiple vreplication tables, `schema_migrations`, `heartbeat`. The number of tables can grow in time.

Each of these tables has a schema, and naturally new developments require changes to the schema. The issue is to resolve schema changes required by Vites's own code.

[WithDDL](https://github.com/vitessio/

[2021-01-27 07:54] jmoldow commented on #7392
What is the need for persisting the checksum, vs. dynamically computing the current checksum by dumping the current schema?

[2021-01-27 08:12] shlomi-noach commented on #7392
@jmoldow the way our DDL looks like and the way the schema dump looks like are very different. We create an initial table and then add a series of changes (`add` this column, `modify` that column). We work this way because we have to provide the upgrade path from previous version (note: we don't strictly "have to"; we could use a declarative approach rather than an imperative approach, but that'sa

[2021-01-27 08:25] shlomi-noach commented on #7362
Code-wise this is complete now that #7324 and #7364 are merged.

Documentaiton pending.

- https://github.com/vitessio/website/pull/686 is related since #7324 relies on `check-self` throttling.

[2021-01-27 09:44] shlomi-noach commented on #7362
Documentation: https://github.com/vitessio/website/pull/689

[2021-01-27 11:25] #7181 closed

[2021-01-27 13:24] askdba commented on #5362
Started investigating this issue with local docker build against MariaDB 10.4

There were initial errors:

[code]
Later cluster came up as follows:
[code]
Only single tablet serving :
[code]

[code]
Looking further into draft PR https://github.com/vitessio/vitess/pull/7318

[2021-01-27 14:24] shlomi-noach commented on #5362
@askdba can you please illustrate the steps to reproduce? I want to look at the `ApplySchema` command you executed. How did you build and what did you rnu, exactly?

[2021-01-27 14:46] GuptaManan100 opened #7396 "Missing Error Number in CREATE DATABASE command"
#### Overview of the Issue

In case of a `CREATE DATABASE` command and the database already exists, we do not send an error message number that is used by rails in `rails db:setup` command.

[2021-01-27 15:45] askdba commented on #5362
@shlomi-noach  steps to build MariaDB 10.4

- Edit and add mariadb104 flavor to Makefile
- Edit and add mariadb104 to docker/base/Dockerfile
- Edit and add mariadb104 to docker/local/Dockerfile
- Create docker/bootstrap/Dockerfile.mariadb104 file (copy from mariadb103)

make docker_local
run.sh using that hash that make generates.

I will create a draft PR so you can see my changes. I'm also testi

[2021-01-27 15:46] harshit-gangal commented on #7371
Have you used VReplication for migration?

[2021-01-27 15:51] aberfeldy commented on #7371
No, just imported sql dumps after a bunch of `CREATE TABLE`'s

[2021-01-27 16:07] harshit-gangal commented on #7371
Can you add Build* variables from vtgate UI?

[2021-01-27 16:11] harshit-gangal commented on #7371
Also, have you set Autoincrement sequence table on Vschema?

[2021-01-27 17:18] jmoldow opened #7399 "Feature Request: Build/publish v9.0.0 and latest for hub.docker.com/r/vitess/vtctlclient"
#### Feature Description

Publish the `v9.0.0` tag for hub.docker.com/r/vitess/vtctlclient .

On an ongoing basis (similar to what is done for `vitess/lite` and `vitess/base`), publish the `latest` tag for hub.docker.com/r/vitess/vtctlclient after merges to HEAD.

#### Use Case(s)

Being able to `docker pull vitess/vtctlclient:$version` and `docker run vitess/vtctlclient:$version` on your local de

[2021-01-27 17:43] aberfeldy commented on #7371
"BuildGitBranch": "master",
"BuildGitRev": "0ca4f9937",
"BuildHost": "14a7573ba298",
"BuildInformation": {"14a7573ba298.vitess.1611550390.0ca4f9937.master.0": 1},
"BuildNumber": 0,
"BuildTimestamp": 1611550390,
"BuildUser": "vitess"

no, it's just the table names in the vschema

[2021-01-27 17:52] sougou commented on #7392
The use case where the schema went back to the old snapshot was reported by @dweitzman. What happened was that they lost the database and restored it from the backup, without restarting vttablet. This caused an outage.

Those days, we used to allow all kinds of things: unprovision vttablet and later assign it to a different keyspace, etc. We are a lot more opinionated now. So, maybe we can now req

[2021-01-27 18:14] rbranson commented on #7372
Should this actually be bytes, since a row can vary in size pretty dramatically? i.e. pulling 1,000 rows from a table of {integer, integer, integer, integer} isn't anything like pulling 1,000 rows that average out to multiple kilobytes.

[2021-01-27 18:55] gordonyoon opened #7400 "feature request: VTGate support for retrieving GTIDs from shards"
#### Feature Description

Expose a VTGate command that retrieves the GTID of a given shard.

Our current solution is to run the following commands:
[code]

#### Use Case(s)

We have a query-cache system that relies on the VGTID passed through VStream. From the query-cache, we get the current GTID for a shard and apply messages from VStream based on the relative position of the VGTID to the one ret

[2021-01-27 19:02] jmoldow opened #7401 "Feature Request: slim down the release build Docker images for hub.docker.com/r/vitess/vtexplain"
#### Feature Description

At https://hub.docker.com/r/vitess/vtexplain , the image for tag `v9.0.0` is 2.75GB.

Somehow, the `latest` image manages to be only 56.4 MB, which is much more reasonable.

The Dockerfile definitions are different for some reason. Compare these two:

- https://hub.docker.com/layers/vitess/vtexplain/latest/images/sha256-0e3d3a69394a6562ab06e5a04bf2405ddd0ff7f88a1d835c75c7

[2021-01-27 19:06] gordonyoon opened #7402 "feature request: add a loose upper bound for skew amongst shards in VStream based on timestamps"
#### Feature Description

VStream currently has no coordination amongst shards for ordering. Although we do not want a strict ordering of messages across shards, we would like some light coordination (something like an upper bound of 1 second) such that transactions executed at approximately the "same time" are sent closely together in VStream.

#### Use Case(s)

We have a query-cache system that

[2021-01-27 20:20] jmoldow commented on #7401
The slim Dockerfile build in `:latest` matches the definition in https://github.com/vitessio/vitess/blob/master/docker/k8s/vtexplain/Dockerfile . So I'm not sure where the bulky versioned images are coming from. Are we doing a full build of the Vitess service, and uploading it as if it were just `vitess/vtexplain`?

[2021-01-27 22:29] eslocombe commented on #7388
Ok, thanks for looking @shlomi-noach !

[2021-01-27 22:44] artemvovk commented on #7225
here's one. The problem I ran into is that a lot of `enum` columns had `''` values (due to mysql happily swallowing invalid `enum` value writes)

[code]

[2021-01-27 23:10] #7389 closed

[2021-01-28 00:20] ajm188 opened #7403 "Migrate topo management commands to VtctldServer"
#### Feature Description

Migrate the following vtctl commands to the new vtctld server:
- [ ] `ChangeTabletType`
- [ ] `CreateKeyspace`
- [ ] `CreateShard`
- [ ] `DeleteKeyspace`
- [ ] `DeleteShard`
- [ ] `DeleteTablet`
- [ ] `GetShard`
- [ ] `RemoveKeyspaceCell`
- [ ] `RemoveShardCell`

[2021-01-28 04:47] shlomi-noach commented on #7392
If we're good to assume the schema cannot change during the lifetime of the tablet, then we may just try the brute force approach: force-apply the schema upon vttablet startup without even checking.

[2021-01-28 04:50] dweitzman commented on #7392
Doesn't ring a bell for me, so it may have been someone else

[2021-01-28 05:44] shlomi-noach opened #7405 "command line flags: dashes and underscores synonyms"
As pointed by @deepthi [here](https://github.com/vitessio/website/pull/686) we have a mixture of dash and underscore in our command line flags. Examples:

https://github.com/vitessio/vitess/blob/4fea10e8718e4285f1a1c2675cb85ed458ba4565/go/cmd/vttablet/vttablet.go#L51-L52

https://github.com/vitessio/vitess/blob/4fea10e8718e4285f1a1c2675cb85ed458ba4565/go/vt/vttablet/tabletserver/tabletenv/config.g

[2021-01-28 05:46] shlomi-noach commented on #7405
https://github.com/vitessio/vitess/pull/7406 as an example

[2021-01-28 06:52] shlomi-noach commented on #7362
code and documentation are merged, functionality is complete for now and no plan for further work at this time.

[2021-01-28 06:58] harshit-gangal opened #7407 "Drop table statement fails with parsing error"
Fails on master:
[code]

Need to support drop syntax

[code]

[2021-01-28 10:42] #7396 closed

[2021-01-28 11:16] rohit-nayak-ps commented on #7282
Fixed by #7297

[2021-01-28 11:16] #7282 closed

[2021-01-28 11:19] rohit-nayak-ps commented on #6979
Fixed in #7169

[2021-01-28 11:19] #6979 closed

[2021-01-28 11:20] rohit-nayak-ps commented on #6955
Closed via #6981

[2021-01-28 11:20] #6955 closed

[2021-01-28 11:23] rohit-nayak-ps commented on #6951
Validation added in MoveTables/Reshard v2 to ensure that copy state has been completed before switching traffic.

[2021-01-28 11:23] #6951 closed

[2021-01-28 11:26] rohit-nayak-ps commented on #6851
This was fixed earlier in both v1 and v2 workflows

[2021-01-28 11:26] #6851 closed

[2021-01-28 11:28] rohit-nayak-ps commented on #6558
This is no longer happening

[2021-01-28 11:28] #6558 closed

[2021-01-28 11:31] rohit-nayak-ps commented on #5725
Fixed via #5775

[2021-01-28 11:31] #5725 closed

[2021-01-28 11:33] rohit-nayak-ps commented on #5869
This has since been added: we check every stalled stream every 5 seconds

[2021-01-28 11:33] #5869 closed

[2021-01-28 11:36] rohit-nayak-ps commented on #4579
This is implemented in the VStream API provided by VTGate and there is already a Debezium adapter.

[2021-01-28 11:36] #4579 closed

[2021-01-28 11:48] rohit-nayak-ps commented on #6850
Already fixed.

[2021-01-28 11:48] #6850 closed

[2021-01-28 11:52] rohit-nayak-ps commented on #6480
Fixed via #6497

[2021-01-28 16:02] #7301 closed

[2021-01-28 22:06] aquarapid commented on #6389
I am fine with closing it;  and re-opening if we run into it again.

[2021-01-28 22:06] #6389 closed

[2021-01-29 01:33] aquarapid opened #7408 "Querying information_schema does not work for combination of table_schema and table_name filter."
Environment:
  * Vitess Release 9.0
  * Standard unsharded local testing environment.
  * Back-end MySQL version 8.0.21 (Community)

Issue:
  * This query of I_S with only a table_schema filter works fine:
[code]
  * Similarly, this query also works fine (there is no table called `foo` in this instance):
[code]

  * **However**, combining the two filters does **not** work:
[code]

The error seen i

[2021-01-29 12:24] harshit-gangal commented on #7371
I added and e2e and the test passed.
https://github.com/planetscale/vitess/compare/0ca4f9937...planetscale:language-table-test

[2021-01-29 15:10] hallaroo commented on #6616
Closing this in favor of the issue opened here: https://github.com/vitessio/vitess/issues/7362

[2021-01-29 15:10] #6616 closed

[2021-01-29 16:39] aberfeldy commented on #7371
So I ran your test against our vtgate, to see what it does:
[code]

So I tried on another vitess cluster running the v8.0.0 docker images and voila it works. Tuning down the db cluster from :latest to :v8.0.0 and it also works there (test runs with OK against v8.0.0). Should have tried that before...
But still I'm wondering what went wrong. Even rebuilding the cluster with the latest tag and apply

[2021-01-29 23:36] hallaroo commented on #6761
Closing PR where monitoring was re-added: https://github.com/vitessio/website/pull/644

[2021-01-29 23:36] #6761 closed

[2021-01-30 08:49] harshit-gangal commented on #6995
random vttablet should be good enough.
The logic generally used is if there is default keyspace set then sent to anyshard anytablet on that keyspace otherwise choose anykeyspace and do the same. You can look into other show query planner.

[2021-01-30 18:13] harshit-gangal commented on #5205
The version needs to be set correctly on deployment using vtgate flag.

[2021-01-30 18:13] #5205 closed

[2021-01-30 18:25] harshit-gangal commented on #5402
Lock/Unlock tables will be ignored with a warning message.

[2021-01-30 18:25] #5402 closed

[2021-01-30 22:17] deepthi opened #7415 "RowsAffected is incorrect"
#### Overview of the Issue

We are setting RowsAffected on a query result to the number of rows returned.
This is incorrect. According to the mysql C-API, `mysql_rows_affected()` returns the number of rows affected by a DML.
It is not considered relevant for queries, and gets set to -1.

#### Reproduction Steps

Unit test query_test.go:
https://github.com/vitessio/vitess/blob/master/go/mysql/query

[2021-01-30 22:20] deepthi opened #7416 "TestQueries hangs on failure"
There are two problems with query_test.go.
- If a test fails, it hangs. As far as I can narrow it down, when a test fails in this code block, it doesn't complete processing and just hangs https://github.com/vitessio/vitess/blob/master/go/mysql/query_test.go#L677
- A less serious stylistic issue is that it is still using `t.Fatalf` and `t.Errorf`. It will be nice to move it to use assertions.

[2021-01-30 22:22] deepthi commented on #7372
Depends on #7415

[2021-01-31 01:01] deepthi commented on #7372
To start with, let us limit this to `RowsAffected` so that we have a counter that works for DMLs similar to `RowsReturned` for non-DMLs.

[2021-01-31 01:09] deepthi commented on #7401
As I suspected, the build configuration on dockerhub was wrong. For release tags, vtexplain was being built from the main Dockerfile instead of the vtexplain version of the Dockerfile.
I have fixed the build configuration and will trigger a build as soon as dockerhub lets me do that.

[2021-01-31 01:14] deepthi commented on #7399
I have updated the configuration on dockerhub. There should be a `latest` build soon-ish.
Yet to figure out to trigger a build on a branch without pushing to it.

[2021-01-31 01:47] deepthi commented on #7401
I have pushed a new `vtexplain:v9.0.0`. Please try it out and let me know if it doesn't work.

[2021-01-31 01:48] deepthi commented on #7399
I have pushed a `v9.0.0` image. Please try it out and let me know if it doesn't work.

[2021-01-31 01:59] jmoldow commented on #7399
Thank you @deepthi ! I was able to `docker pull` the `latest` and `v9.0.0` tags.

There seem to be other images that are in the same boat that `vtctlclient` used to be in:
[code]

Most of these (besides `vtexplain` and now `vtctlclient`) haven't been updated since `v8.0.0`. I don't know what the use-cases of these images are (since I believe `lite` contains most/all? of these components), so I don

[2021-01-31 02:02] deepthi commented on #7399
I'm not sure what the history is, and why specifically after 8.0.0 they stopped getting updated.
Maybe @dkhenry knows, otherwise I will look into it.
Historically a lot of these "small" images were used by helm charts. Maybe they aren't required now that helm charts have been deprecated.

[2021-01-31 02:05] jmoldow commented on #7399
Confirmed that I can `docker run vitess/vtctlclient:v9.0.0` and issue commands successfully to my `vtctld` service.

[2021-01-31 02:29] jmoldow commented on #7401
`docker pull vitess/vtexplain:v9.0.0` and `docker run vitess/vtexplain:v9.0.0` seem to be working, thanks!

[2021-01-31 06:27] derekperkins commented on #7399
I forgot to push them when 9.0 was released. 😬 The history is that they predate Vitess actually cutting any releases, so I starting tagging them manually with "helm" tags since the project went years without official releases. There's a bash script here that does it https://github.com/vitessio/vitess/blob/master/helm/release.sh. Then the planetscale operator was released and started using the lite

[2021-01-31 06:29] derekperkins commented on #7399
That's exactly what it was used for in the helm charts: https://github.com/vitessio/vitess/blob/master/helm/vitess/templates/_cron-jobs.tpl

[2021-01-31 06:43] derekperkins commented on #7399
Regarding #7401 and vtexplain, that didn't exist when I made the original `docker/k8s` directory, which is why its Dockerfile is different from the others. Whoever put it in there probably didn't want to mess anything up with the `k8s` tag, so it pulls directly from `base` rather than building off of `k8s` like the rest of the images in that directory.

Side note, `lite` is a terrible name and we

[2021-02-01 05:50] harshit-gangal commented on #7371
I have very less information about images.
@deepthi what do you think?

[2021-02-01 11:13] askdba opened #7424 "Update Install Vitess guide for homebrew"
Update Install Vitess guide for homebrew as https://github.com/Homebrew/homebrew-core/pull/69824 allows Vitess 9.0.0 to be installed on macOS via `brew install vitess` .

[2021-02-01 12:07] harshit-gangal commented on #5858
default is on for quote-names. I think it should not be an issue.

[2021-02-01 17:19] harshit-gangal commented on #6861
As reserved connection is not a pool in itself it does not need to be bound and mysql will be able to bound the total number of connections that can be open to it.

[2021-02-01 17:19] #6861 closed

[2021-02-01 17:20] #6171 closed

[2021-02-01 18:30] aquarapid commented on #7408
For the record the query mysqldump issues that fails is:  ```SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE table_schema = 'performance_schema' AND table_name = 'session_variables''```

[2021-02-01 18:37] aquarapid commented on #5876
This seems to be fixed in 9.0 (daa6085). No more errors/warnings are reported.  Closing.

[2021-02-01 18:37] #5876 closed

[2021-02-01 18:44] aquarapid commented on #5729
Just to confirm this is still an issue in 9.0 (daa6085);  with updated stacktrace:

[code]

[2021-02-01 18:51] aquarapid commented on #5600
This seems to work in vtexplain with Vitess 9.0 (daa6085).  Closing.

[2021-02-01 18:51] #5600 closed

[2021-02-01 18:56] aquarapid commented on #5570
@lishinho I just saw this comment today;  yes;  since vttablet is doing connection pooling at the backend, the vtgate username/passwords are unrelated to the actual MySQL usernames/passwords vttablet are using.

[2021-02-01 20:11] hallaroo commented on #5318
Short term fix PR: https://github.com/vitessio/website/pull/696 to update the documentation with the caveats here

[2021-02-01 21:49] hallaroo commented on #5858
Additional tracking of issues:

- https://github.com/vitessio/vitess/issues/7408
- https://github.com/vitessio/vitess/issues/7351

[2021-02-02 00:26] happi-lee opened #7427 "How Can I import file data to vitess DB?"
I'd like to try a bulk insert operation to Vitess Database. (for a test, before production)
 I noticed in the page below that vitess supports the 'load data' function.
https://vitess.io/docs/reference/compatibility/mysql-compatibility/#load-data-statement

I tried Load data through the Vitess guide document, but it failed with the following error message.

1.in my mysql Database, It worked
 mysql>

[2021-02-02 02:44] ajm188 opened #7428 "Migrate reparent commands to VtctldServer"
Please search the existing issues for relevant feature requests, and use the [reaction feature](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing requests.

#### Feature Description

We've already done `InitShardPrimary` but we still need:
- [ ] `ReparentTablet`
- [ ] `PlannedReparentShard`
- [ ] `EmergencyReparentShard`
- [ ] `T

[2021-02-02 13:29] askdba commented on #7427
Hi, Vitess does not support `LOAD DATA IN FILE` you can either by pass the vtgate and go directly to MySQL backend or use other methods documented here https://vitess.io/docs/user-guides/migration/migrate-data/

[2021-02-02 23:32] #7401 closed

[2021-02-02 23:43] deepthi opened #7433 "Consolidate / fix dockerfiles and docker builds"
#### Overview of the Issue
We have several different docker images we publish on dockerhub which are supposed to be "full" or comprehensive vitess installs: `base`, `lite`, `k8s`.
In addition, we use `k8s` as the base and build small images for individual binaries.

We have a few problems right now
- `k8s` images are used by helm charts, but everyone else uses `lite` images. It will be nice to eli

[2021-02-02 23:45] deepthi commented on #7399
I'm going to close this issue now that we have auto-build setup on dockerhub. I've opened #7433 to track some of the questions/concerns raised here and in #7401.

[2021-02-02 23:45] #7399 closed

[2021-02-03 00:25] derekperkins commented on #7433
How committed are we to sticking with the name `lite`? There have been a number of questions about it in the past. If it is going to contain all the binaries, can we just call it `vitess`?

[2021-02-03 00:54] deepthi commented on #7433
`vitess/vitess`? It would be a breaking change for people who are already using `lite`. That is the main concern.
@enisoc do you want to comment?

[2021-02-03 02:27] derekperkins commented on #7433
Yes, `vitess/vitess`. We can always push the same image to `lite` too. `vitess/lite` isn't memorable and doesn't inspire confidence that you've downloaded the production version of Vitess.

https://hub.docker.com/r/cockroachdb/cockroach
https://hub.docker.com/r/mysql/mysql-server

On a similar note, we're artificially inflating the amount of installation and operational complexity by having all th

[2021-02-03 06:30] #7375 closed

[2021-02-03 07:09] #7408 closed

[2021-02-03 09:11] #7351 closed

[2021-02-03 11:27] rohit-nayak-ps opened #7436 "VReplication: cross-cluster data migration"
## Motivation

Currently the source and target keyspaces for MoveTables need to be in the same Vitess cluster. There are use-cases where we want to move data across clusters.

## Design

VReplication uses a tablet picker component to select candidate source tablets from which to copy data. These are selected randomly from the pool of tablets of tablet types specified while creating the workflow. T

[2021-02-03 12:05] shlomi-noach commented on #7392
Hit an important use case myself just now. Suggested fix is https://github.com/vitessio/vitess/pull/7419/commits/3ba8845ca6547cf7562fbc1e1758bd684d84a9d7 : we use `sync.Once` to just go ahead and apply the schema upon first use of WithDDL. This will ensure adding an index, for example, gets applied.

[2021-02-03 13:53] rohit-nayak-ps opened #7437 "VReplication: pooling vstreamers on source tablets"
## Motivation

In VReplication workflows streams run on target shards pulling data from source shards. When the targets are heavily sharded there could be several concurrent streams across different target shards sourcing from the same source tablets.

Each target stream is associated with a single vstreamer running on the source tablet. Each vstreamer streams all the binlogs by impersonating a re

[2021-02-03 14:11] shlomi-noach commented on #7120
I lean towards requiring existence of `PRIMARY KEY` in the first place. Vitess is opinionated by design, and I think it's against good practices to have tables without `PRIMARY KEY`, so Vitess may just as well enforce a good practice.

[2021-02-03 14:38] msolters opened #7438 "MoveTables - Support on_ddl Configuration"
#### Feature Description

The `MoveTables` command should support, syntactically, a way to instruct Vitess as to how to handle DDLs that are encountered in the resulting vreplication streams.  That is, one should be able to issue a `MoveTables` and specify "ignore DDLs" or "apply DDLs" etc at that time.

#### Use Case(s)

Any time you are moving tables that may have DDLs acting on them

[2021-02-03 21:11] gedgar opened #7441 "EmergencyReparentShard promotes rdonly tablet to primary"
#### Overview of the Issue

I noticed that an rdonly tablet was promoted to primary while testing `EmergencyReparentShard`.

#### Reproduction Steps

1) Run `./101_initial_cluster.sh`

2) `vtctlclient -server :15999 ListAllTablets`
[code]

`mysql -h127.0.0.1 -P15306 -e 'show vitess_tablets'`
[code]

`mysql -S/home/gary/vtdataroot/vt_0000000102/mysql.sock -uvt_dba -e 'select * from _vt.local_metada

[2021-02-03 21:15] PrismaPhonic commented on #7441
Wow, that's definitely a bug if I've ever seen one! Will look into it if I can find the time this week.

[2021-02-04 02:56] deepthi commented on #7441
I scanned through the ERS code and we don't filter out candidates where `tablet_type != REPLICA` which we do in PRS.

[2021-02-04 05:58] harshit-gangal commented on #7371
We have release v9.0.0, can you try the same thing on 9.0 image?

[2021-02-04 06:28] #7415 closed

[2021-02-04 09:26] PrismaPhonic commented on #7441
Oh right. I think we did that because we wanted to design an algorithm that didn't try to infer who the old master was, so we ignored tablet types. Introducing that kind of a catch could break that part is the design.

[2021-02-04 16:12] shlomi-noach commented on #6926
## Online DDL via VReplication

At this time I have clarity as for how this will look like.

On one hand, we will go full native and reuse Vitess existing mechanisms. On the other hand, we break apart from the existing flow in multiple ways.

POC is in #7419 . It is just the beginning of what online DDL via vreplication will look like -- but already has the initial implementation running.

Some de

[2021-02-04 16:23] enisoc commented on #7433
The names `base` and `lite` are historical cruft from when I was still figuring out how to use Docker in the first place, and I think we should move away from them at our earliest convenience. In more modern setups, what we call `lite` is just the normal image; what we call `bootstrap` is something like a `build` image; and `base` does not exist.

In general, I think we should move off of Docker H

[2021-02-04 18:17] marcelo140 opened #7446 "Enforced Semi Sync falls back to async replication"
#### Overview of the Issue

When setting vtorc's `Durability` to `semi_sync` , Vitess sets `rpl_semi_sync_master_timeout` to an unreachable value in order to not fallback to async replication. However, by killing the query after 15s, the transaction is still committed to the storage engine even though it didn't receive any acknowledgement from a replica. This happens both when `rpl_semi_sync_maste

[2021-02-04 18:31] aquarapid opened #7447 "Confusing error message when trying to start transaction in OLAP workload mode"
In Vitess 9.0:  If you switch to `workload=OLAP` and start a transaction (either via, `start transaction` or `begin`) you get a strange error message, e.g.:

[code]

Yes, transactions are not supported in OLAP mode;  but what does that have to do with VSTREAM?

[2021-02-04 19:16] #7447 closed

[2021-02-04 22:28] #7403 closed

[2021-02-05 05:25] jmoldow commented on #7332
Another way to accomplish this, would be if VTGate supported the `WHERE in_keyrange()` construct (which right now, AFAIK, is only supported for VReplication and VStream).

Say we have a pre-combined Vindex column `c`, which is populated by the application as `fn(a) concat fn(b)` (and the Vindex on the combined column `c` is an `identity` vindex). Right now, without a lookup vindex, you couldn't do

[2021-02-05 13:09] askdba commented on #7446
Checking some documentation about this https://mariadb.com/kb/en/semisynchronous-replication/

[2021-02-05 17:55] rohit-nayak-ps opened #7452 "Add ability to start MoveTables in a Stopped state or to stop after the copy phase"
#### Feature Description

1. Add a flag `-start_stopped` to VReplication Workflows that enables the user to create a workflow in a Stopped state. Right now the workflows start running immediately after creation. So only the vreplication streams will be created but no data will be copied.

2. There is an existing feature where a workflow can be started such that it only runs the copy phase. If `sto

[2021-02-05 20:10] deepthi commented on #7372
In #7380, we added a counter for `RowsAffected`. So we now have the following metrics:
[code]
#7444 is in progress, that will provide storage stats.

[2021-02-06 04:00] GuptaManan100 opened #7455 "NOT NULL and DEFAULT do not work together with ALTER TABLE CHANGE COLUMN command"
Initially the column part_number has no default value and can be null.

On running the query `ALTER TABLE product115s CHANGE part_number part_number varchar(255) DEFAULT '0' NOT NULL`
the default value is set correctly but the column is still nullable.

[2021-02-06 04:28] GuptaManan100 opened #7456 "Adding ENFORCED to all check constraints which is not supported in mysql 5.7"
On issuing the statement `ALTER TABLE distributor2s ADD CONSTRAINT zipchk2 CHECK (char_length(zipcode) = 5)` it gets parsed and converted to `ALTER TABLE distributor2s ADD CONSTRAINT zipchk2 CHECK (char_length(zipcode) = 5) ENFORCED` which is okay on mysql 8.0 but not on mysql 5.7

[2021-02-07 01:27] deepthi opened #7457 "Data race in TestCheckMastership"
WARNING: DATA RACE
Read at 0x00c00002ab40 by goroutine 27:
  vitess.io/vitess/go/vt/vttablet/tabletmanager.(*TabletManager).rebuildKeyspace()
      /home/runner/work/vitess/vitess/go/vt/vttablet/tabletmanager/tm_init.go:435 +0x430

Previous write at 0x00c00002ab40 by goroutine 25:
  github.com/golang/protobuf/proto.(*mergeInfo).computeMergeInfo.func24()
      /home/runner/go/pkg/mod/github.com/gol

[2021-02-07 08:55] shlomi-noach commented on #7405
on `vttablet`-side, this is fixed by #7406

I'll proceed to check other apps, namely `vtctld`

[2021-02-07 17:05] ajm188 opened #7462 "[concurrency] ErrorGroup blocks forever when Wait is called with NumGoroutines = 0"
It goes right to the range loop over the channel, which will never hit the `break` or `cancel` conditions, because it will never get a result on the channel.

This was a bug in the original implementation it was extracted from.

[2021-02-07 18:00] #5907 closed

[2021-02-08 04:22] #7462 closed

[2021-02-08 04:36] #7154 closed

[2021-02-09 00:13] deepthi opened #7470 "vttestserver: Allow override of mysql_server_version"
#### Feature Description
By default vtgate presents as `5.7.9-Vitess`. Frameworks that are used to connect to vitess will sometimes modify the queries they send based on the MySQL version. Vtgate has a flag to allow this to be changed if desired (based on underlying MySQL version).
Right now vttestserver does not allow you to override this version so it always pretends to be `5.7.9-Vitess` regardl

[2021-02-09 04:52] empeje commented on #7433
In addition to the issues/comments above, I'd like to add a point-of-view from the documentation side. As someone who is interested in Vitess, I found the documentation shows unnecessary steps. For example, in here, https://vitess.io/docs/get-started/local-docker/ we are encouraged to do `make docker_local` which builds Docker image in our local, I hope there's an out of the box Docker image ready

[2021-02-09 06:01] derekperkins opened #7471 "RFC: Consolidate binaries"
## One Binary to Rule Them All

This came up in #7433 about consolidating Docker images. We're artificially inflating the amount of installation and operational complexity by having all the separate binaries, since the majority of each binary is all the same code and a ton of dependencies. If we had a single binary that "shelled" out to all the existing binaries: e.g. `vitess vtgate`, `vitess vtta

[2021-02-09 06:16] jmoldow commented on #7471
That perhaps makes sense for the images that contain multiple large binaries. But could you still make it such that small client-side binaries remain small, and don't contain all of the unnecessary server-side code? e.g.

[code]

[2021-02-09 08:00] narcsfz commented on #7329
Thanks @sougou - is the concern that the query_log might not be written successfully? It looks like we just do a `fmt.Fprintf` on the query log - are we concerning the case where `fmt.Fprintf` itself fails?

[2021-02-09 08:54] #7456 closed

[2021-02-09 08:59] gedgar opened #7472 "VTGate HealthCheckUpdate failing to update vttablet serving status"
#### Overview of the Issue

Despite receiving SIGKILL, VTTablet still marked as SERVING by VTGate.

#### Reproduction Steps

1) Run ```./101_initial_cluster.sh```
2) Kill rdonly vttablet
[code]

From the vtgate logs, `HealthCheckUpdate` does appear to update the rdonly's serving status to false:
[code]

However, vtgate still shows the rdonly vttablet as SERVING:
[code]

And will still route querie

[2021-02-09 19:36] #7470 closed

[2021-02-09 23:37] jmoldow commented on #7471
I'm not sure what `vtctldclient` is going to be recommended for in the future, but it might also be another candidate to keep small.

[code]

Other small programs, from base:
[code]

[2021-02-10 00:21] #7298 closed

[2021-02-10 01:18] yuluomeng opened #7476 "Add support for `GROUP BY WITH ROLLUP` in the Vitess query parser"
#### Feature Description

We've been slowly migrating our queries over to Vitess, and I think we've run into an incompatibility between Vitess and MySQL that I haven't found documented in the docs or the [unsupported test suite cases](https://github.com/vitessio/vitess/blob/master/go/vt/vtgate/planbuilder/testdata/unsupported_cases.txt) (though there's a chance I may have missed it!). Specifically

[2021-02-10 03:51] aquarapid opened #7477 "DropSources after MoveTables results in apparently empty routing rules; but it isn't?"
Scenario (Vitess 9.0 GA):

   * Two unsharded keyspaces (`keyspace1` and `keyspace2`).
   * Single table with single column, PK:
[code]
  * Insert a few rows into `t1`, with the result:
[code]
  * Start a MoveTables of `t1` from `keyspace1` to `keyspace2`:
[code]
  * Perform `SwitchReads` and `SwitchWrites` (all successful, as expected):
[code]
  * Perform `DropSources` on the workflow (also succe

[2021-02-10 04:30] derekperkins commented on #7471
I think it's reasonable to have a smaller client, and is a reasonable expectation from mysql users. I'd leave it at `vitess` and `vitessclient`.

[2021-02-10 05:01] #7378 closed

[2021-02-10 05:02] #7455 closed

[2021-02-10 05:30] mcronce commented on #7378
:tada: :)

[2021-02-10 09:42] aberfeldy commented on #7371
updated to v.9.0.0 and reimported the db without any issues. Everything looks fine thank you

[2021-02-10 13:14] ajm188 opened #7480 "[vtctl/reparentutil] During ERS, any errors from SetMaster on replica are lost"
#### Overview of the Issue

This was discussed in #7464, and am filing this issue to follow up on [that conversation](https://github.com/vitessio/vitess/pull/7464#discussion_r571687210).

It's described in more detail in the code comments [here](https://github.com/vitessio/vitess/blob/master/go/vt/vtctl/reparentutil/emergency_reparenter.go#L153-L159):

	// there's nothing consuming that error chan

[2021-02-10 14:55] #5371 closed

[2021-02-10 19:31] deepthi commented on #7371
We'll close the issue for now. Please open a new one if you run into this again.

[2021-02-10 21:33] deepthi commented on #7471
I really like this proposal. It will make it much easier for new users to get started with Vitess.

[2021-02-11 08:31] harshit-gangal opened #7482 "Create database if not exists fails for mysqldump"
From mysqldump:

[code]

Fails on Vitess. Ideally it should just ignore it.

[code]

[2021-02-11 08:34] harshit-gangal opened #7483 "Show tables fails on system tables."
[code]
In mysqldump.

`use mysql;` implicitly calls `show tables;`

[2021-02-11 13:07] askdba commented on #7427
Hi @happi-lee are you still struggling with the import of your data?

[2021-02-11 13:28] askdba opened #7485 "RFC : Vitess Issue Severity Levels"
Please search the existing issues for relevant feature requests, and use the [reaction feature](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing requests.

#### Feature Description

In order to improve the quality of the issue queue handling and automation purposes, we’d like to open this RFC. Tags are provided to rate both the

[2021-02-11 17:20] dweitzman commented on #7485
Personally I like human-readable tags. A tag like "release-blocker" seems relatively self-explanatory in comparison to a tag like "p1"

[2021-02-11 23:25] #7452 closed

[2021-02-12 06:02] harshit-gangal commented on #5403
GTID_PURGED is something we do not intent to support and this can be avoided while taking mysqldump with `--set-gtid-purged=OFF`

[2021-02-12 06:02] #5403 closed

[2021-02-12 06:04] harshit-gangal commented on #5858
Two more issues reported:

https://github.com/vitessio/vitess/issues/7483
https://github.com/vitessio/vitess/issues/7482

[2021-02-12 06:37] harshit-gangal commented on #7379
I think it is related to how we handle that query when database is no selected.

mysql:
[code]

vitess:
[code]

[2021-02-12 17:20] narcsfz opened #7489 "Replica exports mysql lag from poller tracker"
#### Feature Description
I think polling mode should be the default replicationTracker config since VTGate uses it to track replica lag and determine which is a healthy tablet.

However, there is no stats reported at tablet to indicate this lag, thus it is hard to observe which tablet is lagging behind in replication.

I think if polling is the default recommendation given how VTGate gateway works

[2021-02-12 18:58] deepthi commented on #5858
As we discussed offline, it is reasonable to not support `mysqldump` with default options as long as we clearly document how to use it.
Documentation that needs to be reviewed/updated:
https://vitess.io/docs/user-guides/configuration-basic/exporting-data/#mysqldump
https://vitess.io/docs/user-guides/migration/migrate-data/

We say we recommend `godumper` but we should document how to use `mysqldum

[2021-02-14 01:01] narcsfz commented on #7489
I think the change is relatively small so it might be easier to discuss through a small PR: https://github.com/vitessio/vitess/pull/7490

[2021-02-15 01:39] #7427 closed

[2021-02-15 06:12] systay opened #7491 "Support SHOW VARIABLES"
#### Feature Description
Today in Vitess, you can change some system variables, like @auto_commit and others (https://github.com/vitessio/vitess/blob/master/go/vt/sysvars/sysvars.go)

When you do `show variables`, the set values are not reflected in the output.

Example:

[code]

[code]

It would be much better if @version is that same between these two calls.

[2021-02-15 06:13] harshit-gangal commented on #7407
The PR is merged.

[2021-02-15 06:13] #7407 closed

[2021-02-15 18:06] jmordica commented on #7476
I have also experienced this.

[2021-02-16 01:00] Santiclause opened #7494 "string values for integer auto_increment columns do not get caught and turned into sequence placeholders by vtgate"
#### Overview of the Issue

When issuing an `INSERT` query to vtgate against a sharded table with a column that uses a sequence for auto increment, vtgate will intercept `null` and `0` values and replace them with sequence placeholders so that the tablet can fill it in from the sequence. String values, however, do not get caught - they just get passed as-is to the tablet, where they subsequently g

[2021-02-16 02:25] indera-shsp commented on #7494
This situation was encountered using https://github.com/typeorm/typeorm

[2021-02-16 06:06] #7379 closed

[2021-02-16 07:12] GuptaManan100 opened #7495 "Parsing for Special Comments"
Add parsing for special comments as in MySQL https://dev.mysql.com/doc/refman/8.0/en/comments.html

[2021-02-16 07:55] harshit-gangal commented on #5858
I think we should document how to move data to Vitess using VReplication and recommend that over go-mydumper or mysqldump

[2021-02-16 08:59] shlomi-noach commented on #6926
It should be possible to `ReloadTable`, like `ReloadSchema` but for a single table. This is desired for online DDL. Reloading an entire schema takes time and we cannot expect to accomplish it within the timeframe of a cut-over. But reloading a single table should be just fine.

[2021-02-16 09:02] shlomi-noach commented on #7322
`sql.go` is code generated by a CC (compiler compiler). @david-sail can you please clarify what the problem is in the first place, is there some functionality missing, or is this just a curious question?

[2021-02-16 10:34] GuptaManan100 commented on #7495
We already support them.

[2021-02-16 10:34] #7495 closed

[2021-02-16 13:37] #6877 closed

[2021-02-16 15:11] bolt-leandro opened #7498 "vtgate: mysql_server_version returns inconsistent results"
#### Overview of the Issue

Setting _mysql_server_version returns inconsistent and different values of reported MySQL version (default “5.7.9-Vitess”).
When trying this, some values/variables get changed while others do not. This confuses some clients which end up sending queries for 5.7 that are not supported in 8.0 (eg: query cache vars).

#### Reproduction Steps

Tested this on both v9.0 binari

[2021-02-16 16:16] askdba commented on #7498
Related discussion in this PR https://github.com/vitessio/vitess/pull/7337

[2021-02-16 20:42] #7480 closed

[2021-02-16 21:29] deepthi commented on #5858
We already have the docs. Maybe we should move the VReplication method to the top and push "stop-the-world" to second place.

[2021-02-17 02:13] gedgar opened #7502 "ListAllTablets exits with error if a cell's topo server is unreachable"
#### Overview of the Issue

`ListAllTablets` exits with an error if _any_ cell's topo server is unreachable.

[code]

Rather exiting after the error, I would expect it to continue to loop through the remaining cells listing their respective tablets.

#### Reproduction Steps

1. Run `./101_initial_cluster.sh`

ListAllTablets:
[code]

Add a cell with a bogus topo server:
[code]

ListAllTablets:
[cod

[2021-02-17 04:58] #7489 closed

[2021-02-17 05:11] narcsfz commented on #7489
@deepthi now that we merged #7490, do you think it worth mentioning somewhere that `polling` should be the default setting for replicationTracker? Or maybe changed the [default example](https://github.com/vitessio/vitess/blob/56d55e3813c3739f8cd0484899caebf760b7e590/config/tablet/default.yaml#L91) to `polling` instead of disabled?

[2021-02-17 06:11] inexplicable opened #7503 "Lingering TabletControl in serving keyspace graph blocks `RebuildKeyspaceGraph` command"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue
While doing `RebuildKeyspaceGraph` we've seen error like:
[code]
and the reason is that the serving keyspace partition has a lingering `ShardTabletControls` entry, even though it's not taking effect.

#### Reproduction Steps

Steps to reproduce this is

[2021-02-17 16:46] bolt-leandro commented on #7498
Noticed an error and corrected it. In last example above, corrected the "THIS IS FROM MYSQLD" and "THIS IS FROM mysql_server_version" comments.

[2021-02-18 02:30] #7503 closed

[2021-02-18 07:25] harshit-gangal commented on #7371
We have found the issue. The fix is here: https://github.com/vitessio/vitess/pull/7511

[2021-02-18 09:00] maZahaca commented on #4511
Hello,

I having the same issue on the latest release (9.0.0).
Apart of this message, I have tables connected to external database. And according to logs vtgate is being restarted multiple times. How can I track this issue to its roots?

[2021-02-18 12:55] harshit-gangal commented on #6604
There are 3 session with VTGate open when consistent lookup is involved.
1. Pre Session
1. Normal Session
1. Post Session

Pre and Post session are used by lookup queries and normal session is used by the original query sent from the client to VTGate.

If an insert query is received, insert on Consistent lookup will happen through Pre session and actual query insert will happen through Normal Sess

[2021-02-18 16:23] shlomi-noach commented on #7471
I'm a fan of this idea. We circled a similar idea internally a few months ago. I'll add some writeup early next week with preliminary thoughts we had.

Somewhat related, we can also work on reducing the binary size. Some initial look I took back when: https://github.com/vitessio/vitess/pull/6578. I've had mixed result with `upx` so I'm sceptic we;d use it, but stripping out strings/debug info make

[2021-02-18 19:24] derekperkins commented on #7471
I'd like to clarify that I don't have any bandwidth to tackle this, I've just had this thought for a while and wanted to start a discussion. This may be a decent project to have an intern start that would help them gain an understanding for the breadth of Vitess.

- [ ] create a new `main.go` binary using Cobra
- [ ] add a subcommand per binary / other `main.go` files in the repo
- [ ] copy all fl

[2021-02-19 14:34] askdba commented on #7502
Verified error with v9.0.0
[code]

[2021-02-19 15:37] guidoiaquinti opened #7521 "Feature - implement flamegraphs UI for Vitess components"
#### Feature Description
Vitess components already expose a `/debug/pprof` endpoint that can be used to extract execution profiles. It could be nice to add an HTTP endpoint directly exposing the `go tool pprof` UI or pre-rendered SVG graphs/flamegraphs.

#### Use Case(s)
Instead of having to dump the profile, use `pprof` or `go tool pprof` we can visualize profiles directly on the browser.

[2021-02-19 21:16] aquarapid opened #7522 "Unbounded memory usage via set command?"
As reported here:

https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=22891

Issuing a `set` command like this https://oss-fuzz.com/download?testcase_id=5127232514424832 will blow out the vtgate memory usage.

Using vtgate from recent master, and a `examples/local/101_initial_cluster.sh` setup:

[code]

Memory usage before (i.e. 39.4 MB RSS):

[code]

Now, connect to vtgate and run the example:

[2021-02-20 21:21] deepthi opened #7525 "Allow plugin implementation for CREATE and DROP DATABASE"
#### Feature Description

We should add support for plugin implementations of CREATE DATABASE and DROP DATABASE.

* The default plugin will return an error (NOT_ALLOWED or something like that).
* For CREATE, if database (keyspace) already exists we return an error, otherwise we call the plugin.
* For DROP, if database (keyspace) does NOT exist, we return an error, otherwise we call the plugin.

##

[2021-02-21 04:49] #7376 closed

[2021-02-21 11:39] shlomi-noach commented on #7471
One of our thoughts was that we could create the single binary, e.g. `vitess`, and then, on top of it, create hard links for all the binaries users expect: `vtctl`, `vttablet`, vtgate` etc. When you invoke such a hard link, the executable name that runs is the hard link's name. thus, in your unified `main()` function you can tell from `args[0]` that this is a `vttablet` execution rather than `vtga

[2021-02-21 19:10] #7483 closed

[2021-02-21 20:13] #7160 closed

[2021-02-21 20:16] jmoldow commented on #7333
Looks like there's work being done to add vtexplain support to vtadmin, starting in #7528 .

[2021-02-22 05:55] systay commented on #7525
The default plugin should return a failure, not a no-op, right?

[2021-02-22 07:57] wangmeng99 opened #7529 "A single column vindex for controlled fanout during prefix queries"
## Feature Description

https://github.com/vitessio/vitess/issues/7332 mentioned a subsharding scheme for a multi-column vindex. In Vitess codebase, many places use `vindexes.SingleColumn` thus supporting a multi-column vindex may require changes beyond just the vindex implementation itself. Instead of a true multi-column vindex, we can choose to support a single column vindex where  a prefix quer

[2021-02-22 12:12] jawabuu opened #7532 "Incorrect Routing to Unmanaged Keyspace for 'SHOW VARIABLE' queries in v9.0.0"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

I am experiencing an issue in v9.0.0 where queries like `SHOW VARIABLES LIKE 'sql_mode'` are being routed to the unmanaged keyspace despite explicitly selecting a managed keyspace.
The cluster consists of the following;
Unmanaged Keyspace - **ext_db**

[2021-02-22 16:28] deepthi opened #7533 "Improve error messages"
#### Feature Description
Right now we produce errors like "no valid tablet", which are accurate but not very helpful. Sometimes the error messages also contain references to internal functions like `execInsertUnsharded`.

- [x] Remove vitess-internal texts from error messages (e.g. function names)
- [x] Every error must have some error code, and should closely match the type of error defined by My

[2021-02-22 16:45] deepthi commented on #7525
Good point. I will edit the description.

[2021-02-22 18:16] derekperkins commented on #7533
This would be very useful to support on the Go driver side. We currently have a ton of text parsing to recreate the original proto error struct.

[2021-02-22 20:03] deepthi commented on #7485
@askdba Let us go ahead and add the severity labels.
@dweitzman we already have P1..P4, but we can add `release-blocker` as another label if desired.

[2021-02-23 05:34] harshit-gangal commented on #7532
routing issue is fixed with #7531

You are seeing no valid tablet on unmanaged keyspace, is that because you do no have a replica setup there?

[2021-02-23 06:12] #7482 closed

[2021-02-23 06:18] jawabuu commented on #7532
Hey @harshit-gangal, you are correct.
I have no replica in unmanaged keyspace.
Only externalmaster.
The issue here is why when selecting replica in managed keyspace, the query is being routed to unmanaged keyspace.
Point to note is that this only affects `SHOW VARIABLE` queries.

[2021-02-23 06:23] jawabuu commented on #7532
@systay @harshit-gangal Thanks for the fix.
When should an image be ready for testing?

[2021-02-23 07:24] jawabuu commented on #7532
Fix confirmed with latest image.
`vitess/lite@sha256:324300f8031f1681bccff73e89cd95e5fe7b1d8045366486079a2f328d98cfb7`
Thanks for the quick turnaround @systay @harshit-gangal
Feel free to close.

[2021-02-23 07:29] #7532 closed

[2021-02-23 07:40] frouioui commented on #7521
Hello, we were planning on adding this feature to [Benchmark V2](https://github.com/vitessio/arewefastyet/projects/1). It is already in our backlog.

Ideally, we will be able to visualize the flamegraphs directly on https://benchmark.vitess.io.

@systay (or others), can we link this issue to the Benchmark V2 board?

[2021-02-23 17:01] rohit-nayak-ps opened #7545 "RFC: Cross-Cluster Data Migration"
## Cross-Cluster Data Migration

#### _Copying tables into Vitess from an  external mysql database or another Vitess cluster_

## Motivation

Moving some or all tables from an external database or another Vitess cluster is currently not supported by the standard vreplication workflows. MoveTables can migrate data from one keyspace to another, but both keyspaces need to be in the same Vitess Cluste

[2021-02-24 15:58] jakon89 opened #7548 "Support for (more advanced) where clause in VReplication"
#### Feature Description

I would like to be able to VReplicate only specific rows that match some criteria. For now, the VReplication filter query has the following constraint blocking us:
[code]

The output of this task should allow using the below query as FILTER for VReplication:
```select * from product where quantity > 13```

#### Use Case(s)

I want to support more complex use cases with VR

[2021-02-24 18:01] deepthi opened #7549 "panic from LFU cache when cache_size is set to 0"
#### Overview of the Issue
[code]
#### Reproduction Steps
Run local example with `queryserver-config-query-cache-size=0` on vttablet and `-gate_query_cache_size=0` on vtgate.

#### Binary version
latest

#### Suggested fix
Don't create the cache at all if cache_size is given as 0.

[2021-02-24 18:01] deepthi commented on #7549
Slack thread with original report: https://vitess.slack.com/archives/C0PQY0PTK/p1613667516376500

[2021-02-24 20:33] deepthi commented on #3701
Closing since we don't plan to fix.

[2021-02-24 20:33] #3701 closed

[2021-02-25 04:17] aquarapid opened #7551 "Document which functional vindex types are capable of mapping NULL values"
Not all vindex types are capable of mapping `NULL` SQL values.

For example, the `hash` vindex type outputs `DestinationNone` for a `NULL` SQL value.  As a result, any vschema that uses a primary vindex of type `hash`, effectively cannot have `NULL` input values for that primary vindex column for any rows.

Other vindex types, such as `xxhash` or `unicode_loose_md5` is happy to map `NULL` values.

[2021-02-25 04:34] #7428 closed

[2021-02-25 21:16] hallaroo commented on #7551
PR opened to document this here: https://github.com/vitessio/website/pull/714

[2021-02-26 07:06] #7491 closed

[2021-02-26 08:36] rohit-nayak-ps opened #7555 "Materialize: allow specifying cells for selecting source tablets"
#### Feature Description
MoveTables and Reshard have the `-cells` parameter that allows the user to specify which cells to select source tablets to replicate from. This should be added to Materialize.

Currently it uses the local cell and if there are no candidates in that cell to replicate from, the streams get stalled.

A couple of other issues around this:
* We may also want to add `-tablet_typ