[2019-11-06 21:38] saifalharthi commented on #5401
Multiple variables can be set like this `mysql> SET SESSION NET_READ_TIMEOUT= 700, NET_WRITE_TIMEOUT= 700;`

[2019-11-07 04:40] derekperkins opened #5416 "Separate transaction_mode default and limit"
Currently the flag `transaction_mode` sets both the default and the limit for 2PC. I would like to enable limited usage of 2PC, but I don't want to change the default away from `multi`. I think there should be 2 separate flags: `transaction_mode_default` and `transaction_mode_limit`. The old flag can set both of those for BC.

[2019-11-07 13:36] systay opened #5417 "last_insert_id is broken"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

The following query was recently made illegal in Vitess (since the merge of #5268)

```SELECT last_insert_id()```

#### Reproduction Steps

Steps to reproduce this issue, example:

1. Deploy the following `vschema`:

[code]

1. Deploy the following `s

[2019-11-07 14:05] morgo commented on #5417
I believe this is a duplicate of: https://github.com/vitessio/vitess/issues/3668

I would love to see it fixed too.

[2019-11-07 14:33] fayak opened #5418 "101_initial_cluster Failed to load slave replication state"
#### Overview of the Issue

While running ./101_initial_cluster.sh after a fresh install, following the documentation on https://vitess.io/docs/get-started/local/, I get those errors:

[code]

And it hangs forever

#### Reproduction Steps

Fresh install of Debian 10 in QEMU/KVM, follow the local instruction and run ./101_initial_cluster.sh

#### Binary version

Archive downloaded and extracted fro

[2019-11-07 14:39] systay commented on #5417
It's not strictly a duplicate - the `last_insert_id` situation took a turn for the worse last week with the change of how it is handled against `dual`.

[2019-11-07 15:26] deepthi commented on #5418
@morgo looks like it isn't able to find the mysql binary:
`Can't find file: './mysql/' (errno: 2 "No such file or directory")`

[2019-11-07 16:11] fayak commented on #5418
[code]

[code]

I don't know how useful this could be

[2019-11-07 16:13] morgo commented on #5418
I can see that MySQL is found - one of the errors is generated by MySQL. I am going to try and reproduce now, and I might ask you for more info if required.

[2019-11-07 16:14] morgo commented on #5418
nvm, I figured it out! You are running the script as `root`. This is not supported by MySQL, but the error in the log is being truncated (it should be written to screen).

If you try again on the same instance, make sure that you delete the VTDATAROOT, because there will be permission errors.

[2019-11-07 17:17] deepthi commented on #5345
Actually you can't use both `--defaults-file` and `--defaults-extra-file` with xtrabackup:
[code]

[2019-11-08 00:04] morgo commented on #3778
The content will appear as a user-guide shortly: https://github.com/vitessio/website/pull/351

[2019-11-08 02:44] morgo opened #5421 "Remove unused binary + establish distribution list of programs"
#### Feature Description

Currently Vitess produces a lot of binaries, which presumably aren't all used. There is one infact called `unused`, which appears in the packages we distribute:

[code]

We should establish a list of supported programs that need to be distributed in rpms/debs/tarballs and make it consistent. Here is my understanding of where the binaries fall:

[code]

[code]

[code]

[2019-11-08 02:57] morgo commented on #4921
This should be priority #1 for usability, since it makes it easier to write documentation and show examples like changing the topo server to zk/consul (edit the config file.. and done.)

[2019-11-09 19:39] srv-twry commented on #5396
@morgo Hi!
I am willing to work on this if it's available. It'll be my first participation in this project. Can I?

PS: The slack channel invite in the README seems to have expired. Any other way to join the channel?

[2019-11-09 20:24] morgo commented on #5418
Thank you for reporting this issue.

Stronger protection against running as root has been merged to master. It will still be present in 4.0.0 as this build is already out there, but should be made clearer for other users in future.

I am going to close this issue for now.

[2019-11-09 20:24] #5418 closed

[2019-11-09 20:26] morgo commented on #5182
Stronger protection against running as root has been added to the master branch. As such, I am going to close this issue for now.

Please free to followup if you have any further questions. Thanks!

[2019-11-09 20:26] #5182 closed

[2019-11-10 12:03] dmuli commented on #5339
Would like to pick this up if not already taken.

[2019-11-11 01:00] sougou opened #5424 "RFC: File:Position based VReplication"
## Problem Statement

In order to support migration from legacy databases that may not have GTID turned on, there is a need for VReplication to support file:position based tracking.

It is understood that this type of tracking will work only for a single physical mysql source. Replication cannot be automatically resumed from a different source. In the worst case, it is possible to manually figure

[2019-11-11 20:01] parthibd commented on #5411
Faced the same bug today while trying out the examples.

[2019-11-12 03:03] sougou commented on #5424
I'm planning to make the following adjustments to the proposed design:

It turns out that the existing code wasn't handling "Other" events efficiently. In such cases, a GTID is received from the binlog, but it's not immediately sent. This is generally rare, because these are DBA statements like `repair table`. However, it's better to still send the GTID in such cases. This change has been submitte

[2019-11-12 18:48] guidoiaquinti opened #5430 "CreateShard can overload the topology service when used in a big keyspace"
#### Overview of the Issue

When using range based sharding, the current `CreateShard` [implementation](https://github.com/vitessio/vitess/blob/7afc5eea4c53a7c9642dd596dcca261e71722efe/go/vt/topo/shard.go#L273) iterates over the topology service by fetching all the shards in parallel.

At scale, this is an issue as the number of topology lookup scales linearly with the number of `shards` in the `k

[2019-11-12 21:35] derekperkins commented on #3964
Here's a link to a gist @sougou shared a year ago that sounds fairly dated, but who knows

https://gist.github.com/sougou/09d53531c5aa6baeb417cf50476dbe89

[2019-11-12 23:22] morgo commented on #3060
There is another use-case why this is important. In MySQL (depending on platform) the schema name may be case-insensitive. So when you move to vitess, you may get this error.. which won't make sense to you. The semantics are much clearer if the initial selecting of the database fails.

[2019-11-13 08:47] aquarapid commented on #5339
Essentially the same occurs if the vschema refers to a sequence that exists in the SQL schema, but does not (yet) have a matching "tables" entry as type "sequence" in the vschema.  The traceback in this case will point to the exact same place in the code as above.

[2019-11-13 16:41] morgo commented on #2887
Thank you again for the feedback. I have broken some of the action points up into sub-tasks, so I am going to close this issue for now. Please feel free to re-open it if you have followup questions.

[2019-11-13 16:41] #2887 closed

[2019-11-13 16:42] morgo commented on #2810
I have a duplicate issue open for this in the vitessio/website repo ( https://github.com/vitessio/website/issues/352 ). I am going to close this issue to reduce duplication.

[2019-11-13 16:42] #2810 closed

[2019-11-13 16:47] morgo commented on #5019
The Vitess 4.0 release was tagged as v4.0.0, which should address this. I am going to close this issue for now, but please let me know if it doesn't fix it.

[2019-11-13 16:52] morgo commented on #4119
There were some issues with switching it to 5.7 because drivers tried to issue an rpc to refresh the connection (a 5.7 feature). It is now supported, so we should be able to bump it.

[2019-11-13 16:52] morgo commented on #4012
I am going to close this as obsolete. We switched from govendor to go modules.

[2019-11-13 16:52] #4012 closed

[2019-11-13 16:57] morgo commented on #5356
I stumbled across https://github.com/vitessio/vitess/issues/3259 this morning. I think that this is a much better solution to this.

Instead of `etcd-up.sh/etcd-down.sh`, `zk-up.sh,zk-down.sh`, we just have one file for each topo. Then we use a symlink to have `etcd.sh` point to `topo.sh`. If someone wants to change to zk, the instructions will be to move the symlink.

[2019-11-13 17:01] morgo commented on #3229
This has been fixed. We've removed a lot of dependencies now.

[2019-11-13 17:01] #3229 closed

[2019-11-13 17:05] morgo commented on #5007
We can look at doing this in the GitHub actions tests. Currently, they are much faster than the Travis tests, so it's not a high priority.

[2019-11-14 15:44] llibdude commented on #3060
Ok, I see. Because database names are case sensitive in vitess, we should always show them in the proper case so people don't think it's okay to use incorrect casing?

[2019-11-14 15:59] llibdude commented on #3060
I had commented on the wrong issue and have deleted the message. Please disregard :)

[2019-11-14 20:29] mcronce commented on #5166
Piwigo mostly works, but _some_ operations fail, looks like #3904

[code]

The same query without `SQL_CALC_FOUND_ROWS` works fine.

[2019-11-14 20:33] saifalharthi commented on #5166
@mcronce We have an issue for `SQL_CALC_FOUND_ROWS` https://github.com/vitessio/vitess/issues/3904

[2019-11-14 20:43] rajveerappan commented on #3904
FYI, FOUND_ROWS is deprecated as of MySQL 8.0.17:
https://dev.mysql.com/doc/refman/8.0/en/information-functions.html#function_found-rows

[2019-11-14 21:09] mcronce commented on #5166
I see Django mentioned in the original issue but didn't find anything that seemed to call this out specifically

Trying to run Mayan EDMS, which is Django-based, results in the following on startup:

[code]

[2019-11-14 23:59] mcronce commented on #5166
Firefly III, which is built on Laravel, fails to install/migrate with the following query:

[code]

#5394 is probably the cause

[2019-11-15 00:10] mcronce commented on #5166
Kimai 2, whose database interaction is done through Doctrine as part of the Symfony framework, fails to install with a virtually identical query

[2019-11-15 09:50] tanjunchen opened #5438 "The following urls are invalid.They will return 404 when looking for them."
vitess/docker/README.md
https://vitess.io/getting-started/docker-build/

[2019-11-15 10:00] xichengliudui commented on #5438
assigned to me

[2019-11-19 00:26] enisoc opened #5443 "vitess/lite image has 122MB of unnecessary mysql data files"
The `vitess/lite` Docker image has 122MB of unnecessary mysql data files:

[code]

These probably come from the default database that gets initialized when we install mysql-server through a package manager. We should be able to avoid saving these if we delete them in the same `RUN` statement as the package installation.

[2019-11-19 00:32] morgo commented on #5443
I think this is a good suggestion. I don't think we ever use this mysql install, since mysqlctl initializes new databases.

[2019-11-19 20:00] dweitzman opened #5445 "Tablet streaming health can lose current state"
We had several vtgates in a test environment fail to notice that some tablets were healthy. The gates all recognized the tablet as healthy a few hours later.

I don't know if this is a cause, but I do notice that TabletServer.BroadcastHealth() writes to a channel of 10 size for each vtgate connection to the tablet but doesn't write anything or block if the channel is full.

It seems like it would

[2019-11-19 22:35] enisoc opened #5446 "sqlparser: Normalizer doesn't completely normalize negative numbers"
A user has reported seeing unexpected output from the query normalizer. A query containing a negative number like `... WHERE x = -83.111` gets normalized to something like `... WHERE x = -:vtg1` with bind var `vtg1` equal to `83.111`. The negative sign has been treated as part of an expression around the value rather than as part of the value itself.

According to @sougou, this is semantically fin

[2019-11-20 01:17] guidoiaquinti opened #5447 "Add support for IMDSv2 (EC2 Instance Metadata Service)"
#### Feature Description
AWS just announced the release of a new version of the EC2 Instance Metadata Service (now IMDSv2).

You can find more info in the blog post [here](https://aws.amazon.com/about-aws/whats-new/2019/11/announcing-updates-amazon-ec2-instance-metadata-service/) but the tl;dr; is that it adds several security enhancements.

The AWS SDK for go [has been already patched](https://gi

[2019-11-20 17:56] karancode opened #5449 "Slack invitation link is no longer active."
[Slack workspace](https://bit.ly/vitess-slack) link seems to be expired. 😢

[2019-11-20 18:31] morgo commented on #5449
Thanks for the bug report. It looks like there are two occurrences in vitessio/vitess, and none in docs:
[code]

[2019-11-21 18:21] J0 commented on #5443
Hey @morgo, can I take this issue? I'll get to it after booth duty.

[2019-11-21 18:23] morgo commented on #5443
Go for it!

[2019-11-22 00:02] dweitzman opened #5450 "Fake memory-hungry rows + vttablet == 💥"
I wanted to double-check the error code when a grpc max packet size happens, so I tried running this query:

`select id, repeat('here is some long text', 62000) from table_name limit 1000;`

The tablet tried to use an extreme amount of memory and the linux oom killer ended up doing a sigkill on the process.

Since the tablet crashed but mysql did not, seems like options include:
- Trying to make t

[2019-11-22 04:31] sougou commented on #5450
This was bound to happen some day. We should either introduce a max row size or a max data size limit somewhere.

[2019-11-22 23:38] enisoc opened #5452 "Ghost queries on vtgate"
We noticed that vtgates receiving no actual traffic were showing about 1 QPS of `Execute()` calls according to the `vtgate_api_count` metric. We tracked it down to health checks from an AWS Classic ELB, which connects to vtgate's MySQL port and then immediately closes the connection, just to see if anyone answers.

Every time the ELB closes this connection, vtgate calls `Execute("rollback")` on it

[2019-11-23 00:20] deepthi commented on #5255
@PrismaPhonic should this issue be closed now? Putting `Fixes #<number>` in the PR description will auto-close an issue when the PR is merged.

[2019-11-23 00:39] #5424 closed

[2019-11-23 04:38] PrismaPhonic commented on #5255
Yes it should be.  Closing now.

[2019-11-23 04:38] #5255 closed

[2019-11-24 03:05] sougou opened #5455 "e2e Test Cluster failing"
[code]

[2019-11-25 16:28] mc0 opened #5459 "vtgate: Painpoint with `SELECT DATABASE()`"
#### Overview of the Issue

When running `SELECT DATABASE()` the actual database is returned (from the vttablet) instead of from the vtgate's perspective. This causes weird tooling issues when trying to request the current database and then interact with that database specifically. For example, the mysql cli treats:
[code]
special by requesting the current database after running and then sending a

[2019-11-25 18:04] #5305 closed

[2019-11-25 18:40] J0 commented on #5410
Hey @morgo, as discussed, I'll be taking up this issue.

[2019-11-25 20:46] morgo commented on #5459
Somewhat related:

If `select database()` returns the correct keyspace, there will be more occurrences of https://github.com/vitessio/vitess/issues/5393  as a routing problem. We need to fix both.

[2019-11-25 22:42] J0 commented on #3736
Hey @deepthi can I take this issue?

[2019-11-25 23:30] morgo opened #5462 "etcd 3.4 is not supported"
#### Overview of the Issue

https://github.com/vitessio/vitess/pull/5427 introduced a problem for OSes that ship a newer version of etcd, such as 3.4.

Because we have moved to system-provided etcd, Vitess should work with multiple versions, or give predictable behaviors when revisions are not supported.

[2019-11-25 23:32] morgo opened #5463 "Automated build and release with Github actions"
#### Feature Description

GitHub actions can be used to automate build-and-release with artifact uploading. We should aim to do this with Vitess 5.0 releases. As soon as a tag is created the release process starts.

[2019-11-25 23:34] morgo opened #5464 "helm charts do not work with helm 3.0"
#### Overview of the Issue

We have received feedback that the example helm charts do not work with the latest helm or kubernetes 1.16. This issue is to track the helm issue.

Kubernetes 1.16 will be tracked in #5411

[2019-11-26 01:15] aquarapid opened #5465 "vtexplain non-deterministic behavior when defining a non-vindexed table in a sharded keyspace"
Given the schema.sql file:

[code]

and vschema.json file:

[code]

vtexplain will work as expected:
[code]

However, if an empty `t2` vschema definition is added to the vschema, repeated invocations of the same vtexplain command will give different (i.e. non-deterministic) results.

adjusted vschema.json file:
[code]

broken vtexplain output (run a few times):
[code]

Expected:
  * We should eith

[2019-11-26 03:56] deepthi commented on #3736
@J0 sure!

[2019-11-26 04:03] morgo commented on #5455
Sorry, I missed this. It was fixed in https://github.com/vitessio/vitess/pull/5461

[2019-11-26 04:03] #5455 closed

[2019-11-26 05:13] tanjunchen commented on #5438
remove  url in tables

[2019-11-26 05:54] derekperkins commented on #5410
cc @josephbergevin

[2019-11-26 06:00] derekperkins opened #5466 "mysqlctld: allow setting flags / env vars for mysqld"
We just added tcmalloc / jemalloc to the lite build #5444, but as currently constituted, they can't be easily used. `malloc-lib` is a `mysqld_safe` only option, and for systems without `mysqld_safe` like the default Percona images, there is no way to propagate `LD_PRELOAD` into the child mysqld process.

As discussed with @aquarapid at Kubecon, the only workaround available now is to move `mysqld`

[2019-11-26 16:39] morgo commented on #5466
It would be good to use an `LD_PRELOAD` for the testsuite as well https://github.com/vitessio/vitess/issues/5007

[2019-11-26 17:20] #5449 closed

[2019-11-27 02:11] aquarapid opened #5474 "vtexplain race condition causes failures on slow machines"
On slower hosts, especially where /tmp is on a real filesystem as opposed to faster tmpfs, the following can happen:

[code]

There are some other error variations like:

[code]

The errors are somewhat non-deterministic, since the host might just be fast enough for these not to be seen during every invocation.

Hosts where /tmp is a real filesystem (on spinning disk) and not tmpfs as in most Linu

[2019-11-27 02:12] Johnny-Three opened #5475 "query will hang there when delete pod(or pod is broken)"
#### Overview the issue

Read from replica type role instance.
we have found that if a pod was broken for somehow reason.
the QPS will not run onto the healthy replica node for nearly 8 minutes
(The 8 minutes is what we observed from the online environment,
it may also because of the app set connection broken time or somehow.
actually i can not reproduce the scene that it will continue the query a

[2019-11-27 03:13] #5474 closed

[2019-11-27 05:57] derekperkins opened #5477 "Add new user for general monitoring"
I think it would be generally useful to add a default monitoring user with minimal permissions that cover a standard range of MySQL collection agents. Here is a set pulled from the datadog docs:

[code]

[2019-11-27 08:53] xichengliudui commented on #5438
i think this function has been removed.

[2019-11-27 10:12] tanjunchen commented on #5438
@xichengliudui  agree. @morgo  @sougou  remove these doc about https://vitess.io/getting-started/docker-build/?

[2019-11-27 23:05] #4990 closed

[2019-11-27 23:05] #3866 closed

[2019-11-27 23:05] #5358 closed

[2019-11-28 01:56] morgo commented on #5411
I took a look at this today. There will be a bit of work to do, because the etcd-operator we suggest using also uses the deprecated APIs. It looks like they have a pull request waiting to merge, which worked for me: https://github.com/coreos/etcd-operator/pull/2127

[2019-11-28 03:47] jiameixie opened #5485 "Add mysql57 docker file support for aarch64"
#4657 ## Feature Description

The Dockerfile.mysql57 in bootstrap has no support for aarch64. I'd like to add this support.

#### Use Case(s)

Run containers on aarch64.

#### question
There are two methods. Which one do you prefer?

- new a Dockerfile.mysql57_arm64 file for arm64

- modify the exist Dockerfile.mysql57

If modify the exist Dockerfile.mysql57, there are a lot of changes. It looks l

[2019-11-29 01:25] #5477 closed

[2019-11-29 03:29] morgo opened #5489 "Unit_race failure"
Discovered in https://github.com/vitessio/vitess/pull/5488 : It looks like unit_race is failing, but the script that wraps around it is marking tests as passed:
[code]

[2019-11-29 22:58] #5443 closed

[2019-11-29 22:58] #4119 closed

[2019-11-30 22:18] hwang381 commented on #5345
First time contributor here :wave:
Looks like an easy fix would be to respect the cli interface of `xtrabackup`, add an option to pass in `--defaults-extra-file` and make it mutually exclusive with `--defaults-file`. May I take a look at this if this sounds right to you? @deepthi

[2019-12-01 00:17] #5464 closed

[2019-12-01 00:18] #5462 closed

[2019-12-01 01:22] #5489 closed

[2019-12-02 08:27] irfn commented on #479
@sougou Since you mentioned the possibility of doing this, Lets say If anyone were to think about contributing on this, do you think Vitess can architecturally add postgres as a "backend". Is VTablet and VtGate and other components coupled with mysql implementation?

[2019-12-02 15:32] morgo commented on #5396
@srv-twry sorry for the slow reply. Yes, please feel free to work on it!

The link to the slack channel has been updated.

[2019-12-02 17:07] #4762 closed

[2019-12-02 20:57] J0 commented on #3736
After discussion with @enisoc, we realized that this issue might be obsolete since we switched to go modules. As per the [Go mod](https://github.com/golang/go/wiki/Modules) document, Go mod enforces a module path for each module and the go tool enforces consistency between that declared module path and the import paths used by any consumer.  As such, we might not need vanity urls to enforce paths.

[2019-12-02 22:03] morgo opened #5493 "Data races in go/mysql"
The current race test only tests `go/vt/` and not `go/` because of [this comment](https://github.com/vitessio/vitess/blob/master/tools/unit_test_race.sh#L27-L33):
[code]

It looks like go/cgzip was removed, so we are free to change this. When I did, it looked like there are races which were previously undiscovered:

[code]

[2019-12-02 23:34] #3736 closed

[2019-12-03 02:25] deepthi commented on #5345
welcome @hwang381!
the problem is that we are already invoking xtrabackup with `--defaults-file` so that we can pass in the configuration that we are running mysql with, so we don't really have the choice of allowing `--defaults-extra-file`.

[2019-12-03 04:11] deepthi commented on #4804
Fixed by #5369

[2019-12-03 04:11] #4804 closed

[2019-12-03 21:20] PrismaPhonic commented on #5075
@tirsen I believe the bug you're encountering is one we just fixed.  When you have some free time would you please try this build: https://github.com/planetscale/vitess-releases/releases/tag/fae58cc.

[2019-12-04 00:09] aquarapid opened #5497 "vtgate does not support killing queries"
This would be non-trivial to support, but adding here to track:

  * For long-running queries against vtgate, issuing a CTRL-C in the mysql client will generate a "KILL QUERY X" against vtgate, where "X" is the mysql process list id.
  * vtgate does not support this, and sends back an mysql ERR packet (0xff) with error code 1105 and SQL state HY000, and error message "vtgate: http://localhost:1500

[2019-12-04 02:30] gedgar commented on #5421
Per [this discussion](https://vitess.slack.com/archives/C0PQY0PTK/p1566760326343400?thread_ts=1566598055.316900&cid=C0PQY0PTK), we can probably remove `vtqueryserver`. CC @demmer

[2019-12-04 06:53] irfn commented on #3290
@morgo @michael-berlin

can you explain what you mean by

Isn't the entire code open source.

[2019-12-04 14:32] morgo commented on #3290
You can ignore this. It referred to youtube's internal branch.

[2019-12-04 14:51] morgo opened #5502 "Pack web files and mysql config files into binaries"
#### Feature Description

The examples currently have to refer to VTROOT and VTTOP, because they need to know how to start vtctld while referencing the correct web files:
[code]

And then:
[code]

There are several technologies that allow you to embed web files and produce a single binary. We should look at doing this for both the web files, and `config/mycnf/*` and `config/init_db.sql`.

This wil

[2019-12-04 16:34] morgo opened #5503 "Add golangci-lint to GitHub hooks"
#### Feature Description

At the last Vitess monthly meeting we discussed adding [golangci-lint](https://github.com/golangci/golangci-lint) as a git hook, and the hosted service https://golangci.com/ as a GitHub check.

[2019-12-04 18:52] deepthi opened #5504 "RFC: Expand CellsAlias to allow overlapping aliases"
Since #4767, we have had the concept of CellsAlias which allows vtgate to route replica/rdonly queries to other cells that belong to the same CellsAlias.
There are some restrictions with the current implementation:
- CellsAliases have to be non-overlapping. There can be exactly one partition of the set of cells that is defined using CellsAliases
- vtgate implicitly routes to cells in the same Cell

[2019-12-04 19:28] deepthi opened #5505 "RFC: Semi-sync management"
### Problem Definition
Vitess allows you to optionally use semi-sync at the mysql level for data durability. The behavior is gated by the flag `-enable_semi_sync`. The current behavior of the flag is to set semi_sync to true on MASTER and REPLICA type tablets, but not on RDONLY or other tablet types.

When you have a multi-cell deployment where a cell corresponds to a failure domain, it is desirab

[2019-12-05 02:21] phanimullapudi commented on #4479
I have installed the etcd operator and again made sure its running  - but still same error as @willzhang.

If this project supported in K8s officially ?

[2019-12-05 05:52] aquarapid opened #5508 "Vitess seems to treat inserts with subselects involving DUAL as sharded, even when keyspace is unsharded?"
Schema:

[code]

vschema (unsharded, the only keyspace):

[code]

Now use vtexplain:

This query works:

[code]

However, if we (just) replace the table reference in the select with dual, we get an error:

[code]

I don't see any reason why this shouldn't just work.

The real query is rather more complex, but reduces to this, and there doesn't seem to be a simple workaround.

[2019-12-05 06:23] derekperkins commented on #4479
You probably used helm 3 that doesn't properly install the etcd CRDs.

[2019-12-05 06:23] #4479 closed

[2019-12-05 08:20] Smana opened #5511 "Vttablet is blowing up the memory usage during a sysbench (oomkill)"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

After successfully installing Vitess using the Helm chart, we wanted to run a tpcc bench using sysbench in order to validate that we have acceptable performances.
However during the `prepare` phase of the sysbench we're facing an ever growing memory b

[2019-12-05 09:27] RicardoLorenzo commented on #5335
I' was looking into this and I'm a bit confused. This error is [documented by MySQL](https://dev.mysql.com/doc/refman/5.7/en/server-error-reference.html) and it specifically states which resource limit is reached and its current value.

I believe it could be confusing trying to replace MySQL error messages with others.

Hypothetically, an additional [error code constants can be defined](https://gi

[2019-12-05 09:43] kirs commented on #5019
I think this is still an issue.

[code]

There's no 4.0.0 or 4.0.0 in that list.

[2019-12-05 09:56] physcat commented on #5019
Yes, It looks like the modules are a bit stricter with major versions than I understood.

With the major version the import path needs updating for all the clients.

e.g.
[code]

I think this needs an update of ```go.mod```
[code]
But I've not been able to test this yet.

This will explain the current errors I see:
[code]

[2019-12-05 22:03] mindspin311 commented on #5408
Could really use this as well. Just ran into this trying to do an easy migration to a new database.

[2019-12-05 22:46] sougou commented on #479
There's currently code in various places that deal with Statement Based Replication of mysql, which will be a hindrance. I plan to delete that code as my next project.

Once that is done, vitess will be more db agnostic. After that, the work will mostly be related to vttablets. Impact on other parts will be relatively less.

Rough estimate is likely to be 1-2 person-years of work.

[2019-12-05 23:37] gedgar opened #5516 "Some examples inadvertently pulling in default-fast.cnf"
`default-fast.cnf` sets some unsafe settings specifically for the test-suite. We should clean up these examples that pull it in:

1) `examples/compose/vttablet-up.sh`
We don't need to enforce RBR by including these two extra cnfs; it will default to RBR.
https://github.com/vitessio/vitess/blob/7583ad90af8183cf4393f7fe8bf1774d61578dfc/examples/compose/vttablet-up.sh#L71-L72

2) `examples/helm/*.yam

[2019-12-06 00:45] aquarapid commented on #5508
In 9cd0b11, this still worked.  Bisecting to find where it broke.

[2019-12-06 01:10] aquarapid commented on #5508
27b5aae3f9219bd2bfcad6ff80f8410904996c54 is the commit that broke this.  Looking into whether to revert or try and fix.

[2019-12-06 01:37] sverch opened #5518 "Add ability to disable prometheus metrics that scale based on the number of tables"
#### Feature Description

In https://github.com/vitessio/vitess/blob/master/go/vt/vttablet/tabletserver/schema/engine.go#L69, there are some metrics being scraped that scale based on the number of tables.  If a user creates many tables this increases vttablet memory usage as well as prometheus memory usage.

#### Use Case(s)

A situation where the user is creating many tables but these metrics are

[2019-12-06 01:58] aquarapid commented on #5508
More accurately, PR #5268 broke this.  Reverting the whole thing, for now.

[2019-12-06 03:30] aquarapid commented on #5505
To be clear, DurabilityLevel will default to Cell?

[2019-12-06 04:01] deepthi commented on #5505
Yes. That is current behavior with -enable_semi_sync and we will keep that as default.

[2019-12-06 04:41] vikaskesakar opened #5521 "Blob Support: Not allowing to insert blob more than 7MB of file size"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

Vitess not allowing to insert blob of larger size if database schema contains column of type Long Blob.

#### Reproduction Steps
Try to insert blob size of 12-13 MB of file using MySQL insert query.

#### Log Fragments
Throwing error ER_TOO_MANY_USER_

[2019-12-06 10:17] Smana commented on #5511
Actually after adding the flag `queryserver-config-query-cache-size=1` to the vttablet container flags I don't have the issue anymore (tested twice).
So it seems to be solved by the PR https://github.com/vitessio/vitess/pull/5471
Waiting it to be merged in order to confirm

[2019-12-06 13:09] Smana commented on #5511
Understood, setting up the above parameter configures the underlying mysql with this value:
[code]
Now, I have an ever growing memory usage on MySQL. Need to figure out why.

[2019-12-06 13:31] Smana commented on #5511
Forget about my previous message, these parameter are not related

[2019-12-06 16:21] #5516 closed

[2019-12-06 17:04] demmer commented on #5505
We (Slack) had a somewhat involved discussion about this exact issue the other day.
I have a couple comments on the proposal:

I feel like this is a non-intuitive way to describe the policy as I would interpret a DurabilityLevel of "Cell" to mean that writes are cross-cell. It would be clearer (to me) if the option was more clearly tied to semi-sync and specified the achieved durability level.

Fu

[2019-12-06 23:14] aquarapid commented on #5166
mysqldump actually fails for additional reasons (you can disable the network timeout):

[code]

i.e. we don't support `SET SQL_QUOTE_SHOW_CREATE`.

There's no way to disable that (at least in the mysqldump from MySQL 8.0.18)

[2019-12-06 23:16] aquarapid opened #5522 "Support SET SQL_QUOTE_SHOW_CREATE"
mysqldump fails against vtgate for a bunch of reasons (unsupported features).  We can switch most of these off via mysqldump options, one we cannot:

[code]

i.e. we don't support SET SQL_QUOTE_SHOW_CREATE.

[2019-12-06 23:46] morgo opened #5523 "Flaky unit test: vreplication"
[code]

[2019-12-07 02:20] morgo opened #5524 "Prepared_statement test triggers segfault"
I have had it consistently fail locally when running `make docker_bootstrap && go run test.go -pull=false prepared_statement` for a while.

In https://github.com/vitessio/vitess/pull/5382 I made changes which require a rebootstrap (pulling down new versions of python dependencies etc.) and now it fails in Travis CI as well.

You should be able to reliably reproduce against master as long as you ar

[2019-12-07 19:58] morgo commented on #3659
I believe this issue is still present, but we have been converting tests from Python to Go, and will be finished in the next few months. I am going to close this as won't fix.

(The build guides are no longer requiring python to be installed locally.)

[2019-12-07 19:58] #3659 closed

[2019-12-07 20:00] morgo commented on #3978
I am going to close this as won't fix. We are quickly converting the test suite to Golang, and the contributing guides no longer suggest installing Python to run tests.. so this is a CI only problem.

[2019-12-07 20:00] #3978 closed

[2019-12-07 20:03] morgo commented on #4780
I have been updating the build guides as we trim dependencies. See https://github.com/vitessio/website/pull/372 for a next-generation, where they are quite light.

I also added a dependency_check shell script to the Makefile in https://github.com/vitessio/vitess/pull/5527

I am going to close this issue now, but please feel free to re-open if you feel this is not sufficiently addressed.

[2019-12-07 20:03] #4780 closed

[2019-12-07 20:10] morgo opened #5528 "Add execute as root protection directly into mysqlctl"
#### Feature Description

In https://github.com/vitessio/vitess/pull/5419 I added a check to see if the user was root, and bail.

This relies on the user using the included shell script, which adds complexity and a bit annoying if the user wants to roll their own scripts around standalone vitess binaries.

It would be nice enhancement if `mysqlctl` itself (and possibly other components) checked if

[2019-12-07 20:16] morgo commented on #5502
There is an additional runtime usage for `VTROOT`, and that is the use of hooks. We will need to figure out another answer for this if this variable is to be removed.

[2019-12-07 20:41] morgo commented on #5356
I am going to close this in favor of https://github.com/vitessio/vitess/issues/3259

[2019-12-07 20:41] #5356 closed

[2019-12-07 20:45] morgo commented on #2527
@sougou I think this can be handled by a combination of pt-upgrade and ProxySQL. We don't have to write a new tool :-) There is also vtexplain, which I don't think existed when this issue was opened.

I am going to close this now, but if you disagree feel free to reopen :-)

[2019-12-07 20:45] #2527 closed

[2019-12-07 20:52] morgo commented on #2899
I think long term Vitess should get out of the business of bundling third party binaries. It creates an issue where if there is a lot of surface area for re-packaging on security vulnerabilities etc.  Having said that, ZooKeeper is a bit of a tricky one since it is not always reliably in distros.

In https://github.com/vitessio/website/pull/372 I have changed the bootstrap so that users are encour

[2019-12-07 20:52] #2899 closed

[2019-12-07 20:54] morgo commented on #3112
This will help with support requests as well since we plan to significantly improve SQL support in coming releases.

[2019-12-07 20:58] morgo commented on #3174
This is cleaned up a lot in https://github.com/vitessio/vitess/pull/5527

I suggest that as an alternative fix, we change the bootstrap to be link-less. We can look at further cleanup after 5527 merges and the python tests are all converted to go.

[2019-12-07 21:03] morgo commented on #4396
We have since removed govendor from the bootstrap, and use go modules instead.

I am going to close this issue, but feel free to reopen if you have further questions.

[2019-12-07 21:03] #4396 closed

[2019-12-07 21:08] morgo commented on #4601
I suggest we fix this by not running the bootstrap at all inside the Docker containers. This is unfortunate in that it increases the test execution time, but it will only need to execute once per shard since there is caching.

We can still download go modules in the bootstrap, so the main cost of bootstrap is installing ZooKeeper. We could bring that down by bumping the OS and using distro package

[2019-12-07 21:10] morgo commented on #4505
We are currently doing this. I am planning to automate in https://github.com/vitessio/vitess/issues/5463

I am going to close this issue now, but please feel free to reopen if you have further questions.

[2019-12-07 21:10] #4505 closed

[2019-12-07 21:12] morgo commented on #4701
Unit race is currently flaky again, but I have issue https://github.com/vitessio/vitess/issues/5523 open to cover it. I am going to close this issue now.

[2019-12-07 21:12] #4701 closed

[2019-12-07 21:17] morgo commented on #4373
This relates to the tests in Python. The build guides now no longer recommend running Python tests, and will be enhanced further in https://github.com/vitessio/website/pull/372 .

Because we are also converting these tests to golang, it should be permanently fixed in the next few months. I am going to close this issue as 'Won't fix', but please feel free to re-open if you have further questions.

[2019-12-07 21:17] #4373 closed

[2019-12-07 21:21] morgo commented on #5007
As the python tests are getting converted, some GitHub tests are taking longer to run. I will likely take a look at this in Vitess 6.0 timeframe.

[2019-12-08 19:38] deepthi commented on #5505
@demmer thank you for the feedback. You make some excellent points. I will incorporate them into the proposal.

[2019-12-08 20:34] morgo opened #5530 "flaky unit test: TestHealthCheckTimeout"
I can reproduce this more consistently in my Ubuntu VM which uses the system version of MySQL 8.0 if that matters. But it is a flaky test:

[code]

@deepthi do you mind taking a look?

[2019-12-08 20:41] morgo opened #5531 "failing unit test: vtqueryserver on debian10/mariadb 10.3"
I am getting a consistently failing unit test when running the tests in the included MariaDB 10.3 in Debian 10:

[code]

Because this relates to vtqueryserver, per @gedgar 's comment in https://github.com/vitessio/vitess/issues/5421 we should probably remove this utility and test rather than fix it.

[2019-12-08 20:42] morgo opened #5532 "failing unit test: vttablet/tabletserver/vstreamer on Debian10/MariaDB 10.3"
I am getting a consistently failing unit test when running the tests in the included MariaDB 10.3 in Debian 10:

[code]

@sougou do you mind taking a look?

[2019-12-08 20:53] morgo opened #5533 "test suite requires deprecated GODEBUG=tls13=0 to pass"
<strike>This unit test fails consistently when using go 1.13. As we will plan to upgrade to go 1.13 in the future, we should no doubt fix it:</strike>

The unit test currently has a workaround set in the Makefile, of `export GODEBUG=tls13=0`. This is require for the unit tests to not produce the following error.  According to the [go docs](https://golang.org/doc/go1.13#tls_1_3), this workaround wi

[2019-12-08 20:55] morgo commented on #5521
I think this is a bug because the error message is incorrect. But it could be argued it is a feature request to insert large blog values, since it is less common in OLTP scenarios.

[2019-12-08 21:11] morgo commented on #5530
I got this to fail on macOS with MySQL 5.7 as well. But my machine is not very powerful, so the issue might just be underpowered machines.

[2019-12-09 01:13] morgo opened #5534 "flaky unit test: vt/logutil"
This test fails on macOS with:
[code]

[2019-12-09 01:47] derekperkins commented on #5521
We've inserted near 100 MB blobs into json columns, so there shouldn't be an inherent limitation in Vitess. It did require us to tune the max grpc message size flags in vtgate and vttablet.

[2019-12-09 01:50] vikaskesakar commented on #5521
How to tune max grpc message size flags?

[2019-12-09 01:51] derekperkins commented on #5521
Just setting flags to the binaries. If you check the available flags for the binaries, they're easy to find.

[2019-12-09 01:53] vikaskesakar commented on #5521
Ok thanks. I'll check, if resolved, I will close this issue.

[2019-12-09 02:43] morgo opened #5535 "Add macOS and CentOS local_example tests"
#### Feature Description

The [local_example test](https://github.com/vitessio/vitess/blob/master/.github/workflows/local_example.yml) currently tests the latest Ubuntu LTS (18.04). We should add versions of this for CentOS and macOS, preferably using matrix builds.

This will help catch if there is something specific introduced which breaks other OSes.. which has happened in the past.

[2019-12-09 03:36] xichengliudui commented on #5438
/close

[2019-12-09 04:02] morgo commented on #5438
Thanks, I'll close this issue.

[2019-12-09 07:48] Smana opened #5537 "The whole MySQL container memory is used during a sysbench"
#### Overview of the Issue

During a sysbench test the whole mysql container memory is filled for an unknown reason.

![image](https://user-images.githubusercontent.com/4101366/70416373-3d3f5f00-1a5f-11ea-9ac7-74c42d4be995.png)

#### Reproduction Steps

1. Create a kubernetes cluster v1.13.11-gke.14

2. Configure Helm (v2.14.3), init tiller with cluster-admin role

3. Install the etcd operator

[c

[2019-12-09 10:59] arindamnayak opened #5538 "Panic: Runtime error while tablet teardown in python tests"
#### Overview of the Issue

There is a panic runtime error while running python testcase [(initial_sharding.py)](https://github.com/vitessio/vitess/blob/master/test/initial_sharding.py). Usually this error comes up,  when the tablets are being killed -- [here](https://github.com/vitessio/vitess/blob/master/test/initial_sharding.py#L641).

#### Reproduction Steps

Steps to reproduce this issue, exa

[2019-12-09 15:14] morgo commented on #5537
@aquarapid Did you mind taking a look at this one?

[2019-12-09 15:33] morgo commented on #5421
I am going to settle on shipping the following binaries:

[code]

The packaging will be built in https://github.com/vitessio/vitess/issues/5463 -- I have started working on it. I am just waiting on https://github.com/vitessio/vitess/pull/5527 to merge before attempting to create a PR on it.

Once the packaging is built, we can create a beta release to allow users to test and report any missing pro

[2019-12-09 15:41] derekperkins commented on #5421
Can we add vttestserver to that list?

[2019-12-09 15:43] derekperkins commented on #5537
@Smana what does your my.cnf look like, specifically your buffer pool settings?

[2019-12-09 17:51] sverch commented on #5345
I filed this with Percona: https://jira.percona.com/browse/PXB-1975

I'm not sure if there's anything for us to do here.

[2019-12-09 18:07] morgo commented on #5421
Yes. Thanks for the feedback.

[2019-12-09 19:52] enisoc commented on #5533
The part of the log that tells the actual error is:

[code]

It might be as simple as the fact that Go 1.13 changes the default TLS version to 1.3:

https://golang.org/doc/go1.13#tls_1_3

So we probably just need to change the test to accept either 1.2 or 1.3, to maintain compatibility with older Go versions.

[2019-12-09 20:56] morgo commented on #5533
I can confirm that setting `export GODEBUG=tls13=0` made the test pass. I have some other changes to the Makefile in https://github.com/vitessio/vitess/pull/5527 ; so I will add a line in here for disabling `tls13`. But I will leave this issue open, as this option is to be removed in go 1.14.

[2019-12-09 22:25] #5438 closed

[2019-12-10 05:36] jiameixie opened #5540 "Python error when running bootstrap.sh"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue
When running
installing Selenium latest
Traceback (most recent call last):
  File "/usr/bin/virtualenv", line 11, in <module>
    load_entry_point('virtualenv==15.1.0', 'console_scripts', 'virtualenv')()
  File "/usr/lib/python3/dist-packages/pkg_resou

[2019-12-10 14:30] #5378 closed

[2019-12-10 16:56] morgo commented on #4955
I have renamed this to apt/deb repositories, since we already produce and publish deb and rpms. We will be slimming binaries, and stop bundling dependencies in 5.0, so lets give it a chance to bake and incorporate feedback before publishing repos.

[2019-12-10 17:26] morgo commented on #5503
I took a look at this today. It is unfortunately not as straight forward as it looks. Here is why:

* Currently the linter is reporting a lot of errors (which is good!)
* .. But there is no progressive way to enable it. If I try to modify one file and the run `golangci-lint run /home/morgo/vitess/go/vt/mysqlctl/mysqld.go` there will be an error because other files in the package are not processed:

[2019-12-10 17:53] morgo commented on #5028
Confirming this is still an issue. I created the same error, and tests are passing incorrectly.

[2019-12-10 22:58] morgo commented on #5540
We are in the process of converting the tests from Python to Go (and will in the next few months remove Python completely).

I updated the [build guides](https://vitess.io/docs/contributing/build-on-ubuntu/) today to recommend running `make tools` instead of `./bootstrap.sh` (which disables installing Python dependencies). So I am inclined to mark this issue as "Won't fix", but please feel free to

[2019-12-10 22:58] #5540 closed

[2019-12-10 23:09] dkhenry commented on #5393
This also appears to prevent Jira from working with Vitess

[code]

[2019-12-10 23:44] dkhenry commented on #5511
@Smana, Memory usage on MySQL is generally bound by the setting of `innodb_buffer_pool_size` We have found that MySQL has been using more memory then we expect and we are attributing it to the allocator. As of #5444 you can now set the allocator. Try setting tcmalloc as the allocator, that is the one testing has shown us is the kindest to your memory

[2019-12-11 00:36] dkhenry commented on #5393
@saifalharthi

[2019-12-11 00:59] #5421 closed

[2019-12-11 04:44] derekperkins commented on #5511
@dkhenry it's actually not that easy to use an alternate allocator because we can't pass any flags to mysqlctld https://github.com/vitessio/vitess/issues/5466

[2019-12-11 08:23] Smana commented on #5537
I just added this parameters to the default configuration @derekperkins  :
[code]

[2019-12-11 21:02] dkhenry opened #5547 "Nodejs mysql driver causes ER_UNKNOWN_ERR on valid statement"
#### Overview of the Issue
Using the mysql driver for Nodejs its possible to provide a valid query, but have vtgate reject it due to `unrecognized statement: ...`.

#### Reproduction Steps
1. Install the nodejs mysql driver `npm install mysql`
1. Run the following script
[code]

#### Binary version
[code]

#### Operating system and Environment details
using docker containers

#### Log Fragments
[c

[2019-12-11 21:04] enisoc commented on #5547
Does it work if you change the query from `BEGIN;` to `BEGIN`?

[2019-12-11 22:05] J0 commented on #5535
Hey @morgo, I'd like to take this issue

[2019-12-12 02:13] morgo commented on #5205
Note that we only bumped the advertised default version to 5.7 in Vitess 5.0, and versions less than 8.0 will have issues with query-cache. So this issue is still likely to be a problem.

[2019-12-12 11:46] mikrobi opened #5553 "VTGate does not rollback in-flight transactions when shut down"
We experience a bunch of

[code]

errors each time we deploy VTGate. After [discussing this problem in Slack](https://vitess.slack.com/archives/C0PQY0PTK/p1575988316498700) @sougou [noted](https://vitess.slack.com/archives/C0PQY0PTK/p1576082927016000?thread_ts=1575988316.498700&cid=C0PQY0PTK) that VTGate does not rollback in-flight transactions on [shut down](
https://github.com/vitessio/vitess/bl

[2019-12-12 14:39] dweitzman commented on #5553
As a note: this is specifically with the mysql protocol where a transaction happens on a single gate. It wouldn't be an issue with grpc, where gates are stateless and interchangeable (although the _clients_ of the gates might fail to kill grpc transactions if they shut down ungracefully).

[2019-12-12 14:48] aquarapid opened #5554 "Support PROXY protocol (v1/v2)"
Haproxy pioneered a protocol to communicate client connection details (source IP/port) from the SLB layer to the service behind the SLB.  It would be great if vtgate could support this, and thus log the actual client connection details, since vtgate is typically deployed behind an SLB.

There is a go module out there that implements this:  https://github.com/pires/go-proxyproto

Page about the pro

[2019-12-12 15:50] drogart commented on #5553
Very interesting!

So, the hypothesis is that in flight txns on a vtgate do not complete during the lame duck period, then get left hanging on the tablet and consume a connection pool slot?

I guess we can either:
- bring the mysql protocol behavior in line with the grpc behavior
- increase the lame duck period (though this will still leave a long tail of txns this could happen to)

Any other idea

[2019-12-12 16:07] dweitzman commented on #5553
The useful behavior here would be for vtgate to roll back any in-progress mysql protocol transactions at the end of the lame duck period.

[2019-12-12 16:44] #4772 closed

[2019-12-12 16:44] #5508 closed

[2019-12-12 17:17] morgo opened #5556 "mysql --ssl does not work in MySQL 8.0"
When running `endtoend` tests against MySQL 8.0:
[code]

This option is also deprecated in MySQL 5.7:
[code]

I guess it will be `--ssl` in MariaDB, so we will need to special-case it based on which MySQL is started.

[2019-12-12 18:44] enisoc commented on #5502
I'm concerned about embedding `init_db.sql` for security reasons.

That file contains insecure defaults (password-less users). We don't yet support generating passwords automatically; our only, admittedly poor, mitigation right now is a strong recommendation that users customize `init_db.sql` before running Vitess in production.

We also don't yet support injecting "extra init_db.sql" in the style

[2019-12-13 08:30] guihouchang opened #5564 "Run ./101_initial_cluster.sh get a error"
which: no mysqld in (/home/vit/vitess-4.0.1-0629f0d/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin)

I have mysql in /usr/bin

[2019-12-13 18:49] gedgar commented on #5075
FYI @tirsen, we just fixed another bug with prepared statements: https://github.com/vitessio/vitess/pull/5562

[2019-12-13 19:20] morgo opened #5569 "Failing Unit Test: vitess.io/vitess/go/mysql with MariaDB 10.2, 10.3"
This unit test fails with MariaDB 10.2, 10.3 specifically.

[code]

[2019-12-13 19:31] aquarapid opened #5570 "vtgate does not implement COM_STATISTICS"
Pretty minor, but logging in case it comes up:

With the result that you don't get server uptime and anything in server stats when executing "\s" via the mysql client.

E.g.: via "real" MySQL you get something like this (note the uptime and stats at the end):

[code]

Via vtgate (note no uptime and stats at the end):

[code]

If you trace the network, you'll see we just respond with an 1047 error

[2019-12-13 19:51] morgo opened #5571 "Failing Unit Test: vt/vttablet/tabletserver/vstreamer on MySQL 5.6 and MariaDB 10.1"
This fails consistently on MySQL 5.6:
[code]

[2019-12-14 08:54] Smana commented on #5537
Note that the memory allocator is set in a environment variable
[code]
and just before the mysqld command
[code]

[2019-12-14 16:04] derekperkins commented on #5537
@Smana that's `mysqlctld`, not `mysqld` itself. This is where `mysqld` is shelled out https://github.com/vitessio/vitess/blob/master/go/vt/mysqlctl/mysqld.go#L401 and it only has a couple env vars.

[2019-12-14 19:06] Smana commented on #5537
thanks @derekperkins ! I followed your advices in order to load the memory allocator before the `mysqld` command as follows

[code]
Then I checked that the running container contains the bash script:
[code]

I ran a new benchmark
[code]

Unfortunately I still face the same issue. Maybe I'm still missing something ? :/

![image](https://user-images.githubusercontent.com/4101366/70853351-1d6bc900-1e

[2019-12-16 00:06] wangtianshi opened #5576 "Local installation stuck on initialization steps"
I am testing the local installation with an AWS instance.  The process stopped here,
`[centos@ip-10-1-254-182 local]$ ./101_initial_cluster.sh
enter etcd2 env
add /vitess/global
add /vitess/zone1
add zone1 CellInfo
etcd start done...
enter etcd2 env
Starting vtctld...
Access vtctld web UI at http://ip-10-1-254-182.us-west-2.compute.internal:15000
Send commands with: vtctlclient -server ip-10-1-254

[2019-12-16 00:23] wangtianshi commented on #5576
Oh, might not be ipv6 issue because I have the same error after disable the ipv6.
`[centos@ip-10-1-254-182 tmp]$ cat vttablet.FATAL
Log file created at: 2019/12/16 00:13:58
Running on machine: ip-10-1-254-182
Binary: Built with gc go1.13.4 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
F1216 00:13:58.911807     916 vttablet.go:130] NewActionAgent() failed: Full

[2019-12-16 01:24] wangtianshi commented on #5576
As @sougou suggested.  The instance does not recognize "localhost".  Appended one line in /etc/hosts

10.1.254.182	localhost

It worked!

[2019-12-16 01:24] #5576 closed

[2019-12-17 03:14] aquarapid opened #5580 "vstream grpc client orphans binlog client session in mysql?"
Scenario:

  * Setup an example commerce keyspace using `101_initial_cluster.sh`
  * Connect to the underlying mysql instance directly and observe the running binlog-related client threads:
[code]
  * Use the example vstream client at https://github.com/vitessio/contrib/tree/master/vstream_client to connect to vtgate for a binlog stream
[code]
  * Observe the binlog-related processlist again:
[cod

[2019-12-17 03:20] aquarapid opened #5581 "Killing a vstream client's mysql binlog thread causes infinite looping in the grpc client because of EOF error?"
Scenario:

  * Setup an example commerce keyspace using `101_initial_cluster.sh`
  * Use the example vstream client at https://github.com/vitessio/contrib/tree/master/vstream_client to connect to vtgate for a binlog stream
[code]
 * Connect to the underlying mysql instance to observe the binlog threads:
[code]
 * Now, kill the binlog thread for the vstream client (in the above case, thread 217):
[

[2019-12-17 06:02] sougou commented on #5375
An update on this. It turns out that our understanding was convoluted. The above requirements can  be more flexibly met by two different vindexes: the first one would a multi-column primary vindex, and the second one would be a normal owned lookup vindex.

So, we only needed to add support for multi-column primary vindexes.

This change was implemented in #5509.

[2019-12-17 06:02] #5375 closed

[2019-12-17 16:01] morgo commented on #5571
This test also fails consistently on MariaDB 10.1:
[code]

[2019-12-17 19:28] flopex commented on #5581
We've actually seen this same error, the receiving tablet seemed to have processed all the data through the VStream but then throws this error.

Source tablet
[code]

Target tablet
[code]

[2019-12-17 19:53] #5535 closed

[2019-12-17 21:04] saifalharthi commented on #5547
@dkhenry was this issue fixed after merging https://github.com/vitessio/vitess/pull/5550 . If so we should close this issue

[2019-12-17 21:12] dkhenry commented on #5547
It was and we should

On Tue, Dec 17, 2019, 4:04 PM Saif Al-Harthi <notifications@github.com>
wrote:

[2019-12-17 21:17] #5547 closed

[2019-12-17 21:45] morgo opened #5584 "Vitess wrong results: show character set where"
Vtgate parses but handles this query incorrectly:
[code]

It was issued by MySQL workbench, and is expected to return 1 row.

[2019-12-18 16:14] morgo commented on #5564
You probably have the mysql client, but not the mysql server. Usually the MySQL server will be in /usr/sbin (which might not be in your path). In https://github.com/vitessio/vitess/pull/5506 I added a patch so that it will force-search the standard location.

Did you mind trying the latest master, and double checking?

[2019-12-18 18:12] sougou opened #5590 "vttablet sequence: next N values can return overlapping values under certain circumstances"
In this use case, MySQL is externally managed, like RDS, which does not support fast failovers. In this case, one can use a second vttablet of type REPLICA pointed at the master. During software rollout, one can use a "failover" mechanism to update the vttablets without incurring downtime.

In the above situation, if there is a network partition, two vttablets can end up thinking that they are mas

[2019-12-19 12:44] #5564 closed

[2019-12-19 17:30] kfox1111 commented on #4236
Is this still an issue?

[2019-12-19 22:10] aquarapid opened #5599 "Using dots in table names crashes vttablet when pulling prometheus metrics"
Scenario:

  * Create a table with a dot in the name (valid in MySQL) via vtgate:
[code]
  * Select from it:
[code]
  * Pull Prometheus from the (master) tablet you just wrote via, e.g.:
[code]

Result:
  * vttablet displays a backtrace in the Prometheus client code, panics, and exits/crashes.

The root cause(s) here are:

  * we consider dot characters special in the multi-label metrics, and then

[2019-12-20 00:59] aquarapid opened #5600 "Vitess DDL processing does not seem to understand per-column primary key syntax"
Scenario:

  * SQL schema:
[code]
 * vSchema:
[code]

Problem:

  * Running vtexplain, Vitess complains that the table does not have a primary key:
[code]
  Note the dml.go error.

However, if we change the schema to have the traditional primary key syntax:

[code]

then vtexplain works fine:

[code]

So the per-column primary key syntax seems to not work as expected, although using it with vtgate

[2019-12-20 03:34] #5463 closed

[2019-12-20 07:02] tx19980520 opened #5606 "101 & 203 kubernetes helm install has problems"
#### Overview of the Issue

running vitess tutorial on k3s use kubernetes tutorial

#### Reproduction Steps

I just running helm on k3s and I have meet  two different performance.(I have changed apiVersion to apps/v1)
First:
`helm install ../../helm/vitess/ -g -f 101_initial_cluster.yaml` may be failed about job `commerce-apply-schema-initial`
[code]
Second:
when I run ``
`helm upgrade $release ..

[2019-12-20 17:54] morgo commented on #5606
Thank you for the bug report. This is a duplicate of https://github.com/vitessio/vitess/issues/5411

[2019-12-21 08:24] #5531 closed

[2019-12-23 00:32] pH14 opened #5613 "xtrabackup engine can use tons of vttablet memory"
Using the `xtrabackup` engine can skyrocket vttablet memory usage. As a result. we often run into OOM kills on the `xtrabackup` child process it spawns, due to container memory limits.

We can use `xtrabackup_stripes` as a coarse-grain control for memory usage, but it'd be better to more precisely set an upper-bound on how much memory the backup engine can use.

When looking at the heap flamegraph

[2019-12-23 05:13] #5523 closed

[2019-12-23 05:13] #5532 closed

[2019-12-23 05:13] #5569 closed

[2019-12-23 05:13] #5571 closed

[2019-12-23 06:08] sougou opened #5616 "wrangler flaky test: migrater"
Migrater test occasionally panics like this

[code]

[2019-12-23 08:48] philipposkhos opened #5618 "vtgate stuck at crashloop"
Hi, I am trying to follow the Vitess official doc to install Vitess. But when I was trying to `helm install ../../helm/vitess -f 101_initial_cluster.yaml --generate-name` , vtgate got CrashLoopBackOff like below.

commerce-apply-vschema-initial-kxj8f       1/1     Running            0          92s
etcd-global-mhl7hl2kcw                     1/1     Running            0          92s
etcd-operator-84

[2019-12-23 20:50] sougou commented on #4236
@kfox1111 They later got presto working and have submitted the code here: https://github.com/vitessio/contrib/tree/master/presto-vitess-connector. Can you check if that works for you?

[2019-12-23 21:05] #5616 closed

[2019-12-23 21:40] sougou commented on #4452
Fixed via #5509.

[2019-12-23 21:40] #4452 closed

[2019-12-23 21:51] derekperkins commented on #5618
@philipposkhos Helm 3 isn't supported yet by Vitess and more importantly by etcd-operator. It's very likely that your etcd-operator install never installed the crds, so there isn't an etcd instance running for the Vitess topology server.

[2019-12-24 06:50] philipposkhos commented on #5618
Hi derek,

Thanks for the reply. But got the same error crashloop. I tried to replace helm 3 to helm 2 by the following step:

chmod 700 get_helm.sh
./get_helm.sh
 `helm init`

this time I met another error when I was trying `helm install ../../helm/vitess -f 101_initial_cluster.yaml`. I got `Error: no available release name found`. After I input the method from internet :

kubectl create clusterr

[2019-12-24 16:00] derekperkins commented on #5618
Did you reinstall etcd-operator? Can you verify that it is actually running?

Also, Vitess isn't RBAC aware, so it may not work if you have RBAC enabled.

[2019-12-24 17:54] sougou commented on #5580
@roghit-nayak-ps and I investigated this. It's working as (mysql) intended. We observed the same behavior with traditional replicas disconnecting. The connection remains open until the next event, which could be another request, or just a DML that causes mysql to try to send the event, at which point it realizes the connection is closed.

We also tried sending a ComQuit over that connection. That

[2019-12-24 17:54] #5580 closed

[2019-12-25 04:07] philipposkhos commented on #5618
Thanks for the reply.

Yes. I reinstalled the server and re-did all steps. Just replace the helm3 to helm2.

But actually I am not sure etcd-operator is actually running. Below is my install etcd-operator steps:

/root/etcd-operator/example/rbac/create_role.sh
echo '' > /root/etcd-operator/example/deployment.yaml
echo 'apiVersion: apps/v1' >> /root/etcd-operator/example/deployment.yaml
echo 'kind:

[2019-12-26 16:22] kfox1111 commented on #4236
Ok, great. Thanks. :)

[2019-12-27 04:00] pH14 commented on #4661
Ah hadn't seen this issue here before -- we ran into this again and put up https://github.com/vitessio/vitess/pull/5572 which tackles this by adding an option to simply remove fields from the query cache.

[2019-12-29 22:41] tirsen commented on #5075
I'm getting another error now:
```vtgate: http://04f6124051bb:27000/: __seq0: bind variable is nil```

[2019-12-29 23:06] tirsen commented on #5075
*phew* I finally managed to coax the actual statement and its variables out of Hibernate:
[code]

[2019-12-29 23:07] tirsen commented on #5075
`movies` is a table with an auto inc so my guess is that it's the auto inc that is causing the problem because of the name of the variable that is nil.

[2019-12-29 23:19] pH14 commented on #5113
Agreed on this one -- we've had issues before where individual services were sending very expensive read queries that wound up blocking all of the MySQL connections. Seems like we could extend the `TxLimiter` to limit all connection acquisitions from the pool.

[2019-12-30 16:45] #5339 closed

[2019-12-30 17:51] morgo opened #5623 "flaky unit_race test in go/vt/vttablet/tabletserver/vstreamer"
This might be a new race, I'm not sure:
[code]

It occurred in this merge: https://github.com/vitessio/vitess/runs/368053318

It might have been introduced in https://github.com/vitessio/vitess/issues/5571 ?

[2019-12-30 17:52] morgo commented on #5623
I can see that there is #5622 open, which may address it? Feel free to close if that is the case.

[2019-12-31 00:30] aquarapid commented on #5580
Confirmed:

Used:

[code]
and
[code]

To confirm that other "standard" replication clients behave the same way

[2019-12-31 01:17] aquarapid opened #5626 "vtgate does not pass back appropriate warnings on "insert ignore""
When you insert a duplicate row with mysql using `insert ignore`, you get a warning.  Via vtgate, you get no warnings, viz. (via vtgate):

[code]
(note no warnings from the `insert ignore` of a duplicate value.

Connect to the underlying mysql (tablet) DB, and repeat:

[code]

Any code that therefore depends on the warning to determine if the row was a duplicate or not, will break.

This is a sill

[2019-12-31 05:24] deepthi commented on #5493
Fixed by #5615

[2019-12-31 05:33] morgo commented on #5493
It's still broken, the issue fixed was different. Confirming in master here:

https://github.com/vitessio/vitess/blob/master/tools/unit_test_race.sh#L25-L28

[2019-12-31 06:43] sougou commented on #5623
Yeah. #5622 should fix this also.

[2019-12-31 06:43] #5623 closed

[2019-12-31 16:56] #5493 closed

[2019-12-31 17:11] morgo opened #5631 "unit_race test flakyness in vitess/go/mysql"
[code]

[2019-12-31 21:24] #5007 closed

[2019-12-31 22:51] morgo opened #5636 "flaky unit test: vttablet/tabletserver/vstreamer panic in goroutine after TestREKeyRange"
Still getting this occaisionally after recent stability fixes:

[code]

[2020-01-01 00:44] #5636 closed

[2020-01-01 17:38] morgo opened #5638 "flaky unit test: go/pools/resource_pool_test.go"
This is a new error, which caused MySQL 5.7 unit to fail. We can move it to flaky for now while we investigate:

[code]

[2020-01-01 18:10] morgo opened #5640 "flaky unit test: go/vt/grpcclient TestDialErrors"
This failed on MariaDB 10.1 in https://github.com/vitessio/vitess/pull/5639/checks?check_run_id=370060460 and 10.3: https://github.com/vitessio/vitess/runs/370051580
[code]

[2020-01-01 21:46] tirsen commented on #5075
I'll report this as a separate issue. This particular issue is probably resolved.

[2020-01-01 21:50] tirsen opened #5641 "prepared statements and autoinc columns don't seem to work"
I'm using the MySQL JDBC driver with Hibernate and `useServerPrepStmts=true` and I get the following error when I try to insert into a table with an autoinc column: `__seq0: bind variable is nil`

[code]

The movies table looks like this:
[code]

With the following vschema (some details omitted):
[code]

[2020-01-02 16:23] #5528 closed

[2020-01-03 01:11] aquarapid commented on #5554
Fixed by #5563

[2020-01-03 01:11] #5554 closed

[2020-01-03 02:02] PrismaPhonic commented on #5641
Hi @tirsen, this seems to look exactly like a bug we found a few months ago and fixed. Would you please confirm for me which version of Vitess you're running?

[2020-01-03 03:42] #5395 closed

[2020-01-03 12:35] #5521 closed

[2020-01-03 17:32] morgo opened #5652 "unit_race flaky test: vttablet/tabletserver/messager"
Discovered in https://github.com/vitessio/vitess/pull/5651/checks?check_run_id=372705177

[code]

[2020-01-03 19:45] #5067 closed

[2020-01-03 21:32] morgo commented on #5502
I agree it is poor to expect users customize it. I don't see a material difference between asking a user to edit the file before running the bootstrap and setting passwords in MySQL after bootstrapping.

I would like to see us auto-generate passwords and report them in the output. But I see this as a separate issue.

[2020-01-03 22:57] gedgar opened #5655 "Changing a tablet's type doesn't update its PromotionRule in local_metadata"
#### Overview of the Issue
When changing a tablet's type via `ChangeSlaveType`, we don't update the tablet's `PromotionRule` in `_vt.local_metadata`.

#### Reproduction Steps

1. Spin up a cluster with various tablet types (eg `101_initial_cluster.sh`):
[code]
2. Observe each tablet's `PromotionRule`:
[code]
3. Change a tablet's type to something with a different PromotionRule (eg `rdonly` -> `rep

[2020-01-04 01:16] enisoc commented on #5502
How would setting the MySQL-level passwords later work? I don't see a good way we can recommend users to do that across all tablets and have things still work.

[2020-01-04 14:08] Gaurav-Punjabi commented on #5060
Can I work on this issue?

[2020-01-04 17:38] morgo commented on #5502
For MySQL, an identity is the combination of a user + the host they are coming from. So there are two users we need to be aware of which allow remote login:

[code]

The orchestrator configuration is really risky since it includes `SUPER` from a remote host. User's always have permissions to change their own password, so the install of orchestrator should suggest changing the password:

[code]

[2020-01-06 20:12] morgo commented on #3259
There are a few changes which more or less make sense to do at the same time:
- Remove non-required files from examples/local/ (currently files related to client test are here. We should move them out, since they don't need to be bundled with releases).
- Convert the startup scripts to init style (this report).
- Enable the local_example CI test on macOS. Currently it is disabled due to flakiness,

[2020-01-06 23:28] deepthi opened #5660 "RFC: Store blacklisted tables in vttablet instead of topo"
###Requirement
As part of #4790, we have the following requirement:
[code]
###Proposed Design
- Add a table in _vt schema to hold the list of blacklisted tables. We will store a proto representation of the string array that represents this list.
- Add a new vttablet RPC `UpdateBlacklistedTables`
- Replace calls to ShardInfo.UpdateSourceBlacklistedTables with calls to TabletManagerClient.UpdateBlac

[2020-01-06 23:30] deepthi commented on #5660
cc @sougou @rafael

[2020-01-07 02:57] aquarapid opened #5662 "vtgate runs out of FDs easily in default/typical configuration"
Scenario:
  * Run a vtgate instance locally, as non-root (in my case on Fedora 31, but this will be the same on default CentOS 7/8, probably many other Linux distros too).
  * Review the /proc/<PID>/limits for the vtgate process for max open files:
[code]
  * Note the soft limit is not upped by the vtgate process, even though the hard limit is 500k.  As a result, the max number of open file descri

[2020-01-07 02:58] aquarapid commented on #5662
An additional problem is that when in this state, no useful errors are logged to the vtgate log files, making diagnosing this state challenging.

[2020-01-07 03:10] rafael commented on #5662
I have ran into this in the past. For the vagrant setup I added this for this reason: https://github.com/vitessio/vitess/blob/master/vagrant-scripts/bootstrap_vm.sh#L70

This is a good call out that we should document in installation files. cc: @morgo

[2020-01-07 16:25] morgo commented on #5662
I think this is a good argument to distribute startup scripts. But I have a couple of interim suggestions:
- We add a note here: https://vitess.io/docs/user-guides/configuring-components/#vtgate
- We add a check on startup for if the number is very low, and print out a warning.

[2020-01-07 18:48] aquarapid commented on #5662
Agreed on the above;  just a few more things:

  * Once vtgate runs out of FDs, even if the TCP connections time out, you seem never to be able to make new conns to the server again.  Probably warrants looking into.  Still no log errors.
  * We do have current code to check and log the number of available FDs at startup, but obviously that's not quite stern enough:  https://github.com/vitessio/vit

[2020-01-07 21:44] enisoc commented on #5613
Were you able to see the mem usage of vttablet separately from xtrabackup (even though they're both in the same container) to know that the unexpected growth in usage is from vttablet and not xtrabackup itself? I noticed your flamegraph is only for vttablet.

Also, do you have any time-series graph of memory usage during a backup? It would be helpful to see if there is any sawtooth pattern, which

[2020-01-07 22:18] pH14 commented on #5613
Yes, when the OOM killer runs we see `xtrabackup` running with ~50MB of memory, and `vttablet` with effectively `containerMemoryLimit - xtrabackupMemory`

Sure -- here's one recent replica pod. Guess when xtrabackup started and when the OOM killer stepped in 😁

<img width="817" alt="Screen Shot 2020-01-07 at 5 12 41 PM" src="https://user-images.githubusercontent.com/785446/71933798-f84b3d00-3170-1

[2020-01-07 22:21] pH14 commented on #5613
This is a good suggestion, I can look into trying that in our environment.

Admittedly haven't dug super deep into the code here, but I'm a generally a little puzzled that `sync.Pool` doesn't have an inherent way to set an upper bound. Seems like if you're ingesting data faster than you're compressing / uploading, the usage can balloon indefinitely

[2020-01-07 22:51] enisoc commented on #5613
At a practical level, there should be a soft bound based on how many concurrent users of the pool there are. So the `backup_storage_block_size` and `backup_storage_number_blocks` settings should still be effective at reducing usage, although the effectiveness may be less than 1x depending on how `sync.Pool` works under the hood.

The pgzip lib claims that it blocks if its fixed compression buffers

[2020-01-07 23:01] enisoc commented on #5613
@pH14 If you have a chance, it would also be helpful if you can try a backup with this patch to see how it affects the flamegraph: https://github.com/vitessio/vitess/pull/5666

That should address another, smaller section of the flamegraph, even though I still suspect the pgzip section is the main culprit.

[2020-01-07 23:11] #3668 closed

[2020-01-07 23:11] #5417 closed

[2020-01-08 00:50] neowulf opened #5668 "Replace VTTOP variable with VTROOT"
The [docs] mention setting `VTTOP` env variable containing `$VTROOT`. Looking at the `vitess` codebase, there are only couple places referring to `VTTOP`.

*Suggested Fix*

1. Replace VTTOP env variable with VTROOT in Makefile
1. Rename `vttop` variable to `vtroot` in `run.py`
1. Create a separate PR and update [docs] and [zh-docs] in `vitessio/website`.

[docs]: https://github.com/vitessio/websit

[2020-01-08 04:39] morgo commented on #5668
This was recently fixed in https://github.com/vitessio/vitess/pull/5527

The docs will need to be updated, but they are technically not out of date yet (since the changes in master have not made it into a release yet).

But thank you for the reminder. We will have to update the docs with Vitess 5.0 shipping in a few weeks time.

[2020-01-08 15:37] rvrangel opened #5672 "Existing socket warning is misleading when creating a new socket"
We noticed the following error messages when a `vtgate` was trying to start:

[code]

After investigating for a while, we noticed that `/var/run/mysqld` didn't actually exist, so the socket would never be created, but it would have been more straight forward if the message had not mislead us. Currently it seems that *any* error trying to create a unix socket will report the `Found existent socket

[2020-01-08 18:48] rafael commented on #5387
@spark4 from Vitess team at slack will be working on this.

For some reason, github does not allow me to assign it to you

[2020-01-08 19:37] morgo commented on #5668
I am working on an update in https://github.com/vitessio/website/pull/383

[2020-01-09 00:11] pH14 commented on #5613
Thanks for jumping on that -- it might be a bit before we can test it out, but I'm keen to see what happens. I'll do a bit more digging into the pgzip lib as well, perhaps it is more limited than I thought. If so, then maybe we can get some estimation of memory used which would help us determine which settings to use

[2020-01-09 05:59] aquarapid opened #5675 "vtgate does not advertise FOUND_ROWS capability in server greeting"
See attached wireshark decode of server greeting from vtgate -> client.  Note that the server capability flag for FOUND_ROWS is 0, even though we support it to the client, e.g.:

https://github.com/vitessio/vitess/blob/master/go/vt/vtgate/plugin_mysql_server.go#L302

Surprisingly, it seems that many client drivers do not care, but I suspect some might not be functioning as expected if the capabili

[2020-01-09 19:38] enisoc commented on #5613
Can you share what values of `xtrabackup_stripes`, `backup_storage_block_size`, and `backup_storage_number_blocks` were in use for that graph showing 1.4G mem usage? And how many logical CPUs are accessible/visible (not necessarily reserved) to vttablet?

Also, what was the total mem usage represented by that flamegraph at the top? I'm trying to get an idea for the absolute sizes of these things t

[2020-01-09 19:51] enisoc commented on #5060
@Gaurav-Punjabi That would be great! Feel free to ask here if you have any questions on how to get started. You can also join slack.vitess.io if you haven't already.

[2020-01-09 21:29] aquarapid opened #5677 "Support transactional read-only queries against non-master tablet types"
Currently, if a client targets replica or rdonly Vitess instances (e.g.:  db@replica);  we do not support taking a read-only transaction against the database to get consistent SELECTs.  This breaks a large number of tools that try to do data extraction/transformation.

The limitation manifests itself in vtgate giving an error as soon as you issue a `BEGIN`, e.g.:

[code]

From a conversation with

[2020-01-09 21:42] Ronihe commented on #5584
Per @deepthi, right now the results returned from a `show charset` or `show character set` are hardcoded to be just these 2 rows. We could filter on the 2 rows, but we don't really want to expand the results or forward the query to an underlying mysql because vitess only supports these 2 charsets.

[2020-01-09 23:41] aquarapid commented on #5675
Closed by #5676

[2020-01-09 23:41] #5675 closed

[2020-01-10 06:56] jmhodges opened #5682 "sqlparser returns unstructured errors"
Currently, the errors coming back from sqlparser aren't of any specific type, leading to clients to implement solutions like running regexps over the errors' string forms (as in https://github.com/kyleconroy/sqlc/pull/249)

It'd be nice for sqlparser to hand back more structured errors that clients could more easily use to inform their users.

[2020-01-10 07:15] neowulf commented on #5466
I'd like to take up this issue. Is the following the right way to go about it?

1. Is it just a matter of appending the environment variable LD_PRELOAD [similar to how LD_LIBRARY_PATH is added to the environment](https://github.com/vitessio/vitess/blob/a6fcbc80cb64e7ff765770a37a9b42e8b36c8601/go/vt/mysqlctl/mysqld.go#L374) before `mysqld` is executed?
2. This change is environment specific. Did we

[2020-01-10 08:49] jmhodges opened #5685 "sqlparser errors on `auto_increment not null` but handles `not null auto_increment`"
The order of `auto_increment not null` vs `not null auto_increment` in `create table` statements doesn't matter to mysql, but sqlparser returns an error in the first case.

That is, this statement errors out when parsed:

    create table blocked_domains (id bigint auto_increment not null, primary key (id));

while this one parses fine:

    create table blocked_domains (id bigint not null auto_in

[2020-01-10 09:30] jmhodges opened #5686 "sqlparser errors on altering a table's charset"
Parsing schema statements like

[code]

causes sqlparser to return errors like:

[code]

when passed to `NewStringTokenizer` and then `ParseNextStrictDDL`.

That statement is a valid syntax for mysql. It sets the table's default charset to utf8mb4;

[2020-01-10 13:30] pH14 commented on #5613
For that one:

`xtrabackup_stripes: 6`
`backup_storage_block_size: 250000` (default)
`backup_storage_number_blocks: 6`
CPU limit available to the `vttablet` container: 6

Unfortunately it doesn't look like I have the original dataset for that particular flamegraph. The `runtime.Memstats` for another `heap` profile I took for a tablet with the same configuration had:

[code]

[2020-01-10 13:31] pH14 commented on #5613
But, I'll see if I can pull a flamegraph w/ actual sizes from a tablet running into the same issues shortly

[2020-01-10 19:06] neowulf opened #5687 "Remove python dependency from Java tests"
`make java_test` requires the python setup to spin up the database cluster.

Replace this dependency with the golang implementation.

[2020-01-11 00:16] enisoc commented on #5613
Hm that definitely seems like a lot of the mem usage is not accounted for. Almost all of the heap space is released or idle. If the space usage is idle heap space, it might even be that the flamegraph won't show it. The graph might only be showing us objects that are still allocated.

This might be a case of Go not releasing unused memory back to the OS. Usually that becomes a problem if you have

[2020-01-11 02:14] deepthi commented on #5466
cc @morgo

[2020-01-11 02:28] morgo commented on #5466
Yes

The path will vary on linuxes too. So as long as we accept it as a full path, I believe it should be cross platform.

I will let you use your judgement since it will be easier to understand when viewing the code. But yes - the code is getting a little complicated. I also think that it should do better checking and suggest that mysqld may not have started because of an apparmor / selinux issue

[2020-01-11 08:39] #5502 closed

[2020-01-13 17:01] morgo opened #5699 "Review test usage"
Via https://github.com/vitessio/vitess/pull/5694 :+1:

We can potentially change this back, but will need to update docs. Should discuss.

[2020-01-13 17:15] carsonoid opened #5701 "Support the Kubernetes API as a topology service"
#### Feature Description

Right now running even a small Vitess installation in Kubernetes requires that the end user deploy and maintain a fully functional kv store. It seems to be a hurdle for initial adoption for many users.

Since the Kubernetes API is built on etcd and provides all the same primitives (get, update, delete, watch, lock) it should be possible to use the K8s as a topology servic

[2020-01-13 17:50] aquarapid commented on #5599
Closed by #5598, merged.

[2020-01-13 17:50] #5599 closed

[2020-01-13 22:31] jmhodges opened #5705 "additional ALTER support"
#### Feature Description

ALTER statements involving ADD, DROP, and SET are currently parsed by sqlparser only enough to extract the table they involved. It's desirable for those ALTER statements to add information to the returned `sqlparser.DDL` about what columns or settings they're modifying.

#### Use Case(s)

sqlparser is being used by sqlc, a SQL to Go code generator, and needs this informat

[2020-01-13 22:33] jmhodges commented on #5705
This change would involve, at least, changes to `sql.y` and additions to the `DDL` struct for the new information.

(This was discussed in the vitess slack. The understanding is that someone like me or @cmoog from outside vitess would do this work.)

[2020-01-13 22:36] jmhodges commented on #5686
Closing this in favor of #5705

[2020-01-13 22:36] #5686 closed

[2020-01-13 23:51] jmhodges opened #5706 "expose sqlparser's ColumnKeyOption constants"
Currently, the ColumnKeyOption type is exposed in the API through ColumnType (and therefore ColumnDefinition type) but its values `colKeyNone`, `colKeyPrimary`, etc. are not exposed. This makes tools like sqlc have to duplicate those constants in order to create tests using the ColumnDefinition types.

[2020-01-14 01:51] aquarapid opened #5708 "Support DISTINCTROW as a synonym for DISTINCT"
Scenario:

Query via vtgate:

[code]

DISTINCTROW is a synonym for DISTINCT, and seems to be generated by the Ruby-on-Rails ORM.

The equivalent query using DISTINCT is obviously fine via vtgate:

[code]

Executing directly against the underlying MySQL instance, DISTINCTROW works fine, and from the explain plan, it can be seen that it's internally just rewritten to DISTINCT:

[code]

[2020-01-14 01:56] aquarapid opened #5709 "Certain invalid DISTINCT tuple select statements cause vtgate panics"
Scenario, execute via vtgate:

[code]

vtgate does not panic and exit, but panics and kills the connection.  Stacktrace:

[code]

This was against master hash 6b55d8456f9e5289877becf84bf58f02e7970f20

When executed directly against the underlying MySQL instance, the command gives the proper syntax error response:

[code]

[2020-01-14 17:47] morgo opened #5712 "Automated build bugs"
## Overview of the Issue

Yesterday's beta release surfaced two bugs in the release script:

1. the tag name said "-dirty" because the make file regenerated some files
2. this glob is now incorrect: https://github.com/vitessio/vitess/blob/master/tools/make-release-packages.sh#L42

We should change the script to sed-out -dirty, and also allow an override to say what the name should be.

[2020-01-14 18:32] Ronihe commented on #5708
@aquarapid  I will work on it.

[2020-01-14 19:50] morgo opened #5713 "Call for maintainers: examples/kubernetes"
Currently, Vitess supports kubernetes deployments with `examples/helm` and `examples/kubernetes`, with only helm documented on vitess.io.

Only `examples/helm` is actively maintained. I do not believe that there is usage of `examples/kubernetes`, and on the [Vitess monthly call](https://vitess.io/community/) for December, put out the request for maintainers. We have not yet received any expression

[2020-01-15 01:11] #5712 closed

[2020-01-15 12:30] arindamnayak commented on #5538
After merging #5667 , I am not able reproduce this / this error is not coming up anymore. Should we close this issue?

[2020-01-15 18:31] #5553 closed

[2020-01-16 00:14] systay commented on #5709
I added this as a test case in #5611, and that change seems to have fixed this problem.

[2020-01-16 01:57] gedgar opened #5720 "helm/vitess/templates/_vtctld.tpl: Removal of web_dir flags can break UI for older binaries"
Minikube version: v0.33.1
Helm version:
[code]

I ran into a few issues while trying to run through the Kubernetes tutorial:

1. When running `kvtctld.sh` (after making it executable, see #5719), my browser tries to open `http://192.168.39.142:31333/app2/` and I get a `404 page not found` error.

2. Figuring this was related to #5597, I tried changing the images from `helm-1.0.7-5` -> `latest`, th

[2020-01-16 03:16] morgo commented on #5720
This looks like the bug fixed in https://github.com/vitessio/vitess/pull/5711

We may need to push new images to fix. @derekperkins do you mind applying a second set of eyes?

[2020-01-16 05:13] derekperkins commented on #5720
We're currently running helm-1.0.7-6, and used helm-1.0.7-5 and all the tagged releases prior. I definitely wouldn't use latest. It changes all the time randomly (meaning not always moving forward) based on Docker Hub's build scheduler, and could break. None of the tagged images have embedded assets, so any errors you're seeing aren't related to that.

Without seeing any logs from your first attem

[2020-01-16 05:20] aquarapid commented on #5708
PR #5718 does not fix all the places DISTINCTROW can be used, e.g.:

[code]

where distinct works fine here:

[code]

[2020-01-16 18:32] rafael opened #5723 "Vagrant Setup Ask for Maintainer"
#### Feature Description

Few years ago it was really hard to build Vitess on Mac OS environments. For that purpose, we created a `vagrant` setup to create a virtual machine that installs all dependencies for Vitess. It looks like few people are actively using this setup and as a matter of fact is currently broken.

If other folks are still using this setup in the community, we would like to get h

[2020-01-16 18:38] enisoc commented on #5720
The vtctld 2.0 UI recently moved from `/app2/` to `/app/`, although I would have expected you'd be redirected automatically.

The crash when you switched to `:latest` looks like the one that was fixed by #5711. My guess is perhaps the `:latest` tag for this image repo doesn't have the latest binary. There's a known problem where these images contain old binaries because Docker Hub long ago silentl

[2020-01-16 19:17] sverch opened #5724 "Add spark integration to read from vitess"
#### Feature Description

We have a hadoop integration [here](https://github.com/vitessio/vitess/blob/master/java/hadoop/src/main/java/io/vitess/hadoop/README.md) that can read from vitess using hadoop, but we don't have one for spark.

#### Use Case(s)

Anyone using spark for data processing might want to use vitess as an input source.

[2020-01-16 19:40] aquarapid opened #5725 "vreplication needs to filter out UNKNOWN queries?"
Some types of DDL/admin statements in the replication stream are not currently filtered out, and will lead to vreplication halting with an error.

E.g. (with some fake data):

[code]

The offending statement here is :  `GRANT USAGE ON *.* TO 'xtrabackup'@'localhost'`

We should filter other types of similar commands too, if we are not already, e.g. CREATE USER

[2020-01-16 20:39] deepthi commented on #5538
thanks @enisoc!

[2020-01-16 20:39] #5538 closed

[2020-01-17 00:16] aquarapid opened #5729 "Inserting to a reference table causes (non-fatal) vtgate panic"
Scenario:
  * Sharded keyspace
  * Use a vschema like this with a reference table:
[code]
  * Create a table via vtgate:
[code]

  * Now, try to insert to the keyspace (not a shard-specific one):
[code]

The panic from the vtgate log file:

[code]

vtgate -version:
[code]

Obviously, reference tables don't work this way, and you should insert on a per-shard level, or use vreplication to populate t

[2020-01-17 02:42] Jacklli opened #5731 "can vitess be configured as non-sharding？"
can vitess be configured as non-sharding？

can vitess be configured as direct send to mysql so the sql can be 100% Compatible with mysql？

- [Vitess User Guide](https://vitess.io/user-guide/introduction/)
- Any other questions can be asked in the community [Slack workspace](https://vitess.io/slack)

[2020-01-18 00:57] aquarapid opened #5734 "Preparing a statement with syntax error results in vtgate dropping connection"
Scenario:

 * Cluster with unsharded keyspace and vschema:
[code]

 * SQL schema:
[code]

  * Run a program that prepares a statement with a syntax error, e.g. (This uses the official MySQL python connector):
[code]

  * Running this will fail with a lost connection:
[code]

  * No errors in the vtgate info/error logs, and the prepared statement does not show up in the vtgate query logs.
  * Inspe

[2020-01-18 00:58] aquarapid commented on #5734
The wire trace:
![](file:///home/jacques/Pictures/prepare.png)

[2020-01-18 01:16] aquarapid commented on #5734
After this PR the script will return a reasonable error:
[code]

to the vtgate error we output:

[code]

and we log the query to the vtgate query log (that was previously not happening):
[code]

[2020-01-19 04:25] #5524 closed

[2020-01-20 09:45] PrismaPhonic commented on #5641
@tirsen Just wanted to follow up so we don't lose sight of this one. Did you ever get a chance to check which version you're running?

[2020-01-20 16:41] caniszczyk opened #5739 "Create Security Disclosure Process (SECURITY.md)"
GitHub has a new security advisory feature: https://help.github.com/en/github/managing-security-vulnerabilities/creating-a-security-advisory

Please create one for Vitess, you can look at examples here:
https://github.com/envoyproxy/envoy/blob/master/SECURITY.md

[2020-01-20 16:41] caniszczyk commented on #5739
cc: @morgo

[2020-01-20 17:32] aquarapid opened #5740 "Vitess does not support ordering on character fields for sharded keyspace queries"
You can only perform sharded keyspace queries with an ORDER BY field that is a binary equivalent type (e.g. VARBINARY, datetime, INTEGER, etc).

Ordering by a CHAR or VARCHAR field fails, and isn't present in unsupported_cases.txt (this was unexpected to me):

SQL schema:
[code]

vSchema:
[code]

Test:
[code]

[2020-01-20 17:58] aquarapid commented on #5740
OK, looking at the test cases;  it makes sense why this case isn't in unsupported_cases.txt ;  those are emitted by the planbuilder, while this error gets generated by the vtgate engine.

Also, to be clear, this affects columns of type CHAR, VARCHAR and TEXT.

[2020-01-20 19:04] morgo commented on #5028
https://github.com/vitessio/vitess/pull/5717 was another regression that should have been caught by CI. We do not test custom my.cnf template files.

[2020-01-20 20:20] gedgar commented on #5740
Per @sougou, this is because vtgate cannot (yet) mimic the collation rules of MySQL. You can declare the column type in the vschema, which will make vtgate rewrite the query using `weight_string`, allowing you to merge-sort on a scatter-gather.

[code]

[2020-01-20 20:25] tirsen commented on #5641
Oh right we are using a rather old SHA. Checking now.

[2020-01-20 20:47] aquarapid opened #5742 "Left join with WHERE clause targeting single shard across joined tables treated as cross-shard"
Scenario:

SQL schema:
[code]

vSchema:
[code]

The following left join query with an aggregate does *not* work, even though it's obviously targeting a single shard with the compound WHERE clause that covers both the joined tables:
[code]

If you add the merchant_id equality to the ON clause of the join, it works as expected:

[code]

Vitess should be able to recognize these are equivalent.  In fa

[2020-01-20 21:03] tirsen commented on #5641
It does indeed seem to work. Great!

[2020-01-20 21:03] #5641 closed

[2020-01-20 21:06] gedgar commented on #5720
Attempting to run `latest` was admittedly a shot in the dark.

@derekperkins, all pods look healthy:

[code]

FWIW, I'm able to port-forward the `grpc_port` locally just fine:
`minictl port-forward po/vtctld-5794f66c69-kjzxb 15999:15999 &`
[code]

However, attempts to forward the web port locally redirect me to `localhost:15000/web2/ ` and the `404 page not found` error, which is the same issue I

[2020-01-20 21:21] aquarapid commented on #5740
Ah;  we should do this automatically (without the vSchema) then?

[2020-01-20 21:39] enisoc commented on #5720
For the latest binaries from master, the `web_dir*` flags are gone and must not be set or else the binary will crash. It seems like what happened is the images have the new, correct flag behavior (don't set `web_dir*`), but those same images have the old binaries (due to the Docker Hub issue mentioned above) that still expect `web_dir*` to be set.

If this diagnosis is correct, the fix is to find

[2020-01-20 22:15] gedgar commented on #5720
To clarify, it looks like `vtctld`'s flag behavior is defined in `helm/vitess/templates/_vtctld.tpl`, which was recently changed in [this commit](https://github.com/vitessio/vitess/commit/0882f189b3affa3ab40d8a7c06cb3e3c1bfa5a7b).

Testing `helm-1.0.7.6`, it looks like the binaries are still a bit too old:
[code]

[2020-01-20 23:50] derekperkins commented on #5720
Ah, I wasn't aware that somebody had already merged code deleting those flags. I thought we were still safely behind all these recent breaking changes and I wasn't planning on doing a new release until that had all been figured out.

Really we should probably push a helm v2.0 release that only works with >= Vitess 5.0. I think we should revert those `vtctld.tpl` changes and coincide the two breaki

[2020-01-21 01:47] teejae commented on #5740
yea that seems derivable from the schema?

[2020-01-21 06:25] PinZhang commented on #4752
I have suffered the same problem on MacOS, any solution ?

[2020-01-21 13:23] #5590 closed

[2020-01-21 16:45] #5466 closed

[2020-01-21 19:05] #5720 closed

[2020-01-22 03:48] enisoc commented on #5613
If we suspect pgzip is using too much memory, we could try https://godoc.org/golang.org/x/build/pargzip.

[2020-01-22 13:15] pH14 commented on #5613
We rolled out https://github.com/vitessio/vitess/pull/5666 and it hasn't changed overall memory usage, though the flamegraph looks pretty different now.

With:

[code]

We get this flamegraph:

<img width="1521" alt="Screen Shot 2020-01-22 at 8 02 18 AM" src="https://user-images.githubusercontent.com/785446/72896342-8b49b280-3ced-11ea-9b23-6288bebaa22d.png">

Total vttablet process RSS was at 1.84

[2020-01-22 17:06] deepthi opened #5750 "RFC: rewrite vtgate's healthcheck"
### Problem Statement
vtgate uses "healthcheck" to decide which tablets to route queries to. The "health" of each vttablet is stored by vtgate using a [TabletStatsCache](https://github.com/vitessio/vitess/blob/master/go/vt/discovery/tablet_stats_cache.go).
Choosing a tablet to execute a query requires going through the [vtgate/resolver](https://github.com/vitessio/vitess/blob/master/go/vt/vtgate/r

[2020-01-22 19:04] enisoc commented on #5613
Given that the heap usage according to Go is only 444MB while the RSS is 1.8GB, it does feel like this might be a case of unused memory not being released to the OS. Since this memory is unused, it won't show up in a heap snapshot.

A quick-and-dirty way to test whether this is the problem would be to patch vttablet to periodically call [debug.FreeOSMemory()](https://golang.org/pkg/runtime/debug/#

[2020-01-22 20:23] pH14 commented on #5613
We'll be able to run that safely, I'll try hacking that in -- any suggested interval? Every 30s?

[2020-01-22 22:23] enisoc commented on #5613
If you don't care about the performance of this instance, you could do it every 1s just to be really sure that we're getting clean experimental results. If you're worried about this instance, 30s is a good compromise.

[2020-01-23 07:03] systay commented on #3904
FYI - being worked in #5732

[2020-01-23 10:50] guidoiaquinti commented on #5430
With @rafael fix in #5436 I think this issue can be closed.

[2020-01-23 10:50] #5430 closed

[2020-01-23 16:42] morgo opened #5751 "Rewrite session vars to SET_VAR hints"
#### Feature Description

Currently Vitess either ignores known safe-cases of clients setting session variables, or returns an error. I would like to propose a third-handling, which is to store in thread-local storage on VTGate, and then incorporate into queries as a [`SET_VAR` hint](https://mysqlserverteam.com/new-optimizer-hint-for-changing-the-session-system-variable/).

#### Use Case(s)

This

[2020-01-23 19:19] flopex opened #5752 "VReplication panic on broken connection to external MySQL"
#### Overview of the Issue

vttablet crashes after many hours of running and a broken connection occurs between the vttablet and the external MySQL db host. It's common to see broken connections every once in a while but the crashes only seem to happen after the tablet has been left running for many hours.

Seems to be related to #5413 but was dismissed due to outdated vitess image.

#### Reproduc

[2020-01-23 19:42] deepthi commented on #4973
The code to do this is already in place and has been around for a while: https://github.com/vitessio/vitess/blob/master/go/vt/vttablet/tabletmanager/state_change.go#L363

@derekperkins can you post an update if you run into this again?

[2020-01-23 20:27] derekperkins commented on #4973
We can go ahead and close this issue since you fixed it. We rarely do backups from master, but if we hit this again, I'll post here.

[2020-01-23 20:27] #4973 closed

[2020-01-23 23:55] jmhodges opened #5755 "go.mod is out of sync a lot"
I keep merging in master to a branch I'm making for a patch, and I've found that I'm consistently seeing the post-commit hooks causing changes to `go.mod` after a merge that (haven't been committed). It seems like maybe the CI jobs aren't detecting or folks aren't committing changes to go.mod somehow?

It would be cool to resolve this.

[2020-01-23 23:58] jmhodges commented on #5755
Currently, for instance, my local go.mod differs from master with:

[code]

[2020-01-23 23:59] jmhodges opened #5756 "gofmt requirement not being enforced at CI"
The file `go/vt/vtctld/vtctld.go` is not formatted correctly according to gofmt, according to the commit hooks.

Could we run the commit hooks in CI, too, to avoid this problem from slipping through into unrelated patches? (I'm not sure how this patch got through as is, to be honest.)

This seems related to #5755

[2020-01-24 00:04] jmhodges opened #5757 "rewriter.go's go:generate make visitor doesn't work"
The `go:generate` clause in `go/vt/sqlparser/rewriter.go` doesn't work. It's set to `go:generate make visitor`, but `go generate` will run the `make visitor` command in the sqlparser directory, and not the top-level directory where the `visitor` target is actually defined.

[2020-01-24 00:16] jmhodges opened #5758 "staticcheck commit hook runs against wringe code"
When the staticcheck commit hook is run, it will be run against code that it's in the go module cache, not the code that is actually in the repo. And it seems to be running against a specific version of vitess in that module cache[1].

The error reporting always points to files in `~/pkg/mod/github.com/vitessio/vitess@v2.1.1+incompatible/` which is the code I'm currently running on.

[2020-01-24 00:51] kyleconroy opened #5760 "Parse check constraints"
#### Feature Description

When creating a table in MySQL, a number of [check constraints](https://dev.mysql.com/doc/refman/8.0/en/create-table-check-constraints.html) can be added.

[code]

The sqlparser module does not currently parse these statements.

#### Use Case(s)

sqlparser is being used by https://github.com/kyleconroy/sqlc, a SQL to Go code generator, and needs this information to correc

[2020-01-24 01:38] morgo commented on #5682
Fixed in #5690

[2020-01-24 01:38] #5682 closed

[2020-01-24 03:32] sougou commented on #5755
This has been bugging me a lot. Are we using go modules the wrong way? Is there a more stable way to do this? Any inputs welcome.

[2020-01-24 03:33] sougou commented on #5757
@systay Can you try the suggestion by @dweitzman that may allow you to use `go run`? If that works, we can address this issue also.

[2020-01-24 06:33] #5708 closed

[2020-01-24 17:15] evalsocket commented on #5713
@morgo I love to help on that issue. What are the things you want from me ?

[2020-01-24 18:06] deepthi opened #5762 "xtrabackup restore fails"
#5761 ## Overview of the Issue

Vttablet encounters error while restoring from an xtrabackup file from s3.

#### Reproduction Steps

The error is intermittent so this is not guaranteed to reproduce.
Take a backup using `-backup_engine_implementation=xtrabackup` and `-backup_storage_implementation=s3`
Try to bring up a replica using the backup (`-restore_from_backup`)
#### Binary version

#### Oper

[2020-01-24 20:20] jmhodges commented on #5755
I think it's the use of `go run` commands without versions and everyone's machine picking up different versions of the packages. (That plus folks having different `GO111MODULE` settings?)

[2020-01-24 22:00] gedgar commented on #5755
FWIW, just running `make build` is enough to introduce those changes to `go.mod`. Per `go mod tidy -v`, those `modern-go/` deps (and many others) appear to be unused:
[code]

I admittedly don't have much experience with go modules but took a stab at cleaning things up in #5765

`go.sum` looks to be consistent after running both `go mod tidy` and `make build`, though there is a descrepancy in `go.m

[2020-01-24 22:14] jmhodges commented on #5755
The make commands run various `go run` things, don’t they? And `tidy` won’t ever see those `go run` commands as things to add to go.sum. That would explain what you’re seeing, I believe

[2020-01-24 23:43] jmhodges commented on #5755
I'm poking at this some, and specifying versions for `go run` commands won't help because `mod tidy` still won't see those commands.

I think we'd be better off requiring that developers install certain commands in `$PATH` to work correctly. We maybe could a helper script to do so that ensures they don't accidentally fudge with `go.mod` when they install those tools.

[2020-01-24 23:56] jmhodges commented on #5755
Hrm, we already have a `tools` package that would be preventing some of this (since it's used to depend on our tooling), but we kind of undo its work by relying on `go run`, because it can update `go.mod` itself.

So, I'd recommend ripping out the `go run`s, start relying on the commands in `$PATH` for our hooks, and mention installing `tools` in more of the contributor documentation.

As sugar, i

[2020-01-25 03:50] enisoc commented on #5762
What is the size of the `vt_msgdata/messages.ibd` file? How much of it was written to disk before xbstream died?

[2020-01-25 07:04] dweitzman commented on #5755
I haven't been working with the go mod stuff yet, but I notice that CI still doesn't have mod=readonly, which would create some degree of a security and maintainability problem

That was going to be deferred for a future PR when the original go.mod landed: https://github.com/vitessio/vitess/pull/5109#issuecomment-528034358

[2020-01-26 00:08] aquarapid opened #5767 "DISTINCT(X) is considered a function by vtgate"
Schema and vSchema:

[code]

Now:
[code]

Note the `distinct` with parentheses;  which is valid synonym for distinct without parentheses.  Without them, the query works as expected:

[code]

The same happens when using `DISTINCTROW` instead of `DISTINCT` too, of course.

The parser doesn't recognize that they are equivalent, and thinks DISTINCT with parentheses is a SQL function to be pushed down,

[2020-01-27 03:38] aquarapid opened #5769 "Null vindex only targets null keyspace covering shard for point lookups"
Scenario, single table, PK with null vindex:

[code]

For arbitrary point lookup SELECTs of this table, the first shard (covering the null/00 keyspace id) is targeted correctly, viz.:

[code]

However, any range queries of the PK;  or non-indexed lookups will scatter, even though it's impossible for any data to be present anywhere but the first (in this case, -80) shard:

[code]

[2020-01-27 18:52] #5752 closed

[2020-01-27 20:04] aquarapid opened #5771 "Do not do a full scatter for DELETE or UPDATE statements with multiple PKs."
Scenario:

Schema & vSchema:
[code]

As expected, a single PK-targeting delete will target a single shard:
[code]

However, specifying multiple PKs will result in a full scatter across *ALL* shards, not just the shards containing the PKs:
[code]

Similar thing happens for UPDATE statements.

Single PK update targets single shard:

[code]

While multiple PK-indexed update does a full scatter, even

[2020-01-27 20:10] aquarapid commented on #5734
Was fixed by #5735

[2020-01-27 20:10] #5734 closed

[2020-01-28 11:06] guidoiaquinti opened #5772 "`docker/test/run.sh` doesn't work on macOS"
#### Overview of the Issue
`docker/test/run.sh` doesn't work on macOS.

The script [is trying to mount](https://github.com/vitessio/vitess/blob/aeab98e0c026717c990596f827ad9e10277602e3/docker/test/run.sh#L132) `/dev/log` that doesn't exist on macOS. We should probably use `/var/run/syslog`.

#### Reproduction Steps
Run `docker/test/run.sh mysql57 "make build"` on macOS.

#### Operating system and

[2020-01-28 15:34] harshit-gangal commented on #5771
Looks like this is similar to #4786 are related

[2020-01-29 01:07] sabondano commented on #3679
This works now! This issue can probably be closed :)

[2020-01-30 20:49] aquarapid commented on #5725
This will happen for `REVOKE`, in addition  to `GRANT` too, of course.

[2020-01-31 08:42] guidoiaquinti commented on #5447
Most probably fixed by #5777 as IMDSv2 should be enabled by default in the new SDK

[2020-01-31 11:33] sougou commented on #5742
I've updated the title and description because this is a normal join issue (not left join). The issue is still valid. As of #5551, we detect more single-shard left-join constructs.

[2020-01-31 11:51] sougou commented on #5767
This is unfortunate:
[code]

My interpretation for `distinct` as a function is:
* It takes only one argument.
* If there are other expressions in the select, then it's a no-op.
* If it's the only argument in the select, and it's the distinct function, then it's equivalent to a regular distinct.

@systay: we should amend the parser to convert these to the normalized form.

[2020-01-31 13:16] guidoiaquinti opened #5780 "[vttablet] -init_populate_metadata and -restore_from_backup shouldn't be used together"
#### Overview of the Issue
As discussed in Slack with @deepthi, `-init_populate_metadata` and  `-restore_from_backup` should be mutually exclusive.

Related to https://github.com/vitessio/vitess/issues/4115 and https://github.com/vitessio/vitess/pull/4403.

[2020-01-31 21:09] systay commented on #5767
My understanding is that something different is happening.

[code]

is a valid query, right? It's just the value from column c1 with parens around it - a perfectly normal expression (albeit complex). Adding DISTINCT before makes it look like a function call, but it's not. You can double check this by trying something like:

[code]

This is not accepted - DISTINCT must come before the first express

[2020-01-31 21:53] gedgar opened #5781 "Lookup keyspace IDs in batch when possible"
#### Feature Description
Currently, we lookup keyspace ids row-by-row:
https://github.com/vitessio/vitess/blob/master/go/vt/vtgate/vindexes/lookup_internal.go#L64

When possible, it'd be nice if we performed batch lookups.

Per Koz,

@sougou and @koz had previously discussed various ways to make this work,

#### Use Case(s)

[2020-01-31 22:02] derekperkins commented on #5781
Another option is to use `ORDER BY FIELD(...)` to guarantee return order

[2020-02-01 16:19] morgo commented on #5756
Long term I think we would like to use golangci as a hosted service. See https://github.com/vitessio/vitess/issues/5503

But it will take some work to review the issues it raises. I do not believe there is a way to just enable it on files that were modified.

I have created PR #5782 for a simple fmt check.

[2020-02-01 17:04] morgo commented on #5781
Another option is to recommend / default binary collations.

I thought it would be a bigger deal, but myrocks only supports binary by default. You need to enable an option for non-binary, and it has a performance hit (additional clustered key lookup; no covering index).

[2020-02-03 05:43] #5756 closed

[2020-02-04 15:00] teejae commented on #5740
@sougou how does the weight_string get forced in if there's a column in the vindex? i don't see any obvious code.

[2020-02-04 16:50] #5699 closed

[2020-02-04 18:52] morgo commented on #5731
@Jacklli we call this V2 routing, which is deprecated and soon to be removed.

The problem is that if Vitess does a direct-send without parsing, it would need to do dedicated connections. The connection pool is important for scalability, and creating a migration path from unsharded to sharded clusters.

[2020-02-05 03:52] deepthi opened #5789 "vcopier and vplayer: flaky tests"
From https://github.com/planetscale/vitess/runs/426608376
[code]

[2020-02-05 12:33] pH14 commented on #5613
Haven't forgotten about this... hoping to test this out later this week 🤞

[2020-02-05 15:49] sougou opened #5791 "RFC: Componentizing TabletServer"
# Introduction
As Vitess adoption expands, a number of feature requests have been popping up that will benefit from multiple instances of TabletServer (or its sub-components) co-existing within the same process.

The following features drive this refactor, in order of priority:
* Multi-schema
* VTShovel: multiple data import sources for vreplication
* VTDirect: allow VTGate to directly send querie

[2020-02-05 15:52] sougou commented on #5791
It will be important to get a feel for how beneficial these new features will be. If anyone finds these features useful, please post your use case.

[2020-02-05 15:59] deepthi commented on #5613
@pH14 can you record the size of the database and the size of the largest table when you test this?

[2020-02-05 18:07] henders commented on #5791
We're most interested in the ability of a Tablet to connect to multiple external mysql DBs. Our use case is to migrate data from hundreds of mysql instances (the same schema but partitioned based on our customer ID) into a Vitess cluster and repartition the data at the same time by a different attribute.

So it sounds like the config changes to point the Tablet to a global config (loaded from file

[2020-02-05 20:06] dasl- commented on #5791
For our sharded data, etsy has up to 22 schemas per mysql instance. All schemas on a mysql instance are identical (same tables and columns), but they contain different data. Currently, we must run one vttablet process per schema. This is expensive from a CPU consumption perspective. To reduce CPU consumption, we would be interested in either multi-schema support or vtdirect -- both seem like they

[2020-02-05 21:37] henders commented on #5791
One point on top of my comment above is it might be awkward for us in the usecase of using VTShovel to migrate data from our sharded Mysql instances. During the time where we are migrating to Vitess (could take over a year), anytime we add another external Mysql instance, we'll have to add it to the global config and restart all the Tablets to get the new configuration/credentials having a little

[2020-02-05 23:13] saifalharthi commented on #5772
@guidoiaquinti I change that line to `/private/var/run:/dev/log` to work around that.

[2020-02-06 08:13] knight76 commented on #5618
I have same issue.

% helm version
Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}

 % kubectl get pods,jobs
NAME                                 READY   STATUS             RESTARTS   AGE
pod/etcd-global-5sn76q

[2020-02-06 14:39] Johnny-Three commented on #5791
When we want to make the modified transaction timeout takes effect, Operation steps are as follows: 1. Modify the timeout flag and increase the default 30s; 2. Restart the tablet. If the parameters can be set as hot update, the operation and maintenance workload will be saved.

[2020-02-06 16:14] #5584 closed

[2020-02-06 16:46] derekperkins opened #5796 "messaging: duplicate message delivery"
We're seeing significant issues around duplicate message delivery for queues with backlogs. When a queue is running in near-realtime, we see 0 duplicates. If there is a backlog, there is some interesting behavior that happens with the queue cache and we see 20-30% duplicate message deliveries. The queue is processing quickly, so we are not exceeding the queue server timeout (`vt_ack_wait=300`).

H

[2020-02-07 11:43] sougou opened #5800 "vreplication misses events when asked to stop on DBA statements"
If the source database has the following sequence of events:
* A normal transaction
* A DBA statement like GRANT

And if it's asked to stop at the DBA statement, the batching code may cause it to claim that it has stopped, but it would not apply the previous transaction.

This can cause a problem during the copy phase, because the copier assumes that the position was reached, and resumes the copy.

[2020-02-07 14:07] Johnny-Three opened #5802 "when insert a row into pinned table vtgate report mysql Connection lost"
#### Overview of the Issue

![image](https://user-images.githubusercontent.com/2297199/74004468-ce27ad80-49b0-11ea-9df1-9bb682c3f58f.png)

#### Reproduction Steps

Steps to reproduce this issue, example:

1. Deploy the following `vschema`:

[code]

1. Deploy the following `schema`:

[code]

1. when insert  a row

mysql> insert into testpin(id,name) values(2,'test');
No connection. Trying to reconn

[2020-02-07 16:19] #5800 closed

[2020-02-07 19:27] #5780 closed

[2020-02-07 23:05] setassociative opened #5807 "Time inconsistency on vttablet status page"
We're using a build from 2019-12-11 which is admittedly a bit old; it was cut shortly after 4.0.1 so I'm not sure if this has been resolved but didn't see anything reporting it.

I was looking at timing information around tablet type changes and the qps graph on the vttablet status page -- they timestamps are about 10 minutes offset:

![vitess-timing](https://user-images.githubusercontent.com/4547

[2020-02-08 00:53] aquarapid commented on #5802
This is a (known) valid bug (or feature?);  pinned tables don't allow inserts via vtgate at the moment;  they have to be populated externally.  As a potential work-around you can use the null vindex type, but note #5769

[2020-02-10 04:09] Johnny-Three commented on #5791
We have a lot of keyspace data size is very small, QPS is also very low, too many such keyspaces caused a lot of waste on our resources.we have tested the feature we something like vtdirect(of our customized system) and compare with QPS is increased by about 3 times, and latency is much lower.
we also get lots of applications with the amount of data quite large and high QPS,  if vitess  can suppor

[2020-02-10 17:49] henders opened #5810 "Allow setting 'sharded' VSchema config via SQL command"
#### Feature Description

Currently you can add/remove VIndexes and Vindex-types via SQL statements like:
[code]
These cmds will result in a VSchema declaration of:
[code]
However you cannot set the `sharded` attribute of the Vschema over this interface.
It would be very useful to allow this, e.g.:
[code]

#### Use Case(s)

We would like to use the Ruby-On-Rails DB migration support to manage the

[2020-02-11 13:09] ResearchRogerPan opened #5812 "tpcc test vitess problem"
tpcc test vitess problem: tpcc start reports fatal error: concurrent map read and map write

Can you give some suggestions on tpcc test

[2020-02-11 17:23] veduboy opened #5813 "Doing POC on vitess and can't able to open mysql, as mention in the official document of vitess"
I am able to get the local instance up where I can see all the tables but no through mysql terminal.
But while trying to access mysql via terminal  sudo mysql -h 127.0.0.1 -P 15306
ERROR 2003 (HY000): Can't connect to MySQL server on '127.0.0.1' (111)

get the above error, any advice what I have done wrong

[2020-02-12 05:21] saifalharthi commented on #5812
Hello @ResearchRogerPan , I am really interested to know what you are using for your TPC-C test and what are the parameters being used. Can you post them? that would help a lot.

[2020-02-12 05:23] saifalharthi commented on #5813
Hello @veduboy , This usually means that vtgates are not up. Can you provide the steps to reproduce this?

[2020-02-12 05:53] veduboy commented on #5813
Do we have any command to check vtgates are up or not ?

This installation specific to Ubuntu

    `sudo apt install -y mysql-server etcd curl`

On apt-based distributions the services mysqld and etcd will need to be shutdown, since etcd will conflict with the etcd started in the examples, and mysqlctl will start its own copies of mysqld:

    `sudo service mysql stop`
    `sudo service etcd stop`

[2020-02-12 06:35] veduboy commented on #5813
I am getting below logs while running ./101_initial_cluster.sh

add /vitess/global
add /vitess/zone1
add zone1 CellInfo
Error:  105: Key already exists (/vitess/global) [11]
Error:  105: Key already exists (/vitess/zone1) [11]
E0212 12:03:20.521306   32420 vtctl.go:115] action failed: AddCellInfo node already exists: /vitess/global/cells/zone1/CellInfo
etcd start done...
Starting vtctld...
Access

[2020-02-12 08:33] lishinho commented on #4397
how about macOS?

[2020-02-12 10:58] saifalharthi commented on #5813
@veduboy try clearing your `$VTDATAROOT` and kill all vitess related processes like this
[code]

[2020-02-13 13:36] veduboy commented on #5813
hi @saifalharthi  thanks for your suggestion,
I have successfully implement vertical sharding with the sample scripts

Now I am trying to implement horizontal sharding, and its give the below error
1). FAILED to understand why its been required overlapping shard ?
Can you have suggestion regarding this.

*********************************************************************************************

[2020-02-13 20:20] veduboy commented on #5813
It's been resolve again thanks for your previous support

[2020-02-14 05:01] saifalharthi commented on #5813
@veduboy Sorry for the late reply. I didnt have much access. Glad its resolved! Can you close this issue?

[2020-02-14 09:11] ResearchRogerPan commented on #5812
Hello, I use tpcc to test the problems encountered by vitess. I want to ask if I can give test suggestions, such as cluster configuration. I have not encountered map problems recently, and I will submit it later.

The problem now is this, I imported a single-line insert statement exported from mysql into the vitss cluster and encountered this error:< can not a new thread, if you are not out of ava

[2020-02-14 10:46] veduboy commented on #5813
sure. one question only which is conceptual about vitess.
In the installation step why vitess ask us to install mysql, if it has to disable into the upcoming step.

Regards,
Vedansh

[2020-02-14 13:15] sougou opened #5817 "RFC: encapsulate dbconfigs.WithCredentials"
The requirement to call dbconfigs.WithCredentials is bug prone and not sustainable.

Instead, I propose that functions like dbconfigs.AppWithDB, etc call this internally. The additional requirement of this refactor is that we do not store the returned values from these functions anywhere. They need to be fetched on every use to make sure that the newest credentials are used.

[2020-02-14 16:28] schuylr commented on #5791
A lot of details here sound _somewhat_ applicable to me, but not all of them. My largest use-case is portability: to be able to move my databases out of RDS and into Vitess. The issue is that my applications are structured to have one database for each "country" - and on my staging environments, single MySQL servers hold all of these databases in one place, whereas on production environments, up t

[2020-02-14 17:03] gedgar opened #5821 "Non-reserved keywords are converted/rewritten to lowercase"
#### Overview of the Issue

Non-reserved keywords work in Vitess:
[code]
We convert them to lowercase,
VTgate:
[code]
While MySQL doesn't:
[code]

#### Binary version
[code]

[2020-02-14 18:01] gedgar opened #5822 "heartbeat_enable writes to replica and requires dba privs"
## Overview of the Issue
`-heartbeat_enable` requires dba privileges to create these tables on replicas with binlogs turned off.

Per @sougou in this [Slack discussion](https://vitess.slack.com/archives/C0PQY0PTK/p1581504754191600)

additionally

[2020-02-18 01:46] yiliaofan opened #5823 "Error: failed to start container "vtctld": Error response from daemon: OCI runtime create failed"
run :

vitess/examples/kubernetes/vtctld-up.sh

The problem log is:

`
 Normal   Pulled     22m (x4 over 23m)     kubelet, 10.22.0.7  Successfully pulled image "vitess/lite"
  Normal   Created    22m (x4 over 23m)     kubelet, 10.22.0.7  Created container vtctld
  Normal   Pulling    22m (x4 over 23m)     kubelet, 10.22.0.7  Pulling image "vitess/lite"
  Warning  Failed     22m                   k

[2020-02-18 04:23] aquarapid opened #5825 "vtgate does not report autocommit system variable and SERVER_STATUS_IN_TRANS flag correctly"
Logging these together, since they're both session related, although they may be addressed separately.  Both these issues are problematic for more advanced MySQL drivers (e.g. the MySQL JDBC driver), since they can use these signals to determine things like:   whether a commit statement can be elided because the session is already in autocommit mode.

autocommit:

  * vtgate does not reflect the s

[2020-02-18 16:19] pH14 commented on #5613
Phew, finally got this one running.

Settings were (accidentally) slightly different than earlier runs, but they were the same between running with the per-second execution of `debug.FreeOSMemory()` vs without.

[code]

---

On the default run (without the `FreeOSMemory` calls) we can see the RSS of the container spike when the backup kicks off:

<img width="617" alt="withoutpatch-rss" src="https:

[2020-02-18 16:21] pH14 commented on #5613
Looks like forcing `debug.FreeOSMemory()` pretty significantly affects the vttablet memory footprint!

[2020-02-18 17:57] deepthi commented on #5762
longer stack trace:
[code]

[2020-02-19 12:20] ResearchRogerPan opened #5830 "Vitess clustering and testing problems"
The following problems were encountered when the cluster was built:
1. When building a table or setting a vschema, it causes a few vttablets to lose their connection;
2. Ignore question 1, I import data through sql files (connecting one of the vtgates) will result in a "too many connections" error；
3. How to check the vschema settings successfully, through the web side can be detected?

Cluster en

[2020-02-19 20:01] morgo commented on #5668
I believe this is now fixed, so I am going to close this issue. But please feel free to re-open if you discover additional cases that need updating.

[2020-02-19 20:01] #5668 closed

[2020-02-20 10:31] systay opened #5835 "Suggestion: Remove parens from AST"
Today,  we strive pretty hard to preserve the queries passed through Vitess as the user entered them. One of the things we do is to keep parenthesis in the AST, so they can be written out again before being sent by `vttablet` to `mysqld`.

Unfortunately, this means that the code analysing expressions needs to do a lot of extra work to ignore parenthesis that do not really add any semantic state.

[2020-02-21 16:36] setassociative opened #5839 "When backing up using xtrabackup it's not discoverable"
#### Feature Description

As far as I know when a tablet is taking a backup using the xtrabackup engine it does not need to set its tablet type to `BACKUP` meaning that it's not discoverable in the normal means (to me that means `ListAllTablets` or `show vitess_tablets` query on a vtgate).

I'd like some way to easily tell when a tablet is taking a backup via xtrabackup. It may already exist and I

[2020-02-21 21:27] #5387 closed

[2020-02-22 07:52] yteraoka opened #5843 "backup cronjob related helm chart problems"
#### Overview of the Issue

When I tried to enable backup cron then I found 2 problems in helm chart.

#### Reproduction Steps

Steps to reproduce this issue:

#### Problem 1 : nil pointer evaluating interface {}.cron

1. Append below config to `examples/helm/101_initial_cluster.yaml`

[code]

2. Execute helm template to check generated yaml

[code]

    Then, you get an error.

[code]

    `$shar

[2020-02-22 14:46] sougou opened #5844 "Deprecate syslogging"
There is old code in vitess that invokes syslog. This has mostly been problematic:
* Most containers don't have syslog enabled.
* It was known to have caused unnecessary disk I/O.
* No one knows it exists. So, it's unused.

I recommend we delete this:
* delete `go/cmd/vttablet/plugin_sysloglogger.go`
* delete package `go/event/syslogger`

This most likely changes all those event logging invocation

[2020-02-22 16:56] sougou commented on #5713
I met @evalsocket at kubernetes forum. We agreed that it's better to deprecate this in favor of maintaining the helm charts with more focus.

[2020-02-22 17:34] sougou commented on #5796
Most likely, you're hitting the situation where sends are failing. If a send fails, then the message is retried almost immediately: https://github.com/vitessio/vitess/blob/master/go/vt/vttablet/tabletserver/messager/message_manager.go#L120-L126.

We could change this behavior to postpone a message even if the send failed, but that may cause unnecessary postponements.

[2020-02-22 18:48] aquarapid commented on #5844
There is actually syslog-referencing code all over the code-base, as you mentioned:
[code]

I think we should keep it and document it more prominently.  My arguments:
  * it is still potentially useful in non-container environments
  * if it causes unnecessary disk I/O is an implementation detail of the underlying syslog implementation?  A properly configured and managed syslog subsystem wouldn't

[2020-02-24 03:12] boopathykpm opened #5847 "Flexibility to provide backup engine on the helm chart"
#### Feature Description

Configure the database engine, while creating the Vitess cluster using the helm chart.

#### Use Case(s)

Currently, the helm chart is supporting the built-in database backup engine. When I want to use the `xtrabackup` as a backup engine, there is no provision to pass the database engine.

It would be great if we can able to pass the database engine as below.
[code]

It w

[2020-02-24 16:14] evalsocket commented on #5278
@morgo  Would like to work on this. Can this be assigned to me?

[2020-02-24 17:05] deepthi commented on #5762
Several issues have been uncovered while investigating this:
- vttablet OOM if s3 debug mode is enabled (`-s3_backup_log_level LogDebugWithRequestRetries`). This has been fixed by #5777
- Restore failure could lead to tablet getting stuck in a loop (#5780). This has been fixed by #5783.
- There is no retry logic during restore. A transient failure during download of a large backup requires startin

[2020-02-24 18:50] morgo commented on #5393
This has been verified as fixed.

[2020-02-24 18:50] #5393 closed

[2020-02-24 18:52] aquarapid commented on #5709
Closing, since #5611 seems to have fixed it.

[2020-02-24 18:52] #5709 closed

[2020-02-24 18:54] aquarapid commented on #5393
For the record;  the fix for this seems to have fixed Sequel Pro as well (www.sequelpro.com)

[2020-02-24 19:20] deepthi commented on #5821
What problem does this cause?

[2020-02-24 19:28] aquarapid commented on #4603
#4897 seems to have fixed this specific problem;  however, there are other issues with the mariadb connector, for which I will log a separate issue.

[2020-02-24 19:32] #4603 closed

[2020-02-24 19:45] aquarapid opened #5851 "MariaDB JDBC Connector fails to connect to vtgate with default options"
Scenario:
  Use the MariaDB JDBC connector (tested versions 2.1.2 and 2.5.4) and it will by default send the following command to vtgate at connection time:

[code]

Which will fail on the vtgate side with:

[code]

As a result, the JDBC app will fail to connect with a stack trace like:

[code]

You can work around this problem by preventing the MariaDB connector from sending the `concat(@@sql_mod

[2020-02-24 20:18] morgo commented on #5278
@evalsocket done. Thanks for picking it up!

[2020-02-24 20:19] #5060 closed

[2020-02-24 21:02] sverch opened #5852 "Support MySQL 8.0 PARTITION BY clause in MySQL 8.0 mode"
#### Feature Description

MySQL 8.0 supports the PARTITION BY clause in queries: https://dev.mysql.com/doc/refman/8.0/en/window-functions-usage.html

#### Use Case(s)

Vitess could support this clause when the vtgate is started with `-mysql_server_version` set to 8.0.

The use case is the general use case of when this would be useful in a query.  For example, given a table:

[code]

The query to s

[2020-02-24 21:03] sverch commented on #5852
@aquarapid Do you think this should go in the MySQL 8.0 compatibility project?  Also wondering if there are alternatives to accomplish the same thing.

[2020-02-24 21:24] aquarapid commented on #5852
I would recommend lumping this together as "Support for MySQL 8.0 Window functions".  #4099 already covered a bunch of them (along with other stuff).

[2020-02-24 21:32] evalsocket commented on #5322
@morgo Would like to work on this. Can this be assigned to me?

[2020-02-24 21:41] evalsocket commented on #5503
@morgo Can this be assigned to me?

[2020-02-24 21:42] evalsocket commented on #5760
@morgo Would like to work on this but I need a help.

[2020-02-24 21:56] morgo commented on #5760
@systay and @harshit-gangal are the best mentors. They are Andres Taylor and Harshit on Slack.

[2020-02-24 21:58] morgo commented on #5503
Go for it. Please feel free to divide up the tasks and look for contributors in #developers on Slack if it's too much effort :-)

[2020-02-24 21:59] morgo commented on #5322
Be aware that there is also work in https://github.com/vitessio/vitess/pull/5703 to add Kubernetes as a topo. I expect that after this is added, it will eventually become the default as it simplifies installs.

[2020-02-24 23:59] evalsocket commented on #5503
@morgo should we create our rules before start  `.golang-ci` https://github.com/golangci/golangci-lint/blob/master/.golangci.yml

[2020-02-25 12:26] saifalharthi commented on #5685
This seems to be fixed, I tested it on master.
For the first ordering
[code]
For the second ordering
[code]
I think we can close this issue.

[2020-02-25 15:54] #5522 closed

[2020-02-25 16:21] morgo opened #5858 "mysqldump: fails with default options"
#### Overview of the Issue

mysqldump currently requires a number of options to work successfully. This convenience issue tracks what those options are, and the related issues:

- [x] (no option: SET SQL_QUOTE_SHOW_CREATE) https://github.com/vitessio/vitess/issues/5522
- [ ] `--lock-tables=off` https://github.com/vitessio/vitess/issues/5402
- [ ] `--skip-network-timeout`  https://github.com/vitess

[2020-02-25 19:21] sverch commented on #5852
@aquarapid Ah, I didn't know about that one.  Thanks!  Should we add `PARTITION BY` to the scope of that issue then, and close this as a duplicate?

[2020-02-25 21:01] enisoc opened #5859 "vttablet hangs at shutdown if topo is unavailable"
#### Overview of the Issue

When cell-local topo is unavailable, we have observed that a vttablet that is sent SIGTERM will hang indefinitely and never shut down gracefully. This can happen, for example, when the entire Vitess cluster is being decommissioned so we have intentionally shut down etcd.

This could be worked around by tearing down vttablets before etcd, or by sending SIGKILL to vttable

[2020-02-26 06:48] boopathykpm opened #5860 "Helm chart update hangs the pod"
#### Overview of the Issue
While updating the helm chart after making some changes to the values.yaml, the pod already created is in status "Terminating" and it continues to be in that state for long hours with no change.

#### Reproduction Steps

Update some values in the `values.yaml` and do `helm upgrade`, the pod is getting updated but hangs at status "Terminating" for long hours,
[code]
Becau

[2020-02-26 13:27] boopathykpm commented on #5860
While deleting the helm chart, the dependency resources are getting delete, this halts the pod getting terminated and the pod get hung while terminating

[code]

If there is a graceful termination applied while deleting the helm chart hope this will not happen.

[2020-02-26 15:05] systay commented on #5685
Please re-open if it's not really fixed.

[2020-02-26 15:05] #5685 closed

[2020-02-26 19:41] enisoc commented on #5613
That's definitely interesting! I looked up how to see more about those not-in-use objects, and it looks like it should be as simple as grabbing `pprof/allocs` instead of `pprof/heap`. Can you try to grab both of those on a run without FreeOSMemory so we can compare in-use objects vs. all past objects?

[2020-02-26 19:51] evalsocket opened #5864 "Ability to add custom labels & Annotations to helm chart"
#### Feature Description
There is no way to add custom labels & Annotations to helm chart for resources  (deployment and services)

Add helm value + template to allow custom labels & Annotations

[2020-02-26 19:51] evalsocket commented on #5864
/assign @evalsocket

[2020-02-26 20:08] evalsocket commented on #5713
@sougou @morgo Should I create a PR for removing Kubernetes templates from repository

[2020-02-26 21:08] #4939 closed

[2020-02-27 13:30] RyanLeonardSpruce opened #5867 "Applying VSchema referencing missing keyspace hides all keyspaces from UI"
#### Overview of the Issue

On a healthy Vitess deployment with several keyspaces, applying a VSchema that references a keyspace that has never been initialized (by creating tablets for it) causes UI issues, including the fact that the UI doesn't show any of the keyspaces that do exist.

The nodes are visible in the vtgate UI, and everything goes back to normal after creating tablets for the keysp

[2020-02-27 13:32] derekperkins commented on #5867
We've seen this happen too

[2020-02-27 18:28] aquarapid opened #5868 "Vitess escapes column name strings with quoting when MySQL does not"
Use an expression that contains multi-level quoting against normal MySQL, e.g.:
[code]

Note that the generated column name in the result is identical to the query.

However, if you run this against Vitess via vtgate, we escape the generated column name:
[code]

Doing a tcpdump between the client and vtgate, we see vtgate passing the name back as escaped (screenshot attached).
![column_name](https

[2020-02-27 18:33] gedgar opened #5869 "If vstream hangs during vreplication, it needs to be restarted"
## Overview of the Issue
Currently, if vstream hangs during vreplication the vttablet process needs to be restarted.

We should detect if vstream is hanging during vreplication and restart it automatically.

[2020-02-27 19:32] morgo commented on #5713
@evalsocket Yes, it's now end of February. We can also mark https://github.com/vitessio/vitess-operator are archived.

[2020-02-27 23:06] #5859 closed

[2020-02-27 23:08] evalsocket commented on #5713
@sougou @morgo
https://github.com/vitessio/vitess/blob/ad4e47a2dbcdf545823fa5a7fae10aa766489f24/test/cluster/sandbox/vtctl_sandbox.py#L71
https://github.com/vitessio/vitess/blob/ad4e47a2dbcdf545823fa5a7fae10aa766489f24/test/cluster/sandbox/vitess_kubernetes_sandbox.py#L57
https://github.com/vitessio/vitess/blob/ad4e47a2dbcdf545823fa5a7fae10aa766489f24/test/cluster/sandbox/create_schema.py#L36
http

[2020-02-28 05:03] aquarapid commented on #5852
I would leave that to @systay ?  Not sure if we can (or will) implement window functions in a piecemeal fashion.  I would guess that it would fall under #4099, yes

[2020-02-28 16:30] morgo commented on #5075
Thanks! I will close it, but feel free to re-open later as necessary.

[2020-02-28 16:30] #5075 closed

[2020-02-28 16:52] aquarapid commented on #5399
Note that while this FR is (implicitly) for supporting caching_sha2_password in the server (vtgate) code, we should also support it in our client code used by vttablet.

[2020-02-29 20:40] aquarapid opened #5876 "MySQL 8.0 descending index syntax supported, but passes with warning/error"
This is a nit;  but could be confusing to users, and thus is a usability issue:

If you are running MySQL 8.0 behind vtgate, you can create a table with a descending index, but you will see a somewhat concerning warning:

[code]

However, the table still got created (even though it said "syntax error" along with the warning (W) message;  a distinction probably lost on users):

[code]

A similar th

[2020-03-01 05:31] alvinzane commented on #4752
**I'd like share my solution to resolve this issue(my evn: Mac with docker desktop).**

1. Update StorageClass is not default class:
`
$ kubectl edit storageclass
`
to be:
[code]

2. Create the pvs manually with a short path which vitess needed:
[code]

3. Enjoy youselfs.

[2020-03-03 03:40] #5652 closed

[2020-03-03 05:49] Raman-Kumar commented on #2366
@bbeaudreault
Can you suggest me some docs or resources to properly understand
the **codebase** of **vitess** and **contributing** to it?

[2020-03-03 06:29] derekperkins opened #5882 "Messaging Wishlist"
I'm hoping to do some significant messaging work in Q2 and this is a list of various features that exist in other queueing systems that would be great if they were supported in Vitess.
- [ ] Use vreplication for topics - the current implementation of topics is brittle and only supports same-tablet subscribers
- [ ] Allow filtered topic subscriptions #5180 - this builds on the prior task and should

[2020-03-03 17:08] #5713 closed

[2020-03-03 20:01] supra08 commented on #5760
Hi @evalsocket ! Are you working on this? If not, I would like to take this up.
@morgo ?

[2020-03-03 20:02] morgo commented on #5760
@supra08 There are no open PRs that correspond to this. Let's give @evalsocket a brief moment to reply, but I think it's yours for the taking :-)

[2020-03-03 20:03] supra08 commented on #5760
Alright thanks!

[2020-03-03 20:19] deepthi commented on #2366
@Raman-Kumar you can start with https://vitess.io/docs/contributing/
It is also recommended to join the slack workspace and the #developers channel in there.

[2020-03-04 10:00] ankitthakwani opened #5890 "Vtgate silently ignores invalid value for parameter -transaction_mode"
#### Overview of the Issue
While starting vtgate I set parameter -transaction_mode single for ensuring that there are no cross shard transactions. Vtgate did not understand this value as correct value for this parameter is 'SINGLE', I was expecting vtgate to error out but instead it printed warning following log and defaulted to 'MULTI'

W0303 05:55:18.202522  22885 vtgate.go:79] Unrecognized tran

[2020-03-05 02:40] SanmuWangZJU commented on #5411
The latest update of [etcd-operator](https://github.com/coreos/etcd-operator) was ten months ago, it
 seems no one maintains this project.
What can we do to adapt helm3 and k8s 1.16+ ?

[2020-03-05 02:48] morgo commented on #5411
We spoke about this on the Vitess monthly call. The logical fix to me, is to switch the default topo to "kubernetes" (see https://github.com/vitessio/vitess/pull/5703 ). We can then run without the etcd-operator.

The k8s topo is in review now. From there it is hopefully straight forward to fix..

[2020-03-05 16:31] #5817 closed

[2020-03-06 21:01] #3580 closed

[2020-03-07 00:35] aquarapid opened #5900 "Microsecond precision timestamps drop leading zeroes for prepared statements"
If you use a prepared statement pass a microsecond-precision datetime/timestamp value to insert/update a table column, we do not right-justify the timestamp microseconds value.

As a result, if you insert:  "2020-03-05 22:01:13.047954", it will end up in MySQL as "2020-03-05 22:01:13.47954" (i.e. no leading zero).  I have a PR for this incoming.

[2020-03-07 19:00] chrisrgithub opened #5902 "vtexplain reports erroneous query plan when using FROM <table1, ...table2> WHERE clause instead of JOIN...ON"
Scenario:

schema & vschema:

[code]

The vtexplain output is erroneous:
[code]
Note this behavior is inconsistent.  With "real world" queries with more filters on either table, and/or higher values on those filters, the result may or may not be as expected (e.g, normal sharding indicated).

[2020-03-07 20:15] aquarapid opened #5903 "vtgate chokes on some forms of MySQL specific comments"
This is works just fine in MySQL:

[code]

But in vtgate, you get:

[code]

[2020-03-08 05:39] aquarapid commented on #5903
Looking at the vttablet logs, seems that we have a few problems:

First, we rewrite the query as "from dual" (in vtgate), placing the comment at the end, so:

[code]

becomes

[code]

This is already going to result in a syntax error, but then in the tablet itself, we rewrite the query further by adding the row limit:

[code]

Passing this to MySQL then results in the error.

[2020-03-09 11:12] guidoiaquinti opened #5907 "Unqualified DESC fails"
#### Overview of the Issue
Unqualified `DESC` query fails on Vitess/vtgate while works on MySQL

#### Reproduction Steps

This works fine in MySQL:
[code]

This doesn't work in Vitess:
[code]

[2020-03-09 14:46] morgo commented on #5907
@saifalharthi did you want to take a look?

[2020-03-09 16:04] #5900 closed

[2020-03-09 16:31] systay commented on #5835
I've been working on this here: #5906

[2020-03-09 16:33] systay commented on #5767
This should be solved by #5906

[2020-03-09 16:42] harshit-gangal commented on #5903
![](https://github.trello.services/images/mini-trello-icon.png) [Support Set Statements](https://trello.com/c/l7N3HbtN/1-support-set-statements)

[2020-03-09 16:44] harshit-gangal commented on #3793
![](https://github.trello.services/images/mini-trello-icon.png) [Support Set Statements](https://trello.com/c/l7N3HbtN/1-support-set-statements)

[2020-03-09 16:44] harshit-gangal commented on #5002
![](https://github.trello.services/images/mini-trello-icon.png) [Support Set Statements](https://trello.com/c/l7N3HbtN/1-support-set-statements)

[2020-03-09 17:05] gedgar commented on #5821
Fixed by #5897

[2020-03-09 17:05] #5821 closed

[2020-03-10 00:22] gedgar commented on #5822
Another relevant ticket: https://github.com/vitessio/vitess/issues/4071

[2020-03-10 19:55] gedgar opened #5911 "vtgate must be restarted for aliased, cross-cell replica/rdonly tablets"
### Overview of the Issue

vtgate lives in `cell1`
rdonly tablets are in `cell2`

In order to route `rdonly` traffic to tablets in `cell2`, we added a cell alias that included both `cell1` and `cell2`.

After this, the vtgate in `cell1` was able to see all `cell2` rdonly tablets in the `HealthCheck Tablet Cache`, though `rdonly` queries were still failing; vtgate had to be restarted in order to ro

[2020-03-10 20:31] deepthi commented on #5911
vtgate updates its cache of tablet healthcheck data (misleadingly called TabletStats) whenever it receives a healthcheck update from a tablet. However, this is gated by a condition:
https://github.com/vitessio/vitess/blob/master/go/vt/discovery/tablet_stats_cache.go#L207
[code]
This means that non-master tablets must be in the same cell or same cell-alias for them to be added to TabletStatsCache.

[2020-03-10 20:39] jadabisamra opened #5912 "Propagate error information on partial failures in batch update requests"
#### Feature Description

Batch modify (create/update/delete) operations might partially fail with multi-shard setup. Having error information in the response on what entries failed is useful to propagate to clients so that they can handle failures appropriately and resolve inconsistent state.

#### Use Case(s)

For example, given the scenario where we dispatch a request to batch update rows with

[2020-03-11 04:01] aquarapid opened #5914 "vStream events do not populate field "Flags" on FIELD events"
I am writing a vStream client, here is some approximate code:

[code]

This works just fine, but the `Flags` value for the fields are always returned as `0`.  The protobuf definition seems to imply that we should be setting the MySQL field definition flags for each column, e.g. 2 == Primary Key;  but we don't seem to do this.

In my application, I am interested in mainly the PK flag, but obviously

[2020-03-11 22:57] sougou commented on #5912
I believe this feature is already available. #4293 is the final PR on it.

[2020-03-13 16:56] #5739 closed

[2020-03-13 19:44] aquarapid commented on #5265
There's a similar issue for the "CREATE DATABASE" step of CopySchemaShard, where things might differ slightly because of differences in MySQL versions.  Note that we do that as a separate step, so a "force" flag would have to bypass a failure on that step too.

[2020-03-14 04:55] sougou opened #5920 "RFC: RBR vttablet -> Breaking changes"
## Summary
The deprecation of SBR will result in a fundamental change about how vttablet works. The most significant one is that vttablet does not need to compute which rows will be affected by a DML. Dropping this requirement allows us to rethink the implementation of its various features. Some of these changes will not be fully backward compatible. Here are the details:

## Pass-through DMLs
Mos

[2020-03-15 07:47] harshit-gangal commented on #3793
#3896 added Support for @@Session. grammar.
#5921 We are improving the way SET is handled.
But, this issue can be closed.

[2020-03-15 07:47] #3793 closed

[2020-03-16 03:52] aquarapid commented on #5399
Another wrinkle is that when talking to (real) MySQL, caching_sha2_password is only supported when the connection is encrypted, unless it's over a local unix_socket.  Something to keep in mind for vttablet supporting "external" MySQL instances.

[2020-03-16 15:28] harshit-gangal commented on #5408
![](https://github.trello.services/images/mini-trello-icon.png) [Insert using select statement](https://trello.com/c/B220OazI/10-insert-using-select-statement)

[2020-03-16 17:12] harshit-gangal commented on #5742
![](https://github.trello.services/images/mini-trello-icon.png) [Within-shard left joins](https://trello.com/c/ARXFBWZs/11-within-shard-left-joins)

[2020-03-16 21:47] morgo opened #5927 "Set 30 minute timeout for all github action workflows"
#### Feature Description

30 minutes should be good enough for any test. If it exceeds it, currently something is going wrong. If it exceeds it due to development changes, we can bump the limit temporarily while we investigate splitting tests better.

This seems like a good threshold to set so that we can ensure our continued productivity with fast tests.

It looks [straight forward](https://githu

[2020-03-17 04:05] sougou opened #5929 "unit race: flaky test"
[code]

[2020-03-17 09:35] lishinho commented on #5570
when you select user(), it always comes out 'vt_app'. Does it mean we connect to mysqld from using vt_app but not the real client conn name?

[2020-03-17 22:55] #5278 closed

[2020-03-18 01:32] #5701 closed

[2020-03-20 15:51] ErikTMA commented on #5411
Do you have any ETA on this? I am looking into implementing Vitess for the first time, but I am unsure if I should wait for the fix for Helm3+Kubernetes 1.16 or implement it in an older cluster.

[2020-03-20 15:54] morgo commented on #5411
We just merged the k8s topo 3 days ago. We are looking for testers, but @carsonoid mentioned on the Vitess monthly call yesterday he would like to make one more change (compress values before storing in k8s).

Personally, I would recommend trying an older cluster. If you are deploying in production on AWS/GCP/Azure etc. they are still using the older versions too.

[2020-03-20 15:56] ErikTMA commented on #5411
That was a fast response :o

I am using digitalocean currently, but not sure if I am going to stick with it in the long haul.

Thanks, I will setup a 1.15 cluster (assuming it works on that)

[2020-03-20 16:50] carsonoid commented on #5411
@ErikTMA like @morgo said: I have one small but breaking change I want to make to the k8s topo implementation. But once that's in we plan on moving all the helm examples to use k8s as the default topo which should allow you to use newer clusters and get rid of our dependency on the etcd-operator.

[2020-03-20 17:44] #5920 closed

[2020-03-20 18:00] #5867 closed

[2020-03-21 00:25] aquarapid commented on #5912
The feature implemented #4293 is for select only;  I believe a partial error in the case of a write operation will result in an error;  and we need to make sure that the error is structured in a way that the client can interrogate the result to discover which part of the write failed.

[2020-03-21 10:28] J0 commented on #5927
Hey @morgo,

This seems like a quick fix that I could make. At the same time, it seems like there's a shortage of Good First Issues on the repo for newcomers to fix.

I'll wait for another five days and if no one pick this up I'll file a Pull Request to fix this. How does that sound?

Joel

[2020-03-21 13:18] morgo commented on #5927
SGTM, and I'll work on tagging more issues for new comers :-)

[2020-03-21 18:02] aquarapid opened #5946 "Allow use of --use-memory with xtrabackup --prepare during restore"
Currently, we just run the prepare phase of the xtrabackup restore with the `--defaults-file`, `--prepare` and `--target-dir` flags.  We should allow passing of the `--use-memory` flag, with a parameter, to allow speeding up of the prepare phase.  Since the restore (and prepare phase) are typically run on the shard host, there is usually plenty of memory available to dedicate to speeding up this p

[2020-03-21 18:16] sougou opened #5947 "RFC: Messager simplification -> Breaking change"
After the move to RBR for messaging, and discussions with @derekperkins, we're simplifying the messaging API. On the upside, this will support all insert constructs. On the downside, the application has more responsibilities on correctness and features. What is changing:
* time_created and time_scheduled are removed from the list of mandatory columns. They will neither be checked nor be populated.

[2020-03-21 20:24] sougou opened #5950 "Simplify vttablet schema -> Breaking change"
This announce includes more detail from #5569

Most of the schema info vttablet currently loads is unused. We'll be deprecating the following:
* All table stats. These were also exported as variables in `/debug/vars`. They will not be exported any more.
* Index information: We only need the primary key column names. So, only this information will be loaded.
* Column information: The column info tr

[2020-03-22 22:52] #5947 closed

[2020-03-23 19:06] #5950 closed

[2020-03-24 16:59] deepthi opened #5960 "Task: cleanup deprecated flags and code"
We need to review which of the following can be deleted in the current milestone.
[code]

[2020-03-24 17:00] deepthi commented on #5960
cc @morgo @sougou

[2020-03-24 18:05] saifalharthi commented on #3060
I was looking debugging this issue and looking at query logs , this query does not invoke `handleUse` in the executor. However, I think mysql client sends a `com_init_db`and at this time we don't process it.

[2020-03-25 04:10] aquarapid commented on #5265
I am adding a patch to add a `--skip-verify` option to CopySchemaShard, that will do the copy as usual, but skip the post-copy verify.  Since this is an opt-in option, I'm not displaying the differences in a case like that.

[2020-03-25 17:40] sougou opened #5970 "Data race in unit test"
The crash didn't show which test:

[code]

[2020-03-25 20:17] #5946 closed

[2020-03-25 20:43] deepthi commented on #5970
Should we add `-v` to unit_test_runner.sh? Then we will know which test is failing (next time).

[2020-03-25 20:51] gedgar opened #5971 "LogStats: Track which connection pool queries are usingfffffffffffffffffffffffffffffff"
Currently, there isn't an easy way to distinguish which connection pool queries are using.
This would be a useful feature and should be added to the logstats.

[2020-03-25 21:05] deepthi commented on #3060
@saifalharthi can you document the full list of commands generated by `use`?

[2020-03-25 21:12] #5927 closed

[2020-03-25 21:56] sougou commented on #5970
The PR from @rohit-nayak-ps #5949 exposed this flakiness, and he's fixing it in that PR.
FTR, the failure was in the wrangler unit test.

[2020-03-26 03:18] #5890 closed

[2020-03-26 05:35] sougou commented on #5357
This now obsolete :)

[2020-03-26 05:35] #5357 closed

[2020-03-26 05:36] sougou commented on #5295
I haven't seen this again. Recent changes must have fixed this.

[2020-03-26 05:36] #5295 closed

[2020-03-26 05:44] sougou commented on #4957
This problem should be fixed by the recent changes in how we handle mastership.

[2020-03-26 05:44] #4957 closed

[2020-03-26 05:49] sougou commented on #4488
I believe @carsonoid finished this work :)

[2020-03-26 05:49] #4488 closed

[2020-03-26 05:56] sougou commented on #3964
This was submitted by @guidoiaquinti

[2020-03-26 05:56] #3964 closed

[2020-03-26 05:57] sougou commented on #3927
This might have been fixed a while ago. If not, the recent refactor definitely did.

[2020-03-26 05:57] #3927 closed

[2020-03-26 06:01] sougou commented on #3458
I believe this is done :)

[2020-03-26 06:01] #3458 closed

[2020-03-26 06:04] sougou commented on #2885
We've chosen a different approach to support multiple schemas in mysql, which makes this obsolete.

[2020-03-26 06:04] #2885 closed

[2020-03-26 06:04] sougou commented on #2803
This is now obsolete.

[2020-03-26 06:04] #2803 closed

[2020-03-26 08:40] guidoiaquinti opened #5975 "Topology data compression"
#### Feature Description
Add data compression for all the supported topology services. Topology data compression for the `k8stopo` has been recently merged via #5957.

#### Use Case(s)
All the topology services that Vitess supports (`zk2`, `etcd2` and `consul`) have a key/object size limit. For big deployments this can be an issue.

[2020-03-26 19:19] sverch commented on #5265
@sougou I was rereading [your comment above](https://github.com/vitessio/vitess/issues/5265#issuecomment-538659247) and I actually had a question, particularly about this:

If someone sets a table default, would that override any layers before that?  Would it be possible to at least unambiguously handle some cases automatically that way, or do you need to know the full picture to make any reasonab

[2020-03-26 19:43] sougou commented on #5265
That may work and could be worthy workaround.

[2020-03-27 09:15] guidoiaquinti opened #5980 "gRPC interface to `vtctl` to use"
Pulling this out from an internal conversation

#### Feature Description
Provide well-defined grpc interface to `vtctl` to use

#### Use Case(s)
We were looking at moving some of our operational tooling for Vitess to go, and we noticed that there isn’t a “true” interface into the vtctld in the protobuf definition. While there is a grpc endpoint, it’s not well defined, as it’s mainly a passthrough

[2020-03-27 09:22] xhh1989 opened #5981 "sql like select * from t where name like '*//*' in StripComments will lead to a deadloop and a cpu usge raise"
https://github.com/vitessio/vitess/blob/490bac139a3dadb7838c7a282cf3e4ee879ffffb/go/vt/sqlparser/comments.go#L169
sql like  `select * from t where name like '*//*' ` in StripComments will lead to a deadloop and a cpu usge raise

[2020-03-27 13:51] derekperkins commented on #5980
We found this out too and it makes tooling more difficult. Having a real API will also make the new UI much easier to build.

[2020-03-27 16:35] carsonoid commented on #5975
➕ The recently-added K8s topology compresses all of it's data by default. So it would make sense to add that to other topology implementations.

[2020-03-27 16:46] rafael commented on #4382
I think this was addressed here: https://github.com/vitessio/vitess/pull/4882

@demmer  could we close this one?

[2020-03-27 22:12] sougou opened #5985 "data race in wrangler test"
[code]

[2020-03-28 03:45] #5767 closed

[2020-03-30 15:25] guidoiaquinti opened #5990 "We shouldn't reload schema if MySQL is down"
#### Overview of the Issue
We shouldn't try to refresh the schema definition when MySQL is down (e.g. for backups)

#### Reproduction Steps
1. Take a backup that last more than the schema reload period
1. Look at logs

#### Log Fragments
[code]

[2020-03-30 18:31] deepthi opened #5991 "PlannedReparent improvements"
#### Overview of the Issue
During a planned reparent, it is possible that `PromoteSlaveWhenCaughtUp` succeeds without an error but the outer context has been canceled. In that situation, we still call `UndoDemoteMaster` with a background context.
By design, the old master discovers that it is no longer master and changes its type to REPLICA. However, the call to UndoDemoteMaster is ~unnecessary~ i

[2020-03-30 18:34] deepthi commented on #5991
cc @enisoc @sougou @rafael @setassociative @zmagg

[2020-03-30 19:14] saifalharthi commented on #3060
These are the commands I logged
[code]

[2020-03-30 19:38] brirams commented on #5171
Just wanted to bump this as it's required us to write a bunch of bespoke provision scripts to workaround this. For some specifics that I found while looking into this, it looks like worker actions like `LegacySplitClone` are not multi-cell aware and only [look for targets in their own cell](https://github.com/vitessio/vitess/blob/fceed44ff9914862f027896ca44dcca643f89631/go/vt/worker/legacy_split_c

[2020-03-30 22:44] sougou commented on #5171
The new resharding commands (about to be unveiled) support a cell flag :), and you can override them individually on the vreplication streams. I think cell will be an orthogonal concept to labels. But we'll know more when we iterate through the design doc.

[2020-03-31 03:52] saikrishna4d8 commented on #2951
Hi, I am still facing the same issue,
Caused by: java.sql.SQLSyntaxErrorException: vtgate: http://vtgate-zone1-********:***/: target: ***.0.master, used tablet: zone1-*** (zone1-***-0-replica-0.vttablet): vttablet: rpc error: code = Unimplemented desc = unsupported: **cannot identify primary key of statement** (CallerID: userData1)
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLEr

[2020-03-31 08:10] harshit-gangal commented on #2951
I think this was an issue with SBR bin log. Can you verify that and if in SBR can you move to RBR.

[2020-03-31 17:56] sougou opened #5997 "Data race in unit test"
[code]

[2020-03-31 20:27] #3290 closed

[2020-03-31 22:55] carsonoid opened #6000 "The topology CellInfo needs more fields"
The [CellInfo](https://github.com/vitessio/vitess/blob/master/proto/topodata.proto#L386-L402) message does not currently support all topology implementations.  It only has a `server_address` and `root` field but as of writing, there are at least 19 different topology flags that could change how a component would connect to a topology server:

[code]

Right now, the only configuration you can chang

[2020-04-01 22:56] brirams opened #6003 "[vtctld] Topology browser in v1 app no longer working"
#### Overview of the Issue

The `Topology Browser` UI at `https://${vtctld-host}/app/#/topo/` can not inspect beyond two levels deep into any topo path. This seems to be due to the fact that it's trying to hit a URL where the second `/` is url encoded so instead of `/api/topodata/global/cells` it's hitting `api/topodata/global%2Fcells`, causing a 404 and an operator freakout since the page only sh

[2020-04-02 02:14] #5981 closed

[2020-04-02 07:10] saikrishna4d8 commented on #2951
Hi @harshit-gangal ,
I am new to vitesse, i tried to find the logs but i couldn't, can u please guide me with the bilog folder location or any documentation to do that.

[2020-04-02 19:54] aquarapid opened #6007 "Panic in vttablet"
[code]

This was while delete-ing from a sharded table without a where clause.  I do not have a good repro.

 This was using the vitess lite k8s build from Vitess hash 6373ad94 (3/31/2020)

[2020-04-02 21:26] aquarapid opened #6008 "VReplication: deletes and updates fail to replicate correctly for tables without PK and with nullable columns"
Scenario:

  * Upstream database in RDS (but source is unimportant)
  * Downstream target is a sharded vitess keyspace

Table looks like this:

[code]

VSchema just shards on hash of customer_id.

Note this table does not have a primary key or any unique key.

In VReplication, we handle this by treating the combination of all columns for a row as the PK.

There is, however, a bug in the code that

[2020-04-03 05:45] #6007 closed

[2020-04-03 23:16] aquarapid opened #6014 "VReplication using "erepl" from external MySQL very slow because of overzealous schema (re)load?"
When running a set of VReplication streams into a Vitess instance using the "erepl" feature from an upstream RDS instance, we note that the replication gets bogged down very badly.  Looking at the tablet logs, we note that there seems some type of schema reload storm going on, with extremely slow schema reloads, e.g.:

[code]

The upstream DB in this case did not have a significantly huge schema,

[2020-04-05 21:15] eclipseo opened #6019 "go/vt/vtgate/engine/memory_sort.go: constant 9223372036854775807 overflows int"
Go 1.14 on i686 and armv7hl, build fails with int overflow:

[code]

[2020-04-05 21:19] saifalharthi commented on #6019
This is a Go issue https://github.com/golang/go/issues/23086

[2020-04-05 21:36] eclipseo commented on #6019
Trying to cast as int64 doesn't solve this issue because then it doesn't match the function signature.

[code]

[2020-04-05 22:58] sougou commented on #6019
Vitess is only known to work in 64-bit architectures. There are many places in the code that implicitly assume this. So, even if we get past this problem, we're likely to run into others.

[2020-04-06 04:47] riupie commented on #5618
Same here. It running well on minikube and error on `real cluster`.

[2020-04-06 16:33] deepthi commented on #5991
after discussion here's the approach we came up with:
- the outer call needs to know whether `PromoteSlaveWhenCaughtUp` failed because the replica was unable to catch up within the timeout, or due to some other error. In order to facilitate this, we will issue two separate RPCs, one to catchup (`WaitForPosition`) and then to do the actual promotion (`PromoteSlave`). then we can handle any errors f

[2020-04-06 22:34] deepthi opened #6021 "flaky endtoend message test"
=== RUN   TestMessage
--- FAIL: TestMessage (4.23s)
##[error]    message_test.go:111: epoch: 2, must be 0 or 1

This is in shard 12.

[2020-04-07 02:56] aquarapid commented on #5416
Similarly, we should also you to upgrade from a vtgate param `--transaction_mode=SINGLE` to 'multi' via `set transaction_mode='multi'`;  so that you can have the safest possible default, and then bypass it if you know what you are doing.

[2020-04-07 03:49] aquarapid commented on #5912
I did some research into what happens on master today when a DML fails during the commit phase.  I did the following:

  * Modified the code to add sleeps between commits ( in go/vt/vttablet/queryservice/wrapped.go Commit(...))
  * Execute a scatter update, and then while the sleep was running between shards, kill the underlying mysqld for the "last" shard, simulating a failure during the scattere

[2020-04-07 18:32] deepthi opened #6026 "flaky vstreamer test"
E0407 11:58:25.955836   26293 controller.go:150] stream 29: Duplicate column name 'val2' (errno 1060) (sqlstate 42S21) during query: alter table t1 add column val2 varchar(128), retrying after 5s
E0407 11:58:32.399528   26293 controller.go:150] stream 39: vstream ended, retrying after 1ms
--- FAIL: TestTabletVStreamerClientVStreamRows (5.01s)
##[error]    vstreamer_client_test.go:264: no events re

[2020-04-07 23:23] sougou opened #6028 "Flaky endtoend test tabletmanager"
This has started happening very often

[code]

[2020-04-08 00:27] gedgar opened #6029 "zk_conn.go: Ignore trailing newline in topo_zk_auth_file"
#### Feature Description
[PR #4733](https://github.com/vitessio/vitess/pull/4733) added support for Vitess client authentication with Zookeeper via digest username/password.

If you create your `topo_zk_auth_file` using an editor, it will include a trailing newline which, when sent with the digest to zk, breaks things:

[code]

[code]

It'd be nice if we changed the code to chomp the input from th

[2020-04-08 10:27] arindamnayak commented on #6028
I have moved that test to run in docker in #6025, the testcase is passing there.

[2020-04-08 17:20] fellyns commented on #4334
We see this issue as well, but through normal operation not through internal usage of DBA connections.

This is going to be a bit long winded, but bear with me : )

I dug into the issue and traced it to the Close() method in the mysql protocol implementation not sending COM_QUIT to the server (and optionally receive OK back) prior to closing the TCP connection (https://github.com/vitessio/vitess/b

[2020-04-08 17:37] PrismaPhonic opened #6032 "Insert ORDER BY column in SELECT to support SELECT * ORDER BY scatter gather"
#### Feature Description

This feature would rewrite `SELECT * ORDER BY` queries to include the column in the ORDER BY to be part of the SELECT. This would allow us to instantly support SELECT * ORDER BY scatter gather queries without having to resort to the authoritative vschema feature.

#### Example

`SELECT * FROM popsicle WHERE flavor LIKE '%vanilla%' ORDER BY id` would get translated to ->
`

[2020-04-08 17:38] PrismaPhonic commented on #6032
@systay tagging you for visibility.

[2020-04-08 19:20] sougou commented on #4334
Thanks for the detailed analysis. I actually tried to implement COM_QUIT on close, and somehow came out convinced that it was not needed. It's likely that I read somewhere that mysql already handle a connection close correctly. But my memory is hazy on this. Maybe @morgo can chime in if he's familiar.

But if it does make things better, the above approach is good. However, we should not change the

[2020-04-08 20:11] PrismaPhonic commented on #6007
To clarify, this was pasting in 83 DELETE FROM with no WHERE clauses in a row. Visually at the mysql client we saw the vtgate starting to spit `delete delete delete delete delete delete` back at us, but we didn't see this error in the client.

[2020-04-08 20:39] PrismaPhonic commented on #6032
Just as a follow up, the Active Record ORM will often product `SELECT <column names> FROM <table name> ORDER BY <different column names>`. This feature request could fix this use case as well.

[2020-04-08 21:05] derekperkins commented on #6032
Would you strip the added column before sending it back to the client?

[2020-04-08 23:35] techwolf359 commented on #3592
Ran across this issue today. Adjusted our wait_timeout up from 6 to 60 to match the Vitess idle timeout and saw an immediate reduction in connections/sec. I would also support option 3 in this scenario, set a session variable for wait_timeout to a configured value (maybe >= the Vitess idle timeout?).

[2020-04-09 02:48] #6029 closed

[2020-04-09 06:38] scbizu commented on #5019
Can someone please reopen this issue ? IMO this issue is not fixed whether you taged v4.0 or v4.0.0 , as @physcat said , module name `github.com/vitessio/vitess` should be modified  to the  `github.com/vitessio/vitess/v4` in order to remove the `incompatible` , or create the v4 directory to provide ` */v4` module as [gax-go](https://github.com/googleapis/gax-go) did. Maybe #5758  is the same issue

[2020-04-09 16:38] PrismaPhonic commented on #6032
Correct @derekperkins. This would be totally unknown by the client, and is one solution for having immediate support for scatter gather ORDER BY where the column in the ORDER BY isn't in the SELECT.

[2020-04-09 23:33] gedgar opened #6041 "vttablet fails to parse cell names with dashes"
### Overview of the Issue
vttablet fails to parse tablet-aliases with more than one `-` in the name, as it's expecting the format `<cell>-<uid>`.

I'm not sure if dashes break anything else; we should either fix the parsing of tablet-aliases or disallow adding cells with dashes in the name.

#### Reproduction Steps
Add a cell with a dash in the name, eg `commerce-zone1`.
Try starting a tablet in t

[2020-04-10 06:12] jawabuu commented on #5166
@mcronce Could you try the custom backend here and let me know if you still have an issue
https://github.com/vitessio/vitess/tree/master/support/django

[2020-04-10 09:14] harshit-gangal commented on #5791
@schuylr Geo-Partitioning is supported via region-based sharding support in Vitess. Schema is collection of tables i.e. you can have multiple schemas in a database. Schema is basically logically grouping tables into one.

[2020-04-10 15:56] sougou opened #6044 "helm: teardown of shard causes the vttablet pods to hang"
@derekperkins @carsonoid @enisoc

I was running through the steps of the helm example. The following step causes the master pod to hang. I believe it's because we try to reparent, but there's no vttablet to reparent to.

Here are the log messages of the vttablet when the kill pod command is issued:
[code]

And later, when I delete the shard from topo, I see the following messages, but the pod rema

[2020-04-10 16:46] enisoc commented on #6044
As far as I can tell, we give the master Pod an effectively unlimited amount of time to reparent. I don't know whether there's a prescribed way to tear down a cluster deployed by helm to avoid getting into this state, but once you're in it I would try deleting the stuck Pod with `--grace-period=1`.

[2020-04-10 17:05] derekperkins commented on #6044
Yep. The default is to not let a master willingly go down, which has definitely saved us before. It's the right production setting, but I don't know that there's anything to make cleanup easier without manually deleting each pod with `--grace-period=1`

[2020-04-10 17:08] sougou commented on #6044
The problem with helm right now is that this is done implicitly by the fact that we push a new helm config with the shards removed. We could change our instructions to ask them to do a force delete, and explain why.

How is this handled in the operator?

[2020-04-10 17:19] derekperkins commented on #6044
Not sure about the operator, but at the end of the day, helm is just too blunt of an instrument to actually manage Vitess. That's why we ended up just using helm to generate the base yaml and have managed those manually since then. We'll migrate to the operator later this year when we have a chance.

[2020-04-10 17:23] enisoc commented on #6044
Our operator doesn't use preStop hooks like the Helm chart does. If you want to take down a master gracefully, you have to first annotate the Pod with `drain.planetscale.com/started` and then wait for the operator to add `drain.planetscale.com/finished` to indicate it has reparented away before you delete the Pod.

This explicit protocol separates the concerns of graceful draining and deletion. Yo

[2020-04-10 20:15] sougou commented on #6044
I was able to get the example to behave better with this change:
[code]

I'm now debating between parameterizing this setting for the sake of the example vs. adding an extra step to force-delete pods. I feel like parameterization is better, because I can see situations where users may want to fine-tune this.

[2020-04-10 20:49] derekperkins commented on #6044
Nothing against adding a parameter. I was unprepared for the explosion of parameters in the helm charts, and so adding new parameters is a much bigger pain than it should be.

[2020-04-10 20:55] carsonoid commented on #6044
You need to be careful when changing that setting.
`terminationGracePeriodSeconds`
tells the Kubelet how long to wait for a container to stop gracefully
before it forcefully kills it. Basically, it's a countdown to a `kill -9`.
So 1 second is probably way too short since it will make it very likely
that other containers in the pod, like mysql, will be force-killed and may
not give them time to do

[2020-04-11 03:33] sougou commented on #6044
Fixed via #6048
I've added explicit comments in the overrides that it's not recommended for prod use.

[2020-04-11 03:33] #6044 closed

[2020-04-11 15:50] yiliaofan commented on #5411
I encountered the same problem above. Thank you for your great work ~
You try to put aside etcd-operator, can you test  ok with the latest version of k8s? thank you very much!

[2020-04-11 16:04] sougou commented on #5411
I just tested against 1.18, and it works fine. And #6052 is out showing the new way to reshard.

[2020-04-12 02:57] sougou commented on #5019
Reopening as requested.

[2020-04-13 00:44] Johnny-Three opened #6059 "create two seq table with same name in different unsharded keyspaces then vtgate complains "ambiguous table reference""
#5704 ## Overview of the Issue

create two seq tables with the same name in different unsharded keyspaces
 vtgate complains "ambiguous table reference".
Guess it may better to check the problem when ApplyVshcema is applied
Otherwise, if there is no  error prompt, users will think it is a success, but it is not the case
#### Reproduction Steps

1. Deploy the following `vschema` on unshared keyspace

[2020-04-13 02:09] #4071 closed

[2020-04-13 02:09] #5822 closed

[2020-04-13 05:34] sougou commented on #6059
This is intentional. We support two models:
1. The traditional model where you can allow dup table names in different keyspaces. In this model, you have to qualify the table name by its keyspace.
2. The anonymous model: as long as there are no duplicates, you can address a table without qualifying by its keyspace. But we still allow duplicates because you can always use model 1.

[2020-04-13 09:05] Johnny-Three commented on #6059
sorry for not describing the problem clearly. I mean, what if I check some common problems when applying vschema ? For example, the seq table does not exist, the case of the seq table is inconsistent, or the seq table is duplicated. In this way, the user does not need to observe whether there is an vschema unmarshal error on vtgate. He can get a clear error prompt what info causes the vschema unma

[2020-04-13 12:16] boopathykpm opened #6060 "Publish the helm chart as helm repo"
## Feature Description

It would be great if there is an option to install the Vitess helm chart directly without cloning the git repository.

#### Use Case(s)

It would be unnecessary to clone the whole repository and install the chart from the repo. It will be great if the helm is packaged as a helm chart and pushed somewhere, where everyone can install directly without cloning the repo.

[2020-04-13 14:55] sougou commented on #6059
This, we should do. I'll keep the issue open for it. It's possible there are other issues that describe this problem.

[2020-04-13 18:58] deepthi commented on #6026
Fixed by #6061. Thank you @rohit-nayak-ps

[2020-04-13 18:58] #6026 closed

[2020-04-13 18:59] deepthi commented on #5789
Fixed by #6001 #6033 and #6061

[2020-04-13 18:59] #5789 closed

[2020-04-14 17:16] sougou opened #6065 "Breaking change: deprecation: enforce_strict_trans_tables"
This enforcement was important for SBR, and was defaulted to "true". It's not required for us to check this any more. If there are no objections, I'll change its default to false, and then we can get rid of the flag during the next release.

[2020-04-14 17:53] morgo commented on #6065
I am +1 for this change, but keep in mind that several programs/frameworks explicitly set the sql-mode for the session to what they are capable of.

Since setting the sql-mode is ignored by Vitess (a white-listed sessionvar), this can create a scenario where programs will no longer be able to lower their sql-mode. @harshit-gangal and @systay have been working on rewriting session vars, which will

[2020-04-15 01:10] deepthi opened #6066 "unit_race test failure in CI"
[code]

[2020-04-15 01:13] deepthi opened #6067 "mysql unit test failure in CI"
--- FAIL: TestListenerShutdown (0.00s)
##[error]    server_test.go:253: listening on address '127.0.0.1' port 35367
##[error]    server_test.go:1341: Expected connRefuse delta=1, got 0
FAIL
FAIL	vitess.io/vitess/go/mysql	2.374s

Probably related to #5631

[2020-04-15 03:01] sougou opened #6068 "RFC: TabletServer yaml params"
## Background
This issue is an expansion of #5791, and covers the details of how we’ll use yaml to implement a hierarchy of parameters for initializing and customizing TabletServer components within a process.

Using the yaml approach, we intend to solve the following problems:
* Multiple tablet servers need to exist within a process.
* Badly named command line parameters: The new yaml specificati

[2020-04-15 20:48] sougou commented on #3404
Closed via #6053

[2020-04-15 20:48] #3404 closed

[2020-04-16 00:16] sougou opened #6071 "Removing deprecated dbconfig params"
The user specific connection params like `db-config-app-host` have been deprecated for a long time in favor of the global ones like `db_host` that apply to all users.

The new yaml based approach will not support these, and we'll therefore have to remove these. In order to ensure no loss of functionality, we'll additionally add a `PreferTCP` flag to every user that can force a connection to use TC

[2020-04-16 01:56] ameetkotian commented on #6071
Thanks for the note @sougou . We'll migrate to db_host

[2020-04-17 17:17] sougou opened #6084 "regression: panic in vttablet"
Bug was found by @luismartins-td.

The recent exporter change introduced a regression that manifests if the appdebug user matches the app user. This in itself is a separate issue we have to find a solution for. I'll file a separate issue for it.

[code]

[2020-04-17 17:22] sougou opened #6085 "vttablet: pool behaves incorrectly if appdebug user matches app"
The current logic matches the caller id against the mysql username. If vttablet is configured such that the appdebug user matches app, then all requests end up using the appdebug user, which creates a connection for every request.

We have to find a more reliable way to use the appdebug user.

The other option is to error out if appdebug username matches any of the other usernames.

[2020-04-17 17:51] lcabancla opened #6087 "Support for last_insert_id(expr)"
Please search the existing issues for relevant feature requests, and use the [reaction feature](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing requests.

#### Feature Description

Refer to: https://dev.mysql.com/doc/refman/8.0/en/information-functions.html#function_last-insert-id
Currently only the parameterless version of las

[2020-04-17 22:06] dweitzman opened #6089 "legacy_local_example failing on CI"
Seems like some recent PR is causing legacy_local_example generally be red?

I had some issues getting the presubmit tests to pass for https://github.com/vitessio/vitess/pull/6077, but I was able to resolve them by rebasing just a little bit back in time. With 48020c814be89c758404d287ea681b7e171c97ac as the parent the tests were passing

[2020-04-18 03:38] #6084 closed

[2020-04-20 09:28] szmytson commented on #6060
Second that. It would be great to have the helm chart in a repo.
Maybe this will help. https://helm.sh/docs/topics/chart_repository/#github-pages-example

[2020-04-20 20:20] gitmko0 opened #6098 "I would like to replace table name"
saw this function but can't find how to use it
func replaceTableNameName

Can give some guidance / guideline how to use this function?

e.g. select * from t123_terms inner join t123_abc ... inner join t123_xyz;

how do i replace t123... with abc.t123_...?

please help. thx

[2020-04-20 20:53] sougou commented on #6098
It's just part of generic code that helps you change various parts of the parse tree. I don't think there's any existing functionality that can exploit it yet.

However, you can use routing rules (yet to be documented) to replace table names during routing, with a command like this:
[code]

[2020-04-20 21:29] gitmko0 commented on #6098
Thanks!

[2020-04-20 21:29] #6098 closed

[2020-04-21 13:19] harshit-gangal commented on #6065
STRICT_TRANS_TABLE is default in MySQL 8.0

[2020-04-23 03:13] sougou commented on #5844
But it could cause problems for someone who doesn't know that it's turned on right? How about turning this off by default, and let those who want it turn it on.

[2020-04-23 03:17] derekperkins commented on #5844
I'm totally behind disabling it by default

[2020-04-23 14:37] morgo commented on #6089
I <strike>fixed</strike> reduced a race in https://github.com/vitessio/vitess/pull/6076 (1 day before this issue was opened). It is possible this fixed it, but I am going to leave this issue open for now.

[2020-04-24 08:03] harshit-gangal opened #6107 "RFC: SET Statements"
## Use Case
There are multiple applications/frameworks that perform tweak session system variables at the start of the connection to configure the system in specific ways. Some do it for all connections it uses, and some do it only for specific workloads, such as import, installation, etc.

To support these use cases, Vitess needs to allow SET statements to be set on a per connection basis.

The r

[2020-04-26 07:49] aquarapid commented on #5497
As a generalization of this;  this also means that JDBC Statement.cancel() will not work with Vitess (it does with MySQL with any recent MySQL Connector/J driver).

Note that since the MySQL Connector/J implementation of cancel() uses a second database connection to issue a `KILL QUERY` command for the query being canceled, this introduces an additional problem in that we can't necessarily guarant

[2020-04-26 19:20] sougou opened #6115 "Vitess binaries should fail to start if topo_global_root is not specified"
Vitess binaries cannot operate meaningfully without a topo_global_root. Right now, they come up and their operations fail in unpredictable ways later. Instead, they should just fatally exit in the beginning.

[2020-04-26 21:19] sougou opened #6117 "vtgate panics if there are no vttablets and vtctlds"
Repro:
Bring up etcd
Bring up vtgate
Run mysql client and issue a `show databases`

[code]

[2020-04-26 22:31] derekperkins commented on #5497
This does work correctly with the gRPC client though, right?

[2020-04-27 03:10] my1990 opened #6118 "Unknown command: MoveTables"
Prompt no command when moving table

![image](https://user-images.githubusercontent.com/16768690/80330401-a7726800-8877-11ea-95d3-23f7ed19bb29.png)

What's the reason?

[2020-04-27 03:28] sougou commented on #6118
This is a brand new feature. You need a more recent image, preferably something that's 3-4 days old.

[2020-04-27 03:40] my1990 commented on #6118
I pulled the master branch. There is no MoveTables command on it? If not, how did the previous version move tables?
![image](https://user-images.githubusercontent.com/16768690/80331652-3634b400-887b-11ea-95fc-43fb4a54fd46.png)

[2020-04-27 03:45] sougou commented on #6118
It's possible an old binary is in your path? The MoveTables command is here https://github.com/vitessio/vitess/blob/master/go/vt/vtctl/vtctl.go#L314-L316. Accoding to github's blame, it was added about a month ago.

[2020-04-27 03:56] my1990 commented on #6118
System environment variable：
![image](https://user-images.githubusercontent.com/16768690/80332520-a17f8580-887d-11ea-83bd-f746500606c6.png)

vtctl.go file:
![image](https://user-images.githubusercontent.com/16768690/80332550-b9efa000-887d-11ea-9c6a-4c589c13f9ba.png)

Error message of execution 202_move_tables.sh file
![image](https://user-images.githubusercontent.com/16768690/80332647-f9b68780-887

[2020-04-27 04:13] morgo commented on #6118
This looks to be a binary from Vitess 5. The MoveTables feature is new to
Vitess 6. It will work from the master branch, or you can wait a few days
for official the official Vitess 6 release.

On Sun, Apr 26, 2020 at 9:56 PM my1990 <notifications@github.com> wrote:

--
Morgan Tocker
http://www.tocker.ca/

[2020-04-27 04:33] aquarapid commented on #5497
Yes it does;  to clarify:  I meant all of the above in the context of the MySQL protocol interface of vtgate.

[2020-04-27 04:58] my1990 commented on #6118
Thank you. Now I get it，
Thank you again@morgo @sougou

[2020-04-27 10:33] harshit-gangal commented on #5771
![](https://github.trello.services/images/mini-trello-icon.png) [Do not do a full scatter for DELETE or UPDATE statements with multiple PKs](https://trello.com/c/YzSB0kVk/8-do-not-do-a-full-scatter-for-delete-or-update-statements-with-multiple-pks)

[2020-04-27 12:03] #5771 closed

[2020-04-27 15:22] #5411 closed

[2020-04-27 15:22] morgo commented on #5723
Vagrant support has been removed from Docs.

[2020-04-27 15:22] #5723 closed

[2020-04-27 15:23] morgo commented on #5265
A workaround has been merged, so I am removing this from the v6.0 milestone.

[2020-04-27 16:22] dweitzman commented on #6107
This may not be in scope for the moment, but wanted to note that named locks could probably be made to work in a similar way to how "set" statements would work (https://github.com/vitessio/vitess/issues/3631), although named locks are acquired via `select get_lock(...)` rather than a `set` statement

[2020-04-27 20:36] morgo commented on #6115
Fixed in https://github.com/vitessio/vitess/pull/6119

[2020-04-27 20:36] #6115 closed

[2020-04-27 22:06] sougou opened #6123 "vschema: should support back-quoted names"
VSchema needs to support back-quoted table and column names like
[code]

[2020-04-27 23:47] morgo opened #6124 "Add `vtctlclient WaitForKeyspace commerce`"
#### Feature Description

Currently, the local examples have a sleep call at the end of vttablet-up.sh:

https://github.com/vitessio/vitess/blob/0f1551aa78564a12677cbe2cfd744261ecd1bf80/examples/local/scripts/vttablet-up.sh#L60-L69

This is problematic to start with because it is sleeping for each tablet, versus just waiting for the last one. It also uses shell, which is not completely portable. F

[2020-04-28 00:19] npulikanti opened #6125 "`select count(distinct col) from table` queries failing"
I get the  below exception when trying distinct on a varchar column
mysql> select count(distinct value) from test ;
ERROR 1105 (HY000): vtgate: http://xxxx:xxxxx/: types are not comparable: VARCHAR vs VARCHAR
I already defined  the column in the vschema as varchar . Is there anything else i need to set?
            "columns": [
                {
                    "name": "value",

[2020-04-28 01:29] morgo commented on #6118
I am going to close this issue for now. We plan to release Vitess 6 on Wednesday, which will support MoveTables.

[2020-04-28 01:29] #6118 closed

[2020-04-28 02:50] sougou opened #6126 "vtgate: cells_to_watch should not be required for single cell use case"
Right now, `cells_to_watch` seems to be a required parameter where you must specify at least the local cell. Otherwise, vtgate won't discover tablets in the current cell (inferred by reading the code).

We should just add the current cell to the list internally instead.

[2020-04-28 08:01] fzyzcjy commented on #2976
@morgo Hi, I wonder whether the utility you mentioned has been developed? Thanks!

[2020-04-28 13:27] harshit-gangal commented on #3060
Can this be closed? This is fixed

[2020-04-28 15:39] deepthi commented on #3060
do you know which PR fixed it? Then we can refer to it here and close it.

[2020-04-28 16:18] harshit-gangal commented on #3060
If someone issues use <target>. It exists.
It is not implemented for ComInitDB call from mysql driver.

[2020-04-28 17:38] sougou commented on #3060
I don't think it's fixed. We might even have a regression of some sort. From the local example:

[code]

[2020-04-28 17:46] sougou commented on #2976
@aquarapid how were you doing your bulk uploads?

[2020-04-28 20:43] deepthi commented on #3060
That _is_ a regression, it used to error out on the select, now it silently uses *a* keyspace.

[2020-04-28 20:43] aquarapid commented on #2976
I was using a patched version of go-mydumper (see https://github.com/aquarapid/go-mydumper );  but note that does not do CSV.  It doesn't do anything special for loading, except use multiple threads parallel load a dump (since it dumps to multiple files).

[2020-04-28 23:58] fzyzcjy commented on #2976
@sougou @aquarapid Thanks very much!

Btw, in my case I need to insert lots of "fake" data for a stress test (about 5 billion rows). IMHO I cannot use the go-mydumper, and the current way I find best is to manually execute `INSERT INTO VALUES (...), (...), ...`, i.e. a bulk insert. Is my understanding correct, or I can happily use the mydumper? Thanks!

[2020-04-29 01:51] aquarapid commented on #2976
go-dumper just imports files with multi-value inserts that look something like:

```INSERT INTO `sbtest6`(`id`,`k`,`c`,`pad`) VALUES
(13302151,10081447,"43751109323-24010236009-36465146381-17384415706-85442100611-56728161013-86404131138-98859999282-59922279497-91665827697","13548597951-89272866952-58708615022-40631105842-24825816956"),
(13302152,10077469,"10558184594-74970023092-90973284368-066936

[2020-04-29 10:27] fzyzcjy commented on #2976
Thanks very much! I will try the go-dumper!

[2020-04-30 03:47] sougou opened #6131 "RFC: Change tabletmanager model"
## Background

The current tabletmanager model treats the tablet record as authoritative. The tabletmanager  polls the tablet record and reacts to changes there. There are also calls sprayed around the code that invoke “RefreshTablet” or “RefreshState”, after they update the tablet record.

This model is not representative of how we currently operate vitess. There is actually no benefit to updatin

[2020-04-30 15:57] morgo commented on #6124
Just to clarify, there is a second race: after starting a vtgate, it is not immediately queryable by MySQL clients. Currently in the examples code this is solved by a sleep:

https://github.com/vitessio/vitess/blob/3b64e30cbc0bd5156fac05d25a1d1b47654e8536/test/local_example.sh#L30-L32

This is not possible to fix by another `vtctlclient Wait..` command, because vtctlclient does not know about vtga

[2020-04-30 18:05] sougou commented on #6131
We need to handle the following failure mode: What if two tablets were brought up using the same alias? There are usually safeguards against this in most production environments. But it will be important to define the behavior if it were to actually happen. Here's the proposal:

When a vttablet comes up, it will check the host:port of the tablet record. If it's set, it will attempt to `Ping` that

[2020-04-30 19:02] sverch commented on #4886
@deepthi since https://github.com/vitessio/vitess/pull/5160 is merged, does that mean that [Vitess 4.0](https://github.com/vitessio/vitess/releases/tag/v4.0.0) (checking release notes) has the ability to do these keyspace snapshots?  Is there any documentation on how to do that?

[2020-04-30 20:25] deepthi opened #6134 "flaky test: srvtopo"
--- FAIL: TestGetSrvKeyspace (0.90s)
    resilient_server_test.go:315: expected error 'timed out waiting for keyspace', got '<nil>'
E0430 13:23:13.503797   12550 resilient_server.go:461] Initial WatchSrvKeyspace failed for test_cell/test_ks: force long test error
E0430 13:23:13.503813   12550 resilient_server.go:464] WatchSrvKeyspace clearing cached entry for test_cell/test_ks
E0430 13:23:13.50382

[2020-04-30 20:26] deepthi commented on #4324
@rohit-nayak-ps can this be closed?

[2020-04-30 20:26] deepthi commented on #4323
@sougou can this be closed?

[2020-04-30 20:40] sougou commented on #4323
Yup.

[2020-04-30 20:40] #4323 closed

[2020-04-30 21:26] deepthi commented on #4886
We don't actually have any documentation, so I'm just going to write some here.

To use this feature, you first create a SNAPSHOT keyspace.
[code]
Then you bring up a vttablet with the following flags
[code]
The last flag is optional, that is what it defaults to.
You need to have at least one backup taken before the snapshot_time for this to work.

That's it!
You can see how our endtoend tests do

[2020-05-01 00:04] ochotinun commented on #6123
I have created a schema with auto_increment pointing to a table of type "sequence" which has dots in the name.
 "auto_increment": {
        "column": "id",
        "sequence": "Roblox.Testing.ScalarFields_seq"
      }
Inserts on the table that had this auto_incrment did not work. I tried backquoting the name of the sequence table in vschema,
 "auto_increment": {
        "column": "id",
        "se

[2020-05-01 10:16] rohit-nayak-ps commented on #4324
I haven't worked on this one. This has never occurred for me though.

[2020-05-01 17:39] enisoc opened #6141 "ApplySchema: Statements for non-default DB escape preflight isolation and bypass binlogs"
ApplySchema applies statements twice: once as a preflight test on an empty copy of the DB schema, and then on the real DB if the preflight succeeds.

The preflight attempts to isolate statements to the empty copy of the DB with a `USE` statement, but this only works for statements that respect the default DB of a session. Any other statement (anything scoped outside a DB, or that explicitly specif

[2020-05-01 21:53] aquarapid opened #6142 "Dotted tablenames not escaped properly in lookup vindex flow"
Scenario:
   * Two tablespaces;  one unsharded with a sequence;  one sharded, with a lookup vindex and an owned table that has a dot (period) in the name

Unsharded keyspace schema:
[code]

Unsharded keyspace vschema:
[code]

Sharded keyspace schema:

[code]

Sharded keyspace vschema:

[code]

Now, the bug appears when you try and insert a unique column pair twice:

First time (works fine):
[code]

[2020-05-01 22:04] aquarapid opened #6144 "Error 1105 instead of 1062 when inserting duplicate into consistent_lookup vindex"
Scenario:
   * Two tablespaces;  one unsharded with a sequence;  one sharded, with a lookup vindex and an owned table that has a dot (period) in the name

Unsharded keyspace schema:
[code]

Unsharded keyspace vschema:
[code]

Sharded keyspace schema:

[code]

Sharded keyspace vschema:

[code]

Now, the bug appears when you try and insert a unique column pair twice:

First time (works fine):
[code]

[2020-05-02 04:01] sougou commented on #6124
After looking at the examples, this should not be necessary. I believe there is a regression in vttablet where it reports itself healthy before it can serve queries. So, if we fix that, vtgate will come up only when vttablets are ready.

Essentially, the vtgaet `wait_for_tablet_types` flag is this feature.

[2020-05-04 11:16] #6142 closed

[2020-05-04 11:16] #6144 closed

[2020-05-04 22:50] sougou opened #6147 "RFC: add "ignore_nulls" option to lookup vindexes"
There are situations where the `from` columns of a lookup vindex can be null. Such columns cannot be inserted in the lookup due to the uniqueness constraints of a lookup. There are use cases where such a thing can be a requirement.

If the input value of any of the columns is null, we could skip the creation of the lookup row. This does will not cause problems because such rows are not findable th

[2020-05-04 22:53] sougou opened #6148 "vschema: versioned updates"
In order to prevent races when multiple people attempt to change the same vschema, it will be good that `GetVSchema` returns a version tag, which can be used against a subsequence `ApplyVSchema` call. This will protect from two people overwriting each other's changes.

[2020-05-05 05:18] harshit-gangal commented on #6147
Instead of lookup table having lookup columns as primary key, can they not be changed to unique key. That way null values would be allowed to be inserted.

[2020-05-06 19:44] sougou opened #6153 "regression: use doesn't work from mysql client"
In the example, after resharding is done, I tried targeting shards, but it seems to have no effect.
@morgo We'll likely have to create patch for 6.0 after this is fixed.

[code]

[2020-05-07 12:43] guidoiaquinti opened #6156 "Add a `--skip-nonserving` flag to ValidateSchemaKeyspace/ValidateSchemaShard"
#### Feature Description
Add a `--skip-nonserving` flag to `ValidateSchemaKeyspace`/`ValidateSchemaShard` to skip tablets in non serving state.

#### Use Case(s)
Currently `ValidateSchemaKeyspace`/`ValidateSchemaShard` doesn’t skip tablets in non serving state (e.g. during backups/restore). This can be an issue if you have a consistency check built on top of that gRPC call and at the same time a t

[2020-05-07 16:49] #3060 closed

[2020-05-07 16:49] #6153 closed

[2020-05-07 18:08] aquarapid opened #6161 "Add metrics for consolidations"
There are some consolidation metrics available in the web UI for vttablet and in the debugvars today.  We should add them to the /metrics export as well.

[2020-05-07 18:12] aquarapid opened #6162 "Setting SQL_SAFE_UPDATES variable panics vtgate"
Against current master (4d3eb9f2ad8e1af97d78e56bfad0fb7de1313fb4), compiled with go 1.14.2:

[code]

Panic from vtgate log:

[code]

[2020-05-07 22:24] lkburns opened #6165 "Create sequences with DDL statements"
#### Feature Description

Currently creating a sequence requires creating a sequence table, inserting seed values, and then modifying vschema for the source and target keyspace for enabling the sequence. This should be condensed into a single DDL statement to create the sequence and modify the vindexes accordingly. Additionally, support should be added to set the auto increment flag for a table in