[2021-11-12 18:46] ajm188 opened #9216 "RFC: Move VDiff to vttablet"
#### Feature Description

Currently vdiff runs at the vtctld layer, which is responsible for contacting tablets involved in a workflow, streaming the rows into memory, doing the diff, and output the results. This _works_ but it does not scale well for running many vdiffs, or large vdiffs at once on vtctlds (which often are much less beefy than vttablets, hardware-wise as well).

If we were able to

[2021-11-12 19:54] aquarapid commented on #9214
I could not immediately reproduce this.

Obviously the panic isn't correct;  but I suspect there's something lower-level going on.  Do we know what is causing all the vttablet errors like:

[code]

?

Getting a general log from MySQL might be useful.

[2021-11-12 20:50] chreniuc commented on #9214
I'm trying to activate the general logs, but I can't find a way to do it.

Like I said, I'm running this in a cluster using the operator from planetscale.

I've passed the following as an extra arg:

[code]

This was the only one found in [this documentation](https://vitess.io/docs/reference/programs/vttablet/).

But it doesn't show up in `my.cnf`.

I've also tried activating the general logs at r

[2021-11-12 20:53] chreniuc commented on #9214
@aquarapid These are the params set to the vttablet:

[code]

And this is the `my.cnf` that is generated:

[code]

[2021-11-12 21:02] chreniuc commented on #9214
@aquarapid

I think those are generated by the logged query. The query is right below that error. It can also be found in the  [start_logs.log](https://github.com/vitessio/vitess/files/7529414/start_logs.log) file. Which contains all queries sent to the vtgate.

[2021-11-12 23:26] deepthi opened #9218 "Task: delete deprecated discoverygateway and legacy healthcheck code"
As part of #5750, we implemented a new gateway called `tabletgateway` and deprecated the old one called `discoverygateway`.
We have had several releases since then, and `tabletgateway` is now stable enough. We can now start deleting some of the old code.

Blocker: vtctld ui still uses legacy healthcheck. We need to either move that to the new healthcheck, or deprecate/delete that first.

Tasks
- [

[2021-11-12 23:29] deepthi opened #9219 "Task: delete legacy sharding code"
VReplication based resharding (both vertical and horizontal) is now stable enough for us to start planning to remove the old functionality.

Tasks:
- [ ] Delete SplitClone
- [ ] Delete LegacySplitClone
- [ ] Delete vtworker
- [ ] Delete SplitDiff
- [ ] Delete MultiSplitDiff

[2021-11-13 01:02] aquarapid opened #9220 "Online DDL engine cannot handle partitioned tables, so declarative migrations cannot be used"
Scenario:
  * Unsharded keyspace
  * Recent `main` branch
  * issue repro:
[code]

  * Commentary:
    * When DDL is executed directly (mode `direct`), table creation with partitions work fine
    * With DDL strategy online, we get a syntax error.  This is because of the additional checks in `onlineDDLStatementSanity(..)` in `go/vt/schema/online_ddl.go` that depends on the DDL being fully parsed b

[2021-11-13 02:15] GuptaManan100 opened #9221 "Query Planner ERROR 1105 (HY000): symbol %s not found when running SELECT FROM keyspacename.tablename"
#### Overview of the Issue

Running the following query -
[code]
results in the following plans -
V3
[code]
Gen4
[code]

And if we remove the user keyspace from the query to -
[code]
We get the following plans -
V3
[code]
Gen4
[code]

So from the user perspective, the query doesn't work initially with `Gen4Fallback` but starts working after removing the keyspace name.

#### Reproduction Steps

Ste

[2021-11-13 02:22] GuptaManan100 commented on #9221
So there are 2 issues -
1. V3 should not fail with the symbol not found error even when the keyspace is provided
2. Gen4 should not say that the query does not satisfy full-group-by mode, since user.id could be the primary key making user.* functionally dependent on it

[2021-11-13 11:18] ajm188 opened #9222 "Task: delete automationservice and related code"
The `go/vt/automation` code (and related protobufs) was used to run automated tasks as part of integration tests and is not needed any longer.

- [ ] Delete AutomationServer and `cmd` entrypoint
- [ ] Delete AutomationClient and `cmd` entrypoint
- [ ] Delete `go/vt/automation` and anything now-unused related to it
    - This is dependent on #9219, as all the legacy resharding Tasks (SplitClone, Ve

[2021-11-14 06:50] shlomi-noach commented on #9193
Addressed by #9225 (v12 backport) , #9226

[2021-11-15 08:44] shlomi-noach opened #9230 "Document -allow-concurrent in ddl_strategy"
https://github.com/vitessio/vitess/pull/9192 (still unmerged at this time) offers `-allow-concurrent` as a `ddl_strategy` flag. I'm opening this issue as a self assignment to document that flag and its effects.

[2021-11-15 08:46] shlomi-noach opened #9231 "Document OnlineDDL concurrent migrations (scheduler.md)"
`design-docs/online-ddl/scheduler.md` details how the Online DDL scheduler works internally.

https://github.com/vitessio/vitess/pull/9192 (still unmerged at this time) makes significant changes to scheduling logic by allowing concurrent migrations (see also #9230).

Self assigning to document those changes.

[2021-11-15 09:13] harshit-gangal commented on #5166
I am going to close the issue as we have covered basic test around almost all the frameworks and we have 100% coverage on Rails and Django testing.
Anyone can open a new issue on framework incompatible query as separate issue.

[2021-11-15 09:13] #5166 closed

[2021-11-15 09:15] harshit-gangal commented on #3591
Closing in favor of https://github.com/vitessio/vitess/issues/8606

[2021-11-15 09:15] #3591 closed

[2021-11-15 09:18] harshit-gangal commented on #6703
Closed with #9115

[2021-11-15 09:18] #6703 closed

[2021-11-15 09:20] harshit-gangal commented on #3985
This query works now.

[2021-11-15 09:20] #3985 closed

[2021-11-15 09:30] harshit-gangal commented on #6995
#8344

[2021-11-15 09:30] #6995 closed

[2021-11-15 09:30] harshit-gangal commented on #6994
This is supported now.

[2021-11-15 09:30] #6994 closed

[2021-11-15 09:31] harshit-gangal commented on #6386
Should work now as #9115 is merged

[2021-11-15 09:31] #6386 closed

[2021-11-15 09:34] harshit-gangal commented on #4596
@derekperkins do you still see query comments getting stripped or mangled?

[2021-11-15 10:17] harshit-gangal commented on #9214
With Gen4 or Gen4Fallback you should not see issue with inforamtion_schema query.
The fix was merged 5 days back with https://github.com/vitessio/vitess/pull/9183

[2021-11-15 10:34] chreniuc commented on #9214
@harshit-gangal I was using the latest version(the main branch), 3 days ago. Which contained that, if it was integrated 5 days ago. Should I pass something to vitess to activate that? Is that an option?

[2021-11-15 16:04] harshit-gangal commented on #9214
To be sure, share the commit SHA, one of the place to find is on VTGate UI, or run `show variables like '%version%'`

[2021-11-15 16:12] chreniuc commented on #9214
@harshit-gangal

[code]

But, shouldn't it be activated with a param first?

[2021-11-15 17:26] harshit-gangal commented on #9214
also can you post
`explain format=vitess <select_statement`

[2021-11-15 17:29] chreniuc commented on #9214
[code]

[2021-11-15 17:30] harshit-gangal commented on #9214
For the failing query :)

[2021-11-15 17:33] harshit-gangal commented on #9214
have you set `-planner_version` on VTGate flag?

[2021-11-15 17:36] chreniuc commented on #9214
[code]

[code]

[2021-11-15 17:37] chreniuc commented on #9214
@harshit-gangal no, I haven't. That's why I was asking above. I searched in the vtgate flags, and I couldn't find that flag: https://vitess.io/docs/reference/programs/vtgate/

[2021-11-15 17:41] harshit-gangal commented on #9214
we will update the docs, kindly set it to `Gen4Fallback`

[2021-11-15 17:43] #9150 closed

[2021-11-15 20:22] aquarapid commented on #3160
This (the comment form) actually works today (the hint gets passed down to MySQL), so I am going to close this.

One thing we do not support is the session variable version of this, e.g. `set max_execution_time=500`.  I will log a new issue for that.

[2021-11-15 20:22] #3160 closed

[2021-11-15 20:24] aquarapid opened #9236 "Support max_execution_time session variable"
Also see #3160.

Today, we will pass down the MAX_EXECUTION_TIME query hint to underlying MySQL instances.

However, there is a session variable version of this (`max_execution_time`) that we ignore today, even with `-enable_system_settings` on.

[2021-11-15 21:54] mattlord opened #9238 "VTGate Healthcheck Cache Inconsistencies"
#### Overview of the Issue

VTGate has a topology watcher which regularly gets tablet records from the topo server. Changes between what is in the topo server and what the watcher has in memory are used to manage adding/removing healthcheck cache records which the VTGate uses in query serving and is exposed in commands like `SHOW VITESS_TABLETS`.

The synchronization of the watcher tablet record c

[2021-11-15 22:36] deepthi commented on #9238
There is another failure mode with #9106. The deletion from healthcheck code races with the addition from topology_watcher when there is a change to the host/port, which can lead to tablets missing from the healthcheck.

[2021-11-16 01:51] aquarapid opened #9241 "EXISTS subquery with a conditional not supported"
Scenario:
  * Unsharded keyspace
  * Recent `main` branch (`Version: 13.0.0-SNAPSHOT (Git revision d9fd31e3ae branch 'main') built on Mon Nov 15 17:33:56 PST 2021 by jacques@dhoomdeskw.localdomain using go1.17.1 linux/amd64`)
  * The following `EXISTS` subqueries work without issue:
[code]
  * However, the equivalent `EXISTS` subquery with a conditional gives a syntax error:
[code]
  * Meanwhile,

[2021-11-16 06:04] harshit-gangal commented on #9214
does that solve for you?

[2021-11-16 06:48] frouioui commented on #9221
The queries is now supported on Gen4 with #9243

[2021-11-16 08:17] chreniuc commented on #9214
@harshit-gangal

Last night it was late and I postponed it for today.

I've added the flag to the vtgate only, and retried. But now I receive another error:

[code]

The args passed to the vtgate:

[code]

If I run it with `explain`, I receive the same error.

[2021-11-16 08:19] chreniuc commented on #9214
THese are the logs when the vtgate starts:

[code]

[2021-11-16 10:40] #4257 closed

[2021-11-16 11:23] #9221 closed

[2021-11-16 15:53] harshit-gangal commented on #9214
thanks for sharing the exact query, will fix this and update on the issue

[2021-11-16 15:57] chreniuc commented on #9214
@harshit-gangal please notify me via tag when you managed to add a fix for it and it was integrated in main. I will use the latest docker image for it and I will be able to test it.

Thanks again for everything. :bowing_man:

[2021-11-17 08:46] #9193 closed

[2021-11-17 14:28] vmg commented on #8909
Ostensibly fixed. :)

[2021-11-17 15:14] #9195 closed

[2021-11-17 17:07] #8837 closed

[2021-11-17 22:45] ggalakhov opened #9257 "Error configuring secure connectivity between vtgate/vttablet/vtctld and etcd"
I'm trying to configure secure connection between `vtgate/vttablet/vtctld` and `etcd` with self signed CA using the [document](https://vitess.io/docs/user-guides/configuration-advanced/transport-security-model/#configuring-secure-connectivity-between-vtgatevttabletvtctld-and-etcd).

`Etcd` is configured to use [client-to-server transport security](https://etcd.io/docs/v3.5/op-guide/security/#examp

[2021-11-18 05:55] biostone commented on #7108
Any progress on this issue?

[2021-11-18 20:26] aquarapid commented on #9055
To solve this generally is high effort (we'd have to track each backend instance individually);  as a workaround, the following has been suggested:

- Disable the Vitess query timeouts (`-queryserver-config-query-timeout` and `-queryserver-config-transaction-timeout);  and control the timeouts via alternate MySQL-controlled directives (`max_execution_time` or the equivalent MySQL query comment dir

[2021-11-19 08:16] harshit-gangal commented on #9214
@chreniuc the fix is merged, you can try now and let us know.

[2021-11-19 08:24] chreniuc commented on #9214
@harshit-gangal I will test it, do you have a link where I can follow when the new `latest` image was built?

I'm not sure if this build is generated once per day or for every commit on `main`.

[2021-11-19 08:36] harshit-gangal commented on #9214
I also do not have clarity on this topic

cc: @deepthi

[2021-11-19 09:00] chreniuc commented on #9214
@harshit-gangal I've noticed that a new build was made for `latest`. I've used that one:

[code]

The `d6b22587e0` matches the latest commit from main. So it contains your fix.

I've tested, but now I've encountered another error: **symbol s.INDEX_NAME not found in table or subquery**

[code]

[2021-11-19 10:16] chreniuc commented on #9214
@harshit-gangal I also received a similar error for the following query: `Error: ER_UNKNOWN_ERROR: symbol rc.CONSTRAINT_SCHEMA not found in table or subquery`

Maybe it will be easier to investigate if you have multiple queries.

[code]

[2021-11-19 14:18] harshit-gangal opened #9266 "RFC: Rollback of partial failed query in an explicit transaction"
# Problem Statement
In a transaction, when a single DML (data manipulation language) query is broken into sub-queries like a scatter query or a vindex query. Then, any error in executing those queries leads to the rollback of the complete transaction.

This helps in guaranteeing that no unexpected data is committed on the transaction but it also leads to a bad user experience on handling distribut

[2021-11-19 15:18] arthurschreiber commented on #9266
I'm curious why the savepoint could not be released. 🤔

[2021-11-19 16:01] droslean opened #9268 "General error: 1815 [BUG] This should only be SHOW Legacy statement type"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

[code]

#### Reproduction Steps

Run: `SHOW COLUMNS` command against the DB

[2021-11-19 18:31] harshit-gangal commented on #9266
It is extra work that is not required( i.e. slows down the query execution time), as soon as the transaction is committed or rolled back they do not exist anymore.

[2021-11-19 21:30] harshit-gangal commented on #9266
Original Discussion happened in #8984

@arthurschreiber commented on 13 Oct
[code]

@arthurschreiber commented 26 Oct
[code]

[2021-11-21 05:21] GuptaManan100 opened #9272 "PRS succeeds but there are failure messages in the logs"
#### Overview of the Issue

There have been cases where executing PRS results in a failure log like `Failed to reconnect to primary: shard ks/0 record claims tablet zone2-0000000201 is primary, but its type is PRIMARY, will keep retrying` being printed. This is surprising because the error message claims that we expected the tablet type to be PRIMARY and it was PRIMARY. This log is seen on the new

[2021-11-21 14:17] #9238 closed

[2021-11-22 09:20] #8490 closed

[2021-11-22 09:42] droslean commented on #8602
@jai Can you explain at least, how you solved this issue?

[2021-11-22 09:44] droslean commented on #9268
This is related to  https://github.com/vitessio/vitess/issues/8602 and https://github.com/vitessio/vitess/issues/8627

[2021-11-22 22:16] mattlord opened #9275 "Binary Hash VIndex Function With HexVals Always Uses First Shard"
#### Overview of the Issue

In https://github.com/vitessio/vitess/pull/9118 we began to normalize hex values -- Base16 Numbers (HexNum) such as `0xA1` and Binary as Hex (HexVal) such as `x'A1'` -- in queries so that the planner cache is used for them.

For HexVals we had use the original string literal of the form `x'A1'` in the BindVar and pass that original user value on to mysqld (in the golang

[2021-11-22 22:59] deepthi commented on #9080
@jberkus @geekygirldawn Thank you for your feedback. I have incorporated your suggestions regarding the bootstrap committee into the proposal.

[2021-11-22 23:01] aquarapid commented on #9220
#8691 (merged) fixes this issue

[2021-11-22 23:01] #9220 closed

[2021-11-22 23:19] aquarapid commented on #9241
Confirmed that #9075 resolves this.

[2021-11-22 23:19] #9241 closed

[2021-11-23 04:11] #9272 closed

[2021-11-23 10:22] shlomi-noach commented on #9231
Whoops meant to open this in https://github.com/vitessio/website/

[2021-11-23 10:22] #9231 closed

[2021-11-23 12:55] #9268 closed

[2021-11-23 22:15] derekperkins opened #9285 "compatibility: TRIM operators not supported"
From the docs, `TRIM` has optional arguments of `LEADING`, `BOTH` or `TRAILING`. `TRIM` without arguments works, but fails for all the rest. This syntax has been around since at least 5.6. I haven't dug any deeper into the failing syntax.
https://dev.mysql.com/doc/refman/8.0/en/string-functions.html#function_trim

[code]

`[1105] syntax error at position 32 near 'FROM'`

Vitess components @ v12.0.

[2021-11-24 17:37] mvh-stripe opened #9287 "Schema engine does not reload schema correctly after online DDL"
#### Overview of the Issue

 I'm seeing an issue with stale schema on the PRIMARY tablet (can be seen via localhost:19000/schemaz) after an Online DDL (vreplication-based) has successfully completed. I tried to debug this and I think I know where the bug is but I would like someone else to double check my thinking.

 * Schema Engine does a reload of schema on the tablet. There is an optimization i

[2021-11-25 09:53] #9180 closed

[2021-11-26 18:36] rohit-nayak-ps commented on #8677
Shlomi has already mentioned this but null values are working properly in the standard sql distros we test on.

The vreplication e2e tests already test null values for the json column, with MoveTables and Reshard. I just did a debug print of the sql DMLs in one of the tests and they look like this

`insert into customer(cid,`name`,meta,typ,sport,ts,bits) values (1004,'tempCustomer7',convert(null u

[2021-11-26 18:41] rohit-nayak-ps commented on #9137
Closed via #9224

[2021-11-26 18:41] #9137 closed

[2021-11-29 09:57] GuptaManan100 opened #9290 "TestVstreamFailover Flaky Test"
#### Overview of the Issue

The test `TestVstreamFailover` has been flaky on the main branch and me and @rohit-nayak-ps  started investigating this when it started blocking merging open PRs.

@rohit-nayak-ps tried running the test on different commits until he found the one that introduced the issue. This commit turned out to be https://github.com/vitessio/vitess/pull/9033/

The error that we were

[2021-11-29 17:17] #9275 closed

[2021-11-29 18:10] chreniuc commented on #9214
Hi @harshit-gangal, any news on this?

[2021-11-29 18:12] #9266 closed

[2021-11-29 18:53] harshit-gangal commented on #9214
I could not take a look at it, I have been busy with other commitments. I will update here when I will pick this up.

[2021-11-29 20:27] aquarapid commented on #9290
OK, so I guess we need to stop the heartbeat writer before/when we set read_only on the primary.  I actually thought this is what was happening already.

[2021-11-29 22:01] mattlord commented on #9290
If we want an immediate fix for the flakey test, we can add an additional vttablet flag:
`-use_super_read_only=true`

Then we can deal with the bigger product level issues independently.

[2021-11-29 22:10] mattlord commented on #9290
More specifically, this is what I meant above:
[code]

[2021-11-29 23:27] deepthi commented on #9290
The plan is as follows:
Immediate actions:
* Let us revert the commit that broke this
* Change heartbeat to use allprivs for creating the table and app for insert/update
* Document this as a breaking change
Follow up actions:
* Make `use_super_read_only` default to true and document as a breaking change (can do since we are formally dropping support for 5.6 in 13.0). In the next release we can rem

[2021-11-30 03:19] mattlord commented on #9207
Hi @jakon89

Thank you for the great issue!

I could no longer repeat this on 13.0-SNAPSHOT:
[code]

I could, however, repeat it on the release-12.0 branch (we're releasing 12.0.1 soon):
[code]

I'll try and identify which PR fixed this in main.

[2021-11-30 03:52] derekperkins commented on #8677
Seems very possible that this was caused by the same root issue as #9207

[2021-11-30 06:00] #5991 closed

[2021-11-30 08:17] arthurschreiber opened #9297 "`CREATE TABLE` statements use format unsupported on MySQL < 8.x"
#### Overview of the Issue

In #9011, the SQL generated for `CREATE TABLE` statements was changed to generate expression statements for default values:

[code]

was changed to:

[code]

Unfortunately, this syntax is only supported on MySQL 8.0 and later, and is unsupported on earlier MySQL versions like 5.7.

[code]

Vitess should not translate between one or the other, and just pass through whate

[2021-11-30 08:20] mattlord commented on #9207
The test case here goes from failing to passing here:
[code]

Which doesn't make a lot of sense given the diff: https://github.com/vitessio/vitess/compare/02966d908b439b767634097ba17704cbb798624c..ba9af0088684964afdc4199862f06dee0819add8

@rohit-nayak-ps any thoughts?

[2021-11-30 08:49] mattlord commented on #9207
I've also confirmed that if I cherry-pick that commit onto the release-12.0 branch the test still **FAILS**, indicating that it's not that patch alone:
[code]

[code]

[2021-11-30 08:54] arthurschreiber commented on #9297
/cc @ritwizsinha @GuptaManan100 For visibility.

[2021-11-30 09:57] harshit-gangal commented on #7332
RFC https://github.com/vitessio/vitess/issues/3481 looks prerequisite to this feature

[2021-11-30 13:10] harshit-gangal commented on #9290
AFAIK, `vt_app` user also has permissions to create database, @systay and I implemented `create/drop database` using normal user from vtgate to vttablet which will use the `vt_app` and it works. So, I believe we do not need to change the user.

[2021-11-30 13:37] harshit-gangal commented on #9297
@arthurschreiber in 5.7, it fails on both the statements. what is the expected result?

[code]

[2021-11-30 15:02] arthurschreiber commented on #9297
@harshit-gangal Ah, I'm sorry. This example was taken from the Vitess sql parser tests and I didn't check if it was actually valid.

The case we're running into is this:

[code]

gets turned into

[code]

and the latter is only valid on MySQL 5.7.

[2021-11-30 16:01] harshit-gangal commented on #9297
got it, I think you mean the later is only valid in MySQL 8.0

[2021-11-30 16:13] arthurschreiber commented on #9297
Yeah, exactly. 😅 And Vitess transform the former into the latter, and thus it breaks on MySQL 5.7.

[2021-11-30 16:17] frouioui commented on #7344
I have opened #9300, I am starting the implementation of the matrix detailed in https://github.com/vitessio/vitess/issues/7344#issuecomment-949297139.

[2021-11-30 16:40] deepthi commented on #9290
Those are the defaults we provide but users can change the privileges they give to each vt_ user.

[2021-11-30 17:05] rohit-nayak-ps commented on #9000
Fixed by #9206

[2021-11-30 17:05] #9000 closed

[2021-11-30 17:07] rohit-nayak-ps commented on #7632
Fixed by #8015

[2021-11-30 17:20] mattlord commented on #8677
@derekperkins are you still able to repeat this on latest main? I ask because I cannot repeat https://github.com/vitessio/vitess/issues/9207 there now...

[2021-11-30 17:21] mattlord commented on #8677
I wonder if this was some collation related oddness that's been fixed by the new MySQL compatible collations that have landed in main in recent weeks.

[2021-11-30 18:12] doeg opened #9305 "[vtadmin-api] Fix bug where only partial data is returned from /api/tablet(s) for RESTORE tablets"

[2021-11-30 19:17] mattlord commented on #9207
At this point I suspect the fix is related to all of the work in recent weeks to add MySQL compatible collations, explicitly specify a default collation for vtgate, and synchronize the collation between vtgate and vttablet. I will keep digging though...

[2021-11-30 19:52] aquarapid commented on #9287
Verified behavior as described.

Some more details on what is happening here; expanding on the cause alluded to in the report:

  * The schema engine depends on the `information_schema.tables` `create_time` field to tell when a table is updated.  Unlike the name might indicate, this field is updated when a structural DDL is performed on a table (e.g. a column add/delete).
  * As an optimization, t

[2021-11-30 19:58] mvh-stripe commented on #9287
@aquarapid Thanks for confirming. I was planning to make a change to SchemaEngine so it tracks the CreateTime for each table in memory. If this CreateTime is different from the one returned by MySQL, then SchemaEngine will always reload the schema for the table (we do not track `lastChange` or ask MySQL for its current time anymore). Does this sound like an acceptable fix? I can send out a PR for

[2021-11-30 23:00] aquarapid commented on #9287
Yeah, that sounds good;  the additional overhead will be minimal, this is not a hot path.

[2021-12-01 01:22] mattlord opened #9307 "vtgate serves queries from replicas when its source is unavailable and replication is unhealthy"
#### Overview of the Issue

You can use vitess for read scale out by explicitly routing queries to shard replicas using `<keyspace>/<shard>@replica` shard targeting. In order to limit the potential window of inconsistency for these reads and bound how stale the reads can be, you tell the tablet to reflect the tablet as being unhealthy when the replication lag gets beyond [`-unhealthy_threshold`](h

[2021-12-01 05:04] #9290 closed

[2021-12-01 05:09] GuptaManan100 commented on #9010
@sonne5 The PR that made the change #9033, actually created another issue with PRS. The issue is described in detail in #9290. TL;DR, the `vt_dba` user has the super privilege which allows it to run commands even when the underlying MySQL instance is set to read only. This causes the old primary to diverge from the new primary when we perform a PRS.

Keeping this in mind, we have reverted the chan

[2021-12-01 05:25] sonne5 commented on #9010
We don't grant `CREATE` privilege to `vt_app` user hence the change in https://github.com/vitessio/vitess/pull/9299 will break our integration.

+1 to what @deepthi suggested here https://github.com/vitessio/vitess/issues/9290#issuecomment-982813381 , it seems a bit risky to assume the privilege for `vt_app` user here - for example, i'm under the impression (incorrectly) that `vt_app` was meant to

[2021-12-01 05:39] #9297 closed

[2021-12-01 15:59] deepthi commented on #9010
thanks @sonne5 we'll go back to the drawing board and figure out how to fix this properly.

[2021-12-01 19:53] deepthi opened #9311 "Task: mysqlctl package cleanup"
- [ ] migrate errors to use vterrors
- [ ] replace context.TODO with real contexts

[2021-12-01 23:10] derekperkins opened #9314 "materialize: query plan error when referencing same column multiple times"
I'm trying to run a materialize command and getting this error: `wrong number of fields: got 9 fields for 12 bind locations`. I’m selecting 9 unique fields from the source table. 1 of those is referenced 2 times and another 3 times, for 12 total references, which appears to be the error. The raw query runs just fine against vtgate, but fails when executed from `Materialize`. I'm sure it's much eas

[2021-12-03 08:30] GuptaManan100 commented on #9010
@sonne5 I have made the required changes in https://github.com/vitessio/vitess/pull/9320

[2021-12-03 14:42] doeg opened #9321 "[vtadmin-web] Enforce node version in CI"
Whenever a .proto file is changed, developers need to update the corresponding TypeScript files with `make vtadmin_web_proto_types`. This command should enforce node version to v16.13.0, as otherwise branches will modify the package-lock.json file with a ~20k line diff due to npm version mismatch.

Evidence of the error can be seen both in the branch diff and on npm install:

[code]

[2021-12-03 22:57] sonne5 commented on #9213
@aquarapid Could you help and take a look to see if this feature makes sense? If so, mind helping triage this one? Thanks!

[2021-12-04 01:09] jakon89 commented on #9207
Hey @mattlord - thanks a lot for taking a look here.

I spent some time on that tonight and found some strange things 😨

I did repeat steps from my first comment and see what I got:
[code]
Looks like it either still doesn't work in `main` or I am doing something odd.

I ran vitess from current `main` branch, however, in https://github.com/vitessio/vitess/issues/9207#issuecomment-982246135 you ran

[2021-12-04 02:49] guodongli-google opened #9322 "Report a coding issue that possibly leaks memory due to unclosed resource"
#### Overview of the Issue
At
https://github.com/vitessio/vitess/blob/aabd9c685b43090550be797f4c89401e270c234c/go/test/endtoend/cluster/vttablet_process.go#L194
and some other places such as
https://github.com/vitessio/vitess/blob/aabd9c685b43090550be797f4c89401e270c234c/go/test/endtoend/cluster/vttablet_process.go#L177
https://github.com/vitessio/vitess/blob/aabd9c685b43090550be797f4c89401e270c23

[2021-12-04 03:06] guodongli-google opened #9323 "Report coding issues that possibly leak memory due to unclosed resources"
#### Overview of the Issue

At https://github.com/vitessio/vitess/blob/aabd9c685b43090550be797f4c89401e270c234c/go/test/endtoend/cluster/mysqlctld_process.go#L164

`mysql.Connect()` returns a handle of type `*Conn` which contains a closer. This handle is not closed after the usage. It should be closed explicitly as demonstrated in another place:

https://github.com/vitessio/vitess/blob/aabd9c685b4

[2021-12-04 23:16] rohit-nayak-ps commented on #9207
I am able to reproduce this issue in main (and also in 11.0). So this existed before the recent collation changes. The problem is that mysql sets the BINARY_FLAG in the binlog event even for a Char data type if the collation is binary. This causes the binlog parser in Vitess to treat it as a Binary column instead of a Char column. We invoke the padding algorithm for Binary columns. This is incorre

[2021-12-06 15:44] mattlord commented on #9207
Thanks, @rohit-nayak-ps! I must have messed something up in my environment then. So it's the similar issue encountered and discussed here: https://github.com/vitessio/vitess/pull/8730

There we trimmed the padding at a higher layer where we had the collation information available. Let's discuss some ideas.

[2021-12-06 19:51] mattlord opened #9328 "vtctl vreplication workflow commands fail when there are unused shards in the target keyspace"
#### Overview of the Issue

VReplication workflows are orchestrated or driven by the primary tablets in the target keyspace. When you create a new vreplication workflow a record is inserted into the `_vt.vreplication` table on the primary tablets in the target keyspace and each target tablet then orchestrates things from there by first [selecting a source tablet for its vstream](https://vitess.io/

[2021-12-06 20:45] doeg commented on #8711
We might want to reconsider whether we use a modal for dangerous actions like deleting a tablet; see textwall (lolsob) at https://github.com/vitessio/vitess/pull/9318#discussion_r762100150

[2021-12-07 00:28] mattlord commented on #9213
Hi @sonne5,

Thank you for the helpful issue! I see a bigger underlying problem here around how these connections are managed and we're discussing that internally. The issue you mentioned here is simply 1 of many potential problems one could encounter.

But in this specific case, I would expect using `-throttle_check_as_check_self` would effectively disable the shard level check (https://vitess.io

[2021-12-07 00:30] #9307 closed

[2021-12-07 01:06] sonne5 commented on #9213
@mattlord thanks for looking into this.
Yes, the `-throttle_check_as_check_self` is the behavior we want, the problem is enabling that flag does not prevent vitess sending "shard" query for probing... the sql nodes quickly run into "too many connection" errors because we don't cached "failed" connection and reuse later: https://github.com/vitessio/vitess/blob/a9289e01471560e15359bdd355f01dd31ae82d

[2021-12-07 01:37] mattlord commented on #9213
@sonne5 you're right, the flag only [affects the handling of HTTP interface responses](https://github.com/vitessio/vitess/blob/f0e9966fcb589cfa12e10883c8d6286091b24251/go/vt/vttablet/tabletserver/throttle/throttler.go#L839-L843) — it does not affect the underlying collection (polling) and caching of the metrics that are served via the HTTP interface.

This is a bug and we'll spend some time on a P

[2021-12-07 05:52] GuptaManan100 opened #9329 "Bug in ERS checking the pointer of the error received"
#### Overview of the Issue

The `StopReplicationAndBuildStatusMaps` function calls the `StopReplicationAndGetStatus` rpc and proceeds to check whether the received error is `ErrNotReplica`. We use this information to know that the tablet in question considered itself to be the primary or not. While working on a different issue, I realised that we were never executing this switch case. On further t

[2021-12-07 06:49] 5antelope opened #9332 "Return the exact keyspace/shard in VEvent"
### Feature Description

#### Problem
Right now the VStream() endpoint returns VEvent with a [VGtid](https://github.com/vitessio/vitess/blob/main/proto/binlogdata.proto#L380). This filed contains all the target shards for the VStream endpoint. AFAICT, we do this as the checkpoint returns to the client so that they can store it and resume vstream if needed.

However, this makes it hard identify whi

[2021-12-07 06:50] sonne5 commented on #9332
cc @rohit-nayak-ps @deepthi would love to hear your thoughts on this! Thanks

[2021-12-07 06:51] shichao-an opened #9333 "Support gRPC health check service in VTGate"
#### Feature Description

A written overview of the feature.

Currently the VTGate gRPC server doesn't register the [health check](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) service. Here's the output listing services of a VTGate server using grpcurl:
[code]

The health check service can be registered like this: https://github.com/vitessio/vitess/blob/main/go/vt/vtadmin/grpcs

[2021-12-07 07:35] andyli commented on #4099
Just found another syntax not listed above not supported by vitess. It's `JSON_VALUE( ...,  RETURNING ...)`.

For example,
[code]

Result in
[code]

[2021-12-07 16:06] sonne5 commented on #9332
cc @aquarapid for visibility as well

[2021-12-07 18:54] rohit-nayak-ps commented on #9332
I get your point. We could definitely add keyspace/shard at the top level. Code change is easy, just a lot of tests need to be updated.

However I would also like @keweishang's input on this since he was involved with writing the Vitess Debezium adapter: I wonder if they faced the same issue and if so, what approach they took.

[2021-12-07 23:23] sonne5 commented on #9332
I think until recent, Vitess Debezium connector only emit field event/row event as is, without thinking about the transaction.

Therefore it wasn't a concern so far.

[2021-12-08 07:09] shlomi-noach commented on #9213
Addressed by #9334

[2021-12-08 12:36] #9287 closed

[2021-12-08 15:03] #9321 closed

[2021-12-08 15:40] #7232 closed

[2021-12-08 17:55] captain-wolf commented on #6003
Closing as this is an issue in V1 that is no longer used.

[2021-12-08 17:55] #6003 closed

[2021-12-08 19:53] #9010 closed

[2021-12-08 21:09] FancyFane commented on #6336
@vitiokss is the docker image for vttestserver adequate for your needs? Is there a reason you need these binaries implemented into the lite image?

https://hub.docker.com/repository/docker/vitess/vttestserver
https://vitess.io/docs/get-started/vttestserver-docker-image/

Alternatively, have you looked into using the base image which includes additional binaries?

https://hub.docker.com/r/vitess/ba

[2021-12-09 04:36] mattlord commented on #9213
Hi @sonne5,

This was resolved by leveraging the existing HTTP interface when gathering the Shard level metrics from remote tablets — so hitting `/throttler/check-self` on remote tablets and no longer connecting directly to remote tablet mysqld instances. I'm closing this as fixed for now, but please let me know if I'm missing or misunderstanding something and we can re-open.

Thank you for the bu

[2021-12-09 04:36] #9213 closed

[2021-12-09 21:19] tslo-stripe opened #9346 "vtgate does not buffer queries when primary is unhealthy and awaiting a primary failover"
#### Overview of the Issue

Vitess vtgate has an option (-enable_buffer) which enable buffering queries during a primary failover.  During testing, I found that when the primary vttablet becomes unhealthy and before the primary has failed over to another tablet, queries are not buffer and number of query failures did not drop as expected .  Looking at the code, it looks like we skip buffering when

[2021-12-09 23:05] #8707 closed

[2021-12-09 23:24] #9207 closed

[2021-12-10 01:45] aquarapid opened #9350 "Consider changing the default value of `-db_connect_timeout_ms`"
PR #5832 added a `-db_connect_timeout_ms` parameter for `vttablet` with a default value of `0` (i.e. no timeout, you get the TCP exponential backoff x SYN retries timeout instead, which is on the order of 130 seconds total in default Linux).

I think we should consider changing the default, at least in the case where we know the tablet is external (i.e. not unix socket).  A default value of 5 seco

[2021-12-10 07:38] GuptaManan100 commented on #9346
Hello @tslo-stripe, the buffering only happens for failover scenarios. So the buffering will happen if `PlannedReparentShard` is called. The buffering does not happen when the primary tablet is restarted for now.

There is also a new implementation of buffering, controlled by the flag `buffer_implementation`. The new implementation uses `keyspace_events` and it also buffers when a resharding opera

[2021-12-10 07:38] GuptaManan100 commented on #9346
cc @deepthi @harshit-gangal @vmg

[2021-12-10 09:24] vmg commented on #9346
Yes, you should try the new keyspace events watcher: `-buffer_implementation=keyspace_events`. It has heuristics to detect more cluster states where buffering is safe to perform, including some cases where the primary is down.

[2021-12-10 16:05] FancyFane opened #9353 "Packaging of MySQL 5.7 tagged Docker Container"
#### Overview of the Issue

Even though our documentation claims we do not deploy MySQL 5.6 docker containers it appears we still do. In addition, it appears that there are no MySQL 5.7 equivalent containers on Docker Hub.

https://github.com/vitessio/vitess/blob/main/docker/README.md?plain=1#L41

#### Reproduction Steps

There are no MySQL 5.7 instances to find:
https://hub.docker.com/r/vitess/ba

[2021-12-10 16:07] jfg956 commented on #9290
I am not super familiar with VStream, but when the primary is `zone1-0000000100` and it is about to be moved to `zone1-0000000101`, shouldn't the first thing to do be moving VStream to the candidate primary ?

[2021-12-10 16:48] mattlord commented on #9353
The stack is:
  - bootstrap (https://hub.docker.com/r/vitess/bootstrap/tags, https://github.com/vitessio/vitess/tree/main/docker/bootstrap)
  - base (https://hub.docker.com/r/vitess/base/tags, https://github.com/vitessio/vitess/blob/main/docker/base/Dockerfile)
  - lite (https://hub.docker.com/r/vitess/lite/tags, https://github.com/vitessio/vitess/tree/main/docker/lite)

The bootstrap layer is the

[2021-12-10 18:00] FancyFane commented on #9353
There appears to be some confusion here caused by the line in the  documentation that was written to "avoid confusion". We may need to modify this as Vitess now ship many flavors of MySQL to Docker hub:

https://github.com/vitessio/vitess/blob/main/docker/README.md?plain=1#L41

In addition Vitess' default images comes with the `mysql57` flavor but there are no images with the tag `mysql57`. We may

[2021-12-10 22:22] FancyFane opened #9356 "Buffering concerns with vtgate"
### Overview of the Issue

The buffering behavior of vtgate during a PRS event is not consistent; and only functions when specific traffic conditions are met.

Problem Scenarios:
1.) With the right amount and type of traffic buffering will work, however, it will slow down the PRS process.
2.) Too few request hitting vtgate causes the buffering to not trigger; resulting in dropped SQL statements.
3

[2021-12-10 23:43] deepthi commented on #8687
I believe this should fix it
https://github.com/vitessio/vitess/pull/9237/files#diff-b52bf818696494288a93bba0e91b8ff75fb2fd109bb1c80c77d166ea8349b722R436-R438

[2021-12-10 23:44] #8687 closed

[2021-12-10 23:51] deepthi opened #9358 "Task: change vtctld's realtime_status to use new health check"
vtctld has a reference to the old (Legacy) health check implementation.
https://github.com/vitessio/vitess/blob/4995054f866d684917286b00bd48cf0e8934bb64/go/vt/vtctld/realtime_status.go#L37

We need to move to this to the new one so that we can delete the old one completely.

This blocks #9218.

[2021-12-11 00:02] FancyFane commented on #9356
Closing this issue as using `-buffer_implementation=keyspace_events` as suggested in Issue #9346 resolves all three of these scenarios.

[2021-12-11 00:02] #9356 closed

[2021-12-11 00:10] FancyFane opened #9359 "Change default Vitess buffering implementation"
#### Feature Description

The current default buffering implementation leads to inconsistent behavior as seen in github issues #9356 and #9346. We may want to change the default buffering implementation to use `keyspace events` which appears to be more reliable. Currently, this has to be set manually using the flag `-buffer_implementation=keyspace_events`.

[2021-12-11 00:18] tslo-stripe commented on #9346
Thanks.  It sounds like the reason is that even though vttablet is restarted and reparent will happen soon, we do not buffer requests as we are not sure if it is safe to do so and will rely on client to restart, is that correct?

I saw the buffer_implementation flag and it says "for testing" for "keyspace_events", so I was not sure if it is safe to be used in prod environment.

[2021-12-13 06:16] keweishang commented on #9332
Correct, it isn't a concert for us so far. If adding keyspace/shard at the top level can be easily done, it would be much more consistent and Debezium friendly 👍

[2021-12-13 07:50] Jin-2019 opened #9361 "in vttablets web ui of Vitess 12.0.0: can not Delete master tablet"
#### Overview of the Issue

I want to delete tablet pod in vttablets web ui of Vitess 12.0.0 , but throwing error that  flag provided but not defined: -allow_master.
![image](https://user-images.githubusercontent.com/64535472/145771917-1df2bb1e-cb3f-4104-b33c-8cf6a8470935.png)

#### solution
I think there is a problem with 9 line of web/vtctld2/src/app/shared/flags/tablet.flags.ts
![image](https:/

[2021-12-13 10:00] vmg commented on #9346
@tslo-stripe: we haven't received any reports of issues with the new implementation, so I think we're ready to make it the default. There are definitely people using it in production with good results, as it fixes another bug related to buffering during failovers.

[2021-12-13 21:51] notfelineit opened #9367 "[vtadmin] Make routes match breadcrumbs for nav highlighting"
Please search the existing issues for relevant feature requests, and use the [reaction feature](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing requests.

#### Feature Description

Modify routes to more closely match breadcrumbs in UI, and take advantage of nav highlighting:
![image](https://user-images.githubusercontent.com/31

[2021-12-13 22:16] doeg commented on #9367
I really really like the suggestion to highlight the NavRail tab for singular entity pages.

I think restructuring all of the routes is a pretty significant change. A couple of things worth noting:

- At Slack, we have a year's worth of VTAdmin URLs in our Slack history, runbooks, etc. We'd ideally need redirects, and also (I guess?) some kind of a plan for how long we'd want to keep these redirec

[2021-12-13 22:27] notfelineit commented on #9367
This would be my biggest concern, we wouldn't want it to interrupt any existing processes.

React router is smart enough to handle these cases! :-) Especially react router v6.

I don't think filter params will get passed down to detail pages (if you mean `/tablets/:id`) 😃

That's totally valid. In some ways the UI already diverges from the API (like everything in the tablets > info dropdown). But

[2021-12-14 16:40] notfelineit opened #9383 "Deprecate `IgnoreHealthError` at vtctl"
#### Feature Description
We want to deprecate `IgnoreHealthError` rpc endpoint because it's deprecated at the tablet level:
![image](https://user-images.githubusercontent.com/31225471/146040677-fa77165d-ecd7-4e9e-92c0-2a51a2888fff.png)

We should also remove it from vtctl2 UI if we think that's relevant.

#### Use Case(s)g)
In the vtctld2 UI and vtctl rpc endpoint:
![image](https://user-images.git

[2021-12-14 19:59] zhongr3n opened #9384 "Batch requests to topo server for ListAllTablets in vtctld"
Please search the existing issues for relevant feature requests, and use the [reaction feature](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing requests.

#### Feature Description

Currently when ListAllTablets is called from vtctld client, vtctld server sends find all the tablet aliases in the cell and sends them in one [GetTa

[2021-12-15 00:09] tslo-stripe commented on #9346
Sounds good I'll update our config and set that flag to use keyspace_events.  Thanks.

[2021-12-15 00:09] #9346 closed

[2021-12-15 05:16] wangmeng99 commented on #8980
sorry for the delay.  I don't have a concrete solution. The high level thought was to use 2PC to coordinate the writes to both source and target shards; update the topology with the new primary then stop 2PC. GTID is not a concern because vreplication already leaves different GTIDs for the 'same' replicated transaction on the source and the target. This certainly means very complicated switch over

[2021-12-15 10:57] #9359 closed

[2021-12-16 10:55] TDavid2509 opened #9397 "support cross-shard avg"
Hi Vitess developers,

I have question about SQL plan/engine. Do u have any plan about supportting cross-shards avg function? From my perspective, this is similar to the distinct_count or distinct_sum.

#### Feature Description

If there is a cross shards SQL:

[code]

we can modify it into Route as:

[code]

And the OrderedAggregate can compute avg value by utilizing the ordered result from Route

[2021-12-16 11:51] wanghaoyang1995 opened #9398 "Wrong meta message returned in some situation"
#### Overview of the Issue

Using [Vitess11.0.1](https://github.com/vitessio/vitess/commit/92ac1ffb20c284e923d712b5d0dd9e7718a709b9), there are some situation vtgate will return a wrong meta message:

1. select ... from dual, wrong column name.

[code]

2. select TEXT column
[code]

The following is the output when using java client(mysql connector for java 8.0.22):
[code]
The metadata `precision`

[2021-12-16 15:14] #9329 closed

[2021-12-16 17:22] DeathBorn opened #9400 "Broken reverse vreplication after SwitchWrites in a middle of long transaction"
#### Overview of the Issue

Performing SwitchWrites in a middle of long transaction after data manipulation breaks reverse vreplication.

#### Reproduction Steps

[This happens across many versions](https://gist.github.com/DeathBorn/cbef57a8c957a95886c570b08080c1ce)

[code]

#### Binary version
vitess-8.0.0-patch-71228dd
vitess-9.0-dev-884ab4c
vitess-11.0.1-92ac1ff
vitess-13.0.0_SNAPSHOT-9c86727aa

[2021-12-16 17:26] DeathBorn commented on #9400
Just to illustrate  more

1. begin, insert,switch, commit ->  only old source will have data and will cause duplicate error
2. begin, switch , insert, commit -> all good,
3. begin, insert, switch, insert, commit -> same problem as 1.

[2021-12-16 18:29] #8708 closed

[2021-12-16 18:29] #8709 closed

[2021-12-16 20:56] ameetkotian opened #9404 "Improve isCallerIDAppDebug check in vttablet"
#### Overview of the Issue

Currently, [isCallerIDAppDebug](https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletserver/connpool/pool.go#L337) returns `false` if the value of `callerID.Username` doesn't match the value of `-db_appdebug_user` configured on the tablets.  The `callerID.Username` is configured at the vtgate layer.

When this check fails, the request (silently) moves forwa

[2021-12-16 23:33] sonne5 commented on #9332
Thanks @rohit-nayak-ps, I will close this ticket.

cc @shichao-an @jeffchao @gunnarmorling for visibility:

In the next Vitess release, we will have shard/keyspace as the top level field in `VEvent`, this means for Debezium's transaction metatadata we can iterate over `VGtid` and figure out the accurate `ShardGtid` that can be used as transaction id - as opposed to what we have now where the trans

[2021-12-17 11:39] FanChenyu opened #9408 "When set sql_query_limit and subquery are used, unexpected results are obtained"
#### Overview of the Issue

A paragraph or two about the issue you're experiencing.

#### Reproduction Steps

Steps to reproduce this issue, example:

1. Deploy the following `vschema`:

[code]

1. Deploy the following `schema`:

[code]

1. Run `SELECT...`

[code]

1. View error

error1: select_query_limit seems to take effect in the subquery statement, not the outer query statement

error2: In th

[2021-12-17 17:12] doeg opened #9419 "[vtadmin-api] Allow RBAC config file to be optional"
The `--rbac-config` flag is required when running vtadmin-api. If omitted:

[code]

The local example provides a default rbac.yaml file here: https://github.com/vitessio/vitess/blob/main/examples/local/vtadmin/rbac.yaml

However, it might be more ergonomic + explicit if Vitess operators could _either_:
- Provide an `--rbac` flag and an `--rbac-config` file, or
- Provide a `--no-rbac` (or `--rbac=f

[2021-12-17 17:55] setassociative commented on #9419
I was reading the related backscroll with [jakon](https://vitess.slack.com/archives/C01H307F68J/p1639611736036300) and had the thought that defaulting allow-all when no rbac config flag is convenient but allows failure in an unsafe way: I can imagine fucking up a chef flag -> not passing an rbac flag -> opening write actions to the world.

Still extremely into easy allow-all option but we should m

[2021-12-17 18:03] notfelineit commented on #9419
A clarifying q, does that mean we're either saying 1) must pass in rbac config or 2) must explicitly pass --no-rbac to default to all?

[2021-12-17 18:07] jakon89 commented on #9419
@setassociative +1 for `--no-rbac`
Anyway, unknown flags aren't allowed so its unlikely that scenario is possible:
[code]

[2021-12-17 18:12] mattlord commented on #9400
Thank you for the great issue, @DeathBorn ! I just wanted to let you know that we've seen this and are discussing potential avenues to addressing it internally.

[2021-12-17 20:50] doeg opened #9422 "[vtadmin-api] vtctld proxy dialer should check that gRPC connection is ready"
Currently, vtadmin-api's vtctld proxy's [Dial function](https://github.com/vitessio/vitess/blob/96ebfc2/go/vt/vtadmin/vtctldclient/proxy.go) will only reinitialize its vtctld connection if (a) it does not have a cached connection (i.e., it's the first time Dial has been called), or (b) if the vtctld connection is explicitly closed.

Ideally, Dial should also check that the gRPC connection is "read

[2021-12-17 21:29] setassociative commented on #9419
@notfelineit yea, that's my suggestion

@jakon89 so when constructing args to set up vtadmin there is the error where you typo the arg and it's safe as you point out. I'm more worried about a scenario where it gets omitted entirely for whatever reason and I'd rather fail hard and fast in that situation

[2021-12-17 21:40] doeg commented on #9419
This sounds great. I updated the issue description to specify an explicit `--no-rbac` flag (instead of "failing open" if an RBAC config file is not provided).

[2021-12-17 21:41] doeg commented on #9419
Also what about `--rbac` and `--rbac=false`? 🤔 Not sure if Vitess has a convention for boolean flags.

[2021-12-20 03:55] sonne5 commented on #9332
@rohit-nayak-ps A wild thought: do you feel it makes sense to pass `ShardGtid` directly as a top level filed in the `VEvent`, instead of just keyspace/shard? Or would that require significant more work here?

[2021-12-20 18:03] harshit-gangal commented on #7332
With the PR https://github.com/vitessio/vitess/pull/9390 `region_experimental` vindex can perform subsharding vindex for 2 columns.
I will be taking this feature on to provide a more generic approach.

[2021-12-21 19:08] aquarapid commented on #8980
Agreed on having a mode in SwitchReads/SwitchWrites to only proceed to write/locking operations if the workflow (resharding in this case) delay is "low".  I don't believe I have seen an issue for that before.

[2021-12-22 07:32] Manasi25 commented on #9422
Provided a few comments on original PR.

[2021-12-22 07:50] aquarapid opened #9431 "Vitess sequence table field confusion after sequence table primary vttablet restart with schema tracking on"
Scenario:
  * Recent Vitess main:  `Version: 13.0.0-SNAPSHOT (Git revision b694744925 branch 'main') built on Tue Dec 21 23:29:45 PST 2021 by jacques@dhoomdeskw.localdomain using go1.17.1 linux/amd64`
  * sharded and unsharded keyspaces
  * Table `t1` in sharded keyspace, sharded by column `c1`
  * `c1` is linked to a Vitess sequence table `t1_seq` in the unsharded keyspace
  * After a restart of

[2021-12-22 14:34] christianlang commented on #4038
+1 for adding this support. We have several queries with `IGNORE INDEX FOR ORDER BY (PRIMARY)` which currently result in a syntax error from Vitess.

[2021-12-22 15:25] FancyFane opened #9433 "Change the default buffering timers"
### Buffering Timeout Problems
While working on buffering documentation, a simulation was ran to see how the buffering behavior would act if a PlannedReparentShard (PRS) command was to fail. During this scenario it was discovered the failure of the PRS command takes about 40 - 50 seconds to process.

[code]

Looking over the buffering results in this situation there were a few buffers that expired

[2021-12-22 16:57] #9042 closed

[2021-12-22 20:27] mattlord commented on #9431
Here's a cut and paste test case using the [docker_local container](https://vitess.io/docs/get-started/local-docker/):
[code]

You'll see the duplicates at the end:
[code]

[2021-12-22 21:14] mattlord commented on #9431
On a related note, you'll see this in the logs:
[code]

There are only 3 tables, but there are 9 columns in total across those tables. The "table count" is coming from the row count from this query:
[code]

[2021-12-23 09:37] #5485 closed

[2021-12-24 21:59] jakon89 opened #9442 "target vttablet(s) should reset its sequence cache when SwitchTraffic is executed."
#### Feature Description

target vttablet(s) should reset its sequence cache when SwitchTraffic is executed.

#### Use Case(s)

Preconditions:

- Unsharded keyspace: `A` with
- * table `t1` that has column `c1` using `auto_increment`.
- * sequence `ts` that keeps ids for `c1` column
- Sharded keyspace: `B`
-  `MoveTables` workflow running for `A` -> `B`
- `B.t1` (defined in vschema of `B`) uses `A

[2021-12-26 22:13] jakon89 commented on #9442
I cannot reproduce that so please treat that as invalid for now. However, the fact is that I somehow landed with duplicated ID auto_increment values. I will reopen once I will be able to reproduce that.

[2021-12-26 22:13] #9442 closed

[2021-12-27 07:08] wangsijia1985 opened #9444 "[vtctld]When delete the tablet , allow_master is not defined"
Delete replica(1600417777)
There was a problem deleting replica(1600417777): flag provided but not defined: -allow_master
Log:
flag provided but not defined: -allow_master

Usage: DeleteTablet [-allow_primary] <tablet alias> ...

Deletes tablet(s) from the topology.

  -allow_primary
    	Allows for the primary tablet of a shard to be deleted. Use with caution.

[2021-12-27 16:41] mattlord commented on #9444
Hi @wangsijia1985,

The `master` terminology has been replaced by the more inclusive `primary` terminology throughout Vitess in 12.0. You can see the docs for this specific example here: https://vitess.io/docs/12.0/reference/programs/vtctl/tablets/#deletetablet

I will close this for now as this seems to be expected, but please let me know if I'm missing or misunderstanding something.

Thank you!

[2021-12-27 16:41] #9444 closed

[2021-12-27 21:57] sonne5 commented on #9332
re-open the issue to hash out the last bit on this issue re: `keyspace/shard` vs `ShardGtid`. Hopefully we can sort this out before the next release :)

[2021-12-27 23:47] droslean opened #9445 "General error: 1815 [BUG] unrecognized prepare statement"
[code]

I am using vitess operator on Kubernetes with images: `vitess/lite:latest`

[code]

[2021-12-28 00:05] derekperkins commented on #9445
Support was added here. I'm not sure if latest has that commit or not.
https://github.com/vitessio/vitess/pull/8918

[2021-12-28 09:00] raftx24 opened #9446 "Adding unmanaged tablet to a Kubernetes cluster"
Hey.
I configured an unmanaged tablet with a local operator, but how can I do this with the k8s operator? I tried to run similar command on a pod and it worked for a few minutes and after some minutes I got this error.
[code]

[2021-12-28 18:45] raftx24 commented on #9446
I found this:
[code]

[2021-12-28 18:45] #9446 closed

[2021-12-29 16:24] mattlord commented on #3331
I'm closing this as "fixed" in https://github.com/vitessio/website/pull/928. If there's anything else specifically that you'd like to see documented though please let us know. Thank you!

[2021-12-29 16:24] #3331 closed

[2021-12-29 16:49] rohit-nayak-ps commented on #8754
Some working thoughts on this. Cc @shlomi, @sougou

### Copy Phase Recap

The copy phase works by taking a `consistent snapshot` which selects *all* rows after the last primary key (`lastPK`) seen by a previous copy loop.  A long-running row streaming phase starts. Streaming is done in batches, the number of rows in a batch fit into (roughly) the `vstream_packet_size`. This streaming continues unt

[2021-12-30 12:03] GuptaManan100 commented on #8975
Hello,
After the work that has been done so far to reconcile PRS and ERS with vtorc, we have been successful in making them use the new durability policies to choose the new primary. The next thing to tackle is to also use the durability policies to find whether each tablet should be enabling its semi-sync or not, and use this information to fix the semi-sync.
Right now we do not use the durabilit

[2022-01-03 12:49] droslean commented on #9445
@derekperkins Can you let me know which image I should use that included that fix?

[2022-01-03 15:57] rohit-nayak-ps commented on #9332
Hmm, `ShardGtid` is only valid _after_ a transaction is committed. For a transaction with multiple row events, for example, there will be a single related GTID which is sent after the _commit_.

If we send the gtid for every event could end up with data inconsistency depending on client implementations in situations like:
* a transaction with two row events is being streamed with gtid `gtid1`
* th

[2022-01-03 17:15] droslean opened #9455 "cp: cannot stat '/vt/bin/mysqlctld': No such file or directory"
[code]

[code]

I am using vitess operator image: `planetscale/vitess-operator:latest`

Cluster config images:
[code]

[2022-01-03 22:10] deepthi commented on #9445
Only parsing support was added, the query will still fail to be planned by vtgate.
@GuptaManan100 can you confirm that this is what is expected?

[2022-01-04 04:38] GuptaManan100 commented on #9445
Yes, only the parsing support has been added yet, the planner does not plan queries with `WITH` expression.

[2022-01-04 07:10] #9431 closed

[2022-01-04 09:31] GuptaManan100 commented on #6223
In the MySQL docs [here](https://dev.mysql.com/doc/refman/8.0/en/cast-functions.html), it says

The output of the parser is not `SELECT CONVERT('test' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin;`. It is `select convert('test', CHAR character set utf8mb4) collate utf8mb4_bin from dual` and it works with MySQL -

[code]

[2022-01-04 13:50] harshit-gangal commented on #6223
Vitess formatter does not do that.

[2022-01-04 14:15] droslean commented on #9445
@GuptaManan100 So, `vitess` doesn't plan to support recursive queries? Is there any documentation link that refers to that? In the [official documentation](https://vitess.io/docs/12.0/overview/supported-databases/) it is mentioned that `vitess` supports `MYSQL8` with some limitations but there link to the limitations is broken.

So, since `vitess` can't work with `MYSQL8` it is a game-changer for

[2022-01-04 14:49] droslean opened #9459 "General error: 1105 unknown error: syntax error at position 5 near 'with'"
[code]

[code]

Related to https://github.com/vitessio/vitess/issues/4099

[2022-01-04 17:48] mattlord commented on #9445
@droslean: https://vitess.io/docs/12.0/reference/compatibility/mysql-compatibility/#window-functions-and-ctes

Of course we'd like to support recursive CTEs in the future if at all possible, but we do not today.

I'll correct the link on the noted page as it is missing 1 level (lots of changes recently to add versioned docs).

Thank you for letting us know!

[2022-01-04 18:19] #9080 closed

[2022-01-04 19:50] sonne5 commented on #9332
@rohit-nayak-ps thanks for the inputs.

IIUC, the events from a transaction will be sent by a single VEvent. In the example you have, a two-row txn will have one VEvent with two RowChange in this case. In this setup, the client would either receive both row updates with `gtid1` or they will see nothing.

Is my understand correct or am I missing something? Thanks.

[2022-01-04 21:12] sougou commented on #8975
I'm thinking we should keep the implementation initially simple. This means that each component will require the flag and will act according to the flag, and will assume that the flag is set uniformly in all other components.

In the future, once vtorc becomes mandatory, vttablet should stop fixing semi-sync. At that time, we can deprecate the flag. As for vtctld vs vtorc flags, they're sibling co

[2022-01-04 22:35] deepthi commented on #9445
@droslean Since you have already discovered #4099 you can watch the progress of compatibility with new MySQL 8.0 functionality in Vitess by tracking that issue.
I would disagree with the statement that Vitess can't work with MySQL8. As long as the incompatibilities are understood, it is possible to run Vitess in production with MySQL8, and there are at least a couple of production deployments with

[2022-01-04 23:07] droslean commented on #9445
Thanks @deepthi @mattlord !

[2022-01-05 04:57] GuptaManan100 commented on #9459
The images that you are using correspond to release 12. The parsing support for `With` was added in https://github.com/vitessio/vitess/pull/8918 which did not go into release 12. Parsing will be supported release 13 onwards.

Also the query is incorrect, `concat(path, ., bonuses.id)`. There should not be a unquoted `.` in that expression. MySQL also fails on this -
[code]
but works correctly when

[2022-01-05 04:58] #9459 closed

[2022-01-05 05:41] #7332 closed

[2022-01-05 05:55] #6223 closed

[2022-01-05 07:43] resworld opened #9461 "Can't create table with TIMESTAMP column with DEFAULT NULL"
Hi guys,

we are having an issue with creating table in vitess cluster. Table is having a column with timestamp using DEFAULT NULL. We tried different sql_mode(s) in order to disable STRICT_MODE, but no luck so far. I am adding all information in the issue bellow, if everything is needed I can include it.

#### Overview of the Issue

Creating a table with a column having TIMESTAMP column with DEFA

[2022-01-05 07:44] xhh1989 opened #9462 "VTGate cluster crash caused by opentracing/grpc-go"
We recently encountered a VTGate cluster crash problem. After analyzing the logs, we found that it was caused by opentracing/grpc-go. Now opentracing/grpc-go has fixed this data race problem（https://github.com/opentracing-contrib/go-grpc/pull/12）. It is recommended to upgrade opentracing/grpc-go to the latest version.

The following are some error logs， Maybe  it can be reproduced  by reuse a VTTa

[2022-01-05 08:43] droslean commented on #9459
@GuptaManan100 Thanks for the response. I will try to use the v13 images. Also, the query can't be wrong because it is being generated by (laravel) eloquent and not manually.

[2022-01-05 08:44] GuptaManan100 commented on #9459
I am not sure how that occurred, but the query throws a SQL error on vanilla MySQL. Could you try and let me know on which version of MySQL is it working?

[2022-01-05 09:26] droslean commented on #9459
It should be MySQL8+

[2022-01-05 15:51] jask87 commented on #8756
Is there any news on this issue?

[2022-01-05 17:22] mattlord opened #9469 "Sanitize Statements in Aborted Transaction Log Record"
#### Feature Description

Currently the statements executed within a transaction are logged by `vttablet` when the transaction is aborted due to hitting the configured timeout set via the `-queryserver-config-transaction-timeout` flag (defaults to 30s). For example:
[code]

These statements should be sanitized to prevent leaking PII and other potentially sensitive info in the logs.

#### Use Case(

[2022-01-06 06:22] #4069 closed

[2022-01-06 13:05] harshit-gangal opened #9474 "Database override flag in vttablet"
Discussed point:

  * current design is bad because the flag is at vttablet level and a replica can have a different value from primary
  * correct design is to put it at shard level (ShardInfo)
  * Not at keyspace level because in a custom sharding usecase different shards can have different db names
  * If value exists at shard level ignore vttablet flag
  * on first startup populate ShardInfo u

[2022-01-06 18:09] GuptaManan100 commented on #8975
As per our discussion -

1. We should go ahead and add the additional parameter to all the RPCs which call `fix-semi-sync`. This parameter will be set from the vtctl side which already has the durability policy information. We will mark the `enable-semi-sync` flag for deprecation once this is implemented. It will be a breaking change and the users will have the responsibility of configuring the vt

[2022-01-06 18:21] AdamKorcz opened #9479 "Fuzzing: Rewrite fuzzers to native Go 1.18 fuzzers"
#### Feature Description

With Go 1.18 coming soon, it would help the Vitess project to rewrite the fuzzers to native go fuzzers to make local testing easier.

OSS-fuzz will support native fuzzers, and as part of testing that support I am rewriting Vitess's fuzzers from the go-fuzz engine to the native engine and will commit them here once they are ready.

The work can be followed here: https://gi

[2022-01-07 00:25] #8711 closed

[2022-01-07 00:25] #8712 closed

[2022-01-07 00:25] #8713 closed

[2022-01-07 00:25] #8714 closed

[2022-01-07 08:58] resworld commented on #9461
Looks like problem is solved in next version of vitess, we were using vitess/lite:v9.0.0, but upgrading to vitess/lite:v12.0.2 solve the issue. It can be closed, thank you all

[2022-01-07 08:58] #9461 closed

[2022-01-09 08:44] gsphanikumar commented on #5570
@harshit-gangal  Could you please assign this to me. Would like to get started on this.

[2022-01-11 15:18] GuptaManan100 opened #9502 "Bug in ERS stopping replication on a tablet that was previously replicating"
#### Overview of the Issue

This bug was found while investigating a failing CI run for the end to end tests. Emergency Reparent Shard returned successfully but one of the tablet's replication was stopped even though it was running fine before calling ERS.
Here are the logs from this run -
- Vtctl
[code]

- Vttablet (uid-102)
[code]
This leads to replication being off on tablet 102.

#### Reproduc

[2022-01-11 20:17] #9502 closed

[2022-01-11 23:32] mattlord commented on #4038
I wanted to note that you can use SQL comments to pass these hints down to MySQL: https://dev.mysql.com/doc/refman/8.0/en/optimizer-hints.html

Is this sufficient, at least for the time being?

[2022-01-12 15:38] glortho commented on #6482
👋🏼 Howdy folks. Do you have a sense of when this might happen? It would be a big improvement for some of our workflows.

[2022-01-13 14:57] rohit-nayak-ps commented on #8686
The `ajson` module only supports a single type Numeric (float64) as a catchall for all numeric types including signed and unsigned integers. I have forked `ajson` and added new integer types. This should fix the issue reported here. The updated json parser which uses this fork is at https://github.com/vitessio/vitess/pull/9508.

It also looks like there are some flavor-related differences in how j

[2022-01-13 16:14] artemvovk opened #9509 "JOIN with aggregations in the SELECT clause results in invalid use of group functions"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

We have a query that uses `sum` functions in the `SELECT` cause and `JOIN`s another table. It seems that the `JOIN` causes a query rewrite with the `sum` being placed inside the `WHERE` clause - which results in an error.

#### Reproduction Steps

Ste

[2022-01-13 16:56] harshit-gangal opened #9510 "RFC: Deprecation of vitess jdbc driver"
The Vitess JDBC driver was built in 2016 when Vitess only supported grpc based access.
It was maintained well till 2018 before MySQL protocol implementation took over.

Now, the Mysql protocol implementation is stable and used in production heavily.
Also, all the native MySQL connectors can connect to Vitess through MySQL protocol, the need for having own JDBC driver does not exist anymore.

The p

[2022-01-14 08:04] #9400 closed

[2022-01-14 18:30] aquarapid opened #9513 "MoveTables with source keyspace names that contain dashes leads to unescaped routing rules"
Scenario:
  * Recent master:  `Version: 13.0.0-SNAPSHOT (Git revision b8964f9c2c branch 'main') built on Thu Jan 13 13:37:39 PST 2022`
  * Two unsharded keyspaces:  `keyspace-1` and `keyspace-2`:
[code]
  * Populate `keyspace-1` with the data:
[code]
 * Start a `MoveTables` from `keyspace-1` to `keyspace-2` for `t2`:
[code]
 * Confirm `MoveTables` worked:
[code]
 * However, now try and select from

[2022-01-14 21:38] mattlord commented on #9513
This seems related to:
  - https://github.com/vitessio/vitess/pull/8872
  - https://github.com/vitessio/vitess/pull/9032

[2022-01-14 21:56] deepthi opened #9514 "Task: migrate data in vreplication table"
We have made changes in the code to expect tablet_type to be primary instead of master.
There may be existing VReplication flows using master tablet_type that break when the Vitess version is upgraded.
To facilitate such migrations, we need to do the following:

- [x] In 13.0 add a repair query for vreplication table
- [ ] In 14.0 remove the repair query

[2022-01-14 21:58] deepthi commented on #9514
Part 1 is fixed by #9497

[2022-01-14 22:24] deepthi opened #9515 "Inclusive Naming: replace `SHOW SLAVE STATUS` with `SHOW REPLICA STATUS`"
Once MySQL 5.7 is EOL (late 2023) and we drop support, we will be able to replace the replication commands with new ones (available in. 8.0.22+)
Unfortunately we will need to continue to use `SHOW MASTER STATUS` and `CHANGE MASTER TO` unless those have new equivalents by then.

[2022-01-15 18:00] niv8 commented on #8465
Looks like this is still happening in Vitess 12 in k8s:

**vtctlclient listalltablets** output:
[code]

**show vitess_tablets** output:
[code]

[2022-01-15 18:56] StevenACoffman opened #9517 "Build broken because github.com/krishicks/yaml-patch has been removed"
#### Overview of the Issue

The github repository github.com/krishicks/yaml-patch has been deleted, causing go build for vitess to fail. There are forks remaining on github. I made a copy myself and threw it up to temporarily get around this issue, but there's probably a better long term solution (yaml-patch@v0.0.10 was released in 2017).

#### Workaround
[code]

[2022-01-15 21:01] mattlord commented on #8465
@niv8 no, unfortunately restarting the vtgate is the only way to get rid of them.

[2022-01-16 01:09] mattlord opened #9518 "RFC: Deprecate MariaDB Support in 2022 and Remove in 2023"
### Proposal

Deprecate [official MariaDB support](https://vitess.io/docs/overview/supported-databases/) in Vitess 14.0 (~June 2022) and remove it entirely in 16.0 (~Feb 2023). This gives Vitess users approximately 2 years where they can continue to use Vitess with MariaDB and offers adequate time to transition to MySQL 8 ([MySQL 5.7 is currently scheduled for EOL in 2023](https://endoflife.softwa

[2022-01-16 01:10] mattlord commented on #9515
Another alternative — that I think is clearly better, but will require a new project on our side — is to use the [`performance_schema` replication tables](https://dev.mysql.com/doc/refman/8.0/en/performance-schema-replication-tables.html) tables instead. The master and slave terminology is already gone there.

MariaDB is significantly different here but I'm also proposing that we deprecate support

[2022-01-16 13:33] StevenACoffman commented on #9517
I reached out to the author and they made it public again (and then archived it), so build is working **without** work around.

[2022-01-16 13:33] #9517 closed

[2022-01-16 20:19] lasantharanjana commented on #9455
@droslean Was the above resolved? What was the action plan? Please advise.

[2022-01-16 20:21] droslean commented on #9455
@lasantharanjana The issue still stands. I am not aware of any solutions.

[2022-01-16 20:23] lasantharanjana commented on #9455
Hope the below is the same issue that I'm facing on IBM Cloud. Please review.

`+ cd /vt/vtdataroot
++ find . -mindepth 2 -maxdepth 2 -path './vt_*/my.cnf'
ERROR: logging before flag.Parse: E0116 20:16:41.944803       1 syslogger.go:149] can't connect to syslog
I0116 20:16:41.955701       1 mysqlctld.go:76] mycnf file (/vt/vtdataroot/vt_2469782763/my.cnf) doesn't exist, initializing
ERROR: logging

[2022-01-16 20:28] droslean commented on #9455
@lasantharanjana Your problem is not related to this issue.

[2022-01-16 20:31] lasantharanjana commented on #9455
@droslean Thank you for the quick response. Please note that I'm a newbie on the Vitess. I would highly appreciate if you can give me any direction or a workaround on the issue that I'm facing. Please advise. Thanks.

[2022-01-16 20:40] droslean commented on #9455
@lasantharanjana Please open a new issue

[2022-01-16 20:48] mattlord commented on #9455
Hi @lasantharanjana!

GitHub issues is not the appropriate place for support like questions. You should instead join the Vitess slack, where there are channels for getting help on various topics. Thanks!

https://vitess.io/community/

[2022-01-16 20:54] lasantharanjana opened #9519 "mycnf read failed: open /vt/vtdataroot/vt_2469782763/my.cnf: no such file or directory"
Below are the pods in the cluster.

[code]

I'm getting the below log on the **example-vttablet-zone1-2469782763-bfadd780** pod.

[code]

This is coming after executing the **101_initial_cluster.yaml** file. Please advise.

[101_initial_cluster.txt](https://github.com/vitessio/vitess/files/7877920/101_initial_cluster.txt)

[2022-01-16 21:57] mattlord commented on #9519
Hi @lasantharanjana,

If you must use 12.0 then you should use 12.0.3 instead of 12.0.0. Otherwise I would recommend using 13.0/latest.

Helping with this kind of thing requires a lot of back and forth so if you still see issues with a later release this discussion should be moved to the Vitess slack: https://vitess.io/slack

P.S. your issue appears to be similar to: https://github.com/vitessio/vi

[2022-01-17 08:23] makmanalp commented on #9510
The question of whether HubSpot can maintain the jdbc driver was brought up since we seem to be the main users. Bringing this up with the team and will let you know.

[2022-01-18 18:55] aquarapid opened #9525 "Support checking workflow lag before initiating SwitchTraffic (SwitchReads/SwitchWrites)"
Scenario:
  * On a busy keyspace, a MoveTables (or Reshard) SwitchTraffic operation will today blindly switch reads, and then writes, as long as the copy phase is complete
  * If, due to heavy traffic, the vreplication lag is significant, the SwitchWrites part of SwitchTraffic will eventually fail (due to the 30s default operation timeout), but at that point write downtime will already have been i

[2022-01-18 20:21] kristee-planetscale commented on #9525
@mvh-stripe

[2022-01-18 20:22] aquarapid opened #9527 "Hanging consul queries can still result in Vitess query path impact"
Scenario:
  * New main (1/12/22 b8964f9c2cabf8b50c4cf2a01dfb47d72fe9784f)
  * Using a single consul topo server (default consul config, no special params)
  * Single vtgate, unsharded keyspace
  * After bootstrapping the cluster, do a `kill -STOP` of the consul process
  * Now connect to vtgate:
[code]
  * i.e. had to `Ctrl-\` to stop the mysql client from hanging.
  * Collecting vtgate goroutine

[2022-01-19 04:15] GuptaManan100 opened #9529 "Bug in ERS with vtctl stopped replication on a tablet"
#### Overview of the Issue

This bug was found while investigating a failing CI run for the end to end tests in #9512 . Emergency Reparent Shard returned successfully but one of the tablet's replication was stopped even though it was running fine before calling ERS. This is noticed only when running ERS from `vtctl` binary and not from the vtctlclient vtctldserver binaries.

Logs from vtctl -
[cod

[2022-01-19 04:42] GuptaManan100 commented on #9529
Sequence of operations leading upto this error -
1. From vtctl binary we create a context with a timeout derived from context.Background.
2. We pass this context to Grpc calls to vttablets to reparent themselves
3. As soon as any 1 vttablet succeeds we finish execution in vtctl and exit the main function. Note, we only cancel the context in a go routine which waits for all replicas to finish first

[2022-01-19 19:27] deepthi commented on #9141
Sorry it took me a while to get back to this. I don't see anything useful in the MySQL log. It may be helpful to look at the vttablet logs (and operator logs).

[2022-01-19 22:28] aquarapid opened #9539 "cross-build fails when trying to build arm64 on amd64 linux due to rice exec failure"
E.g.:

[code]

[2022-01-20 15:57] #9539 closed

[2022-01-20 17:05] #9509 closed

[2022-01-20 22:23] jakon89 opened #9546 "VReplication skipping binlog events when ENUM column used in PK"
#### Overview of the Issue

First of all - this is a LONG issue - I tried to put here all details I found during debugging.

There is a `MoveTable` workflow `B` -> `A` (in fact this is MoveTables workflow for which I SwitchedTraffic a few days ago)
`B` -> shared keyspace, 2 shards
`A` -> unsharded keyspace, vttablet connects to MySQL over TCP

It looks that a single binlog event (`DELETE` in that

[2022-01-21 11:01] #8994 closed, assigned to mattlord

[2022-01-21 11:03] rohit-nayak-ps commented on #9002
Closed via https://github.com/vitessio/vitess/pull/9288

[2022-01-21 11:03] #9002 closed

[2022-01-21 13:16] Xavius1 opened #9548 "Is exemple/operator.yml compatible with kubernetes 1.22 ?"
When filing a bug, please include the following headings if
possible. Any example text in this template can be deleted.

#### Overview of the Issue

Hello, when I'm trying to install the operator, I have these errors :
[code]

I have tried to change `v1beta1` to `v1` but others errors happened.

#### Reproduction Steps

[code]

#### Operating system and Environment details

k8s : 1.22.2-1
operator

[2022-01-21 15:21] rohit-nayak-ps commented on #9546
Appreciate the detail. If I read it correctly:

Step 3. duplicate key error is at 14:55:08, pos 5435630, before the delete
Step 4. gtid of delete, pos 5435631, is recorded at 14:55:20, *after the duplicate key error*, as a noop.
Step 5. a cloudsync_db update query gtid, pos 5435632, is recorded at 14:55:54.

Some issues here
* why does the duplicate key error start at Step 3 (14:55:08) before the

[2022-01-21 15:29] rohit-nayak-ps commented on #9548
I suggest you post in the #operator channel of the vitess slack (https://vitess.slack.com/)

[2022-01-21 22:01] mreschke commented on #9518
I am currently building a large Vitess cluster in MariaDB 10.3.  It will be in large scale production.  Should I back out now?

[2022-01-21 22:57] epyonavenger commented on #9518
We're in a similar place to @mreschke, currently looking into building a Vitess cluster centered on MariaDB.

I do not trust Oracle to not ruin (or ruin further, depending on your stance regarding their stewardship) MySQL at some point, and so we've been focused on building things in/around MariaDB.

It's possible we could pivot to MySQL, but if we're dancing with big corporate gorillas, it's poss

[2022-01-21 23:36] derekperkins commented on #9518
@mreschke is MariaDB a hard requirement for you? Good point about the known issues, that's definitely due to lack of usage.

@epyonavenger how important is upgrading to newer versions past 10.3?

[2022-01-21 23:44] jakon89 commented on #9546
Hi @rohit-nayak-ps, thanks for taking a look here.

`Step 3. duplicate key error is at 14:55:08, pos 5435630, before the delete`

The delete event was logged on 19/01/22 at 15:07:07 at source `B`. Duplicate key error happened on `20/01/20 14:55:08` - 2 days later when trying to apply that event *on target*. The reason for that is simple: the whole `MoveTables` workflow was blocked due to other (no

[2022-01-22 00:16] epyonavenger commented on #9518
@derekperkins I think as long as a version is still receiving updates and patches, it's probably ok. If it ever falls completely out of support, or stops working on our OSes, we'd run into trouble.

As far as I know, we don't have any hard dependencies on features of newer MariaDB, but I will double-check with that DBA team.

[2022-01-22 01:34] mattlord commented on #9518
@epyonavenger then I would encourage you to use Percona Server for MySQL, which **_is_** fully compatible. MariaDB is simply a very different database than MySQL today.

@mreschke I think that you should take what was noted here into account, given that MariaDB 10.3 will be EOL next year and 10.4 does not work with Vitess today (for basic and critical things like PlannedReparentShard) and that Mar

[2022-01-22 02:59] epyonavenger commented on #9518
@mattlord Looking into Percona is definitely an interesting idea, I'd have to look into how good of an open-source citizen they are, but it's hard to be worse than Oracle.

So far as the last paragraph goes, understanding that y'all are an open source project, I would think there'd be more interest in supporting MariaDB over MySQL, since Oracle is no great ally of the community. Then again, they d

[2022-01-22 07:13] derekperkins commented on #9518
@epyonavenger FWIW, we've been running Percona for years and think it's great. They track Oracle MySQL exactly, contributing upstream patches where appropriate, and providing open source versions for many of the enterprise plugins, so if you don't like what Oracle is doing, then they aren't going to be significantly different. Personally, I think Oracle has felt the pressure from Postgres/Maria in

[2022-01-22 07:26] epyonavenger commented on #9518
@derekperkins I like what I'm seeing from Percona so far, so next thing will probably be deploying some test instances. As for Oracle, hard to be optimistic, given what happened to poor VirtualBox, but hey, you could be right. Sometimes villains get redemption arcs.

[2022-01-22 12:52] GuptaManan100 commented on #9529
After a discussion with @sougou, @deepthi and @harshit-gangal, it has been decided not fix this bug in vtctl. There is no straightforward fix for the problem as seen in https://github.com/vitessio/vitess/pull/9541. Also, since we want to move away from vtctl, we will not fix this bug.

[2022-01-22 19:46] mreschke commented on #9518
@mattlord well said.  You should definitely add a paragraph about this in your docs.  Docs are misleading and they appear to say MariaDB is fully supported.  At this point I have two options.  A). Stick with Percona 8 and Vetiss and hope Oracle maintains good open stewardship, or B). Go with MariaDB and their sharding spider engine with MaxScale or ProxySQL.  Though I'd like to think vitess does m

[2022-01-22 20:02] mreschke commented on #9518
@derekperkins MariaDB is not a "hard" requirement.  I simply prefer its openness and feature advancements over Oracles stewardship and history.  Oracle is keeping features to EE only, although MariaDB with things like MaxScale are doing the same.  I plan to give vitess a go with Percona 8.0 for our production prototype next month.  I believe better upfront docs on your site about the stance on Mar

[2022-01-22 21:15] mattlord commented on #9518
@mreschke and @epyonavenger I think you'll be quite happy with Percona Server for MySQL. Many of the largest sites/services/apps you use on a daily bases are using MySQL (Oracle and/or Percona) rather than MariaDB: Twitter, Facebook, LinkedIn, Pinterest, Uber, Tesla, GM, Stripe, Square, PayPal, AirBnB, Netflix, Etsy, Ebay, Yelp, Workday, WeWork, <most likely your bank, unless you use [DBS which is

[2022-01-22 21:56] mattlord commented on #9518
@mreschke you make a very good point about the docs. Please let me know if you have any input on related updates here: https://github.com/vitessio/website/pull/949

[2022-01-24 17:37] mattlord commented on #9548
Closing this as we've moved the discussion to slack.

[2022-01-24 17:37] #9548 closed

[2022-01-24 22:34] aquarapid opened #9557 "Vitess query comment override for planner version"
With the v4 planner almost ready for prime-time, a useful enhancement would be having a Vitess-specific query comment to override the planner version.  Would be useful for users:

 * using the v3 planner wanting to "upgrade" a query to v4 to fix an incompatibility
 * using v4 wanting to "downgrade" to query to v3 to bypass a problem with the v4 planner (the idea being that waiting for a code fix i

[2022-01-24 22:38] mattlord commented on #9527
Related to: https://github.com/vitessio/vitess/issues/9147

[2022-01-25 16:49] iamkryptonite opened #9559 "Difficulty while locally installing Vitess on MAC using Homebrew"
I was trying to locally install Vitess following this l[ink](https://vitess.io/docs/12.0/get-started/local-brew/#start-a-single-keyspace-cluster) and I am facing errors.
i have followed the instructions in the above link but it does not seem to work.

[code]
Nothing happens after this, it just stays like this. How do I solve this?

[2022-01-25 17:06] rohit-nayak-ps commented on #9559
From the logs it looks like MySQL processes are still running from a previous run. Try killing them first and see how far it proceeds once the tablets are able to launch.
[code]

Also for better visibility, I suggest you post such questions in the #general channel of the vitess slack (https://vitess.slack.com/)

[2022-01-25 17:54] iamkryptonite commented on #9559
I am very new to this so I don't exactly no how to check for running process and kill them. Also how do I join this slack channel because I am not able to using my gmail account.

[2022-01-25 19:07] iamkryptonite commented on #9559
After some changes this is the current error.

[code]

[2022-01-25 19:41] notfelineit commented on #9559
Hi @iamkryptonite , I think this error `curl: (6) Could not resolve host: RZPT825` is originating here:
[code]
in the `vttablet-up.sh` startup script.

I ran into this issue as well on a Mac. You might have to manually pass in `localhost` for the `$hostname` value, or, you can modify your `/etc/hosts` file to add the `RZPT825` hostname. You can also do: `$(hostname -f)` in your terminal to verify

[2022-01-25 23:18] derekperkins opened #9562 "query: Support Group By Shard"
#### Feature Description

Often when trying to identify issues with shards, I want to run a query to identify which shards are unbalanced. I would love to be able to run a query like `SELECT VITESS_SHARD, COUNT(*) FROM some_tbl GROUP BY VITESS_SHARD`. This seems pretty simple logically, since really it's just not doing any cross-shard aggregation, so less work, but the syntax is tricky. Maybe it c

[2022-01-26 05:58] iamkryptonite commented on #9559
Hey @notfelineit, I added `RZPT825` in the `/etc/hosts` file as suggested.

[code]
And then killed all Vitess processes. But still it doesnt seem to work. The terminal gets stuck at:

[code]
Nothing happens after this. Also is this `vttablet-up.sh` file the one inside `examples/compose`. Because if it is, it does not have the piece of code that you had mentioned above.

[2022-01-26 06:20] mattlord commented on #9559
Hi @iamkryptonite,

This really need move to the Vitess slack, as noted. GitHub issues are not the best way for you to get timely help with support issues like this as they require a lot of back and forth and very few people see it.

Best Regards

[2022-01-26 06:27] iamkryptonite commented on #9559
Okay sure.

[2022-01-26 06:58] #9559 closed

[2022-01-26 10:14] jakon89 commented on #9546
@rohit-nayak-ps

Pasting here source `B` binlog for events 5435631-5435633:

[code]

[2022-01-26 17:08] frouioui opened #9566 "Release of `v13.0.0 RC1`"
## Description

The release of `v13.0.0 RC1` is planned for Tuesday, February 2. This issue contains a checklist of all the things to do for the release:

### Pre-Release

- [x] Make sure the `vitess-operator` repository builds Docker Images on `main`.
- [x] Change `main` to use `latest` Docker tags for Vitess operator example. (`./examples/operator/(101|201|302|306)_*.yaml` and `./examples/operat

[2022-01-26 17:52] notfelineit opened #9567 "[VTAdmin] Add VTAdmin documentation to Vitess web"
#### Feature Description
Add VTAdmin documentation to the Vitess website.

@doeg 's very complete feature list of necessary documentation:
- Overview
    - Architecture (adapted from https://github.com/vitessio/vitess/issues/7117)
    - vtctld2 comparison/migration notes/roadmap
- Integrate VTAdmin + screenshots to https://vitess.io/docs/13.0/get-started/local/
- VTAdmin operator's guide
    - Dep

[2022-01-26 22:41] mattlord commented on #9518
Hi @mreschke,

I honestly don't know where you get the idea of Oracle having been "bad" stewards or OSS citizens and MariaDB good. Under Oracle MySQL 5.6, 5.7, and 8.0 (which moved to a continuous release model) have been released, taking MySQL to whole entirely new levels — [8.0 has SO many **_major_** new features](https://dev.mysql.com/doc/refman/8.0/en/mysql-nutshell.html) that haven't even be

[2022-01-27 15:18] doeg opened #9571 "[vtadmin] Add CI check for drift between src/proto and web/vtadmin/src/proto files"

[2022-01-27 15:50] shlomi-noach opened #9573 "Support CREATE|DROP VIEW statements in Online DDL"
We want to let users create and drop views using Online DDL mechanism, which means:

- it needs to be supported in `vtctl ApplySchems`
- it needs to be supported in VTGate
- it needs to be supported in all strategies, but in particular also in `-declarative`, using https://github.com/planetscale/tengo/releases/tag/v0.10.3-ps.v2

Self assigning.

tracking: #6926

[2022-01-27 20:08] doeg opened #9574 "Add VTAdmin dependencies to bootstrap.sh"
Currently, developers have to install node themselves, make sure the version is correct, and remember to run `make vtadmin_web_proto_types` whenever they run `make proto`; this is a bummer since remembering things is hard.

In order to make it easier for developers to run generate VTAdmin's front-end code, let's add a node installation to boostrap.sh (at the [correct version](https://github.com/vi

[2022-01-28 01:38] mvh-stripe opened #9576 "nil pointer dereference in resharder identifyRuleType"
#### Overview of the Issue

We hit a SIGSEGV when trying to split an existing shard.

[code]

We are running a slightly older version (checkout commit-SHA 92beb238aca82b5a2cda8e1b57f2cca28b59382e) if you want the line numbers in traceback to align.

I think the problem is in https://github.com/vitessio/vitess/blob/main/go/vt/wrangler/resharder.go#L280
When it finds an internal table that should be

[2022-01-28 01:52] mvh-stripe opened #9577 "Nil pointer dereference in tabletserver VStreamRows code path"
#### Overview of the Issue

We hit a nil pointer dereference when trying to do a shard-split (see below for logs + stack trace).

Here's what I think is happening:
 * In the source shard, there's a `_vt_PURGE` temp table which seems to get copied over to the target shards during schema copy.
 * When the target shards issue a `VStreamRows` request to the source shard for this table, it ends up call

[2022-01-28 02:27] mattlord commented on #9577
Related to: https://github.com/vitessio/vitess/pull/8992

Looks like there's additional work to do in order for these internal tables to be fully ignored.

[2022-01-28 02:30] aquarapid commented on #9576
Yes, agree with your assessment;  Maybe just guard the if with `vtable != nil && ...`.  We will need to add a test to catch this.

[2022-01-28 03:17] mattlord commented on #9577
I think we need to ignore it here:
[code]

Will discuss this with @rohit-nayak-ps. Thank you for the bug report, @mvh-stripe !

[2022-01-28 17:45] doeg opened #9588 "Add CI check for drift between src/proto and generated pb.go files"
Similar to https://github.com/vitessio/vitess/issues/9571, this issue proposes we add a CI check to ensure that the `proto/*.proto` files are in sync with the generated `go/vt/proto/*.pb.go` files. This would catch any instance where a .proto file is updated but `make proto` is not run.

[2022-01-28 20:26] #9384 closed

[2022-01-31 09:33] #9577 closed

[2022-01-31 11:54] #9333 closed

[2022-01-31 21:13] mattlord commented on #9576
Closing this as fixed via https://github.com/vitessio/vitess/pull/9578

[2022-01-31 21:40] #9576 closed

[2022-01-31 22:26] notfelineit commented on #8710
I think we'll be leaving this out of the VTAdmin UI due to https://github.com/vitessio/vitess/issues/9383

[2022-02-01 00:04] deepthi commented on #9383
Fixed in #9594

[2022-02-01 00:04] #9383 closed

[2022-02-01 00:04] deepthi commented on #8710
we can go ahead and close this.

[2022-02-01 00:10] #8710 closed

[2022-02-01 01:36] aquarapid opened #9603 "Hit/miss tracking metrics for the vtgate plan cache"
At the moment we do not have this.

The underlying ristretto cache tracks it anyway, so to add is trivial.

[2022-02-01 02:22] aquarapid commented on #9557
Closed by #9545

[2022-02-01 02:22] #9557 closed

[2022-02-01 02:27] mattlord commented on #7567
I'm going to park this for now. We do plan to add this support in the future, but it's a matter of prioritization as this will require some significant effort (tests/testing being a big chunk of it). The known reasons being:
- It will take some time to get the codec 100% correct as it's not documented super clearly so we will have to follow the C++ code in [`libbinlogevents`]( https://github.com/m

[2022-02-01 09:38] #9603 closed

[2022-02-01 21:48] #8716 closed

[2022-02-01 21:48] #8715 closed

[2022-02-02 04:37] mattlord opened #9617 "Add labels to prom metrics that support o11y by things like cell, keyspace, and shard"
#### Feature Description

The prometheus metrics exposed at the `/metrics` endpoint don't provide contextual labels to support observing resource usage  and activity e.g. by cell, keyspace, or keyspace/shard.

#### Use Case(s)

In larger clusters with many cells, keyspaces, and shards, being able to break things down along these lines is very useful.

[2022-02-02 08:33] frouioui commented on #9566
Closing this issue as all the steps are completed. We will keep monitoring 13's documentation until GA.

[2022-02-02 08:33] #9566 closed

[2022-02-03 05:37] frouioui opened #9620 "This is a test"
### Feature Description

[code]

### Use Case(s)

[code]

[2022-02-03 05:37] #9620 closed

[2022-02-03 05:44] frouioui commented on #9617
Hey @mattlord, any reason why the `Type: Feature Request` label is not set on this issue?

[2022-02-03 16:16] #9194 closed

[2022-02-03 21:26] aquarapid opened #9628 "`alter vitess_migration 'xxxx' cleanup` does not remove vreplication workflow for `online` (vreplication-based) onlineddl operations"
### Overview of the Issue

When an OnlineDDL migration (using `set @@ddl_strategy='online';`) competes, it leaves 2 sets of artifacts:
  * The "underscore" artifact tables with the original (assuming the migration was successful) copy of the table.  Cleanup for this has its own cleanup cycle;  which can be short-circuited by doing `alter vitess_migration 'xxxx' cleanup`.
  * The Vreplication workf

[2022-02-03 21:27] doeg opened #9629 "Feature Request: Add a CI check to validate copyright/license on new files"
### Feature Description

[code]

### Use Case(s)

[code]

[2022-02-03 22:00] mattlord commented on #9629
We might be able to use this existing action from the marketplace: https://github.com/marketplace/actions/reuse-compliance-check

[2022-02-04 00:26] #9469 closed

[2022-02-04 21:20] lstellway commented on #8756
No promises, but I'm just starting to try and get this up and running on a local cluster with Kubernetes `v1.21.1`. Just reworked a few of the Operator definitions to conform to some new specs.

Here's a [Gist](https://gist.github.com/lstellway/be6b7145032a0cb6dfad2996cbd9e62a) with the file I am using.

[2022-02-07 10:28] akenneth opened #9640 "Single shard update with select returns: `Unsupported: subqueries in sharded DML`"
### Overview of the Issue

When using an `UPDATE` statement with `SELECT`, Vitess returns `unsupported: subqueries in sharded DML` even if the query is routed to a single shard.

On the tutorial data, this query fails with the above error even though it targets a specific shard:
[code]

Note: this happens on recent `main` and on `v13.0.0-rc1`.

**Expectation**: The query can be routed to a single

[2022-02-07 12:48] shlomi-noach commented on #6926
Roadmap to replacing `online` strategy with `vitess` (better and unambiguous name):

- [ ] https://github.com/vitessio/vitess/pull/9642 supports `vitess` strategy. This PR is created after `v13` RC, so it will only apply in v14
- [ ] In v15 we will implicitly transform a `online` submission into `vitess`
- [ ] in v16 we will remove support for `online` in the backend (the text `online` will just n

[2022-02-07 17:21] vmg opened #9647 "evalengine: Support all built-in MySQL functions"
The last major shortcoming of the evaluation engine are the many built-in SQL functions that ship with MySQL and which we currently do not support.  Since adding support for these functions is an arduous, iterative project, this tracking issue intends to act as an authoritative list of the progress we've made bringing these functions over.

### Comparison Operators

- [ ] [>](https://dev.mysql.com

[2022-02-07 19:33] tharun208 commented on #8604
@GuptaManan100 I like to work on this as of the LFX program. I am interested in databases and I would be familiarising myself with Vitess and getting to know better about Vitess. Any help is appreciated.

[2022-02-07 22:53] deepthi commented on #5196
Ran into this today, and I think that gives us a repro.
[code]
The queryserver-config-pool-size value was set higher than mysql's max_connections.

[2022-02-08 07:25] #9628 closed

[2022-02-08 07:41] frouioui commented on #9588
Closing this issue, #9644 is merged :)

[2022-02-08 07:41] #9588 closed

[2022-02-08 18:01] kaveeshadinamidu commented on #9647
Hii @vmg, I would like to contribute to this project on GSoC 2022. Can you guide me on how can I start with this project?
Thank You!

[2022-02-08 19:01] aquarapid opened #9652 "Vtexplain does not work for subsharding vindexes"
### Overview of the Issue

vtexplain does not work for subsharding vindexes

### Reproduction Steps

[code]

Schema:

[code]

Run vtexplain against this:

[code]

i.e. the query scatters, instead of targeting a single shard.
[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-02-08 19:42] jakon89 opened #9653 "vtgate panic - select 1 as one from dual"
### Overview of the Issue

vtgate panics when trying to execute below query:

[code]

The above query is sent by JOOQ library when reading DB schema (that schema is used then to generate java classes)

This happens for both shared and unsharded keyspaces.

### Reproduction Steps

[code]

### Binary Version

[code]
[code]

### Log Fragments

[code]

vttablets:
[code]
[code]

[2022-02-08 20:02] jakon89 commented on #9653
doesn't seem to be regression, the result for 12.0.3:

[code]

My first idea was this is regression introduced in https://github.com/vitessio/vitess/pull/9543/files but apparently its not.

[2022-02-09 07:25] GuptaManan100 commented on #5196
Me and @harshit-gangal tried to reproduce this by reducing the mysql max connections to 20. We were able to see the same error message but we didn't see any panic. @deepthi Could you share the logs which contain the panic?

[2022-02-09 10:01] vmg commented on #9647
Hi @kaveeshadinamidu! There's not much you can do to get started right now since our GSoC application hasn't been approved yet. I would advise you to brush up on your Go skills meanwhile!

[2022-02-09 16:25] harshit-gangal commented on #9640
Update queries do not support such complex query today, I have marked this as feature request.

[2022-02-09 20:42] deepthi commented on #5196
What I have is https://planetscale.slack.com/archives/C02NHUSBW1H/p1644273656833539
You probably need to have continuous traffic to reproduce? Did you have that?

[2022-02-09 23:25] mattlord opened #9662 "Bug Report: Gen4 planner incorrectly resolves qualified table ident in cross keyspace JOIN"
### Overview of the Issue

This was tested both against the [v13.0.0-rc1 tag in the release-13.0 branch](https://github.com/vitessio/vitess/tree/v13.0.0-rc1) and against [main@573a22b7e34a3207fc7856e9aa249d1df94264d9](https://github.com/vitessio/vitess/commit/573a22b7e34a3207fc7856e9aa249d1df94264d9).
[code]

### Reproduction Steps

Using the [docker_local container image](https://vitess.io/docs/1

[2022-02-10 02:17] zn9f opened #9663 "Bug Report: Incorrect result of addition of numbers and strings"
### Overview of the Issue

Incorrect result of addition of numbers and strings:

1.MySQL
[code]
2.Vitess
[code]
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/20178265/153323388-cfd3c6d4-3927-4147-b277-3eee33d86677.png">
<img width="1363" alt="image" src="https://user-images.githubusercontent.com/20178265/153323417-1ed2b692-89e5-474a-b36f-c4ab6b0681ac.png">

and more:

[2022-02-10 02:24] jetora commented on #9663
and more
MySQL
[code]

Vitess:
[code]

[2022-02-10 02:26] jetora commented on #9663
MySQL
[code]
Vitess
[code]

[2022-02-10 02:27] jetora commented on #9663
MySQL:
[code]

Vitess:
[code]

[2022-02-10 16:35] #9662 closed

[2022-02-11 00:12] deepthi commented on #9629
What is an invalid copyright year? Note that the copyright year should NOT be updated every time a file changes.

[2022-02-11 05:34] #7700 closed

[2022-02-11 17:02] #9663 closed, assigned to vmg

[2022-02-12 08:21] K-Kumar-01 commented on #8604
@GuptaManan100 I would like to work apply for this project under LFX. I am not familiar with Vitess as of now so currently I am going through the codebase and familiarizing myself with the concepts.
I do have some work flow which I have thought of to follow and I would like to discuss it with you, if possible.

[2022-02-13 08:14] #9573 closed

[2022-02-14 04:03] GuptaManan100 commented on #8604
All discussions about the project will happen on Slack. Here is the link to the general channel - https://vitess.slack.com/archives/C0PQY0PTK

[2022-02-14 05:47] systay commented on #9629
I don't like that we have to have a license header in every file, and reading up on it, it's pretty clear that this is not needed with Apache 2.
From https://infra.apache.org/apply-license.html#copy-per-file

[code]

can we pretty please remove the licenses and just stick to the LICENSE file in the root?

[2022-02-14 10:28] shlomi-noach opened #9682 "Compatibility: support ALTER TABLE... PARTITION BY"
Our parser today does not support `ALTER TABLE ... PARTITION BY`. It does support statements like `ALTER TABLE ... ADD PARTITION` or `ALTER TABLE.... REORGANIZE PARTITION` etc. But is missing on the "completely repartition like so" option.

Example query:

[code]

MySQL's `ALTER TABLE` lets you repartition everything according to a completely new scheme. Basically, it uses the same partitioning sy

[2022-02-14 12:37] shlomi-noach commented on #9682
Related: https://github.com/vitessio/vitess/issues/8604

There is at least another outstanding partitioning limitation to the parser; in https://github.com/vitessio/vitess/issues/8604 partitioning is marked as complete but I believe that's a mistake.

[2022-02-14 12:45] GuptaManan100 commented on #8604
Added #9682 to the description for tracking progress

[2022-02-14 14:26] #9682 closed

[2022-02-14 15:44] shlomi-noach opened #9685 "Parse error: generated char column with collation"
The following query fails parsing:

[code]
error: `syntax error at position 120 near 'collation'`

while this query passes:
[code]

the clause `collate utf8mb4_0900_ai_ci` is what makes the parser fail.

I've looked into it and I'm not sure I understand why the parsing fails with collation. That is, I understand why, but then I don't understand how _anything_ works... Look at this:

https://github

[2022-02-14 16:03] shlomi-noach commented on #9685
@GuptaManan100 thank you for validating! If you wish, I can also work on this. Please let me know your preference

[2022-02-14 16:10] shlomi-noach commented on #9685
@GuptaManan100 this is not urgent. Thank you!

[2022-02-14 18:23] doeg opened #9686 "RFC: Remove the vtctld2 UI codebase"
This RFC proposes a roadmap for sunsetting and removing the [web/vtctld2](https://github.com/vitessio/vitess/tree/main/web/vtctld2) user interface:

![image](https://user-images.githubusercontent.com/855595/153923518-daaf85be-6bc9-4b4d-b274-a15fd3e5109b.png)

The vtctld2 codebase was built in 2016 and has not been actively maintained since ~2017.  Vitess operators are encouraged to switch to [VTAd

[2022-02-14 18:31] kaveeshadinamidu commented on #8162
Hey, @vmg do you working on this issue?

[2022-02-14 19:35] doeg commented on #9686
One thing worth adding to this RFC might be the release where we deem VTAdmin as no longer "experimental".

I'm not sure if Vitess has an official definition of the term; for VTAdmin, I'm thinking that this would primarily affect the HTTP API. I can see people using that programmatically in which case breaking changes might matter a lot -- at Slack we were experimenting with it for monitoring, for

[2022-02-14 19:42] deepthi commented on #9686
People do use the vtctld2 API. @doeg the guideline is that we keep things "experimental" to give us flexibility to change the interface. During that time no version compatibility guarantees. Once something is GA then we have to start supporting +/- 1 version via deprecations and notices in release notes or PRs.

[2022-02-14 19:42] derekperkins commented on #9686
Is there anything in the http api that isn't in the grpc api? I wouldn't be opposed to marking the http api experimental for a few releases

[2022-02-14 19:51] notfelineit commented on #9686
The "dynamic clusters" change I made a few weeks back is only in the http api, and not in the grpc api, but it's a feature that wouldn't make sense in the grpc api anyway, since it relies on cookies and expects the client to be a web browser.

[2022-02-14 20:56] doeg commented on #9686
I just want to check my understanding of the thread so far, since there are so many moving pieces:

- vtctld2 is comprised of two pieces, and I'm going to give them names for the sake of discussion:
   - `vtctld2-web`: the UI, which primarily lives in [web/vtctld2]((https://github.com/vitessio/vitess/tree/main/web/vtctld2) and is served from the vtctld in [go/vt/vtctld/vtctld.go](https://github.co

[2022-02-14 21:05] notfelineit commented on #9686
@doeg I'm in agreement with you that the scope should be focused on the web UI's - deprecating vtctld2 web UI and "GA"-ing vtadmin web UI. We probably need further analysis for bringing the APIs to parity 😄

[2022-02-14 21:24] doeg commented on #9686
@notfelineit Thank you! 🎉 +1 that we can take a closer look at `vtctld2-api` later on since I've been doing the same. (I think the realtime stats and debug endpoints will be fun to revisit, tbh!)

I'll rename this RFC + also https://github.com/vitessio/vitess/projects/13 to be more specific about removing "just" the UI, if there are no objections. :)

[2022-02-14 23:26] malpani opened #9689 "Run internal table GC operations as dba"
### Overview of the Issue

Internal GC transitions are currently executed as `vt_app`. This causes GC to fail in setups where `vt_app` user does not have alter privileges resulting in failures like

```[2022-02-14 18:39:39.535409] E0214 18:39:39.535275 3558744 tablegc.go:272] TableGC: error transitioning table _vt_PURGE_206a04b98b8f11ec9a090205111c4bd9_20220212230615 to EVAC: DROP, ALTER command d

[2022-02-14 23:33] derekperkins commented on #9686
Right now the `vtctld` docker image ships with `vtctld2-web`. It seems like it vtadmin should be added there by default, to make the transition easier.

[2022-02-15 05:13] shlomi-noach opened #9691 "sqlparser: fail parsing valid CREATE VIEW statement"
I have the following simple view:
[code]

Unfortunately, `sqlparser.Parse()` yields with:
[code]

[2022-02-15 05:19] shlomi-noach commented on #9691
The problem seems to be with backticks aroun dthe user name. this statement parses correctly:

[code]

And also this one parses correctly:
[code]

[2022-02-15 05:26] GuptaManan100 commented on #9689
@deepthi I think this will fall under our larger cleanup of which user to use where

[2022-02-15 06:49] shlomi-noach commented on #9691
Assigning myself

[2022-02-15 08:43] #9691 closed

[2022-02-15 09:12] vmg commented on #8162
I am not, we've made some intermittent progress on this but there's still a long trail of tests that need to be fixed.

[2022-02-15 11:51] shlomi-noach opened #9696 "sqlparser: support `PARTITION BY LIST`"
Our `sqlparser` does not parse the partition list in:
[code]
It only produces `create table t1`

[2022-02-15 12:29] harshit-gangal commented on #9652
This only works for Gen4 planner only.
I will add a test to validate that.

[2022-02-15 18:04] frouioui opened #9699 "Release of `v13.0.0`"
## Description

The release of `v13.0.0` is planned for Tuesday, February 22. This issue contains a checklist of all the things to do for the release:

### Pre-Release

- [x] Notify the community on Slack for the upcoming release.
- [x] Draft the blog post
- [x] Create a PR for the blog post on the website repository (https://github.com/vitessio/website/pull/974)
- [x] Make sure @dctrwatson PRs on

[2022-02-15 18:58] aquarapid commented on #9652
Ah, correct.  Above query with `-planner-version Gen4`:

[code]

[2022-02-15 18:58] #9652 closed

[2022-02-15 20:23] deepthi commented on #9699
Are we ready to do this? Or should we do Vitess-operator 2.6 with the current dependency on an older Vitess SHA?

[2022-02-16 08:58] frouioui commented on #9699
Let's do a release of the vitess-operator (2.6), using the latest dependency changes by @dctrwatson (PRs: https://github.com/planetscale/vitess-operator/pull/246, https://github.com/planetscale/vitess-operator/pull/247, https://github.com/planetscale/vitess-operator/pull/248, https://github.com/planetscale/vitess-operator/pull/249, https://github.com/planetscale/vitess-operator/pull/250, https://g

[2022-02-16 14:01] lizztheblizz opened #9705 "Feature Request: Unsupported: insert into select"
### Feature Description

[code]

### Use Case(s)

[code]
[code]

[2022-02-16 14:05] harshit-gangal opened #9706 "RFC: Handle reserved/tainted connections better"
## Problem Statement

Vitess has a feature where it allows changing session-level system settings on a connection. In Vitess terminology, these connections are called tainted connections. As the connection properties are modified on those connections, they cannot be returned to the originating connection pool. After the client session is closed, these connections are closed.

As these connections

[2022-02-16 17:39] #8277 closed

[2022-02-16 18:59] mattlord opened #9715 "Bug Report: VDiff shows data mismatches due to collation differences between MySQL 5.7 and 8.0"
### Overview of the Issue

If you are performing a VReplication workflow like [`MoveTables`](https://vitess.io/docs/13.0/reference/vreplication/movetables/), it's critical to verify the results of that to ensure the data was copied fully and correctly by using [`VDiff`](https://vitess.io/docs/13.0/reference/vreplication/vdiff/).

Unfortunately, however, [`VDiff`](https://vitess.io/docs/13.0/refere

[2022-02-16 23:35] derekperkins opened #9716 "parser: support LATERAL keyword"
### Feature Description

We have some high throughput queries that really benefit from the semi-recent `LATERAL` keyword. Right now, Vitess just returns `[HY000][1105] syntax error at position ...` for queries that run on >= MySQL 8.0.14.
https://dev.mysql.com/doc/refman/8.0/en/lateral-derived-tables.html

### Use Case(s)

Finding the most recent value per group by

[code]

[2022-02-17 07:39] #9696 closed

[2022-02-17 09:12] frouioui commented on #9705
@vitessio/query-serving

[2022-02-17 10:30] resworld opened #9721 "Bug Report: can't read binlogs with ripple (binlog server) needed for point in time recovery"
### Overview of the Issue

We have running vitess cluster with vitess operator in k8s.  I am trying to configure ripple software as binlog server, as it is recommended in order to have point in time recovery.
I've tried already to attach ripple to simple mysql server and everything looks good, but when I try to attach it to the vitess db it failing with:
[code]

In the vtgate we can see following

[2022-02-17 14:03] ajm188 opened #9722 "Bug Report: Cannot run bootstrap.sh on arm64 mac"
### Overview of the Issue

When running `./bootstrap.sh` fresh on an M1 mac, I get the following error:

[code]

The issue is with the platform/arch checking done within `install_protoc` [here](https://github.com/vitessio/vitess/blob/ae72a9b03a39dab563de2e735e85d99dcb5951c0/bootstrap.sh#L100-L109)

### Reproduction Steps

[code]

### Binary Version

[code]

### Operating System and Environment det

[2022-02-17 17:36] notfelineit commented on #9686
^ We should make that a part of parity then if folks are relying on the vtctld docker image 😄

[2022-02-17 20:35] doeg opened #9726 "Feature Request: Add "readonly mode" flag to vtadmin-web"
### Feature Description

I'd like to add the following flag to vtadmin-web:

[code]

In other words, this flag will hide any UI control that ultimately triggers an API request with any method other than `GET`. Deleting a tablet, for example, or creating a keyspace.

On the API side, you would (and should!) do this by [configuring rbac.yaml](https://github.com/vitessio/vitess/blob/main/go/vt/vtadmi

[2022-02-17 22:02] vkovacik commented on #8465
@mattlord Your comment suggests that this issue is not fixed even though the issue has been closed. Is there another issue that is a follow up of `restarting the vtgate is the only way to get rid of them` ?

[2022-02-17 23:11] mattlord commented on #8465
Hi @vkovacik!

I was answering a user encountering the issue in a Vitess 12.0 cluster. The issue was fixed in main/13.0 but was not backported to 12.0 (was seen as risky for the GA at the time). 13.0-RC is out now and 13.0-GA is scheduled for release next week.

Best Regards

[2022-02-18 16:29] doeg commented on #9699
So organized! Thank you for coordinating this release, @frouioui. :)

[2022-02-18 17:33] notfelineit opened #9732 "Feature Request: Add ValidateVSchema to vtctldservice"
### Feature Description
In adding `ValidateSchemaKeyspace` to vtctldservice, we are missing one piece of logic that relies on the unimplemented `ValidateVSchema` method: https://github.com/vitessio/vitess/pull/9667/files#diff-4bb858fef99bc3779c1718d5dc3b3ef20d1efd16d80779d3e3318d9909f6749fR2890

We should:
- [ ] Add `ValidateVSchema` method to vtctldservice
- [ ] Add back logic to `ValidateSchemaK

[2022-02-18 22:58] #9726 closed

[2022-02-20 14:28] harshit-gangal commented on #9705
Tasks
- [ ] Plan query without Vitess Sequences and Star select
- [ ] Implement Insert engine to execute the plan
- [ ] Optimize the engine execution in streaming
- [ ] Add Star Select support
- [ ] Add Vitess Sequences support

Task 1 to 3 should unblock the benchmark work.

[2022-02-21 10:08] frouioui commented on #9721
@vitessio/cluster-management

[2022-02-21 14:26] shlomi-noach commented on #9721
It seems to me like you've configured your `ripple` server to replicate from VTGate. This shouldn't work; VTGate does not act as a replication source. You should instead point `ripple` into specific MySQL servers.

@vitessio/cluster-management to confirm my statement.

[2022-02-21 16:50] deepthi commented on #9721
That is correct.

[2022-02-21 18:16] madhur opened #9753 "Question: Vagrantfile is broken"
### Question

[code]

[2022-02-21 19:35] #9715 closed

[2022-02-22 11:57] jseparovic opened #9754 "Bug Report: Errors on CREATE TABLE statements via nodejs/knex"
### Overview of the Issue

While trying to create a number of tables via nodejs/knex, vitess has issues after some number of tables.

I see `vttablet: rpc error: code = Canceled`
followed by `vttablet: rpc error: code = Code(17)`

Here's a full example output trying to create 30 tables.
https://github.com/jseparovic/knex-test/blob/master/OUTPUT.md

### Reproduction Steps

I've created a test repo

[2022-02-22 13:39] akenneth opened #9756 "Bug Report: Lookup index with `uint32` fails when deleting entries with `lookup.Delete: Code: INTERNAL Type is not supported: "488" UINT32"
### Overview of the Issue

When trying to delete records from a sharded table with a owned lookup table on an `unsigned int` field an error is thrown:
[code]

### Reproduction Steps

Using this vschema:

Customer_sharded.json
[code]

Commerce_seq.json
[code]

With this schema:
[code]

Start a sharded cluster, open `mysql` and do:
[code]

You'll see the failure
[code]

### Operating System and Envi

[2022-02-22 16:41] resworld commented on #9721
Thank you guys, for the quick reply.

I thought it should be through vtgate in order to have access via kubernetes service, but not hardcoded pod's IP address which can be deleted (if there's outage of the node or any other reason).

I've tried one that you suggested: to run it against a vttablet's pod. I've found that user should be from local users that from the sql, but not in vitess table acl

[2022-02-22 17:50] mattlord commented on #9721
Hi @resworld,

This is more appropriate for t[he Vitess Slack](https://vitess.io/slack) than a GH issue as this is not likely a bug in the product but more of an open ended support-like request.

To answer your latest question, which is really about MySQL Replication, you can reset the GTID metadata on the master using RESET: https://dev.mysql.com/doc/refman/8.0/en/reset-master.html

[2022-02-22 17:56] mattlord commented on #9721
Hi @resworld,

This is more appropriate for [the Vitess Slack](https://vitess.io/slack) than a GH issue as this is not likely a bug in the product but more of an open ended support-like request.

To answer your latest question, which is really about MySQL Replication, you can reset the GTID metadata on the primary using RESET: https://dev.mysql.com/doc/refman/8.0/en/reset-master.html That will cle

[2022-02-22 18:01] mattlord commented on #9721
Hi @resworld,

This is more appropriate for [the Vitess Slack](https://vitess.io/slack) than a GH issue as this is not likely a bug in the product but more of an open ended support-like request.

To answer your latest question, which is really about MySQL Replication, you can reset the GTID metadata on the primary using RESET: https://dev.mysql.com/doc/refman/8.0/en/reset-master.html That will cle

[2022-02-22 18:03] mattlord commented on #9721
Closing this for now as I don't see any vitess bug and I've provided two paths forward based on the details provided. If you need further help please reach out on the Vitess slack and we can discuss further.

[2022-02-22 22:36] jask87 commented on #8756
@lstellway Is there any help that I could provide with this upgrade?

[2022-02-23 01:08] deepthi commented on #9699
Well done!

[2022-02-23 01:08] #9699 closed

[2022-02-23 01:37] jseparovic commented on #9754
debugging on slack instead

[2022-02-23 01:37] #9754 closed

[2022-02-23 02:55] TahsinTunan opened #9763 "Unhandled Error in the demo example"
Here's a code snippet from [demo.go](https://github.com/vitessio/vitess/blob/main/examples/demo/demo.go) from the `examples` folder:
[code]
Here, `ToBytes()` returns 2 things:
1. A slice of byte
2. An error

And the `EncodeToString()` function takes only a slice of byte as an argument. Shouldn't we handle the error coming from `ToBytes()` since it passes two arguments to the `EncodeToString()` fun

[2022-02-23 03:30] TahsinTunan commented on #9763
needs triage

[2022-02-23 03:31] TahsinTunan commented on #9763
needs-triage

[2022-02-23 03:46] mattlord commented on #9763
There’s an open PR for this: https://github.com/vitessio/vitess/pull/9615

I’ll link the two. Thank you!

[2022-02-23 05:24] shlomi-noach commented on #6926
https://github.com/vitessio/vitess/pull/9755 offers query buffering for `vitess` migration cut-over phase. Still a known race condition, to be handled by a different PR.

[2022-02-23 05:29] jseparovic commented on #9754
Turns out this was simply a problem with the resource limits being set too low and kubernetes killing the mysqld process under load.
Thanks @mattlord for your help on this one. Much appreciated

[2022-02-23 11:20] #9756 closed

[2022-02-23 11:45] frouioui commented on #9753
I do not think we are actively maintaining the Vagranfile. At least it has been a long while since its last update.

@deepthi, is that something we want to start maintaining again?

[2022-02-23 13:26] madhur commented on #9753
I connected with @deepthi  over slack and she mentioned that Vagrantfile is not being maintained.

[2022-02-23 17:12] notfelineit commented on #9732
We're adding this as part of this PR because the tests rely on it: https://github.com/vitessio/vitess/pull/9667

[2022-02-23 17:35] #9763 closed

[2022-02-23 19:12] mattlord commented on #9629
@systay there's a disconnect here, at least in my mind. :-) You keep sharing that link, but it says "do I need a [full] _copy of the license in each source file_". That's not what we have, we have a license *header* that points to the license in each file. And in their FAQs they do seem to say that *this* is required (at least recommended).

The full copy of the license can be seen here: http://ww

[2022-02-23 22:32] smourachov opened #9770 "Bug Report: NPE in GrpcClientFactory$VitessLoadBalancer.newLoadBalancer"
### Overview of the Issue

NPE in GrpcClientFactory  when LoadBalancerFactory is set
[code]

### Reproduction Steps

[code]

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-02-24 14:35] #9689 closed

[2022-02-24 17:58] frouioui commented on #9770
@vitessio/java

[2022-02-24 23:28] derekperkins opened #9783 "vstream: upgrade to v13 breaks vstream with invisible columns"
### Overview of the Issue

Support for invisible columns was added in 8.0.23. We use them in a few places to prevent unnecessary or larger blobs from being loaded on `select * from...` queries. That worked fine through v12, but after rolling a canary upgrade to v13, it now throws an error.
https://dev.mysql.com/doc/refman/8.0/en/invisible-columns.html

I think there are a few places where `SELECT

[2022-02-24 23:33] derekperkins commented on #9783
Related, I've had a draft PR open for a couple weeks waiting to be finished that would limit which columns are streamed into memory. This is specifically the only reason we're using invisible columns today, so this feature would unblock us by allowing us to make everything visible again. https://github.com/vitessio/vitess/pull/9670 I originally made the PR because having the columns invisible was

[2022-02-24 23:48] #9732 closed

[2022-02-24 23:53] #8733 closed

[2022-02-24 23:53] #8734 closed

[2022-02-24 23:53] #8735 closed

[2022-02-25 18:21] deepthi commented on #9753
Fixed in #9768

[2022-02-25 18:21] #9753 closed

[2022-02-25 21:12] vkovacik opened #9788 "Bug Report: vttablet replica is considered healthy (serving) even when not connect to primary"
### Overview of the Issue

**Short description:**

Replica tablet is serving reads even when replication IO thread is disconnected and replica data is stale for more than `unhealthy_threshold`.

**Long description:**

We were seeing inconsistency between data returned from replica and data returned from primary tablet. After investigation I found that the replication on the replica is not connecte

[2022-02-25 21:34] mattlord commented on #9788
What version of MySQL are you using here? It feels like a bug in MySQL to show `0` for seconds behind master in this scenario rather than `NULL`. We now take a NULL value into account with this work: https://github.com/vitessio/vitess/pull/9308

In this case, assuming this is still an issue in the most recent MySQL versions, we would have to consider the lag to *also* be "unknown" if the `IO_Threa

[2022-02-25 21:46] vkovacik commented on #9788
@mattlord It's recent Percona MySQL 5.7.36-39

[code]

Yeah, I think when replication is checked by polling "SHOW SLAVE STATUS", besides checkingSQL_Delay with also need to check that both IO and SQL threads are running.

I'm not sure with vanilla MySQL, but Percona 5.7 reports 0 slave lag when IO thread is not running.

[2022-02-25 21:51] mattlord commented on #9788
@vkovacik ok, thanks! MySQL and Percona are the same (MariaDB is not, after 5.5).

Given that, I think the fix may be as simple as this:
[code]

We treat "Connecting" as equivalent to running to avoid flapping on low traffic systems due to `slave_net_timeout` reconnects. I'll open a PR. Thanks again for the great issue!

[2022-02-25 22:05] vkovacik commented on #9788
Yeah, I agree `(fields["Slave_IO_Running"] == "Connecting" && fields["Last_IO_Error"] == "")` should prevent low traffic systems from flapping and still cover this issue when IO thread is really disconnect from the primary.

[2022-02-25 22:45] paulocoghi commented on #9518
We are planning on using Vitess, but MariaDB is our only option, for our past experience on high traffic customers.

Thus, since performance is one crucial focus of Vitess as well, I would vote to set MariaDB as the new default instead of MySQL. But since this vote could be unrealistic for many of you, I would at least vote to maintain support for MariaDB.

In our experience with high traffic site

[2022-02-25 23:04] mattlord commented on #9518
A large percentage of the most highly traffic sites in the world are using MySQL/Percona (including GitHub.com). 🙂 As noted before, MariaDB is not safe to use with Vitess due to its poor GTID implementation (it has no uniqueness properties). I would strongly recommend against it. You WILL encounter problems, especially if you plan to use VReplication, which undergirds a lot critical Vitess functio

[2022-02-25 23:05] mattlord commented on #9518
Hi @paulocoghi!

A large percentage of the most highly traffic sites in the world are using MySQL/Percona (including GitHub.com). 🙂 As noted before, MariaDB is not safe to use with Vitess due to its poor GTID implementation (it has no uniqueness properties). I would strongly recommend against it. You WILL encounter problems, especially if you plan to use VReplication, which undergirds a lot critic

[2022-02-25 23:07] paulocoghi commented on #9518
Thanks @mattlord for your important considerations!

[2022-02-26 00:15] mattlord commented on #9518
@paulocoghi thank you for the feedback! You got me thinking...

It's worth pointing out that the only people that have objected, to date, are those that have NOT yet extensively used Vitess with MariaDB (like yourself, they're thinking about it or exploring it). Those that _have tried_ to go that route have run into problems (you can search [the Vitess Slack](https://vitess.io/slack) for it). In a

[2022-02-27 16:42] Jassi10000 commented on #9647
HI @vmg I am looking to contribute to this project in GSOC'22 , btw is the application approved ?
Also please what all things I should be good with in GO, this would really help while contributing

[2022-02-28 05:21] timkang85 opened #9797 "Question: Vitess on ARM"
### Question

[code]

[2022-02-28 10:04] vmg commented on #9647
Hi @Jassi10000! We won't know if the project has been accepted until March 7th, the official date when Google will announce the accepted organizations. As for important things to learn: I think it's important to have a solid grasp of SQL (and the particular SQL syntax that MySQL uses). For Go, just basic knowledge of the language will suffice.

[2022-02-28 10:15] Jassi10000 commented on #9647
I hope it gets accepted 😊, and thanks @vmg  for telling about the level of knowledge I should have

[2022-02-28 10:31] rohit-nayak-ps commented on #9783
Nothing has changed as far as I know between 12.0 and 13.0 with respect to schema loading. VReplication has never supported invisible columns explicitly. So not sure how it is working for you in previous versions. I am able to reproduce this issue in 12.0.

[code]

[2022-02-28 12:45] frouioui commented on #9797
I believe @vmg is building/running Vitess on an ARM CPU.

The version `3.5` of etcd is supported but considered as unstable on Linux ARM machines:

(https://etcd.io/docs/v3.5/op-guide/supported-platform/)

[2022-02-28 14:48] vmg commented on #9797
Nope, not at all. I don't own any ARM CPUs. Vitess isn't tested on ARM on CI either. Running ARM Vitess in production seems like a risky proposition at this point, since nobody is doing it.

@timkang85: if you have a specific interest on running Vitess on ARM, you'll probably need to contribute changes to the project, as bugs will surely be found. The ideal first step would be a CI pass (maybe jus

[2022-02-28 16:18] vmg commented on #9647
Hey everyone! We've seen a lot of interest from potential students about this GSoC proposal. This includes many candidates opening PRs to implement some of the functionality of the project ahead of time. Because of this interest, I wanted to take a note to write some contribution guidelines, so nobody wastes their time.

- First and foremost, although we greatly appreciate all OSS contributions to

[2022-02-28 23:01] Anders-PlanetScale opened #9801 "Bug Report: Hot Row Protection logs are not sanitized with -sanitize_log_messages flag"
### Overview of the Issue

When utilizing -sanitize_log_messages vttablet flag logs written by HotRowProtection are not properly sanitized.

### Reproduction Steps

[code]

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

[code]

[2022-02-28 23:20] derekperkins commented on #8909
I think this is still happening, just less regularly. I'll try upgrading to v13 to see if I still see it.

[code]

[2022-03-01 00:20] #9722 closed

[2022-03-01 11:26] #6330 closed

[2022-03-01 11:26] #7305 closed

[2022-03-01 11:26] #8379 closed

[2022-03-01 11:26] #5408 closed

[2022-03-01 21:36] Anders-PlanetScale opened #9808 "Feature Request: Range Query Optimization (For sequential Vindex types)"
### Feature Description

[code]

### Use Case(s)

[code]

[2022-03-01 22:03] deepthi commented on #9808
@vitessio/query-serving

[2022-03-01 22:08] mreschke commented on #9518
@mattlord Working on a new Vitess system using MySQL.  My assumption would be that MySQL 8 is a better choice over MySQL 5.7 simply because it's newer.  But in your docs, you mention "We recommend MySQL 5.7 if your installation method provides a choice".  Is 5.7 still the best choice vs 8?  If so, why exactly?

[2022-03-01 22:50] mattlord commented on #9518
Hi @mreschke!

We should be recommending MySQL 8.0 for new installations (e.g https://vitess.io/docs/overview/supported-databases/). Where did you see this note about 5.7?

Best Regards

[2022-03-01 23:40] mreschke commented on #9518
@mattlord  so far through the docs, I only see two...

https://vitess.io/docs/13.0/get-started/local/
"We recommend MySQL 5.7 if your installation method provides a choice"

https://vitess.io/docs/13.0/user-guides/configuration-basic/planning/
"The most common deployments use MySQL 5.7"
which could read
"The most common deployments use MySQL 5.7, although MySQL 8.0 is the recommended version."

[2022-03-02 00:59] mattlord commented on #9518
Thanks, @mreschke! I opened a PR for those pages. And we'd love to have you involved if you're interested. There's an `Edit this page` button at the bottom of each page. It's all markdown in a GitHub repo and we're always happy to see new faces. 🙂

[2022-03-03 04:09] lstellway commented on #8756
@jask87
I decided to hold off on using Vitess for my _(small)_ project.

As far as I understand it, you need to define the sharding strategy for all the tables -
I'm not sure it makes sense for me using WordPress, where an update or a plugin can change the database schema. That sounds like a lot to keep up with for a project I need to have minimal maintenance with.

_(I'd definitely like to hear i

[2022-03-03 11:13] rohit-nayak-ps commented on #9783
@derekperkins, did you create these invisible columns directly in mysql? afaik vtgate doesn't support them as yet.

[2022-03-03 11:26] darenseagrave opened #9819 "Bug Report: race condition with PlannedReparentShard can leave a shard with no PRIMARY"
### Overview of the Issue

A race condition between the reparenting code and the `replManager` can cause a newly promoted PRIMARY to change tablet type to `REPLICA` and reconnect to the old PRIMARY causing chained replication as well as no PRIMARY in the shard.

This is caused by repairReplication being called which runs:
[code]

In the following code:
[code]

We change to PRIMARY and at the very

[2022-03-03 15:54] #9801 closed

[2022-03-03 17:14] doeg opened #9821 "Feature Request: show vschema column types on schema page"
### Feature Description

[code]

### Use Case(s)

[code]

[2022-03-03 17:39] FancyFane opened #9822 "Bug Report: Missing Help Menu Item in vtctl"
### Overview of the Issue

There is an undocumented action `VtctldCommand` in vtctl which is not documented in the help menu when `-h` or `help` is provided:

https://github.com/vitessio/vitess/blob/main/go/cmd/vtctl/vtctl.go#L114-L134

### Reproduction Steps

[code]

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-03 18:41] ajm188 opened #9823 "Add CLI entry point for ApplySchema to vtctldclient"
### Feature Description

In https://github.com/vitessio/vitess/pull/9537, we added an RPC for `ApplySchema`, but did not include the corresponding CLI entry point to `vtctldclient`.

### Use Case(s)

To run the command.

[2022-03-03 21:59] mvh-stripe opened #9826 "Bug Report: segfault in StreamMigrator.identifyRuleType"
### Overview of the Issue

This issue is related to a previous fix: https://github.com/vitessio/vitess/issues/9576
In the previous fix, the segfault was fixed in the code in `Resharder`. But the same bug also exists in the `StreamMigrator`.

[code]

### Reproduction Steps

[code]

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-03 22:27] mvh-stripe opened #9827 "Bug Report: Deadlock while shutting down a vreplication controller"
### Overview of the Issue

`vplayer.applyEvents` has a loop where it checks if it needs to throttle. If it needs to throttle, it sleeps for a short duration and keeps retrying.

[code]
See https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletmanager/vreplication/vplayer.go#L339

The problem is it does not check if the context has been canceled. So when the vreplication controller is s

[2022-03-04 09:31] #9826 closed

[2022-03-04 17:37] derekperkins commented on #8909
Here's a new gist with updated goroutine/block/mutex pprof profile dumps
https://gist.github.com/derekperkins/b3526f41b179b06b3280d49d5b5d05c8

[2022-03-05 22:54] derekperkins commented on #9783
This is via vstream inside of messages, not via vreplication directly
query: https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletserver/messager/message_manager.go#L254-L256
exex: https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletserver/messager/message_manager.go#L911-L918

No, I was able to create them without issue through vtgate

[2022-03-07 13:13] GuptaManan100 opened #9835 "RFC: Existing functionality of VTOrc UI, API and what needs to be ported to VTAdmin"
This RFC lists all the functionality available in the VTOrc UI, API endpoint of the website associated with running VTOrc. Since we want to deprecate it and include all the additional functionality it provides into VTAdmin, this issue will serve as a medium to evaluate what we already have and what needs to be added.

The current API of VTOrc offers the following functionalities -

1. Relocate Bel

[2022-03-07 16:06] FancyFane commented on #9822
I've attempted to modify this by adding in a category in go/vt/vtctl/vtctl.go with a nil value for "method" in the commands variable:

[code]

This works for the initial `vtctl help` menu, but causes a panic when `vtctl VtctldCommand help` is ran.

I'm going to pass this issue over to @ajm188 to investigate further and focus on updating the website documentation for these commands.

[2022-03-07 16:13] ajm188 commented on #9822
That is because you did not specify an `method` argument, so it tries to then call a `nil` function [here](https://github.com/vitessio/vitess/blob/3b5d822bd83dfee0c5c9b1befcc0f759b52150b6/go/vt/vtctl/vtctl.go#L4167).

That said, this is sort of new for us, because those actions don't actually _do_ anything on their own, they just instruct the `vtctl` to enter different modes of operation. So, what

[2022-03-07 16:23] ajm188 commented on #9822
Here's what I've got right now:

[code]

[2022-03-07 19:01] deepthi commented on #9819
@darenseagrave can you give us the specific Vitess version / commit SHA you ran into this with?
Alternatively, can you confirm this is still an issue on main with the latest commit SHA? The code snippet you provided tells me that this is an older version.

[2022-03-07 19:20] darenseagrave commented on #9819
Hi @deepthi, we've hit the bug in Vitess 10 but I've confirmed this is also an issue on main, the log snippet is from our branch but the code snippets I referenced are from main

[2022-03-07 19:58] deepthi commented on #9819
How low is your ticks interval set to?
You've answered my other question - it seems that you ran into this during normal operation and the 50k+ calls to PRS are merely to reproduce the issue. We will look into it.

/assign @vitessio/cluster-management

[2022-03-07 20:26] mattlord commented on #8754
I'm going to start spending some time on this. I will start by exploring two options, with a focus on reducing the impact on the source and NOT on increasing the operation performance / completion times:
1. Some ways to limit the gap locks we take, especially on infimum and supremum
2. Some form of adaptive backoff/pause in between copy phases that takes the source's history list length into accou

[2022-03-07 20:33] mvh-stripe opened #9838 "Bug Report: infinite loop in tmState.ChangeTabletType"
### Overview of the Issue

[code]

https://github.com/vitessio/vitess/commit/8b3f61fffce0de7114dd53b2396fa64d79755106
^ A recent change introduced the possibility of an infinite loop when the context gets canceled. In the for loop, we never check if the context has an error, and so it keeps trying to call `topoServer.GetTablet` every 100ms and never exit. This is bad because this goroutine also ho

[2022-03-07 21:40] deepthi commented on #9838
/assign @vitessio/cluster-management

[2022-03-07 23:57] derekperkins commented on #9819
This happened to us over the weekend. I don't have logs to prove that it was this specifically, but after we had some flapping on a specific shard (this has resurfaced for us #8909), we ended up with no primaries

[2022-03-08 00:00] FancyFane opened #9839 "Bug Report: OLAP mode; show vitess_shards fails"
### Overview of the Issue

When you are in OLAP mode, Vitess fails to show shard information when you run `show vitess_shards;`

### Reproduction Steps

[code]

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

[code]

[2022-03-08 00:11] FancyFane commented on #9839
I've documented the bug, however, it may not be a high priority. The work around for this bug is to switch back to OLTP mode and re-run the query.

[code]

[2022-03-08 00:50] deepthi commented on #9839
/assign @vitessio/query-serving

[2022-03-08 10:21] vmg commented on #8909
Looking at this again. :smiling_face_with_tear: :sparkles:

[2022-03-08 10:43] vmg commented on #8909
FWIW this appears to be an unrelated bug to what we were seeing before, as there are no `WaitGroup`s involved.

[2022-03-08 15:59] GuptaManan100 commented on #9819
Checked the code and the order of operations for `PromoteReplica` are -
1. Fix MySQL by resetting replication and fix semi-sync settings
2. Change Tablet type in the topo server (tablet record)
3. update the local state of tablet manager to Primary.
4. Stop replication manager
5. Start a loop of shard sync which will update the topo server (shard record)
6. Start replication

So any run of replica

[2022-03-08 18:55] zhongr3n opened #9844 "topo2topo copy of shard replication is not idempotent"
### Overview of the Issue

While using topo2topo to migrate topology data, we noticed that while the copying of all other topology data are idempotent, the copying of shard replication is not. Instead, it appends the tablets to the ShardReplication struct every time copy is run.

The code is doing a protobuf merge, which is probably simply appending:
https://github.com/vitessio/vitess/blob/main/go

[2022-03-08 19:55] zhongr3n commented on #9384
@mattlord Thank you for improving ListAllTablets user interface! It's a lot more friendly.

One thing remaining though is we still make [one GetTabletMap call](https://github.com/vitessio/vitess/blob/4b37d644f3d3cb98b7d5c3df65ea8f6708652fc3/go%2Fvt%2Ftopo%2Ftablet.go#L334) for all the tablet aliases in a cell, which results in [one parallel request for each tablet alias](https://github.com/vitessi

[2022-03-08 20:42] mattlord commented on #9384
Hi @zhongr3n!

That [`GetTabletMap` call](https://github.com/vitessio/vitess/blob/4b37d644f3d3cb98b7d5c3df65ea8f6708652fc3/go%2Fvt%2Ftopo%2Ftablet.go#L334) is within [`GetTabletsIndividuallyByCell`](https://github.com/vitessio/vitess/blob/f906693c6441f4b41d8f842ffb9dba85258b5158/go/vt/topo/tablet.go#L326) which is only [used as a fallback when the topo server does not implement the list call](http

[2022-03-08 22:20] #9823 closed

[2022-03-09 05:39] derekperkins commented on #8909
Thanks for looking into this again, I really appreciate it.

I'm not 100% sure how it gets populated. I enabled the blocking profile and then grabbed the dump, but I didn't wait for a very long time since it was an outage, maybe 30 seconds tops, so if it might have taken longer than that to fully populate, then maybe it was a partial.

I have a sneaking suspicion that it was related to the lack of

[2022-03-09 15:55] jakon89 opened #9851 "call to sequence table is leaking reserved connections on vttablet"
### Overview of the Issue

Reserved connections on vttablet where the sequence is hosted are not being closed when inserting a new row. Sounds weird but see reproduction steps - it's super easy to understand by reading it step by step.

This is a major issue for me - the vttablet that hosts sequence tables is restarting its query engine very frequently once a number of reserved connections hit the

[2022-03-09 17:15] harshit-gangal commented on #9851
For a workaround, if you really do not need system settings changes on the session then disable it on VTGate with `-enable_system_settings=false`

[2022-03-09 17:36] frouioui opened #9854 "Bug Report: `PulloutSubquery` has missing bind var `__sq_has_values1`"
### Overview of the Issue

When executing a sharded query with an `EXISTS` using the `Gen4` planner, VTTablet produces the following error: `missing bind var __sq_has_values1`. The `v3` planner does not fail.

The issue was first seen in #9710 when changing VTGate's default planner. The test `TestExplain` started failing ([See failure in CI](https://github.com/vitessio/vitess/runs/5219013942?check

[2022-03-09 18:23] deepthi commented on #9851
/assign @vitessio/query-serving

[2022-03-09 18:28] deepthi commented on #9819
I think the very first thing we should do in PromoteReplica is to stop the replication manager.

[2022-03-09 19:13] glortho commented on #4038
Great to see this land! Do you have a sense of when this might be released?

[2022-03-09 21:31] aquarapid commented on #9851
Note that the leaked sessions should disappear as soon as the tablet's tx timeout (`-queryserver-config-transaction-timeout` default 30 seconds) fires, logging something like this in the vttablet log:

[code]

This probably explains why no-one noticed it before;  unless your sequence's `cache` value is very low (general starting recommendation is around `1000` if it's a `BIGINT` column) and/or you

[2022-03-09 21:59] derekperkins commented on #8909
I'm wondering if what was actually happening was the same as https://github.com/vitessio/vitess/issues/9827. The query timed out because of the full table scan, then deadlocked. In your list of possible culprits, 2 of them are inside that `applyEvents` function. Hopefully that's the case, which means it's already fixed. :)

[2022-03-09 22:13] ajm188 opened #9856 "Migrate BackupShard RPC"

[2022-03-09 23:49] #8810 closed

[2022-03-10 00:00] choo-stripe opened #9858 "Bug Report: Broken connections cause listing all keyspaces at vtgate to fail"
### Overview of the Issue

We started seeing errors from here: https://github.com/vitessio/vitess/blob/8c92a04efb89b3b7a74a1db7f366ff5707114cc3/go/vt/srvtopo/query.go#L140

I believe the actual network call to topo comes from here: https://github.com/vitessio/vitess/blob/8c92a04efb89b3b7a74a1db7f366ff5707114cc3/go/vt/topo/srv_keyspace.go#L111-L124

Note that the way `resilientQuery` (effectively a

[2022-03-10 04:39] aquarapid commented on #9858
I have tried pretty hard to reproduce this (killing the underlying TCP connections to `etcd`, restarting `etcd, etc.);  but no luck yet.

If the conns are getting dropped;  do you have an idea how that might be happening?  Maybe a firewall conntrack entry timing out?

[2022-03-10 11:12] vmg commented on #8909
Ah yes, @rohit-nayak-ps's https://github.com/vitessio/vitess/pull/9833 could indeed be a fix for this. Worth trying in production before we dig further.

[2022-03-10 11:48] #4347 closed

[2022-03-10 12:44] #9844 closed

[2022-03-10 14:00] #9854 closed, assigned to frouioui

[2022-03-10 14:07] ajm188 opened #9862 "Migrate RemoveBackup RPC"

[2022-03-10 15:05] #9856 closed

[2022-03-10 15:20] jakon89 commented on #9546
It looks that the `DELETE` query was problematic. Somehow vttablet (not sure if target or source) was skipping binlog events that were had ENUM in `where` clause. Really strange. I can reproduce that on 12 but not on master branch btw.

So if you fire below query on source keyspace:
[code]
then the rows deleted by it won't be migrated to target keyspace.

If you follow below example you will see t

[2022-03-10 18:13] #9822 closed

[2022-03-10 21:58] jakon89 commented on #9546
Update:

I updated vttablet to v13 on my QA env and *the issue still persist* so there must be some difference between vitess local (docker based) and my QA env - most probably the issue still exists in v13/master.

I also see that ENUM column *has* to be part of the primary key(but not vindex) in order to reproduce this. If my primary key would be `PRIMARY KEY (`job_id`)` then there is not issue

[2022-03-10 23:31] zhongr3n commented on #9384
@mattlord Gotcha. Missed that part. We're using etcd so it's all good now. I suppose it might still be useful for ZooKeeper users?

[2022-03-10 23:47] jakon89 commented on #9546
Found the smoking gun! Looks like the replicator plan delete query is just wrong. As we can see from above comments, ENUM values in MySQL are stored as numbers (probably this is just an index, starting from 1) in binlog:

[code]

however, vplayer treats them as a string and thus `vplayer`'s generated `DELETE` query is:
[code]
instead of
[code]

I am not an expert here but the fix seems to be modif

[2022-03-11 00:10] mattlord commented on #9546
Thank you for such a great issue! You're right, ENUM is essentially a `map<string, int>` and the int (value) is what's stored in the row. You can use either a string (key), that will need a matching key in the ENUM, or the int (value) directly in your statements and the parser determines which you're using by whether you're passing an int or a string. So with '2' it's not going to match any rows b

[2022-03-11 01:20] mattlord commented on #9546
I believe the problem is here: https://github.com/vitessio/vitess/blob/8e29df53d1249e25e77a874df3427ad7211b6de5/go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go#L539-L571

We don't map the value to the enum key like we do outside of the WHERE clause:
1. https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go#L214-L218
2. https://g

[2022-03-11 02:31] mattlord commented on #9384
Hi @zhongr3n!

No worries. It would definitely be useful with ZooKeeper but it doesn't support scans AFAIK. You can only request a specific key, one at a time (basic K/V interface). So you have to know what the keys are and ask for them one at a time, which was the old method (fallback now) used.

If you have some ideas though (I may have missed or misunderstood something) I'd be interested in cha

[2022-03-11 14:10] #9862 closed

[2022-03-11 14:11] ajm188 opened #9872 "Migrate RestoreFromBackup RPC"

[2022-03-11 15:35] harshit-gangal commented on #9839
This is known as we are still moving some code pieces to the new way of query planning.

[2022-03-11 15:42] harshit-gangal commented on #9808
This will be nice to have feature, the scope is limited to few type of vindexes only (i.e for those which have binary mapping with keyspace_id).

eg:
[code]

[2022-03-11 17:56] #9788 closed

[2022-03-12 14:25] #9546 closed

[2022-03-12 14:50] #8231 closed

[2022-03-12 14:50] #9872 closed

[2022-03-12 23:20] ajm188 opened #9877 "Migrate `ShardReplicationFix` RPC"

[2022-03-13 23:20] jakon89 commented on #9851
Thanks all for your input!

@aquarapid IMO this is only partially true.

If you execute step `4` from my comment above multiple times (let's say 5) you will see 5 connections being active:
[code]

despite the fact that cache value was set to 10k:
[code]

IMO it looks that vttablet is either not honoring cache value at all (very unlikely IMO as seq table is not being updated that frequently) or ope

[2022-03-14 02:32] harshit-gangal commented on #9851
Before we do the fix there is one more workaround if you can set at the MySQL level in my.cnf the settings your app is changing then it will not go into reserved connection.

[2022-03-14 14:43] ajm188 opened #9884 "Migrate SourceShardDelete RPC to VtctldServer"

[2022-03-14 14:43] ajm188 opened #9885 "Migrate SourceShardAdd RPC to VtctldServer"

[2022-03-14 15:37] jakon89 commented on #9851
@harshit-gangal that sounds good! Do you know any easy way to know what settings are causing the connection to become reserved? For now, I am taking tcpdump between app and vtgate and trying to guess but maybe there is a better way.

[2022-03-14 17:30] harshit-gangal commented on #9851
you can check the mysql general log on the sequence database and check for the set statement that is getting executed.

[2022-03-14 18:08] #9884 closed

[2022-03-14 18:08] #9885 closed

[2022-03-14 18:18] ajm188 opened #9887 "Migrate ExecuteFetchAsDba RPC to VtctldServer"

[2022-03-14 18:18] ajm188 opened #9888 "Migrate ExecuteFetchAsApp RPC to VtctldServer"

[2022-03-14 19:46] Santiclause opened #9889 "Bug Report: false negative sql_mode=only_full_group_by error message from vtgate"
### Overview of the Issue

Issuing a query with aggregation which selects a non-aggregated column which is also not in the group by clause will fail with the error `Expression of SELECT list is not in GROUP BY clause and contains nonaggregated column [...] which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by`. This error message i

[2022-03-14 20:39] jakon89 commented on #9851
Thx @harshit-gangal
It looks that *some* parts of my app are doing bulk inserts:
[code]
This is loading a huge amount of data and was optimized quite a while back.

Now I am wondering about possible workarounds. AFAIK setting `unique_checks = 0;` on sequence vttablet won't work as *standard inserts with unique_checks = 1;* will be creating reserved conns. Not to mention that  `unique_checks = 0;`

[2022-03-15 00:07] zhongr3n commented on #9384
@mattlord Oh I meant it'll be useful in the fallback method for ZooKeeper to paginate through all the tablet aliases in batches instead of [calling GetTablet for all tablet aliases in parallel](https://github.com/vitessio/vitess/blob/4b37d644f3d3cb98b7d5c3df65ea8f6708652fc3/go%2Fvt%2Ftopo%2Ftablet.go#L524-L542) resulting in a burst of requests. That was what caused throttling on our side previousl

[2022-03-15 01:57] pcgeek86 commented on #8037
It would be nice to be able to run Vitess.io on Raspberry Pi devices, or the lower cost ARM-based EC2 instances with the Amazon AWS Graviton CPUs. I have a bunch of Raspberry Pi 3 B+ devices running Ubuntu Linux 64-bit, and it'd be cool to be able to run Vitess on those, under Docker.

[2022-03-15 04:13] harshit-gangal commented on #9851
If you are on 8.0, then on the PR https://github.com/vitessio/vitess/pull/9641 we changed the logic to avoid using reserved connection if it can be dealt with using SET_VAR. If you can run that version it might work for you.

[2022-03-15 09:34] Hchenwy commented on #9519
Have you solved this case?

[2022-03-15 10:01] Hchenwy commented on #9519
I have solved this problem, not use hostPath when you create pv, it makes the process has no permission to wirte.

[2022-03-15 11:41] darenseagrave opened #9891 "Bug Report: race condition with PlannedReparentShard/GracefulPrimaryTakeover and replManager"
### Overview of the Issue

`GracefulPrimaryTakeover()` calls `postPrsCompletion()` after the `ReparentShard()` call which only then writes to the audit log via `inst.AuditOperation()`

This can cause a race condition with `replManager` as if the ticks interval is low and it calls `repairReplication()` after the replica has it's replication stopped but before it's repointed when the code calls this

[2022-03-15 17:15] derekperkins commented on #9783
I just deployed https://github.com/vitessio/vitess/pull/9670 and am setting columns back to visible, and saw this warning in vttablet. The command actually ran, so the columns were invisible before and were visible after.

[code]

[2022-03-16 12:19] #9887 closed

[2022-03-16 12:19] #9888 closed

[2022-03-16 13:31] ajm188 opened #9895 "[phase 1] Update remaining tests that use deprecated CLI syntax"

[2022-03-16 14:39] #9877 closed

[2022-03-16 15:44] jask87 commented on #8756
Has the operator been [upgraded](https://github.com/planetscale/vitess-operator#compatibility) to allow the use of 1.22 ? I just checked the compatible version on the Planetscale Operator and it supports 1.22 now. Maybe this issue can now be closed?

[2022-03-16 17:15] ajm188 opened #9897 "Migrate ShardReplicationAdd RPC"

[2022-03-16 17:15] ajm188 opened #9898 "Migrate ShardReplicationRemove RPC"

[2022-03-17 02:48] derekperkins opened #9900 "vtgate: query regression sends EXISTS() queries to the wrong keyspace/shard"
We use `EXISTS()` in a few places, which has worked I believe on all prior Vitess versions before v13. After upgrading, `from dual` was appended to these queries, resulting in them being sent to the wrong keyspace, and thus failing for missing tables. There was no difference whether I used the default or the Gen4 planner (I didn't see anywhere in the logs to prove that my Gen4 planner flag was app

[2022-03-17 05:45] derekperkins commented on #8909
I deployed yesterday from [this branch](https://github.com/vitessio/vitess/tree/vt_streamed_cols), which has Rohit's commit from #9833, but today still saw it deadlock and stop at the same log entry on 10 of 16 shards in one keyspace.

[code]

I dumped the debugging profiles again, and this time let it sit for longer, in case I missed any blocking profiles last time.
https://gist.github.com/derekp

[2022-03-17 10:34] #9897 closed

[2022-03-17 10:34] #9898 closed

[2022-03-17 11:53] OrcunColak commented on #9141
I had a similar problem. You need to increase the memory for mysqld. 265Mi is not enough. Make it 512 or 1024

[2022-03-17 13:10] ajm188 opened #9901 "Migrate ValidatePermissionsKeyspace RPC"

[2022-03-17 13:10] ajm188 opened #9902 "Migrate ValidatePermissionsShard RPC"

[2022-03-17 13:10] ajm188 opened #9903 "Migrate GetPermissions RPC"

[2022-03-17 19:32] derekperkins opened #9908 "false positive error for resharding during reparenting"
### Overview of the Issue

During reparenting, we're seeing a resharding error returned. Not a huge deal, but if it's possible to make it correct, that'd be helpful
`target: keywords.50-60.primary: current keyspace is being resharded`

### Reproduction Steps

a

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-18 18:25] jfg956 opened #9921 "Bug Report: Vitess 10.0.5 mangles ALTER TABLE."
### Overview of the Issue

Vitess 10.0.5 mangles ALTER TABLE, see repro for a case with generated columns.

### Reproduction Steps

Using the local tutorial, create the commerce db:
[code]

Add a generated column via vtgate:
[code]

But the generated column is lost, replaced by default value of NULL:
[code]

With Vitess 13.0, I get the expected result below.
[code]

### Binary Version

[code]

###

[2022-03-18 20:49] NastyPigz opened #9922 "Vitess v8 PlanetScale DB vttablet raises "Incorrect usage of UPDATE and LIMIT" when it's not even in sight."
### Question

Using Vitess v8 from PlanetScale DB console
[code]
When I ran this query it gave me:
[code]
But `LIMIT` isn't even in my query...
Why is this?
Is there a way around this? I'm implementing ROW_NUMBER on my own and used COUNT(*).

[2022-03-19 03:26] #9922 closed

[2022-03-19 04:59] derekperkins commented on #8909
I'm not sure what is happening, but this has been exponentially worse since rolling to v13. I can't keep our cluster up and running. Here's a new batch of dumps: this time I took them from a tablet where messages were no longer being delivered, but before calling PlannedReparentShard where the tablet gets stuck shutting down. I also included a full log dump
https://gist.github.com/derekperkins/22a

[2022-03-20 03:43] #9819 closed

[2022-03-20 21:40] rohit-nayak-ps opened #9925 "Flaky TestV2WorkflowsAcrossDBVersions"
### Overview of the Issue

`TestV2WorkflowsAcrossDBVersions` is very flaky. Since it is Not Required, we don't stall PRs for this, but I wonder if there is a real bug causing this or just a CI quirk.

There are two types of failures that I have seen. None of these are consistent, but they are always on tablet zone1-2000. It may just be that we have created a lot of tablets by that point and CI res

[2022-03-20 21:40] rohit-nayak-ps commented on #9925
@mattlord  FYI

[2022-03-21 05:51] mattlord commented on #9925
It seems to fail based on how busy the build systems are. Note that this test does *more* work than [the `vreplication_v2` test that we are running under Docker](https://github.com/vitessio/vitess/blob/main/.github/workflows/cluster_endtoend_vreplication_v2.yml#L27) as it was otherwise flakey. I can run this test with Docker too -- the namespaces may be saving us from hitting shared OS limits.

[2022-03-21 09:32] vmg commented on #8909
@deepthi @rohit-nayak-ps: we need to talk about this in the weekly sync. There's a regression in v13 and it's not related to the previous bug at all. It looks like we just introduced a different issue here.

[2022-03-21 12:51] joeyrivera opened #9927 "Bug Report: select count(distinct colA, colB) produces syntax error"
### Overview of the Issue

Doing a select query where we include a count with a distinct statment including 2 columns produces a syntax error in Vitess but works directly in MySQL. Seems to work fine with one column - that might have been fixed [here](https://github.com/vitessio/vitess/issues/6125)?

### Reproduction Steps

Create table:
[code]
Run query:

MYSQL
[code]

VITESS
[code]

### Binary V

[2022-03-21 12:59] joeyrivera opened #9928 "Bug Report: select group_concat with order by causes failure"
### Overview of the Issue

When we have a query that includes `group_concat` with an `order by` clause inside, we get a 2013 error. It runs fine in MySQL directly.

### Reproduction Steps

Create table:
[code]
Run query:

MYSQL
[code]

VITESS
[code]

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-21 13:35] #9835 closed

[2022-03-21 13:41] ajm188 opened #9932 "Deprecate vtctl query commands"
- `VtGateExecute` => use `mysql` on vtgate
- `VtTablet{Begin,Commit,Rollback}` => unsupported
- `VtTabletExecute` => use `ExecuteFetchAs{App,DBA}`
- `VtTabletStreamHealth` => unsupported, or use the tabletserver rpc interface directly

[2022-03-21 13:41] ajm188 opened #9933 "Delete vtctl query commands"
- [x] finish #9932
- [ ] delete code after next release (v14)

[2022-03-21 16:35] deepthi commented on #9921
/assign @vitessio/query-serving

[2022-03-21 17:17] mattlord opened #9936 "Bug Report: vttablet hanging when running PlannedReparentShard"
### Overview of the Issue

During a PRS we sometimes see the tablet stuck waiting for something at this point in the logs:
[code]

Here's a sample debug blocking profile covering this: https://gist.github.com/derekperkins/dd6d54809a98b582c03909061e639766

### Reproduction Steps

We suspect that it involves:
1. Setting up many active vstreams: MoveTables,Reshard,OnlineDDL,Messaging
2. Doing PRS whi

[2022-03-21 17:20] mattlord commented on #8909
I'm re-closing this and moved the ongoing discussion/work here: https://github.com/vitessio/vitess/issues/9936

There's a lot of history and different info in this issue that is making it harder to follow.

[2022-03-21 17:20] #8909 closed

[2022-03-21 17:47] rohit-nayak-ps commented on #9936
@derekperkins, @GuptaManan100  is going to create a branch tomorrow with added logs, around tablet shutdown, to see if we can narrow down where the tablet hangs.

[2022-03-21 18:52] joeyrivera commented on #9928
Note:
* the above query works in vtgate v12. Going to test 13 next.

[2022-03-21 19:51] mattlord commented on #9384
Hi @zhongr3n,

OK, thanks! We could limit the parallelism when doing it tablet by tablet, but that will of course make the `ListAllTablets` calls take much longer too (could be 10x or even 100x) — which could in turn result in more higher level `ListAllTablets` calls being run concurrently. Are you still using ZooKeeper? How important is this to you?

Best Regards

[2022-03-21 22:52] mattlord commented on #9936
@derekperkins after reading [your comments, attachments](https://github.com/vitessio/vitess/issues/8909), and thinking about it a bit more... I have a suspicion similar to yours in that I suspect PRS blocking is a symptom of another problem. I (also) suspect that for some reason the message table related queries are getting backlogged in the tablet's MySQL instance (perhaps the table size, structu

[2022-03-22 07:24] systay commented on #9928
I would guess that the new aggregation sharding logic broke this in `main`

[2022-03-22 09:22] systay commented on #9928
@joeyrivera would it be possible to get a copy of your vtgate log? I'm guessing it will contain a stack trace.

Thanks a log for reporting this!

[2022-03-22 12:23] GuptaManan100 commented on #9936
I have added a lot of logging in https://github.com/vitessio/vitess/pull/9942. Could you guys take a look at the PR? Once it is okay, @derekperkins would you mind cherrypicking it.

I personally think that the issue @derekperkins is seeing is coming from a lot of blocking calls to `Subscribe` in messager Engine. For example -
[code]

There are 207 results in the dump when searching for `messager.(

[2022-03-22 13:46] doeg opened #9943 "[vtadmin] grpcvtctldclient attempts to re-establish a connection even after a unit test has completed"
### Overview of the Issue

Unit tests that use the grpcvtctldclient are attempting to re-establish a connection even after a given test has completed. I noticed this as part of https://github.com/vitessio/vitess/pull/9915, but it's definitely happening on the main branch as well (so I expect it's been like this for awhile). Logs below are from https://github.com/vitessio/vitess/commit/9dfef96668cd

[2022-03-22 16:51] derekperkins commented on #9936
Thanks so much for digging into this. A couple of things I'll clarify:
1. My testing was more recent than v13, it was based on the [vt_streamed_cols](https://github.com/vitessio/vitess/tree/vt_streamed_cols) branch. I suspected that we were encountering this bug, so I wanted to see if that fixed it https://github.com/vitessio/vitess/pull/9833
2. We rarely/never use MoveTables,Reshard,OnlineDDL, bu

[2022-03-22 17:19] deepthi commented on #7984
Right now there are 3 flaky tests in this suite.
![tablegc](https://user-images.githubusercontent.com/388311/159538507-1a47caa4-e824-4134-9562-262b4f083b22.png)

[2022-03-22 17:22] deepthi opened #9945 "Flaky union tests (vtgate_queries -> vtgate_queries_aggregation)"
### Overview of the Issue

Union tests are among the most flaky in the test suite.
![union](https://user-images.githubusercontent.com/388311/159538949-faf0a52d-0bd3-4b9d-8a6b-8422bfab2aae.png)

These are found here: https://github.com/vitessio/vitess/blob/main/go/test/endtoend/vtgate/queries/union/union_test.go

And are included in the `vtgate_queries_aggregation` test which is part of the `vtgate

[2022-03-22 17:23] deepthi commented on #9945
/assign @vitessio/query-serving

[2022-03-22 17:24] deepthi opened #9946 "Flaky tabletmanager tests"
### Overview of the Issue

![tm](https://user-images.githubusercontent.com/388311/159539465-176b8a0c-e570-49e2-88f6-3bab44abf727.png)

### Reproduction Steps

Seen in CI
https://app.launchableinc.com/organizations/vitess/workspaces/vitess-app/flaky-tests

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-22 17:39] deepthi opened #9947 "Flaky TestUnShardedRecoveryAfterSharding"
### Overview of the Issue

Flaky test in CI from package `unshardedrecovery`

### Reproduction Steps

CI Build

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-22 17:40] deepthi opened #9948 "Flaky vreplication tests"
### Overview of the Issue

TestVStreamFailover is flaky

### Reproduction Steps

CI Build

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-22 17:42] deepthi opened #9949 "messaging/TestReparenting is flaky"
### Overview of the Issue

Flaky test in CI

### Reproduction Steps

CI Build

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-22 17:54] derekperkins commented on #9936
One thing I forgot to mention is that we only saw this happening in a single keyspace when using v13. That keyspace was sharded, while we run messages out of multiple other unsharded keyspaces that seemed fine, and they process messages at similar or higher rates. The keyspace that locks up more however does do a lot more autoscaling of consumers, so it is more likely to see contention on Subscrib

[2022-03-22 18:05] derekperkins commented on #9936
I'm rebuilding now on my [same branch](https://github.com/vitessio/vitess/tree/vt_streamed_cols), with #9942 cherry picked on top. Will deploy as soon as the build completes
https://hub.docker.com/repository/registry-1.docker.io/vitess/base/builds/c1a58d39-4848-4237-bc1f-f16512ec7948

[2022-03-22 18:09] shlomi-noach commented on #7984
re-investigating

[2022-03-22 22:01] mattlord commented on #9936
@derekperkins if it's possible to also grab the output of `mysql> show full processlist;` in the primary tablet's mysqld instance when you see the messages stop flowing from the shard that would be very helpful.

Thanks!

[2022-03-22 22:17] derekperkins opened #9951 "vttablet: query regression for json extract operator ->"
v12.0 correctly handled queries using `->` and `->>`, however v13 throws a syntax error. Note that it is a vttablet error, not a vtgate syntax error

https://dev.mysql.com/doc/refman/8.0/en/json-search-functions.html#operator_json-column-path

[code]

[2022-03-23 00:46] malpani opened #9952 "Track full git SHA1 instead of short version"
This is a minor feature request to return the full git SHA1 instead of the short version.
https://github.com/vitessio/vitess/blob/4c33b2b5a90dc200e6cc649681cbace2520725bd/tools/build_version_flags.sh#L24

This is to enable the deployment + monitoring setup in my team to easily detect and appropriately update any stale vttablets.

[2022-03-23 02:59] zhongr3n commented on #9384
Hi @mattlord Yeah that's a fair point. It might not scale very well unless the client also does pagination. On the other hand, if there's too many tablets (1000s), calling everything in parallel also could fail due to throttling (which was what we saw consistently with consul before this fix)

We're on etcd now, so it's not really a concern for us. Raising this only because we were previously affe

[2022-03-23 04:50] derekperkins commented on #9314
Fixed by https://github.com/vitessio/vitess/pull/9335

[2022-03-23 04:50] #9314 closed

[2022-03-23 08:03] GuptaManan100 commented on #9921
This issue was found and fixed in release 11. TLDR; the parser was not marking the DDL struct as incomplete when there were some unused tokens left. The PR that fixed it was https://github.com/vitessio/vitess/pull/8094

[2022-03-23 12:56] #9932 closed

[2022-03-23 13:05] ajm188 opened #9960 "Deprecate Throttler vtctl commands"
The following are used for the old `SplitClone` and `VerticalSplitClone` workflows. The new VReplication workflows (`Reshard`, `MoveTables`, and friends) use freno for throttling.

This issue covers the following commands:
- `ThrottlerMaxRates`
- `ThrottlerSetMaxRate`
- `GetThrottlerConfiguration`
- `UpdateThrottlerConfiguration`
- `ResetThrottlerConfiguration`

We will delete these, and the assoc

[2022-03-23 13:09] ajm188 opened #9961 "Delete vtctl throttler commands"
- [x] Finish #9960
- [ ] delete code after next release (v14)

[2022-03-24 10:49] aliulis opened #9976 "Bug Report: change streaming crash when streaming from position older then mysql restart"
### Overview of the Issue

Change streaming crash when streaming from position older then Mysql restart. This happen, because Mysql restart gives new id to tables in binlog. Vitess cache table schema based on id (https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletserver/vstreamer/vstreamer.go#L604). If same id is assigned to different table, then Vitess tries to process data using o

[2022-03-24 14:02] #9943 closed

[2022-03-24 18:07] notfelineit commented on #9419
This issue is being addressed here: https://github.com/vitessio/vitess/pull/9972

[2022-03-24 20:34] mattlord commented on #8042
I'm going to close this as resolved by: https://github.com/vitessio/vitess/pull/9935

I haven't seen any vreplication test failures since then, but I'm now keeping an eye on them and tracking them via https://github.com/vitessio/vitess/issues/9948

[2022-03-24 20:34] #8042 closed

[2022-03-25 09:09] #9945 closed

[2022-03-25 18:11] dasl- opened #9984 "ReloadSchemaKeyspace is slow"
### Overview of the Issue

In v12, when calling `ReloadSchemaKeyspace`, the `-concurrency` flag is not respected. It will reload the schema on each shard serially: https://github.com/vitessio/vitess/blob/2e02f0d99b27a857358e42baac73cf44e4918cbb/go/vt/wrangler/schema.go#L125-L127

We might expect it to parallelize the reloading with our specified `-concurrency` across all shards, rather than across

[2022-03-25 19:03] #9419 closed

[2022-03-25 19:18] mattlord commented on #9984
Hi @dasl-!

I'm not sure why this wasn't done in a goroutine originally but we did parallelize this work in v13 via: https://github.com/vitessio/vitess/pull/8012

Just FYI, you can also eliminate the need for (most) manual `ReloadSchemaKeyspace` calls by leveraging the Schema Tracking feature in v12 and later:
- https://vitess.io/docs/12.0/reference/features/schema-tracking/
- https://vitess.io/bl

[2022-03-25 19:18] #9984 closed

[2022-03-25 20:32] deepthi commented on #9891
@vitessio/cluster-management

[2022-03-25 23:17] deepthi commented on #9984
@mattlord did you intend to link a different PR? #8012 is present in 11.0+

[2022-03-26 00:14] mattlord commented on #9984
Sorry, I must have gotten my wires/tabs crossed. This is the PR where we parallelized the shard calls as part of moving these functions from the wrangler to vtctldserver in v13: https://github.com/vitessio/vitess/pull/8832

In this case, however, I suspect the combination of the high number of shards in the keyspace, with each shard having a very high number of tables, with MySQL 5.7 being used, w

[2022-03-26 10:16] rohit-nayak-ps commented on #9976
Thanks for debugging and reporting this bug. The excellent details you provided helped me repro easily.

I guess this bug has not surfaced all this time, either because of the low probability of table id clashes, or that usually, a mysql restart would result in the vstreamer erroring out due to a db connection failure or a fields mismatch. This would cause the vstreamer to start afresh with an emp

[2022-03-26 10:25] GuptaManan100 opened #9985 "Flaky TestReparentDuringWorkerCopy"
### Overview of the Issue

The test `TestReparentDuringWorkerCopy` has been flaky on the CI

### Reproduction Steps

CI

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

_No response_

[2022-03-26 11:29] GuptaManan100 commented on #9985
I have been investigating the flakiness, the following are my findings -

Let us first understand the test setup and what it is trying to test.

The test, as the name suggests, tests that reparenting while a `SplitClone` (Horizontal resharding) is in progress, doesn't make it fail. It checks that we buffer the queries and that we retry them after the reparent is complete and the inserts then rerou

[2022-03-26 11:54] L3o-pold commented on #9900
Not sure if it's related but using `vitess/lite:v12.0.3-mysql80` we are seing `exists` queries being sent to the wrong shard randomly.

This query works all the time (return one row)

[code]

while this `EXISTS` query, result are randomly 0 or 1 depending if it query the good shard I assume.

[code]

[2022-03-26 11:57] frouioui commented on #9900
Thanks for this information @L3o-pold. Which version of the query planner are you using? The VTGate flag `-planner_version` will tell you. If it is not set, it defaults to `v3` (3rd generation of our planner) on `v12.0.3`.

[2022-03-26 12:04] L3o-pold commented on #9900
@frouioui I was using v3 planner. On a side note, I am using 2 vtgate instance (loadbalanced).

BTW I was not experiencing the same situation using `vitess/lite:mysql80` and forcing `v4` planner (with only one vtgate).

[2022-03-26 16:35] L3o-pold commented on #9900
After some testing, I can confirm the following.

Using `vitess/lite:v12.0.3-mysql80` **AND** `vitess/lite:v0.13.0-mysql80`  I can reproduce the issue **only** one the `v3` planner version.

So again, not sure if my issue is exactly the same as the author but I could not reproduce it on `gen4`.

I can provide a basic schema and vschema if needed.

[2022-03-27 08:59] #9653 closed

[2022-03-28 06:27] #9927 closed

[2022-03-28 16:24] deepthi opened #9993 "Flaky upgrade/downgrade test"
### Overview of the Issue

Upgrade/Downgrade query serving test is flaky

### Reproduction Steps

Test fails in CI on unrelated PRs

### Binary Version

[code]

### Operating System and Environment details

[code]

### Log Fragments

[code]
[code]

[2022-03-28 16:25] #9985 closed

[2022-03-28 17:06] amostech commented on #6177
In case this hasn't been worked on, are the any alternatives to achieve the same result? I want to take a look a queries that the APP is using and I think setting long_query_time to ZERO would allow me to use tools such as pt-query-digest to profile database access. Any hints on how to achieve this? @dtestVC @indera-shsp

[2022-03-28 18:03] mattlord opened #9995 "Bug Report: Address Unit Test (Race) -> tabletmanager/vreplication flakiness"
### Overview of the Issue

We seem to have a data race condition that causes the unit tests in `go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go` to be flaky. This may be the original reason for it to be marked as flaky.

That marking via the name causes it to be retried up to 3 times and only after failing 3 times in a row does the CI test fail. That likely caused the flakiness to

[2022-03-29 02:33] mattlord commented on #9976
Hi @aliulis,

Thanks again for the great bug report! I believe that this has been fixed in https://github.com/vitessio/vitess/pull/9978.

I was not able to repeat a crash using the docker_local container [from latest main](https://github.com/vitessio/vitess/commit/68cbda31c046866aadad094b3b47077d76fe01e6). I'm going close this as fixed for now, but please let me know if we missed or misunderstood

[2022-03-29 02:34] #9976 closed

[2022-03-29 06:24] shlomi-noach opened #9996 "ApplySchema -strategy "direct -allow-zero-in-date" silently drops DDL errors"
When running `vtctlclient ApplySchema -skip_preflight -strategy "direct -allow-zero-in-date"`, and when -`sql` has an error, then the command does not report the error.

Specifically, we were looking at `create view problem_view as select * from no_such_table` where `no_such_table` does not exist. The view creation fails, but `vtctlclient ApplySchema` does not return an error.

The reason is with

[2022-03-29 07:18] rohit-nayak-ps commented on #9996
What about adding "vitess" comments to the sql and parsing it in `ExecuteFetchAsDba`? This will make it more extensible, in case there are other flags that need similar handling in the future.

[2022-03-29 08:02] shlomi-noach commented on #9996
@rohit-nayak-ps that makes sense, good idea! While not all query types support comments, all DDLs do, so that should work.

[2022-03-29 08:40] shlomi-noach commented on #9996
OK this change was simple, PR to follow.

[2022-03-29 09:11] shlomi-noach commented on #9996
Addressed by #9998

[2022-03-29 12:12] #9851 closed

[2022-03-29 12:23] harshit-gangal commented on #9889
VTGate runs in this mode and will not allow such queries down.

[2022-03-29 12:30] harshit-gangal commented on #9562
I think a `show` syntax query will be better suited.

[2022-03-29 14:23] systay commented on #9900
@derekperkins Could you please check what the plan looks like? You could use

[code]

from a mysql client connected to one of these vtgates and paste the result here.

My hunch is that you are not using gen4, but this should help us understand what is going on.

Thank you for reporting this!

[2022-03-29 15:25] joeyrivera commented on #9927
Thanks!

[2022-03-29 15:32] joeyrivera commented on #9928
I will circle back to this. I'm currently doing a bunch of v13 tests. When those are done, I'll go back to latest and test this.

[2022-03-29 16:51] derekperkins commented on #9900
@systay I've got the flag `-planner_version=Gen4` on vtgate, but like I mentioned on the call, there is nothing in the logs differentiating whether I'm on Gen4 or not. Here's the output.
[code]

[2022-03-29 17:22] deepthi commented on #9993
@vitessio/query-serving

[2022-03-29 19:39] #9952 closed

[2022-03-30 04:49] systay commented on #9993
I don't mean to get into semantics here, but didn't this just time out? In my mental model, that is different from a flaky test

[2022-03-30 05:38] systay commented on #9900
Perfect. I have what I need to reproduce, which should make fixing straight forward. 🙇

[2022-03-30 06:48] #9996 closed

[2022-03-30 09:14] Santiclause commented on #9889
Sorry, I'm not sure I understand - the query, semantically, _is_ fundamentally supported, as I mention in the issue report. It worked as-is in version 11, even. The bug is that, after upgrading to version 13, introducing table aliases to the query breaks the support. Are you saying that table aliases are not currently supported in this circumstance?

[2022-03-30 10:44] systay commented on #9900
@derekperkins is it possible for you to try the fix in #10007 to make sure that it works before I backport it to release-13?

[2022-03-30 14:29] vmg commented on #9949
I ran 50 instances of this test locally today and it didn't crash once. Do you have a link to an example CI run where this failed to I can try to pinpoint this further?

[2022-03-30 14:47] systay commented on #9900
Here is the backport if you want to apply it to a r13 fork: https://github.com/vitessio/vitess/pull/10009

[2022-03-30 19:09] derekperkins opened #10011 "vtgate: Gen4 only_full_group_by regression"
I think the Gen4 planner is erroring with using aliases in group by columns.

`(1055, "Expression of SELECT list is not in GROUP BY clause and contains nonaggregated column 'Count' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")`

This query has worked previously on vtgate and still works on v13 with the V3 planner

[code]

[2022-03-30 22:44] derekperkins commented on #9900
@systay thanks for working on that, I can confirm that it's working now. I cherry picked the commit from #10007 onto https://github.com/vitessio/vitess/tree/vt_streamed_cols

[code]

[2022-03-30 22:46] derekperkins commented on #10011
I rolled out the subquery fix and this issue was not resolved. In fact, I can't even run `explain format=vitess` because that throws the same error.

cc @systay

[2022-03-30 23:01] brirams opened #10012 "Bug Report: Reshard command stuck in copy phase for very large table"
### Overview of the Issue

#### Overview

We're resharding one of our largest keyspaces by dataset size and are seeing the copy phase spin in
a retry loop due to transport errors at the destination primaries:
[code]

We suspect that this is due to the streaming query that ends up running at the source timing out
because of:
- the compound PK
- the distribution of data across those columns
- each r

[2022-03-31 00:03] deepthi commented on #6840
The vtorc work has made this issue redundant. See #8975

[2022-03-31 00:03] #6840 closed

[2022-03-31 07:51] systay commented on #10011
Hi @derekperkins!

We have worked on the gen4 aggregation planning a lot in `main`, and this query seems to work well there. I'll check how difficult this would be to fix on R13.

[2022-03-31 07:53] GuptaManan100 commented on #6612
Adding the TODO list for tracking -
 - [ ] Logging to use vt/log
 - [ ] serenv package use and populate debug/vars, etc
 - [ ] Disable/Enable Global recoveries
 - [ ] Go context usage
 - [ ] Port integration tests
 - [ ] Code coverage tests
 - [ ] Unused code cleanup
 - [ ] Support vttablet failures
 - [ ] Durability policy work tracked in #8975

[2022-03-31 16:09] rbranson commented on #6612
If we still want to keep the persistence, SQLite scales quite well in WAL mode: https://sqlite.org/wal.html which just needs to be enabled. It still only allows one writer at a time, but it allows reads to occur concurrently with any other operations. It eliminates the "database is busy" errors which plague anyone trying to use SQLite from multiple threads or processes. The in-memory mode will pro

[2022-03-31 17:11] shlomi-noach commented on #6612
It does!

[2022-03-31 18:43] mw491605 commented on #9515
你

[2022-04-01 04:17] aquarapid opened #10019 "Bug Report: planbuilder vtgate panic on `DESC` of hash vindex"
### Overview of the Issue

 * Create sharded keyspace:
 * Apply VSchema as per below
 * Run `DESC hash`
 * Observe `vtgate` connection dropping and panic in vtgate log
 * vtgate continues serving

### Reproduction Steps

Apply vSchema:

[code]

Sharded keyspace:

[code]

Observe issue:

[code]

Panic from vtgate log:

[code]

### Binary Version

[code]

### Operating System and Environment details

[2022-04-01 08:52] resworld opened #10020 "Bug Report: vtexplain breaks on more than 1-2 vschema tables"
### Overview of the Issue

We want to run vtexplain to verify app's queries so we can clear unsupported queries from configuration. We have database with more than 1000 tables, but found that vtexplain works only if we import 1-2 tables in vschema. If we add more tables, then vtexplain starts failing in ~80% of runs. We are running a docker container of vitess and not sure if there is some kind of

[2022-04-01 16:39] deepthi commented on #10020
@vitessio/query-serving

[2022-04-01 16:40] deepthi commented on #10019
@vitessio/query-serving

[2022-04-01 18:15] mattlord commented on #10020
My guess is that you're hitting OS/MySQL limits here. Can you try this in your container:
[code]

That's assuming that you're using the default unsharded commerce keyspace and the tablet UID of `zone1-0000000100` is still the PRIMARY. You can modify the socket file used in the commands as needed.
 - https://dev.mysql.com/doc/refman/5.7/en/table-cache.html

Do you still see the same failures? If so

[2022-04-01 18:33] derekperkins commented on #10011
I just rolled out vtgate based on main and this problem still exists. I forgot to mention that it works on unsharded keyspaces, but fails on sharded keyspaces.

[2022-04-01 22:21] derekperkins commented on #9936
I've been actively trying to get it to break for 10 days now and finally got it. I feel very confident now that the trigger is number of unacked messages (time_next is not null), and thus likely to do with the polling mechanism. There are zero active queries in the processlist. The full dump is at the gist, but here is the key part of the logs after calling PlannedReparentShard.

[code]

https://g

[2022-04-01 23:33] derekperkins commented on #9936
@sougou mentioned on the call that etcd might be involved. Here are the logs from all 5 pods during all the deadlocks and cutovers. The etcd pods restarted, but we ended up rolling new nodes multiple times, so I'm not sure if that was because they died or if they just restarted with nodes.
https://gist.github.com/derekperkins/9ec022994deb57d286f0ffcc80f516a4

[2022-04-02 02:06] ehcpdeveloper commented on #9518
I was considering Vitess for Cluster/Shard management, but after ı see that it will not going to support Mariadb, I will have to give up on this. I do not trust Oracle.

[2022-04-04 04:06] GuptaManan100 commented on #9951
Thankyou for reporting this issue @derekperkins. The fix for it is ready at https://github.com/vitessio/vitess/pull/10015. I will also backport this to release-13 when it is merged and we will do a minor release as well, since this issue causes regression in queries which worked previously

[2022-04-04 05:46] systay commented on #10011
Ah, isn't the `GROUP BY` missing a column? You are returning three columns, and one of them is an aggregation function, so the other two should be in the grouping definition, right?

[2022-04-04 06:31] frouioui commented on #9993
This seems to be a timeout indeed. Let's fill this thread with some links to flaky query-serving upgrade-downgrade CI tests to have more context on why they timeout.

[2022-04-04 06:34] GuptaManan100 commented on #9951
Backport PR is ready at https://github.com/vitessio/vitess/pull/10022

[2022-04-04 07:07] GuptaManan100 commented on #9936
So our initial hunch of the DemotePrimary thread being blocked on acquiring the loch for Messager close https://github.com/vitessio/vitess/issues/9936#issuecomment-1075109128 was correct. However, I don't see which process is currently holding that lock...

[2022-04-04 09:37] #9951 closed

[2022-04-04 15:46] frouioui opened #10032 "Release of `v13.0.1`"
## Description

The release of `v13.0.1` is planned for Thursday, April 14. This patch release contains a few bug fixes. The checklist for this patch release is detailed below.

### Pre-Release

- [x] Notify the community on Slack
- [x] Backport Pull Requests that fix flakiness on `release-13.0`
- [x] Backport recent context cancellation fixes
  - [x] https://github.com/vitessio/vitess/pull/10035

[2022-04-04 16:46] grsmith-projects commented on #8465
We updated to v13, and the issue appears to still exist

[2022-04-04 18:00] mattlord commented on #8465
Hi @grsmith-projects,

We’ve seen a similar but different issue internally too. Can you please open a new issue with all details — or if everything is 100% the same we can reopen this one. But at least internally it was a different cause (different race) with the same high level symptom of a “zombie” tablet in the healthcheck cache.

Thanks!

[2022-04-04 23:23] derekperkins commented on #10011
No, it's the group by column + count & sum. I tested using the column name and the alias as the group by, and got the same error both times.

[2022-04-04 23:42] derekperkins commented on #9936
There also seems to be some sort of correlation with sharding, as we don't see this happening in our unsharded keyspaces, even at significantly higher load and row counts. Here's the rough outline of our data pipeline:

1. Unsharded keyspace loads 6M messages into a single table (those are generated and fan-out/propagate through several queues)
2. A queue worker then began adding those 6M messages

[2022-04-05 19:25] mattlord commented on #10020
Hi @resworld,

OK. Can you please update the description with the steps you're using to repeat it? It doesn't look like you have any actual / sensitive data involved here and I suspect you have a specific automated or cut-and-paste set of steps you are running. This way the Query Serving team can easily confirm.

I was able to repeat it this way:
[code]

With the results being, e.g.:
[code]

[2022-04-05 21:16] rsajwani commented on #9908
I tried to repro this using different ways but so far not able to re-pro this error... For all cases its producing the desired error which is "ERROR 1105 (HY000) at line 4: target: commerce.0.primary: primary is not serving, there is a reparent operation in progress"

Here is what I have tried so far.

Environment setup..
1. create a script which does primary switch (reparent) after every 10 secon

[2022-04-05 22:20] derekperkins commented on #9908
We have logs for ~2M instances of this error being returned, but we also have a few hundred thousand with the correct `reparent operation in progress` error, so I wonder if it is a race condition of some kind like you suggested. Here are the vtgate settings we're using, and we're currently pretty close to tip on `main`, deployed using [this branch](https://github.com/vitessio/vitess/tree/vt_stream

[2022-04-06 00:09] deepthi commented on #9949
https://github.com/vitessio/vitess/runs/5718199798?check_suite_focus=true

[2022-04-06 05:15] systay commented on #10011
Oh, now I see. That is weird! I'll see what I can do.

[2022-04-06 09:38] vmg commented on #9949
[code]

[2022-04-06 13:15] rsajwani commented on #9908
I went through #9936  and I agree that it might be this is side effect of from the deadlock issue. I would suggest to wait for resolution of 9936 and then see if that resolves this issue. thoughts?

[2022-04-06 15:32] resworld commented on #10020
Thank you, I have updated the description with steps you have provided.

[2022-04-06 19:19] stenh0use commented on #8639
Hey @askdba any thoughts on this, I don't think it would be a huge lift. Is this something I can update in the build process?

[2022-04-06 21:14] #9960 closed

[2022-04-07 00:03] #9903 closed

[2022-04-07 15:20] #9705 closed

[2022-04-07 16:01] mattlord opened #10057 "RFC: Vitess Binary Command-Line Flag Standards and Policies"
### Feature Description

Today the command-line flags for vitess binaries — `vtgate`, `vttablet`, `mysqlctl`, `vtctl`, `vtctld`, ... — are an accumulation of individual PRs adding individual flags over time that did not follow any uniform set of rules. So we have the situation where flags are not uniform or predictable, and thus harder to intuit/discover, which is bad for users. For example:
  - R

[2022-04-08 03:45] ronghuaihai commented on #3865
hello: I have something questions about query blacklist of vitess ,I also can't find how to use query blacklist in vitess in the official document  source: vitess.io/docs ,how to use query blocklist  block or kill special unsafe query by user or sql content ?

[2022-04-08 04:37] wangmeng99 opened #10059 "Potential connection churn caused by DBConn.Kill()"
We currently use `KILL` to kill the running query per https://github.com/vitessio/vitess/blob/main/go/vt/vttablet/tabletserver/connpool/dbconn.go#L363

Using KILL would cause the underlying Mysql connection to be closed, which means they need to recreated later on when the resource object is checked out. If there are many kills due to request cancellation, e.g. client just gives up after sending m

[2022-04-08 05:24] ronghuaihai opened #10061 "Question: how use Query blacklisting ?is there any examples for vitess to use Query blacklisting ?"
### Question

i can not find any examples to introduce query blacklisting in official document . How to use   query blacklisting ?if DBAs find slowly sql  ,  how to blocking or forbbiden application querys that affect performance of vitess  by query sql  content or source  ？
![image](https://user-images.githubusercontent.com/14067712/162370267-2646df50-5aa9-4b0e-957b-0a8091eb1354.png)

[2022-04-08 10:28] #9839 closed

[2022-04-08 11:05] Victor-Tseng commented on #9640
Meanwhile, does any one have suggestions to re-write the SQL statements to achieve what Alon wants to do?

[2022-04-08 19:02] msolters commented on #10011
lol https://github.com/vitessio/vitess/issues/9889

[2022-04-10 08:11] shlomi-noach opened #10064 "sqlparser: error parsing/constructing temporal column with `DEFAULT (NOW())`"
Consider the following valid SQL statement:
[code]
running this in MySQL:
[code]

notice that in `SHOW CREATE TABLE` the column has `DEFAULT (now())`, exactly like we've created.

`sqlparser.Parse()` parses the query correctly. However, `sqlparser.String()` outputs the following:
[code]
notice `default now()` and not `default (now())`.

`sqlparser` is now _unable_ to parse the resulting query that

[2022-04-10 08:19] shlomi-noach commented on #10064
I'd add these, or their equivalent, to `TestValid` in `parse_test.go`:
[code]

[2022-04-10 08:47] shlomi-noach commented on #10064
Related: https://github.com/vitessio/vitess/pull/10065

[2022-04-10 19:37] mattlord commented on #9518
Hi @ehcpdeveloper !

Nobody is asking or requiring that you trust Oracle, so I'm not sure how that's really relevant (related to this, please see the discussion about [Percona](https://www.percona.com) above). I also read an implied assertion in this that you trust MariaDB (Corp). If so, then you could instead try their product that is in the same general space as Vitess: [Xpand](https://mariadb.c

[2022-04-11 13:35] ajm188 commented on #10057
Thanks for filing this!!

My general stance on flags is two points:

1. We should use dashes everywhere we are currently using underscores, so `init-tablet-type` instead of `init_tablet_type`. This is a well-adopted standard that goes all the way back to GNU `getopts`.
2. I don't care what prefixes we use, as long as they are consistent. If we want to use `vreplication-<whatever>`, then sure; if w

[2022-04-11 16:09] derekperkins opened #10070 "vtctl: add schemadiff option like ValidateSchemaKeyspace"
Today, ValidateSchemaKeyspace compares the first shard to all the other shards in a keyspace. What would be very helpful is to be able to supply a DDL for comparison to detect skew in CI. I was first thinking about just adding a flag to ValidateSchemaKeyspace, but that would only work if you had a single file with all the DDLs to iterate through, so maybe it would be a new command?

https://vitess

[2022-04-11 22:24] makinje16 commented on #10012
Dropping an update on everything we have tried so far.

* Add vreplication_rowstreamer_limit
    * In https://github.com/tinyspeck/vitess/pull/240 we introduced a new flag, mentioned above, to include a limit to the query created in the `buildSelect` function found in `rowstreamer.go`. As of right now we have that limit tuned to 4000000 rows which does allow queries to complete however after a giv

[2022-04-11 22:53] derekperkins opened #10073 "vreplication: can't filter using IN or OR"
Pretty straightforward from the title. With all the recent enhancements vreplication and evalengine (not sure if this is actually used in vrep), I expected to be able to filter vreplication for multiple values, since I can already filter for single values. It seems like overkill to have to specify 3 separate vreplication streams for 3 separate values.

### VReplication using IN:
[code]
Error:
[cod

[2022-04-12 15:52] frouioui commented on #9889
Hello @Santiclause, this has been fixed on `main` through #10069. I opened a backport to also fix this bug on the `release-13.0` branch (#10079).

[2022-04-13 03:09] derekperkins opened #10084 "vreplication: support JSON columns without CONVERT"
It's very unexpected when trying to vreplicate a json column that you get the error `Error: Cannot create a JSON value from a string with CHARACTER SET 'binary'`. There's a known workaround from the related issues that you can do `CONVERT(json_col USING UTF8MB4)`, but that should be unnecessary.

- https://github.com/vitessio/vitess/issues/8236
- https://github.com/vitessio/vitess/pull/8239

Still

[2022-04-13 09:37] #10064 closed

[2022-04-13 14:36] doeg opened #10091 "[vtadmin] Replace vtctld2 references + screenshots in documentation"
### Question

For example https://vitess.io/docs/14.0/user-guides/configuration-basic/reparenting/